a {
  text-decoration: none;
  color: rgba(36, 179, 107, 1);
}

.logo {
  width: 80px;
  height: 80px;
  border:none;
  /* box-shadow: 3px 3px 10px rgba(135, 124, 121, .4); */
}

.btn-bgcolor {
  background-color: rgba(36, 179, 107, 1);
  border-color: rgba(36, 179, 107, 1);
}

.link-color {
  color: rgba(36, 179, 107, 1);
}

.login-container {
  background-color: rgba(49, 158, 206, 1);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.login {
  border: 2px solid #17f596;
    border-radius: 3px;
  background-color: #fff;
  width: 320px;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 15px rgba(35, 24, 21, .4);
}

.loading {
      width: 20px;
    height: 20px;
    /* position: absolute; */
    margin: 3% 3%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
