
<div class="container">

  <br><br><br><br><br>
  <div align="center">
    <h1 class="text">IMPORT WALLET</h1>
    <form class="privateKey-form" >

        <div class="form-div">
          <input type="text" placeholder="Private Key" id="privateKey" class="input form-control"><br>
          <input type="text" placeholder="Address" id="address" class="input form-control"><br>
          <input type="text" placeholder="Note" id="note" class="input form-control">
        </div>
          
        <br>
        <button class="btn btn-primary cancel-button" [disabled]="loading" (click)="cancel()">Cancel</button>
      <button class="btn btn-primary save-button" [disabled]="loading" >Save</button>
    </form>
  </div>

</div>
