<div id="content-mt" class="container">
  <div class="form-group row mb-50">
    <div class="col-md-12">
      <p class="title">Gallery</p>

      <p class="subtitle" style="font-size:20px;">Discover artworks by world class artists</p>
    </div>
  </div>
  <!-- <div id="project_tag" [ngClass]="{ show_tags: IsShowTags === true }" class="text-center">
    <a (click)="onClearFilter()">
      <div class="project_tag" [ngClass]="{'project_tag_focus':filterValue === null}" style="width: 82px">
        {{ "ALLEDITION" | translate }}
      </div>
    </a>
    <ng-container *ngFor="let tag of tags">
      <a (click)="onfilter(tag.value)">
        <div class="project_tag" [ngClass]="{'project_tag_focus':filterValue === tag.value}">{{ tag.text }}</div>
      </a>
    </ng-container>

  </div>
  <div class="peoject_tag_openup text-center mt-10">
    <span *ngIf="!this.IsShowTags" class="project_tag_subtitle"><a (click)="IsShowAllTags()">
        {{ "TYPEMORE" | translate }} <i class="fas fa-chevron-down"></i></a></span>
    <span *ngIf="this.IsShowTags" class="project_tag_subtitle"><a (click)="IsShowAllTags()">
        {{ "TYPELESS" | translate }} <i class="fas fa-chevron-up"></i></a></span>
  </div> -->
  <div class="row">
    <div class="col-md-6  mb-20">
      <input type="text" class="form-control search" aria-label="Artwork Name" aria-describedby="button-addon2"
        [(ngModel)]="searchText" />
    </div>
    <div class="col-md-3  mb-20">

    </div>
    <div class="col-md-3  mb-20">
      <select [(ngModel)]="selectOption" class="sort_dropdown w-100" (change)="onChange($event.target.value)">
        <option value="LATEST">{{ "LATEST" | translate }}</option>
        <option value="OLDEST">{{ "OLDEST" | translate }}</option>
        <option value="EXPENSIVE">{{ "EXPENSIVE" | translate }}</option>
        <option value="CHEAPEST">{{ "CHEAPEST" | translate }}</option>
        <option value="POPULAR">{{ "POPULAR" | translate }}</option>
      </select>
    </div>
  </div>
  <div class="row" *ngIf="displayEditions.length ===0" style="height:300px">
    <!-- <span style="    text-align: center;
    width: 100%;">No data</span> -->
  </div>
  <!--card-->

  <div class="card-columns">
    <ng-container *ngFor="let edition of ( displayEditions  | userFilter: searchText : 'name' );let i=index">
      <ng-container *ngIf="checkDisplayAmount(i)">
        <ng-container *ngIf="currentUser; else NoLogin">
          <app-edition3 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
            editionImg="{{ edition.thumbnail }}" artworkId="{{ edition.artworkId }}"
            editionDate="{{ edition.editionDate }}" editionPrice="{{ edition.ethValue }}" uid="{{currentUser.id}}">
          </app-edition3>
        </ng-container>
        <ng-template #NoLogin>
          <app-edition3 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
            editionImg="{{ edition.thumbnail }}" artworkId="{{ edition.artworkId }}"
            editionDate="{{ edition.editionDate }}" editionPrice="{{ edition.ethValue }}"></app-edition3>
        </ng-template>
      </ng-container>
    </ng-container>


  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
