<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ "MYPROJECT" | translate}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'published' }" type="button" role="tab"
                        (click)="changeTab('published')">{{ "PROJECTS" | translate}}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'draft' }"
                        type="button" role="tab" (click)="changeTab('draft')">{{ "DRAFTS" | translate}}</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'published' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="row" *ngIf="publishedprojects.length ===0" style="height:300px;margin-top: 28px;">
                        {{ "NOPROJECT" | translate}}
                    </div>
                    <ng-container *ngIf="publishedprojects">
                        <div class="row  pl-15">
                            <ng-container *ngFor="let item of  publishedprojects; let i = index">
                                <app-project-bar style="width: 90%;" [project]="item"></app-project-bar>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'draft' }" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <div class=" text-center" *ngIf="draftedprojects.length ===0"
                        style="height:300px;padding:15px;margin-top: 28px;">
                        <span>{{ "NOPROJECT" | translate
                            }}</span>
                    </div>
                    <ng-container *ngIf="draftedprojects">
                        <div class="row">
                            <ng-container *ngFor="let item of  draftedprojects; let i = index">
                                <h1>{{item.name}}</h1>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>
