<div id="content-mt" class="container mb-60">
    <div class="row">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="footer_title">{{ "Q&A" | translate }}</span></h1>
        </div>
    </div>
    <div class="accordion mt-50" id="accordionExample">
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false"
                aria-controls="collapseTwo">
                <span class="title">What is Formosart?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Formosart is a marketplace to discover and collect truly unique digital creations by the world's
                    most creative minds. We
                    empower digital creators with the tools to protect and sell their digital creations to their fans
                    and collectors.
                    Artists, photographers, writers, and more use Formosart to create and sell their work online through
                    the use of
                    blockchain technology.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false"
                aria-controls="collapseTwo">
                <span class="title">What is a blockchain and how can it help creators?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="col-12 answer nopadding">
                        <p>
                            A blockchain is a publicly accessible online ledger (database), that is not owned by any
                            central authority. Once
                            anything is set in this ledger, it cannot be modified or censored by any single authority.
                            Blockchain technology
                            provides the following benefits to creators:
                        </p>
                        <div class="ml-5">
                            <ul>
                                <li>
                                    <p>
                                        <b>Scarcity:</b> When you upload your creation to the blockchain, you can define
                                        the number of
                                        editions you want to release. The control and distribution of the editions is
                                        automated on the
                                        blockchain, so you can tightly manage the scarcity of your creations. No more
                                        than the defined
                                        number of editions, will ever be released.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>Authenticity:</b> When you upload your creation to the blockchain, it cannot
                                        be changed
                                        thereafter. Buyers can trust that the artwork they are purchasing is the
                                        original and has not been
                                        tampered with, because the publicly accessible data on the blockchain is always
                                        available to verify
                                        it. Even if other people copy it (as many tend to do online with digital
                                        content), the value of your
                                        artwork will not degrade, as long as the specific editions can be verified on
                                        the blockchain.
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <b>Ownership:</b> Every transfer/purchase of your creations, is recorded on the
                                        blockchain. This
                                        means that there is a publicly accessible ownership history for your creations.
                                        Provenance is
                                        automated and accurate. Having a publicly accessible way to verify ownership
                                        will create more value
                                        for your creations since it'll be easier to identify infringing use of it. It'll
                                        also make it easier
                                        for you to support any DMCA takedown requests.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <p>
                            Each of these benefits is inherently available to you, just by using the blockchain. Even if
                            MakersPlace ceases
                            to exist, your digital creations will forever remain on the blockchain, and forever be
                            transferable/purchasable.
                            Having said that, interacting with the blockchain is still quite complex. What we are
                            offering is a service that
                            makes blockchain technology simple, and provide its benefits to all creators.
                        </p>
                        <p>
                            Like any technology however, blockchain isn't immune to risks. Please reference our <a
                                routerLink="/policy">Terms of Service</a> if you'd like to learn more.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false"
                aria-controls="collapseTwo">
                <span class="title">What is Non-fungible tokens(NFT)?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Formosart uniquely generates a <a href="https://en.wikipedia.org/wiki/Non-fungible_token"
                        target="_blank">Non-Fungible Token (NFT)</a> for every creation published. This token is
                    what provides proof
                    of ownership and authenticity of your creation.
                    We also use an open standard (ERC-721), which means that any creation is immediately available on
                    3rd party digital
                    marketplaces, giving your work additional visibility. This is the same standard that is used by the
                    majority of
                    blockchain-based digital assets like CryptoKitties and others.


                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false">
                <span class="title">How do I get started as a creator or artist?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    We'd love for you to join us. Please fill out our <a routerLink="/register-artist">creator
                        application</a>.
                    We will verify your
                    application.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false">
                <span class="title">What do I need to use Formosart?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Formosart is a web-based service that you can use on both desktop and mobile.
                    Customers can optionally use third party wallets (e.g. MetaMask) to purchase digital creations using
                    Ether, but
                    otherwise no additional software is needed to use Formosart.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false">
                <span class="title">Who owns my creations?</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse6" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Formosart is a platform for creators and has no rights over your creations. We are committed to
                    ensuring that any
                    digital creation published through Formosart is owned by you (the creator). You can find more
                    details in our terms of
                    service.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false">
                <span class="title">Should I upload my high resolution digital files?
                </span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse7" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Yes. We highly recommend uploading only high resolution digital files where possible. Collectors are
                    most interested in
                    purchasing the highest quality version of your work, to display and print after they purchase.
                    Every digital creation uploaded on Formosart is stored in a secure location that's only available to
                    you and collectors,
                    upon purchase.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false">
                <span class="title">Contact and support</span>
                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
            </div>
            <div id="collapse8" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    You can reach us at <a href="mailto:help@formosart.io">help@formosart.io</a> with any questions or
                    issues. You can also reach us at our
                    <a href="https://t.me/joinchat/Eg3C1RwSMVSLpqotH8izUQ" target="_blank">Telegram community</a>
                </div>
            </div>
        </div>
    </div>
</div>
