<div class="container mb-60">
    <div class="row">
        <div class="col-md-12">
            <h1><span class="page-title">{{ "QA"
                    | translate }}</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 empty-text-center qa-container">
            <img src="assets/icons/qa.svg" alt="no-comment">
            <span>{{ "NOQA"
                | translate }}</span>
            <!-- <a class="btn btn-blue" routerLink="/feedback">
                我有話想說
            </a> -->
        </div>
    </div>
</div>
