<div class="row">
    <!---->
    <div id="member_favorite_tab" class="col-md-12 mb-20">
        <ul role="tablist" class="nav nav-tabs">
            <!---->
            <li class="nav-item"><a class="nav-link " [ngClass]="{ 'active': currentTab === 'editions' }"
                    href="#editions" data-toggle="tab" (click)="changeTab('editions')">{{ "EDITION" | translate }}</a>
            </li>
            <li class="nav-item"><a class="nav-link " [ngClass]="{ 'active': currentTab === 'artists' }" href="#artists"
                    data-toggle="tab" (click)="changeTab('artists')">{{ "ARTISTS" | translate }}</a></li>
            <!---->
        </ul>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" aria-hidden="false" class="tab-pane" [ngClass]="{ 'active': currentTab === 'editions' }"
        acive="" id="editions">

        <div class="row">
            <div class="col-md-4">
                <select class="sort_dropdown w-100" (change)="onArtworkChange($event.target.value)">
                    <option value=" LATEST">{{ "LATEST" | translate }}</option>
                    <option value="OLDEST">{{ "OLDEST" | translate }}</option>
                    <option value="EXPENSIVE">{{ "EXPENSIVE" | translate }}</option>
                    <option value="CHEAPEST">{{ "CHEAPEST" | translate }}</option>
                    <option value="POPULAR">{{ "POPULAR" | translate }}</option>
                </select>
            </div>
            <div class="col-md-8">
                <div class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
                    <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text"
                        [(ngModel)]="searchArtworkText" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <ng-container *ngIf="displayArtworks.length == 0">
            <div style="width: 100%;font-size: 1.5rem; white-space: pre-wrap;margin-top:20px;"
                class="text-center subtitle">{{
                "NOFAVOARTWORK_START" | translate }}<a class="nav-link" routerLink="/gallery">{{
                    "NOFAVOARTWORK_LINK" | translate }}</a>{{ "NOFAVOARTWORK_END" | translate }}</div>
        </ng-container>
        <ng-container *ngFor="let artwork of  ( displayArtworks | userFilter: searchArtworkText : 'name' )">
            <div id=" member-artist-project" class="row mt-30">
                <div class="col-md-4">
                    <a routerLink="/gallery/{{ artwork.id }}" target="_blank"><img class="mb-10"
                            src="{{artwork.imageUrl}}" alt=""></a>
                </div>
                <div class="col-md-8">
                    <ul class="member_artist_detail_list">
                        <li>
                            <h5>{{artwork.name}}</h5>
                        </li>
                        <li>
                            {{ "CREATOR" | translate }}：{{artwork.artist.name}}
                        </li>
                        <li>
                            {{ "PRICE" | translate }}：Ξ {{getETHPrice(artwork.usdValue)}} / USD {{artwork.usdValue /
                            100}}
                        </li>
                        <li>
                            {{ "EDITIONS" | translate }}：{{artwork.totalamount}}/#{{artwork.number}}
                        </li>
                        <li>
                            {{ "FAVOURITES" | translate }}：{{artwork.liked}}
                        </li>
                    </ul>
                    <div class="mb-40">
                        <button class="btn_select_img" type="button" (click)="removeFavorites(artwork.id)"><i
                                class="fas fa-heart"></i> {{ "REMOVEFAVORITES" |
                            translate }}</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <!-- <div id="member-artist-project" class="row mt-30">
            <div class="col-md-4">
                <a href="project-purchase.html" target="_blank"><img class="mb-10"
                        src="./assets/images/project-info-01.jpg" alt=""></a>
            </div>
            <div class="col-md-8">
                <ul class="member_artist_detail_list">
                    <li>
                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                    </li>
                    <li>
                        作者：David Huang
                    </li>
                    <li>
                        售價：Ξ 0.11 / USD 138
                    </li>
                    <li>
                        版本：10/#8
                    </li>
                    <li>
                        我的最愛：10
                    </li>
                </ul>
                <div class="mb-40">
                    <button class="btn_select_img" type="button" data-toggle="modal"
                        data-target="#modal_edit_project"><i class="fas fa-heart"></i> 從我的最愛移除</button>
                </div>
            </div>
        </div>

        <div id="member-artist-project" class="row mt-30">
            <div class="col-md-4">
                <a href="project-purchase.html" target="_blank"><img class="mb-10"
                        src="./assets/images/project-info-02.jpg" alt=""></a>
            </div>
            <div class="col-md-8">
                <ul class="member_artist_detail_list">
                    <li>
                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                    </li>
                    <li>
                        售價：Ξ 0.11 / USD 138
                    </li>
                    <li>
                        購買人：David Huang
                    </li>
                    <li>
                        購買時間：2020-10-09 PM4:31
                    </li>
                    <li>
                        付款方式：paypal - <span class="text-orange">尚未轉帳</span>
                    </li>
                    <li>
                        版本：1/#1
                    </li>
                    <li>
                        我的最愛：10
                    </li>
                </ul>
                <div class="mb-40">
                    <button class="btn_select_img" type="button" data-toggle="modal"
                        data-target="#modal_edit_project"><i class="fas fa-heart"></i> 從我的最愛移除</button>
                </div>

            </div>
        </div>

        <div id="member-artist-project" class="row mt-30">
            <div class="col-md-4">
                <a href="project-purchase.html" target="_blank"><img class="mb-10"
                        src="./assets/images/project-info-03.jpg" alt=""></a>
            </div>
            <div class="col-md-8">
                <ul class="member_artist_detail_list">
                    <li>
                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                    </li>
                    <li>
                        售價：Ξ 0.11 / USD 138
                    </li>
                    <li>
                        購買人：David Huang
                    </li>
                    <li>
                        購買時間：2020-10-09 PM4:31
                    </li>
                    <li>
                        付款方式：paypal - <span class="text-orange">尚未轉帳</span>
                    </li>
                    <li>
                        版本：1/#1
                    </li>
                    <li>
                        我的最愛：10
                    </li>
                </ul>
                <div class="mb-40">
                    <button class="btn_select_img" type="button" data-toggle="modal"
                        data-target="#modal_edit_project"><i class="fas fa-heart"></i> 從我的最愛移除</button>
                </div>

            </div>
        </div> -->

        <div *ngIf="artworks.length >3" class="text-center pagenation_center mb-40">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div role="tabpanel" aria-hidden="true" class="tab-pane" [ngClass]="{ 'active': currentTab === 'artists' }" acive=""
        id="artists">
        <div class="row">
            <div class="col-md-4">
                <select class="sort_dropdown w-100" (change)="onArtistChange($event.target.value)">
                    <option value="LATEST">{{ "LATEST" | translate }}</option>
                    <option value="OLDEST">{{ "OLDEST" | translate }}</option>
                    <option value="POPULAR">{{ "POPULAR" | translate }}</option>

                </select>
            </div>
            <div class="col-md-8">
                <div class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
                    <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text"
                        [(ngModel)]="searchArtistText" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <hr>
        <div id="member-artist-artist" class="row mt-30 mb-20">
            <ng-container *ngIf="displayArtists.length == 0">
                <div style="width: 100%;font-size: 1.5rem; white-space: pre-wrap;margin-top:20px;"
                    class="text-center subtitle">{{
                    "NOFAVOARTIST_START" | translate }}<a routerLink="/artists">{{
                        "NOFAVOARTIST_LINK" | translate }}</a>{{ "NOFAVOARTIST_END" | translate }}</div>
            </ng-container>
            <ng-container *ngFor="let artist of ( displayArtists  | userFilter: searchArtistText : 'name' )">
                <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                    <img class="rounded-circle member_img_w" src="{{artist.imageUrl}}" alt="">
                    <button class="member_artist_delete" (click)="removeFavorites(artist.id)"><i
                            class="fas fa-times"></i></button>
                    <a routerLink="/{{ artist.uid }}" target="_blank">
                        <h5 class="text-center mt-10">{{artist.name}}</h5>
                    </a>
                </div>
            </ng-container>
        </div>
        <!-- <div id="member-artist-artist" class="row mt-30 mb-20">
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin kaRaamin kaRaamin kaRaamin ka</h5></a>
                            </div>
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin ka</h5></a>
                            </div>
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin ka</h5></a>
                            </div>
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin ka</h5></a>
                            </div>
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin ka</h5></a>
                            </div>
                            <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                                <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                                <a class="member_artist_delete" href="#"><i class="fas fa-times"></i></a>
                                <a href="artist-detail.html" target="_blank"><h5 class="text-center">Raamin ka</h5></a>
                            </div>
                        </div> -->

        <div *ngIf="artists.length >15" class="text-center pagenation_center mb-40">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!---->
    <!---->
</div>
