<div class="reset-container">

    <div class="frame">
        <div class="w-100">
            <a routerLink="/signin"> <i class="far fa-arrow-alt-circle-left" style="font-size: 25px;"></i></a>
        </div>
        <div class="w-100  mt-30">
            <h2>重設密碼</h2>
        </div>


        <form class="mt-30" [formGroup]="ResetForm">
            <div class="form-group">

                <input type="password" class="form-control" placeholder="新密碼(英數至少4字)" formControlName="newPassword"
                    style="margin-bottom: 15px;" (input)="onValueChange($event.target.value)" autocomplete="on" />
                <span class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> Invalid email
                    address.</span>
                <input type="password" class="form-control" placeholder="再次輸入新密碼" formControlName="newPassword2"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }" autocomplete="on">
                <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword2.errors.required">Password is required</div>
                    <!-- <div *ngIf="f.newPassword2.errors.minlength">Password must be at least 6 characters</div> -->
                </div>
            </div>
            <div>

            </div>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center"
                style="height: 45px; margin-top: 30px;" [disabled]="inValid()" (click)="onSubmit()">
                確認

            </button>
        </form>
    </div>

    <!-- <div style="margin-top:100px;" class="row">

    </div>
    <div class="row">

        <div class="col-md-6">

            <div class="forgot-left-bg"></div>
        </div>
        <div class="col-md-6 frame">
            <div class="w-100">
                <a routerLink="/signin"> <i class="far fa-arrow-alt-circle-left" style="font-size: 25px;"></i></a>
            </div>
            <div class="w-100 next-font mt-30">
                <h2>忘記密碼?</h2>
            </div>
            <div class="w-100 mt-30">
                請輸入電子信箱，我們將寄送重設密碼的連結給您。
            </div>

            <form class="mt-30" [formGroup]="loginForm">
                <div class="form-group" style="font-family: var(--font-nunito);">

                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': (loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').invalid || submit && loginForm.get('email').invalid }"
                        placeholder="hi@next.com">
                    <span class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> Invalid email
                        address.</span>
                </div>
                <div>

                </div>
                <button type="submit" class="btn btn-social w-100 d-flex align-items-center justify-content-center"
                    style="height: 45px; margin-top: 30px;" [disabled]="inValid()" (click)="onSubmit()">
                    寄送

    </button>
    </form>



</div>

</div> -->
</div>
