<div class="reset-container">

    <div class="frame">
        <div class="w-100">
            <a routerLink="/signin"> <i class="far fa-arrow-alt-circle-left" style="font-size: 25px;"></i></a>
        </div>
        <div class="w-100  mt-30">
            <h2>重設密碼</h2>
        </div>

        <div *ngIf="!IsCanResetPassword" class="overtime_container  align-items-center justify-content-center">
            <div class="w-100  d-flex   align-items-center justify-content-center"><img src="assets/icons/overtime.svg"
                    alt="overtime"></div>

            <span class="overtime_countdown">此連結已失效，將於 <span class="overtime_value">{{countDownValue}}</span>
                秒後回到首頁</span>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center"
                style="height: 45px; margin-top: 30px;" (click)="GoHomePage()">
                返回首頁

            </button>
        </div>


        <form *ngIf="IsCanResetPassword" class="mt-30" [formGroup]="ResetForm">
            <div class="form-group">

                <input type="password" class="form-control" placeholder="新密碼(英數至少4字)" formControlName="newPassword"
                    style="margin-bottom: 15px;" (input)="onValueChange($event.target.value)" autocomplete="on" />
                <span class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> 新密碼格式不符.</span>
                <input type="password" class="form-control" placeholder="再次輸入新密碼" formControlName="newPassword2"
                    [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }" autocomplete="on">
                <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword2.errors.required">密碼是必要的</div>
                    <!-- <div *ngIf="f.newPassword2.errors.minlength">Password must be at least 6 characters</div> -->
                </div>
            </div>
            <div>

            </div>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center"
                style="height: 45px; margin-top: 30px;" [disabled]="inValid()" (click)="onSubmit()">
                確認

            </button>
        </form>
    </div>
</div>
