.reset-container {
    min-height: 95vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    max-width: 1680px;
    margin: 0 30%;
    transition: 0.15s linear;
    height: 100%;
    background-color: white;
}


a {
    color: black;
}


.frame {
    padding: 15px 20%;
    background-color: white;
    margin-top: 20%;
}
