<div class="mx-auto">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="type">Type (Type 0: early)</label>
        <select class="sort_dropdown w-100" (change)="onChange($event.target.value)">
          <option value="0">5%</option>
          <option value="1">10.5%</option>
        </select>
      </div>


      <div style="text-align: end;">
        <button type='button' (click)="createCode()" class="btn btn-md btn-primary btn-width">Create</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="m-3">
      <div class="form-group">
        <label for="exampleInputEmail1">New Promo Code:</label>
        <b>{{newCode}}</b>

      </div>
    </div>
  </div>
  <div>
    <ng-container *ngIf="!loading; else Loading">
      <table datatable class="table table-striped table-borderless" style="text-align: center;">
        <thead>
          <tr>
            <th style="width: 10%;">Promo</th>
            <th>Promo Code</th>
            <th>Type</th>
            <th> Email</th>
            <th> Name</th>
            <th> User Id</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let promo of promos">
            <td>
              <button type="button" style="width:120px" class="btn btn-danger btn-width"
                (click)="deletecode(promo.id, promo.code)">Delete</button>
              <button type='button' style="width:120px" id='newShorOrg' (click)="editCode(promo.id)" data-toggle="modal"
                [attr.data-target]="'#AddShowOrg'" class="btn btn-md btn-primary">Edit</button>
            </td>
            <td class="text_left">{{promo.code}}</td>
            <td class="text_left">{{promo.type}}</td>
            <td class="text_left">{{promo.email}}</td>
            <td class="text_left">{{promo.name}}</td>
            <td class="text_left">{{promo.uid}}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <ng-template #Loading>
      <i class="text_center fa fa-spin fa-spinner"></i>
    </ng-template>
  </div>
</div>

<app-modal [modalid]="'AddShowOrg'">
  <div body style="padding: 20px;">
    <div class="row comheader">
      <h2>Add delegation email</h2>
    </div>
    <hr class="splitLinesilver">

    <form [formGroup]="codeForm">
      <div class="form-group">
        <label for="testEmail">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email for testing" formControlName="email">
      </div>
      <div class="form-group">
        <label for="delegatingEmail">User Id</label>
        <input type="text" id="userId" formControlName="userId" class="form-control" placeholder="User Id">
      </div>
    </form>

    <div style="text-align: end;">
      <button type='button' id='InsertDisplay' (click)="updateCode()" class="btn btn-md btn-primary btn-width"
        data-dismiss="modal">Update</button>
      <button type='button' (click)="editCode('')" class="btn btn-md btn-secondary btn_wrap ml-3 btn-width"
        data-dismiss="modal">Cancel</button>
    </div>
  </div>
</app-modal>

<app-dialog></app-dialog>
