<div class="card">
  <div class="hovereffect">
    <img src="{{ editionImg }}" alt="" />
    <div class="overlay">
      <h2>{{ editionTitle }}</h2>
      <p><i class="fas fa-user"></i> {{ editionAuthor }}</p>
      <!-- <p><i class="fas fa-cloud-upload-alt"></i> {{ editionDate | date : 'yyyy-MM-dd
        HH:mm:ss' }}</p> -->

      <p><i class="fas fa-dollar-sign"></i> {{ editionPrice }}</p>
      <a routerLink="/gallery/{{ artworkId }}">
        <button class="info">
          {{ "VIEWDETAILS" | translate }}
        </button></a>
      <!--      <p *ngIf="uid">
        <a *ngIf="!IsFollowed" (click)="onLike()">
          <i class="far fa-heart  fa-lg">
          </i>
        </a>
    <a *ngIf="IsFollowed" (click)="onDislike()">
          <i class="fas fa-heart"></i>
        </a>
      </p>
-->
    </div>
  </div>
</div>
