<app-header></app-header>
<div *ngIf="!collector" class="container mb-40"></div>
<div id="content-mt" *ngIf="collector" class="container mb-40">
  <app-artist-detail name="{{this.collector.name}}"
    src="{{this.collector.imageUrl || this.settingSrv.defaultProfileLogo}}" follow="{{this.collector.like}}"
    follower="{{this.collector.liked}}" bio="{{this.collector.bio}}" walletAddress="{{this.collector.ethaddress}}"
    twitter="{{this.collector.twitter}}" instagram="{{this.collector.instagram}}" website="{{this.collector.website}}"
    location="{{this.collector.location}}" tags="{{this.collector.tags}} " uid="{{this.uid}}"
    id="{{this.collector.id}}">
  </app-artist-detail>
  <div class="peoject_tag_openup text-center mt-10">
    <span class="project_tag_subtitle"></span>
  </div>
  <div class="row mt-40">
    <ng-container *ngFor="let edition of popularEditions">
      <div class="col-md-4 mb-4">
        <!-- <app-edition2 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.imageUrl  || defaultProfileLogo}}" editionId="{{ edition.artworkId }}"></app-edition2> -->
        <app-edition3 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.imageUrl }}" editionId="{{ edition.id }}" editionDate="{{ edition.editionDate }}"
          editionPrice="{{ edition.ethPrice }}"></app-edition3>
      </div>
    </ng-container>


    <!-- <div class="col-md-4 mb-4">
      <div class="hovereffect">
        <img src="./assets/images/main-thumbnail-a3.jpg" alt="" />
        <div class="overlay">
          <h2>The Calm And The Storm</h2>
          <p><i class="fas fa-user"></i> Andrew Shiao</p>
          <a href="project-purchase.html">
            <button class="info">了解作品細節</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="hovereffect">
        <img src="./assets/images/main-thumbnail-a1.jpg" alt="" />
        <div class="overlay">
          <h2>The Calm And The Storm too more words</h2>
          <p><i class="fas fa-user"></i> Andrew Shiao</p>
          <a href="project-purchase.html">
            <button class="info">了解作品細節</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="hovereffect">
        <img src="./assets/images/main-thumbnail-a2.jpg" alt="" />
        <div class="overlay">
          <h2>The Calm And The Storm</h2>
          <p><i class="fas fa-user"></i> Andrew Shiao</p>
          <a href="project-purchase.html">
            <button class="info">了解作品細節</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="hovereffect">
        <img src="./assets/images/main-thumbnail-a3.jpg" alt="" />
        <div class="overlay">
          <h2>The Calm And The Storm</h2>
          <p><i class="fas fa-user"></i> Andrew Shiao</p>
          <a href="project-purchase.html">
            <button class="info">了解作品細節</button>
          </a>
        </div>
      </div>
    </div> -->
  </div>

  <div *ngIf="popularEditions.length == 0" class="form-group row mt-30 mb-50">
    <div class="input-group col-md-12 " style="justify-content: center;">
      <h2>No artwork now.</h2>
    </div>
  </div>
  <!--row end-->
</div>
<app-footer></app-footer>
