<div class="row">
  <div id="artist-head-photo" class="col-md-2">
    <img class="rounded-circle  profile_image" src="{{ src }}" alt="" />
  </div>
  <div id="artist-line-right" class="col-md-7">
    <span class="name d-inline align-middle mr-2">{{ name | addressshorten }}</span>
    <div class="d-inline" *ngIf="this.currentUser">
      <button *ngIf="_uid == id" class="d-inline btn_small align-middle" routerLink="/artist/basic">
        <i class="fas fa-pencil-alt"></i> {{ "EDITPROFILE" | translate }}
      </button>
      <ng-container *ngIf="_uid != id">
        <button *ngIf="!isFollow" class="d-inline btn_small align-middle" (click)="onLike()">
          <i class="fas fa-user"></i> {{ "FOLLOW" | translate }}
        </button>
        <button *ngIf="isFollow" class="d-inline btn_small_liked align-middle active" (click)="onDislike()">
          <i class="fas fa-user-check"></i> {{ "UNFOLLOW" | translate }}
        </button>
      </ng-container>


    </div>
    <p class="text-black-50 mt-10">
      Follow {{ follow }}｜Follower {{ follower }}｜
      <span *ngFor="let tag of _tags; let i = index"> #{{ tag }}</span>
      <!-- #插畫 #攝影 #人像 -->
    </p>
    <p class="text-justify">
      {{ bio }}
    </p>
  </div>
  <div class="col-md-3">
    <ul class="list-unstyled">
      <li class="p-1 artist_detail_text" *ngIf="IsNullorEmpty(this.walletAddress)">
        <div (click)="onCopyAddress(this.walletAddress)"> <i class="fab fa-ethereum"></i>
          {{ this.walletAddress | addressshorten }} <i class="far fa-copy"></i></div>
      </li>
      <li class="p-1" *ngIf="IsNullorEmpty(twitter)">
        <i class="fab fa-twitter"></i> <a href="{{ twitter }}" target="_blank"> {{ twitter | shorten:20}}</a>
      </li>
      <li class="p-1" *ngIf="IsNullorEmpty(instagram)">
        <i class="fab fa-instagram-square"></i> <a href="{{ instagram }}" target="_blank"> {{ instagram |
          shorten:20}}</a>
      </li>
      <li class="p-1" *ngIf="IsNullorEmpty(website)">
        <i class="fas fa-globe"></i> <a href="{{ website }}" target="_blank"> {{ website| shorten:20 }}</a>
      </li>
      <li class="p-1" *ngIf="IsNullorEmpty(location)"><i class="fas fa-map-marker-alt"></i> {{ location }}</li>
    </ul>
  </div>
</div>
