<div class="container">

  <br><br><br><br><br>
  <div align="center">
    <h1 class="text">IMPORT WALLET</h1>
    <form [formGroup]="form" class="privateKey-form">
      <div class="form-div">
        <input type="text" placeholder="Address" id="address" formControlName="address" class="input form-control">
        <br>
        <input type="text" placeholder="Note" id="note" class="input form-control">
      </div>

      <br>
      <div class="row">
        <div clas="col-md-6 col-lg-6">
          <button class="btn btn-primary connect-button" [disabled]="loading" (click)="connectMetaMask()">Connect
            Metamask</button>
        </div>
        <div clas="col-md-6 col-lg-6">
          <button class="btn btn-primary cancel-button" [disabled]="loading" (click)="cancel()">Cancel</button>
          <button class="btn btn-primary save-button" [disabled]="loading">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>