<div *ngIf="currentRecruit" class="row page">
  <div class="col-12 col-md-6 page-title">
    <span>{{this.currentRecruit.position? this.currentRecruit.position :this.msg.jobtitle}}</span>
    <span class="update_date">{{this.currentRecruit.createdAt | date:"MM/dd"}} {{ "UPDATE" | translate
      }}</span>
  </div>

  <div *ngIf="currentUser" class="col-12 col-md-6 btn_action_items">
    <button type="button" class="btn btn_action_item" data-toggle="modal" data-target="#modal_apply"
      data-dismiss="modal" (click)="onSelectItem(currentRecruit)"><i class="far fa-envelope"
        tooltip="{{ 'APPLY' | translate }}"></i>
      {{ 'APPLY' | translate }}</button><button type="button" class="d-flex btn btn_action_item"
      [ngClass]="{'btn_action_item_selected': currentRecruit?.isCollected === true}"
      *ngIf="currentRecruit?.owner !== currentUser?.id" (click)="onClickCollect()"><i class="far fa-bookmark fa-lg"
        tooltip="{{ 'COLLECT' | translate }}"></i>
      {{currentRecruit?.isCollected === true ? this.msg.collected : this.msg.collect}} </button>

    <button type="button" class="btn btn_action_item"
      [ngClass]="{'btn_action_item_selected': currentRecruit?.isFollowing === true}"
      *ngIf="currentRecruit?.owner !== currentUser?.id" (click)="onClickFollow()"><i class="fas fa-plus"></i>
      {{currentRecruit?.isFollowing === true ? this.msg.followed : this.msg.following}} </button>
    <button type="button" class="btn btn_action_item " (click)="onToggleChat($event)"><i class="far fa-comment-alt"></i>
      {{ 'MESSAGE' | translate }}</button>
  </div>
</div>
<div *ngIf="currentRecruit" class="row mt-10 pb-33 bottom-gray-line">
  <div class="col-6 col-md-8  d-flex flex-row gap-10">
    <img class="profile-image rounded-circle" src="{{ currentRecruit.projectImageUrl }}" (error)="onImgError($event)"
      alt="" />
    <span class="project-name">{{ currentRecruit.projectName }}</span>
  </div>
  <div class="col-6 col-md-4 text-right follow">
    <span>{{ this.getFollow(currentRecruit)}}</span>
  </div>
</div>

<div class="row">
  <div *ngIf="currentUser" class="col-12 col-md-6 btn_action_mobile_items">
    <button type="button" class="btn btn_action_mobile_item" data-toggle="modal" data-target="#modal_apply"
      data-dismiss="modal" (click)="onSelectItem(currentRecruit)"><i class="far fa-envelope"
        tooltip="{{ 'APPLY' | translate }}"></i>
      {{ 'APPLY' | translate }}</button>
    <button type="button" class="btn btn_action_mobile_item"
      [ngClass]="{'btn_action_item_mobile_selected': currentRecruit?.isCollected === true}"
      *ngIf="currentRecruit?.owner !== currentUser?.id" (click)="onClickCollect()"><i class="far fa-bookmark fa-lg"
        tooltip="{{ 'COLLECT' | translate }}"></i>
      {{currentRecruit?.isCollected === true ? this.msg.collected : this.msg.collect}} </button>

    <button type="button" class="btn btn_action_mobile_item"
      [ngClass]="{'btn_action_item_mobile_selected': currentRecruit?.isFollowing === true}"
      *ngIf="currentRecruit?.owner !== currentUser?.id" (click)="onClickFollow()"><i class="fas fa-plus"></i>
      {{currentRecruit?.isFollowing === true ? this.msg.followed : this.msg.following}} </button>
    <button type="button" class="btn btn_action_mobile_item " (click)="onToggleChat($event)"><i
        class="far fa-comment-alt"></i>
      {{ 'MESSAGE' | translate }}</button>
  </div>
</div>

<div *ngIf="currentRecruit" class="row mt-20">
  <div class="col-12 col-md-8">
    <div class="row">
      <div class="col-12 col-md-12">
        <span class="title">{{ "JD" | translate
          }}</span>
        <span *ngIf="currentRecruit ?.createdBy == currentUser?.id" class="btn-standard ml-24" data-toggle="modal"
          [attr.data-target]="'#modifiedJob'" (click)="onModifyJob(currentRecruit)">
          <svg-icon src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{ "EDIT" | translate
          }}</span>
      </div>
      <div class="col-md-12 frame-news">
        <p>
          <small class="mt-10 inline-flex">
            <ng-container *ngIf="currentRecruit.skills">

              <ng-container *ngFor=" let tag of currentRecruit.skills; let i=index">
                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                  class="tag tag-{{tag}} mr--5">{{convertTag(tag)}}</span>
              </ng-container>
            </ng-container>
          </small>
        </p>
        <span class="text_content">{{this.currentRecruit.scopes? this.currentRecruit.scopes :this.msg.jobtitle}}</span>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 col-md-12 mb-24">
        <span class="title">{{ "OTHERJOBS" | translate
          }}</span>
      </div>
      <div class="col-12 col-md-12  noItem" *ngIf="!isHasOthersJob()">
        <svg-icon src="assets/icons/Suitcase.svg"></svg-icon>
        <span class="empty-text"> {{ "NOJOBOPEN" | translate
          }}</span>
      </div>
      <ng-container *ngIf="this.currentRecruit?.projectOthers">
        <ng-container *ngFor="let item of  this.currentRecruit.projectOthers; let i = index">
          <div *ngIf="item.status =='1'" class="job_frame" [ngClass]="{'mt-10':i>1}">

            <div class="d-flex">
              <div class="col-8 col-md-8">
                <p class="position"><b>{{item.position}}</b></p>

              </div>
              <div *ngIf="currentUser" class="col-4 col-md-4 btn_items">
                <i *ngIf="item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                  class="fas fa-bookmark collected"></i>
                <i *ngIf="!item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                  class="far fa-bookmark color-gray"></i>
                <a data-toggle="modal" data-target="#modal_apply" data-dismiss="modal" (click)="onSelectItem(item)">
                  <i class="far fa-envelope"></i></a>
              </div>
            </div>
            <div class="col-md-12">
              <small><ng-container *ngIf="item.skills">

                  <ng-container *ngFor=" let tag of item.skills; let i=index">
                    <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                      class="tag tag-{{tag}} mr--5">{{convertTag(tag)}}</span>
                  </ng-container>
                </ng-container></small>
            </div>

            <div class="col-md-12 scopes text_content">
              {{item.scopes}}
            </div>
            <div class="col-md-12 text-right">
              <a class="clickable " [routerLink]="['/job/',item.id ]">{{ "VIEWDETAILS" |
                translate
                }}</a>
            </div>
          </div>
        </ng-container>
      </ng-container>

    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="row">
      <div class="col-12 col-md-12 mb-24">
        <span class="title"> {{ "SIMILARJOBS" | translate }}</span>
      </div>
    </div>
    <div class="noItem text-center" *ngIf="!this.currentRecruit.others">
      <svg-icon class="icon" src="assets/icons/Suitcase.svg"></svg-icon>
      <span class="empty-text"> {{ "NOJOBOPEN" | translate
        }}</span>
    </div>
    <ng-container *ngIf="this.currentRecruit?.others">
      <ng-container *ngFor="let item of  this.currentRecruit.others; let i = index">
        <div *ngIf="item.status =='1'" class="row job_frame" [ngClass]="{'mt-10':i>1}">

          <div class="col-12 col-md-12" style="display: inline-flex;">
            <div class="col-12 col-md-8 pl-0 col-form-label">
              <p class="position col-form-label"><b>{{item.position}}</b></p>
            </div>
            <div *ngIf="currentUser" class="col-12 col-md-4 btn_items">

              <i *ngIf="item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                class="fas fa-bookmark collected" tooltip="{{ 'COLLECT' | translate }}"></i>
              <i *ngIf="!item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                class="far fa-bookmark color-gray" tooltip="{{ 'COLLECT' | translate }}"></i>
              <i class="far fa-envelope color-gray" data-toggle="modal" data-target="#modal_apply" data-dismiss="modal"
                (click)="onSelectItem(item)" tooltip="{{ 'APPLY' | translate }}"></i>
            </div>
          </div>

          <div class="col-12 col-md-12 job_scopes">
            {{item.scopes}}
          </div>
          <div class="col-12 col-md-12 text-right">
            <a class=" clickable " [routerLink]="['/job/',item.id ]">{{ "VIEWDETAILS" |
              translate
              }}</a>
          </div>
        </div>
      </ng-container>
      <div class=" empty text-center">

        <a class="clickable " [routerLink]="['/recruit/' ]">{{ "SEEMORE" |
          translate
          }}</a>
      </div>
    </ng-container>
  </div>
</div>

<div [class.show]="isChat" class="full">
  <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
    <h3 *ngIf="this.currentRecruit?.projectOwner" class="chat-header" title><img class="chat-user-img rounded-circle"
        [src]="this.currentRecruit?.projectOwner?.imageUrl!= null ?  settingSrv.defaultAssetUrl+this.currentRecruit?.projectOwner?.imageUrl
                          : settingSrv.defaultUserLogo" alt=""><span
        class="chat-user-name">{{this.currentRecruit?.projectOwner?.name?
        this.currentRecruit?.projectOwner?.name:"No name"}}</span></h3><span aria-hidden="true">X&times;</span>
    <div>
    </div>
    <lab-comments [currentUser]="currentUser" [receiverUser]="this.currentRecruit?.projectOwner"
      (close)="onToggleChat($event)" body>
    </lab-comments>

  </lab-custom-modal>

</div>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p class="text-white">Please Wait. </p>
</ngx-spinner>


<!--Modal register-->
<div class="modal fade" id="modal_apply" tabindex="-1" aria-labelledby="applyModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal-header text-center">
        <span class="modal_title w-100">{{ "IAPPLYFOR"
          | translate }} {{this.selectedApplication?.position}}！</span>
        <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <textarea class="form-control" rows="15" placeholder="{{ 'INTROANDJOIN' | translate }}"
            [(ngModel)]="application_message" id="application_message"></textarea>
        </div>
        <div class=" text-right">
          <button type="button" class="btn btn-blue  mr-10" (click)="onSubmitApplication(this.selectedApplication)">
            {{ "SUBMIT"
            | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modifiedJob" tabindex="-1" aria-labelledby="modifiedJob" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ "JOBS" | translate }}</h1>
        <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="recruitForm">
          <div class="form-group">
            <label for="inputPosition">{{ "POSITION" | translate }}</label>
            <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
              placeholder="{{ 'POSITION' | translate }}">
          </div>
          <div class="form-group">
            <label for="inputContent">{{ "JD"
              | translate }}</label>
            <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
              cols="50"></textarea>
          </div>
          <div class="form-group">
            <label for="inputSkills">{{ "SKILLS"
              | translate }}</label>
            <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
              secondaryPlaceholder="{{'SKILLSEXS' | translate }}">
              <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false" [autocompleteItems]="skillOptions"
                [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
              </tag-input-dropdown>
            </tag-input>
          </div>
          <div class="form-group">

            <label for="inputSkills">{{"PWTC" | translate }}</label>
            <div class="form-group">
              <div>
                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                <label class="option" for="work12">{{"WORK12" | translate }}</label>
              </div>
              <div>
                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                <label class="option" for="work34">{{"WORK34" | translate }}</label>
              </div>
              <div>
                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                <label class="option" for="work56">{{"WORK56" | translate }}</label>
              </div>
              <div>
                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                <label class="option" for="work78">{{"WORK78" | translate }}</label>
              </div>
              <div>
                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                <label class="option" for="work9">{{"WORK9" | translate }}</label>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-end">
            <button type="button" class="btn btn-blue  mr-10 float-right" (click)="onUpdateRecruitSubmit()">{{"UPDATE" |
              translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
