#profile-upper {
    position: relative;
}

#profile-d {
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img {
    width: 100%;
    margin-top: -20%;
}

#profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img {
    width: 100%;
}

#u-name {
    position: absolute;
    top: 120px;
    left: 208px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}



.frame {
    border: 2px solid #fff;
    min-height: 300px;
    margin-bottom: 30px;
    margin-left: 10px;
    background-color: #fff;
    display: grid;
    grid-auto-flow: row;
    // gap: 24px;
    padding: 12px 10px 12px 10px;
    width: 100%;

    .clickable {
        color: #7F7F7F;
    }
}

.title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 500;
}

.btn_items {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-top: auto;
    margin-bottom: auto;
    color: #262E42;
    font-size: 24px;
}

.btn_item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    padding: 4px 10px;
    color: #fff;
    background-color: #56BDF4;
    border: 1px solid #56BDF4;
    border-radius: 4px;
    // width: 84px;
    height: 36px;
}


.btn_item:hover {
    background-color: #FF859A;
    border: 2px solid #FF859A;
}

.btn_item_selected {
    background-color: #FF859A;
    border: 2px solid #FF859A;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 5px;
    word-wrap: break-word;
}

.position {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 5px;
    word-wrap: break-word;
}

.scopes {
    padding-left: 30px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.frame-title {
    display: grid;
    gap: 5px;
}

.frame-news {
    border: 2px solid #fff;
    min-height: 300px;
    margin-bottom: 30px;
    padding: 24px 16px 24px 16px;
    background-color: #fff;
    margin-top: 15px;
}

.gap-10 {
    gap: 10px;
}

.update_date {
    margin-top: auto;
    margin-bottom: auto;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-33 {
    margin-bottom: 33px;
}

.btn-blue {
    background-color: #56BDF4;
    color: white;
    border: 2px solid #56BDF4;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
}

a {
    color: #262E42;
}
