body {
    overflow: hidden;
}

.forgot-container {
    overflow: hidden;
    min-height: 93vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: calc(50%) minmax(0, 100%);
    max-width: 1680px;
    margin: 0 auto;
    transition: 0.15s linear;
    height: 100%;
    background-color: white;

    @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        grid-template-columns: unset;
        align-items: center;

        .forget-left-area {
            padding-top: 50px;
            padding-right: unset;

            img {
                height: 400px;
            }
        }

        .frame {
            padding-right: 10% !important;
            padding-left: 10% !important;
            margin-top: 10px !important;
            margin-bottom: 20px !important;
        }
    }

    .mt-12 {
        margin-top: 12px;
    }

    .alert-wrong {
        background-color: #FFE5EA;
        color: #CC0023;
        border: 1px solid#FFB2C0;

        .icon svg g path {
            width: 12px;
            height: 12px;
            transform: scale(2);
            font-size: 12px;
            color: #CC0023;
        }



        svg {
            height: 20px;
            width: 20px;
            fill: #CC0023;
        }
    }

    .frame {
        padding: 15px;
        background-color: white;
        padding-right: 40%;
        margin-top: 300px;
        padding-left: 10%;
        max-width: 513px;

        a {
            color: black;
        }

        button {
            height: 45px;
            margin-top: 30px;
            margin-bottom: 12px;
        }

        .disable {
            cursor: not-allowed;
        }

        .spamMsg {
            font-size: 16px;
            font-weight: 400px;
            line-height: 24px;
            color: #69738C;
        }
    }
}





.forgot-left-bg {

    background-image: url("./../../../assets/images/forgotPSW.png");
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.forget-left-area {
    align-items: flex-end;
    display: flex;
    padding-top: 152px;
    flex-direction: column;
    padding-right: 140px;
}

.btn-countdown {
    background-color: #F1F2F5;
}

#cookieconsent {
    .cc-color-override--1172037365 {
        align-items: center;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 60% 40%;
        padding-top: 18px;
        padding-bottom: 18px;
        gap: 42px;
        background-color: #fff;
        border: 1px solid #CFD2DA !important;

        .cc-message {
            text-align: end;
        }

        .cc-compliance .cc-btn {
            background: #56BDF4;
            color: #fff;
            padding: 6px 25px;
            border-radius: 4px;
        }
    }
}
