.forgot-container {
    min-height: 95vh;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: calc(50%) minmax(0, 100%);
    max-width: 1680px;
    margin: 0 auto;
    transition: 0.15s linear;
    height: 100%;
    background-color: white;
}



.frame {
    padding: 15px;
    background-color: white;

    padding-right: 40%;
    margin-top: 400px;

    a {
        color: black;
    }

    button {
        height: 45px;
        margin-top: 30px;
    }
}

.forgot-left-bg {

    background-image: url("./../../../assets/images/forgotPSW.png");
    background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.forget-left-area {
    align-items: flex-end;
    display: flex;
    padding-top: 182px;
    flex-direction: column;
    padding-right: 140px;
}

.btn-countdown {
    background-color: #F1F2F5;
}
