<div class="container">
  <div class="row">
    <div class="col-md-3">
      <a routerLink="/admin/user-list" routerLinkActive="active">
        User List
      </a>
      <span>> Wallet Management</span>
    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
      <a class="float-right" routerLink="../../wallet/new-wallet" routerLinkActive="active">
        <button type="button" class="btn btn-secondary">
          Add Token
        </button>
      </a>
      <a class="float-right" style="margin-right: 10px;" routerLink="../../wallet/new-wallet" routerLinkActive="active">
        <button type="button" class="btn btn-secondary">
          Create New Wallet
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          Wallet
        </div>
        <div class="card-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th> # </th>
                <th> Address </th>
                <th> Balance </th>
                <th> Coin </th>
                <th> Transaction </th>
                <th> Send </th>
                <th> Receive </th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngIf="wallets.length > 0">
                <tr *ngFor="let wallet of wallets ;let i = index ">
                  <td> {{ i }}</td>
                  <td> {{ wallet.address }}</td>
                  <td> {{ wallet.amount }}</td>
                  <td> {{ wallet.cointype }}</td>
                  <td> <button class="btn btn-primary">Details</button></td>
                  <td> <button class="btn btn-primary" data-toggle="modal" data-target="#send-details">Send</button>
                  </td>
                  <td> <button class="btn btn-primary" data-toggle="modal"
                      data-target="#receive-details">Receive</button></td>
                </tr>
              </ng-container>
              <ng-container *ngIf="wallets.length == 0">
                <tr>
                  <td colspan="7" style="text-align: center">
                    <h2>You don't have wallet yet</h2>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-secondary" (click)="clear()">
    Clear Data
  </button>

  <div class="modal fade" id="send-details" tabindex="-1" role="dialog" aria-labelledby="send-details-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="send-details-label">Send BTC</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form class="card-body">
            <div class="row">
              <div class="col-xl-4 col-lg-4 selected" align="center">Wallet Address</div>
              <div class="col-xl-4 col-lg-4 unselected" align="center">Email Address</div>
            </div>
            <br />
            Recipient
            <div>
              <input class="input form-control" type="text" name="recipient" placeholder="Enter your BTC address">
            </div>
            <br />
            Withdraw From
            <div>
              <p class="input form-control">BTC Wallet</p>
            </div>
            Amount
            <div class="row">
              <label data-domain="USD" id="USDLabel" style="float:left;" class="col-5">
                <input type="number" placeholder="0.00" id="USD" class="input form-control">
              </label>
              <div style="m" class="col-2">
                <h4>
                  <>
                </h4>
              </div>
              <label data-domain="BTC" id="BTCLabel" style="float:left;" class="col-5">
                <input type="number" placeholder="0.00" id="BTC" class="input form-control">
              </label>
            </div>
            Note
            <div>
              <input class="input form-control" type="text" name="note" placeholder="Write an optional note">
            </div>

          </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="receive-details" tabindex="-1" role="dialog" aria-labelledby="receive-details-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="receive-details-label">Receive BTC</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <div align='center'>
            <h2>QR CODE</h2>
            <p>Wallet Address</p>
          </div>

          <form>
            Amount
            <div>
              <label data-domain="USD" id="USDLabel" style="float:left;">
                <input type="number" placeholder="0.00" id="USD" class="input form-control">
              </label>
              <h1 align="center" style="m">
                <>
              </h1>
            </div>

          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


</div>
<!--container-->