.selected {
    border: 1px gray;
    border-radius: 3px;
    border-style: solid solid none;
}

.unselected {
    border: 1px rgb(214, 214, 214);
    border-radius: 3px;
    border-style: solid solid none;
}