<div class=" mb-80">
    <div class="row">
        <div class="col-md-8">
            <h1>內容編輯</h1>
        </div>
        <div class="col-md-4" style="     text-align: end;">

            <button type="button" class="btn btn-standard mr-10" (click)="onSaveDraft()">存為草稿
            </button>
            <button type="button" class="btn btn-standard mr-10" (click)="onSave()"> 發布</button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <form [formGroup]="projectForm">
        <div class="row">
            <div class="col-md-12 mb-12 ">
                <label class=" pr-2" for="projectname">
                    <h5> 專案名稱* :</h5>
                </label>
                <input type="text" formControlName="name" id="projectname" class="form-control mr-10">
                <div *ngIf="submitted && f.name.errors">
                    <div class="error-msg" *ngIf="f.name.errors.required">
                        專案名稱必須的
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 專案類型* :</h5>
                </label>
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox1" value="side">
                        <label class="form-check-label" for="inlineCheckbox1">Side project</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineCheckbox2" value="full">
                        <label class="form-check-label" for="inlineCheckbox2">全時工作</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="product">
                    <h5> 專案產品* :</h5>
                </label>
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="website">
                        <label class="form-check-label" for="inlineCheckbox1">網站</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="app">
                        <label class="form-check-label" for="inlineCheckbox2">App</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="hardware">
                        <label class="form-check-label" for="inlineCheckbox2">硬體</label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 產業類型* :</h5>
                </label>
                <div class="form-check check-group">
                    <div> <input type="checkbox" (change)="onTypeChange($event, 'eComm')"
                            [checked]="isInValue('eComm', f.type.value)" value="eComm"><span>電子商務</span>
                    </div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'ai')"
                            [checked]="isInValue('ai', f.type.value)" value="ai"><span>人工智慧</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'edutech')"
                            [checked]="isInValue('edutech', f.type.value)" value="edutech"><span>教育科技</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'sharingeconomy')"
                            [checked]="isInValue('sharingeconomy', f.type.value)"
                            value="sharingeconomy"><span>共享經濟</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'medical')"
                            [checked]="isInValue('medical', f.type.value)" value="medical"><span>醫學科技</span></div>

                </div>
                <div class="form-check check-group">

                    <div><input type="checkbox" (change)="onTypeChange($event, 'transport')"
                            [checked]="isInValue('transport', f.type.value)" value="transport"><span>運輸服務</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'fintech')"
                            [checked]="isInValue('fintech', f.type.value)" value="fintech"><span>金融科技</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'game')"
                            [checked]="isInValue('game', f.type.value)" value="game"><span>遊戲產業</span></div>
                    <div><input type="checkbox" (change)="onTypeChange($event, 'platform')"
                            [checked]="isInValue('platform', f.type.value)" value="platform"><span>平台</span></div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="stage">
                    <h5> 目前進度* :</h5>
                </label>
                <div class="form-check  check-group">
                    <div> <input type="checkbox" (change)="onStageChange($event, 'idea')"
                            [checked]="isInValue('idea', f.stages.value)" value="idea"><span>已有創業概念</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'businessplan')"
                            [checked]="isInValue('businessplan', f.stages.value)"
                            value="businessplan"><span>商業計畫初稿</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findpartner')"
                            [checked]="isInValue('findpartner', f.stages.value)" value="findpartner"><span>找創業夥伴</span>
                    </div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'buildMVP')"
                            [checked]="isInValue('buildMVP', f.stages.value)"
                            value="buildMVP"><span>建構最小可行性產品(MVP)</span></div>

                </div>
                <div class="form-check  check-group">


                    <div> <input type="checkbox" (change)="onStageChange($event, 'producttested')"
                            [checked]="isInValue('producttested', f.stages.value)"
                            value="producttested"><span>驗證產品中&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findcustomers')"
                            [checked]="isInValue('findcustomers', f.stages.value)"
                            value="findcustomers"><span>找用戶中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findpayingcustomers')"
                            [checked]="isInValue('findpayingcustomers', f.stages.value)"
                            value="findpayingcustomers"><span>找付費用戶中</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 簡介 :</h5>
                </label>
                <textarea formControlName="description" type="text" class="form-control" id="" rows="4"
                    cols="50"></textarea>
                <div *ngIf="submitted && f.description.errors">
                    <div class="error-msg" *ngIf="f.description.errors.required">
                        專案簡介是必要的
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <!-- <div class="col-md-12 mb-12 form-group button-center">
                <button type="button" class="btn btn-primary mr-10" (click)="onSaveDraft()">存為草稿
                </button>
                <button type="button" class="btn btn-primary mr-10" (click)="onSave()"> 發布</button>
            </div> -->
            <div class="col-md-12 mb-12 form-group text-center">
                <div class="error-msg" *ngIf="projectMsg!=''">{{ projectMsg }}</div>
            </div>
        </div>
    </form>
</div>
