<div class=" mb-80">
    <div class="row">
        <div class="col-md-8">
            <h1>專案內容</h1>
        </div>
        <div *ngIf="mode=='view'" class="col-md-4" style="text-align: end;">

            <button type="button" class="btn btn-standard mr-10" (click)="onEditMode()">編輯</button>
        </div>
        <div *ngIf="mode!=='view'" class="col-md-4" style="text-align: end;">
            <button type="button" class="btn btn-standard mr-10" (click)="onEditMode()">取消</button>
            <button type="button" *ngIf="currentProject?.status !=='published'" class="btn btn-standard mr-10"
                (click)="onSaveDraft()">存為草稿
            </button>
            <button type="button" class="btn btn-standard mr-10" (click)="onSave()">{{currentProject?.status
                =='published'? "更新專案":"發布專案"}} </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <form [formGroup]="projectForm">
        <div class="row">
            <div class="col-md-12 mb-12 ">
                <label class=" pr-2">
                    <span class="project-item-title"> 專案名稱<span *ngIf="mode!=='view'" class="color-red">*</span>
                        :</span>
                </label>
                <p class="w-100" *ngIf="mode=='view'">{{f.name.value}}</p>
                <input *ngIf="mode!=='view'" type="text" formControlName="name" id="projectname"
                    class="form-control mr-10">
                <div *ngIf="submitted && f.name.errors">
                    <div class="error-msg" *ngIf="f.name.errors.required">
                        專案名稱必須的
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-10">
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2">
                    <span class="project-item-title"> 專案狀態<span *ngIf="mode!=='view'" class="color-red">*</span>
                        :</span>
                </label>
                <p class="w-100" *ngIf="mode=='view'">{{getStatus()}}</p>
                <div *ngIf="mode!=='view'" class="form-check">
                    <input type="checkbox" (change)="onStatusChange($event, 'isFindPartner')"
                        [checked]="projectForm.value.isFindPartner"
                        value="projectForm.value.isFindPartner"><span>徵成員</span>
                    <input type="checkbox" (change)="onStatusChange($event, 'isFunding')"
                        [checked]="projectForm.value.isFunding" value="projectForm.value.isFunding"><span>募資中
                    </span>
                    <input type="checkbox" (change)="onStatusChange($event, 'isCofounder')"
                        [checked]="projectForm.value.isCofounder"
                        value="projectForm.value.isCofounder"><span>找共同創辦人</span>
                </div>
            </div>
            <!-- <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="product">
                    <span class="project-item-title"> 專案產品<span *ngIf="mode!=='view'" class="color-red">*</span>
                        :</span>
                </label>
                <div class="form-check">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                            (change)="onProductChange($event, 'website')"
                            [checked]="isInValue('website', f.product.value)" value="website">
                        <label class="form-check-label" for="inlineCheckbox1">網站</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                            (change)="onProductChange($event, 'app')" [checked]="isInValue('app', f.product.value)"
                            value="app">
                        <label class="form-check-label" for="inlineCheckbox2">App</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3"
                            (change)="onProductChange($event, 'hardware')"
                            [checked]="isInValue('hardware', f.product.value)" value="hardware">
                        <label class="form-check-label" for="inlineCheckbox3">硬體</label>
                    </div>
                </div>
            </div> -->
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2">
                    <span class="project-item-title"> 產業類型<span *ngIf="mode!=='view'" class="color-red">*</span>
                        :</span>
                </label>
                <p class="w-100" *ngIf="mode=='view'">{{getIndustryType()}}</p>
                <div *ngIf="mode!=='view'" class="form-check check-group">
                    <div> <input type="checkbox" (change)="onIndustryTypeChange($event, 'eComm')"
                            [checked]="isInValue('eComm', f.type.value)" value="eComm"><span>電子商務</span>
                    </div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'ai')"
                            [checked]="isInValue('ai', f.type.value)" value="ai"><span>人工智慧</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'edutech')"
                            [checked]="isInValue('edutech', f.type.value)" value="edutech"><span>教育科技</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'sharingeconomy')"
                            [checked]="isInValue('sharingeconomy', f.type.value)"
                            value="sharingeconomy"><span>共享經濟</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'medical')"
                            [checked]="isInValue('medical', f.type.value)" value="medical"><span>醫學科技</span></div>

                </div>
                <div *ngIf="mode!=='view'" class="form-check check-group">
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'transport')"
                            [checked]="isInValue('transport', f.type.value)" value="transport"><span>運輸服務</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'fintech')"
                            [checked]="isInValue('fintech', f.type.value)" value="fintech"><span>金融科技</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'game')"
                            [checked]="isInValue('game', f.type.value)" value="game"><span>遊戲產業</span></div>
                    <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'platform')"
                            [checked]="isInValue('platform', f.type.value)" value="platform"><span>平台</span></div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="stage">
                    <span class="project-item-title"> 目前進度<span *ngIf="mode!=='view'" class="color-red">*</span>
                        :</span>
                </label>
                <p class="w-100" *ngIf="mode=='view'">{{getStage()}}</p>
                <div *ngIf="mode !== 'view'" class="form-check  check-group">
                    <div> <input type="checkbox" (change)="onStageChange($event, 'idea')"
                            [checked]="isInValue('idea', f.stages.value)" value="idea"><span>已有創業概念</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'businessplan')"
                            [checked]="isInValue('businessplan', f.stages.value)"
                            value="businessplan"><span>商業計畫初稿</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findpartner')"
                            [checked]="isInValue('findpartner', f.stages.value)" value="findpartner"><span>找創業夥伴</span>
                    </div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'buildMVP')"
                            [checked]="isInValue('buildMVP', f.stages.value)"
                            value="buildMVP"><span>建構最小可行性產品(MVP)</span></div>

                </div>
                <div *ngIf="mode !== 'view'" class="form-check  check-group">
                    <div> <input type="checkbox" (change)="onStageChange($event, 'producttested')"
                            [checked]="isInValue('producttested', f.stages.value)"
                            value="producttested"><span>驗證產品中&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findcustomers')"
                            [checked]="isInValue('findcustomers', f.stages.value)"
                            value="findcustomers"><span>找用戶中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <div> <input type="checkbox" (change)="onStageChange($event, 'findpayingcustomers')"
                            [checked]="isInValue('findpayingcustomers', f.stages.value)"
                            value="findpayingcustomers"><span>找付費用戶中</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2">
                    <span class="project-item-title"> 簡介:</span>
                </label>
                <p *ngIf="mode=='view'">{{f.description.value}}</p>
                <textarea *ngIf="mode!=='view'" formControlName="description" type="text" class="form-control" id=""
                    rows="4" cols="50"></textarea>
                <div *ngIf="submitted && f.description.errors">
                    <div class="error-msg" *ngIf="f.description.errors.required">
                        專案簡介是必要的
                    </div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="col-md-12 mb-12 form-group text-center">
                <div class="error-msg" *ngIf="projectMsg!=''">{{ projectMsg }}</div>
            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
