::ng-deep input[type="checkbox"]:checked {
  background-color: red;
}

input[type="checkbox"] {
  background-color: red;
}

input:checked {
  background-color: red;
}

.form-check-input:checked {
  background-color: red;
}

input[type="checkbox"]:before {
  background-color: red;
}

.check-group {
  display: flex;
  gap: 48px;
}
