<!-- footer area start -->
<footer class="black-bg footer-area ptb-80">
    <div class="container">
        <div class="footer-content text-center">
            <div class="footer-logo">
                <a href="index.html"><img src="assets/img/logo/2.png" alt="" /></a>
            </div>
            <div class="footer-menu">
                <nav>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Term & Condition </a></li>
                        <li><a href="#">Contact US</a></li>
                    </ul>
                </nav>
            </div>
            <div class="copyright-social">
                <div class="copyright common-footer">
                    <p>
                        Copyright©
                        <a href="https://devitems.com/" target="blank">DevItems</a>
                        2017.All right reserved
                    </p>
                </div>
                <div class="footer-icon-img common-footer">
                    <img src="assets/img/icon-img/1.png" alt="" />
                </div>
                <div class="footer-social common-footer">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-tumblr"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->