ui-recruit-card {
    .grid-margin {
        margin-bottom: 2rem;
        padding: 18px 16px 18px 16px !important;
    }

    .tag {
        padding: 4px 8px 4px 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        border-radius: 100px;
        background-color: #C0DAFE;
        word-break: keep-all;
    }

    .tag-bd {
        background-color: #D5ECA3 !important;
    }

    .tag-pm {
        background-color: #E5BFF3 !important;
    }

    .tag-design {
        background-color: #E5BFF3 !important;
    }

    .tag-op {
        background-color: #FEE0A5 !important;
    }

    .tag-software {
        background-color: #C0DAFE !important;
    }

    .tag-marketing {
        background-color: #FFCCD5 !important;
    }

    .tag-game {
        background-color: #E5BFF3 !important;
    }

    .tag-sharingeconomy {
        background-color: #D5ECA3 !important;
    }

    .tag-fintech {
        background-color: #C0DAFE !important;
    }

    .tag-edutech {
        background-color: #E5BFF3 !important;
    }

    .tag-ai {
        background-color: #E3E5EC !important;
    }

    .tag-medical {
        background-color: #E5BFF3 !important;
    }

    .tag-eComm {
        background-color: #E5BFF3 !important;
    }


    .tag-sale {
        background-color: #D5ECA3 !important;
    }

    .tag-product {
        background-color: #E5BFF3 !important;
    }

    .tag-strategy {
        background-color: #FEE0A5 !important;
    }

    .tag-programming {
        background-color: #C0DAFE !important;
    }

    .tag-finance {
        background-color: #E5BFF3 !important;
    }

    .tag-public {
        background-color: #D5ECA3 !important;
    }

    .tag-funding {
        background-color: #C0DAFE !important;
    }

    .tag-law {
        background-color: #E5BFF3 !important;
    }

    .tag-ai {
        background-color: #E3E5EC !important;
    }

    .tag-medical {
        background-color: #E5BFF3 !important;
    }

    .tag-eComm {
        background-color: #E5BFF3 !important;
    }

    .project {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 50px 1fr 70px;
    }

    .project-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 5px #fff;
    }

    .header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 180px 1fr 90px;
    }

    .modal_apply_job {
        float: right;
        border: 0px;
        background-color: transparent;

        .modal_apply_job_btn {
            color: #56BDF4;
            background-color: transparent;
        }
    }
}



.item-left {
    justify-content: end;
    display: grid;
    grid-auto-flow: column;

    /* justify-content: end; */
    width: 100%;
    margin: auto;
}

.follow {
    color: #56BDF4;
    border: 2px solid #56BDF4;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 8px 4px 8px;
    border-radius: 4px;
}


.text-center {
    text-align: center !important;
}


.card {
    background-color: white;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.075) !important;
    border: 1px solid #e1eaea !important;
    border-radius: 12px !important;
    color: black;
}

.card.card-white {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    padding: 25px;
    min-height: 195px;
}


.name {
    font-weight: 400;
    color: #333333;
}

th {
    font-weight: 300;
}

.discr {
    min-height: 70px;
    text-align: left;
    /*  padding: 10px; */
    max-height: 120px;
    text-align: justify;
    color: #333333;
}



.mr-5 {
    margin-right: 5px !important;
}
