<div class="card card-white grid-margin">
  <div class="header">
    <div class="">
      <a (click)="routeToUserProfile()">
        <h6 class="mt-10 mb-10 text-body name text-left">{{ job.position }}</h6>
      </a>

    </div>
    <div class="item-left">

    </div>
    <div class="item-left" *ngIf="user">

      <i *ngIf="job.isCollect" (click)="onClickUnCollect()"
        class="fas fa-bookmark fa-lg mr-5  fa-bookmark-selected"></i>
      <i *ngIf="!job.isCollect" (click)="onClickCollect()" class="far fa-bookmark fa-lg mr-5  color-gray"></i>

      <!-- <i class="far fa-comment-alt mr-5"></i> -->
      <button type="button" data-toggle="modal" data-target="#modal_apply_job" data-dismiss="modal"
        class="modal_apply_job" (click)="onClickApply(item)"><i class="far fa-envelope fa-lg color-gray"></i>
      </button>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 discr">
      <span>{{job?.scopes.length>40?job?.scopes.substring(0,100)+"...":job.scopes}}</span>
    </div>
  </div>
  <!--  <div class="row mt-10">
    <div class="col-md-12 discr">
    <ng-container *ngIf="job.skills">

        <ng-container *ngFor="let tag of  job.skills; let i = index">

          <span *ngIf="!this.utility.IsNullOrEmpty(tag)" class="tag  tag-{{tag}}  mb-2 mr-5">{{convertTag(tag)}}</span>

        </ng-container>

      </ng-container>
    </div>
  </div>-->
  <footer class="row mt-10">
    <div class="col-md-12 project">
      <img class="project-pic" (error)="onImgError($event)" src="{{job.projectImageUrl}}">
      <div class="d-flex justify-left align-items-center"><span class="text-left">{{job?.projectName}}</span></div>
      <div class="d-flex justify-right align-items-center"> <a [routerLink]="['/job/',job.id]">{{ "VIEWDETAILS" |
          translate
          }}</a></div>

    </div>

  </footer>
</div>
