<h1>範本</h1>
<div class="container row">
    <div class="row filter">
        <div class="col-md-12 filter ">
            <select class="form-control" [value]="type" (change)="onFilterChange($event)">
                <option value="">全部</option>
                <option value="application">應徵</option>
                <option value="recruit">職缺</option>
                <option value="bio">個人介紹</option>
                <option value="project">專案介紹</option>
                <option value="mentor">導師自我介紹</option>
                <!-- </ng-template> -->
            </select>


        </div>
    </div>
    <div class="row mt-20">
        <ng-container *ngFor="let item of  displayItems; let i = index">
            <div class="col-md-6">
                <ui-email-template-card [template]="item">
                </ui-email-template-card>
            </div>
        </ng-container>
    </div>
</div>
