app-project-item {
    background: #f2f2f2;

    .box {
        background: #FFF;
        border-radius: 10px;
        padding: 20px 10px 40px 10px;
        margin: 20px 0px;
        cursor: pointer;
        transition: all 0.5s ease-out;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

        .box-title {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 40% 1fr;
        }

        .box-title-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .box:hover {
        box-shadow: 0 0 6px #4183D7;
    }

    .box .box-text {
        margin: 20px 0px;
        font-size: 15px;
        // line-height: 30px;
        height: 170px;

    }

    .box .box-btn a {
        text-decoration: none;
        font-size: 16px;
        color: #56BDF4;
        font-weight: 500;
    }

    .align-item-left {
        float: right;
    }

    .fa {
        color: #4183D7;
    }

    .box-tags {
        display: flex;
        gap: 10px;
        min-height: 24px;
        justify-content: end;
    }
}
