  <h5 class="pb-10">帳密設定</h5>
                        <div class="member-info-box">
                            <h5>帳號：{{email}}</h5>
                            <div class="form-group mt-20">
                                <label for="exampleInputEmail1">舊密碼</label>
                                <input type="" class="form-control" id="" aria-describedby="" >
                            </div>
                            <div class="form-group mt-20">
                                <label for="exampleInputEmail1">新密碼</label>
                                <input type="" class="form-control" id="" aria-describedby="" >
                            </div>
                            <div class="form-group mt-20">
                                <label for="exampleInputEmail1">確認密碼</label>
                                <input type="" class="form-control" id="" aria-describedby="" >
                            </div>
                            <button id="member_last_btn_w100" class="btn_select_img">確認變更</button>
                        </div>

                        <h5 class="pb-10 mt-70 mt-20">虛擬錢包</h5>
                        <div class="member-info-box">
                            <div class="form-group">
                                <label for="exampleInputEmail1"><i class="fas fa-play-circle"></i> 手動輸入虛擬錢包位址</label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control"  placeholder="手動輸入" aria-label="Recipient's username" aria-describedby="button-addon2">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary input_btn_normal" type="button" >確定輸入錢包</button>
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1"><i class="fas fa-play-circle"></i> 系統搜尋連結</label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary input_btn_normal" type="button" >確定連結錢包</button>
                                  </div>
                                </div>
                            </div>
                            <div class="form-check mb-20">
                              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                              <label class="form-check-label" for="inlineCheckbox1">使用虛擬錢包購買作品</label>
                            </div>
                            <button id="member_last_btn_w100" class="btn_select_img">更新虛擬錢包</button>
                        </div>


                        <h5 class="mt-70 mt-20">郵件通知</h5>
                        <div class="member-info-box  mb-40">
                            <div class="form-group mt-20">
                                <label for="exampleInputEmail1">請填入系統寄發通知的郵件信箱</label>
                                <input type="" class="form-control" id="" aria-describedby="" >
                            </div>
                            <button id="member_last_btn_w100" class="btn_select_img">確認變更</button>
                        </div>
