.shepherd-step-highlight {
  display: block;
  height: 100px;
  position: absolute;
  width: 200px;
}
.shepherd-content{
       background-color: #6c757d;
    border-color: #6c757d;
      border: 2px solid #6c757d;
}
