<div class="row">
    <div class="col-md-4">
        <select class="sort_dropdown w-100">
            <option value="">上傳時間：新 → 舊</option>
            <option value="dog">上傳時間：舊 → 新</option>
            <option value="cat">熱門瀏覽：高 → 低</option>
            <option value="hamster">熱門瀏覽：低 → 高</option>
            <option value="cat">售價：高 → 低</option>
            <option value="hamster">售價：低 → 高</option>
        </select>
    </div>
    <div class="col-md-8">
        <form class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
            <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search"
                aria-label="Search">
            <i class="fas fa-search" aria-hidden="true"></i>
        </form>
    </div>
</div>
<hr>
<div id="member-artist-project" class="row mt-30">
    <ng-container *ngFor="let artwork of artworks">
        <div class="col-md-4">
            <a [routerLink]="['/artist/collection/detail',artwork.id]"><img class="mb-10"
                    src="{{ getImageURL(artwork.imageUrl)}}" alt=""></a>
            <ul>
                <li>
                    {{artwork.name}}
                </li>
                <li>
                    售價：Ξ {{artwork.usdValue}}
                </li>
                <li>
                    上架狀態：<span class="text-orange">{{ getImageStatus(artwork.status)}}</span>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- <div class="col-md-4">
                                <a [routerLink]="['/artist/collection/detail']"><img class="mb-10" src="./assets/images/project-info-01.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：<span class="text-orange">準備中</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/artist/collection/detail']"><img class="mb-10" src="./assets/images/project-info-02.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/artist/collection/detail']"><img class="mb-10" src="./assets/images/project-info-03.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：<span class="text-orange">準備中</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a [routerLink]="['/artist/collection/detail']"><img class="mb-10" src="./assets/images/project-info-01.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a href="member-artist-detail.html"><img class="mb-10" src="./assets/images/project-info-02.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a href="member-artist-detail.html"><img class="mb-10" src="./assets/images/project-info-03.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a href="member-artist-detail.html"><img class="mb-10" src="./assets/images/project-info-01.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a href="member-artist-detail.html"><img class="mb-10" src="./assets/images/project-info-02.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：已上架
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <a href="member-artist-detail.html"><img class="mb-10" src="./assets/images/project-info-03.jpg" alt=""></a>
                                <ul>
                                    <li>
                                        作品名稱作品名稱作品名稱作品名稱作稱作品名稱作品名稱作品名稱作品名稱
                                    </li>
                                    <li>
                                        售價：Ξ 0.01
                                    </li>
                                    <li>
                                        上架狀態：<span class="text-orange">準備中</span>
                                    </li>
                                </ul>
                            </div> -->
</div>
<div class="text-center pagenation_center mb-40">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
