<nav class="navbar navbar-expand-lg  navbar-light  bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/index">
      <img src="./../../../assets/images/logo.png" height="40" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/index" (click)="ToggleNavBar()">首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/projects" (click)="ToggleNavBar()">專案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/members" (click)="ToggleNavBar()">夥伴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/mentors" (click)="ToggleNavBar()">導師</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/feedback" (click)="ToggleNavBar()">意見回饋</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-fw fab fa-telegram icon"></i>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-fw fab fa-discord icon"></i>
        </li>
        <div>
          <!-- <h4 style="color:red">{{this.DemoSite}}</h4> -->
        </div>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          style="    padding-top: 13px;">
          <a class="nav-link" (click)="RouteToNewProject()">建立專案 </a>
        </li>
        <li *ngIf="!authStoreSrv.isLoggedOut$ | async" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/notifications"> <i class="far fa-bell icon"></i></a>
        </li>
        <li *ngIf="!authStoreSrv.isLoggedOut$ | async" class="nav-item" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/messages"> <i class="far fa-comment-dots icon"></i></a>
        </li>
        <!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="far fa-user-circle par-5 icon"></i>
        </li> -->
      </ul>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link" [routerLink]="['/Notification']">
          <i class="far fa-bell" style="font-size: 24px;"></i>
          <span
            [style.display]="this.userInvites + this.numOfToDo + postNotifications.length + programNotifications.length  > 0 ? 'block' : 'none'"
            class="badge fa-inverse">
            1
          </span>
        </a>
      </li> -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar dropdown">
          <a class="nav-link waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-bell"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary notification-box"
            aria-labelledby="navbarDropdownMenuLink-5">
            <div class="notification">
              <i class="fas fa-bell"></i>
              <div class="notifciation-row">
                <span>[帳號]提出加入[專案名稱]申請</span>
                <span>剛剛</span>
              </div>
            </div>
            <div class="notification">
              <i class="fas fa-bell"></i>
              <div class="notifciation-row">
                <span>[帳號]提出加入[專案名稱]申請</span>
                <span>5分鐘前</span>
              </div>
            </div>
            <div class="notification">
              <i class="fas fa-bell"></i>
              <div class="notifciation-row">
                <span>[帳號]提出加入[專案名稱]申請</span>
                <span>1小時前</span>
              </div>
            </div>
            <a href="" class="text-center">查看更多</a>
          </div>
        </li>
      </ul>
      <!-- <form *ngIf="authStoreSrv.isLoggedIn$ | async" id="index_login" class="form-inline my-2 my-lg-0 text-white"> -->
      <form id="index_login" *ngIf="authStoreSrv.isLoggedIn$ | async" class="form-inline my-2 my-lg-0 text-white">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle par-5 icon"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/u/',currentUser?.uid]">個人資料</a>
                <a class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/dashboard/settings']">個人設定</a>

                <a class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/dashboard/myproject']">我的專案</a>
                <a class="dropdown-item" [routerLink]="['/dashboard/collection']">我的收藏</a>
                <a class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/dashboard/messages']">我的訊息</a>
                <a class="dropdown-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                  [routerLink]="['/dashboard/notifications']">我的通知</a>

                <a class="dropdown-item" [routerLink]="['/dashboard/application']">成為導師</a>
                <!-- <a class="dropdown-item" [routerLink]="['/u/',currentUser?.uid]">{{
                  "PUBPROFILE" | translate }}</a> -->
                <!-- <a class="dropdown-item" [routerLink]="['/settings']">{{
                  "DASHBOARD" | translate }}</a> -->
                <!-- <a class="dropdown-item" routerLink="/artist/basic">{{ "EDITPROFILE" | translate }}</a> -->

                <div class="dropdown-divider"> </div>
                <!-- <a class="dropdown-item" href="#">登出</a> -->
                <button class="dropdown-item signout" (click)="Signout()">{{ "SIGNOUT" | translate }}</button>
              </div>
            </li>

          </ul>
        </div>
      </form>
      <!-- <i style="color: #fff!important;" class="fas fa-globe"></i> -->
      <form id="index_login" *ngIf="authStoreSrv.isLoggedOut$ | async" class="form-inline my-2 my-lg-0">
        <a routerLink="/signin">登入</a> <a routerLink="/signup" [routerLinkActive]="['active']">註冊</a>
      </form>


    </div>
  </div>
</nav>

<!--Modal login mail-->
<app-modal [modalid]="'modal_login_mail'">

  <div header>

  </div>
  <div body>
    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
      <span></span>
    </button>
    <div class="text-center mb-4">
      <h3>{{ "EMAILSIGNIN" | translate }}</h3>
    </div>
    <div [formGroup]="signinEmailForm" class="row text-center">
      <input class="modal_input w-100 mb-2" type="text" id="emailsignin" placeholder="{{ 'EMAILSIGNIN' | translate }}"
        (focus)="this.placeholder = ''" (blur)="setBlur('emailsignin', 'EMAILSIGNIN')" />
      <input class="modal_input w-100 mb-2" type="password" id="headeremailpassword"
        placeholder="{{ 'PASSWORD' | translate }}" (focus)="this.placeholder = ''"
        (blur)="setBlur('headeremailpassword', 'PASSWORD')" />
      <button (click)="onSignIn()" class="model_btn_normal mb-2 w-100">
        {{ "SIGNIN" | translate }}
      </button>
      <div *ngIf="IsSignInFailed" class="invalid">{{LoginFailedMsg}}</div>
      <div class="w-100">
        <div class="float-left">
          <a href="#" data-toggle="modal" data-target="#modal_register" data-dismiss="modal">
            {{ "REGISTER" | translate }}</a>
        </div>
        <div class="float-right">
          <a href="#" data-toggle="modal" data-target="#modal_forget_password" data-dismiss="modal">{{ "FORGOTPASSWORD"
            | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<!--Modal forget password-->
<div class="modal fade" id="modal_forget_password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h3>{{ "FORGOTPASSWORD" | translate }}</h3>
        </div>
        <div class="row text-center">
          <input class="modal_input w-100 mb-2" type="text" id="signinPassword" placeholder="{{ 'EMAIL' | translate }}"
            [(ngModel)]="ForgotPasswordEmail" (focus)="this.placeholder = ''"
            (blur)="setBlur('signinPassword', 'PASSWORD')" />
          <!-- <button class="model_btn_normal mb-2 w-100" data-target="#modal_password_thanks" data-toggle="modal"
            (click)="onResetPassword()" data-dismiss="modal">
            {{ "SEND" | translate }}
          </button> -->
          <button class="model_btn_normal mb-2 w-100" (click)="onResetPassword()">
            {{ "SEND" | translate }}
          </button>
        </div>
        <div class="text-center mb-4">
          <app-loading *ngIf="pswloading"></app-loading>
        </div>
        <div [ngClass]="{ 'error-msg': pswMsgFailed == false }" class="text-center mb-4">
          <p> {{pswActionMsg}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal register-->
<div class="modal fade" id="modal_register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h2>{{ "IAMA" | translate }}</h2>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <a routerLink="/register-artist"><button data-dismiss="modal" aria-label="Close" class="model_btn_normal">
                {{ "IAMCREATOR" | translate }}
              </button></a>
            <p class="mt-2 model-p-small">{{ "IAMCREATORDEC" | translate }}</p>
          </div>
          <div class="col-md-6">
            <a routerLink="/register-collector"><button data-dismiss="modal" aria-label="Close"
                class="model_btn_normal">
                {{ "COLLECTOR" | translate }}
              </button></a>
            <p class="mt-2 model-p-small">
              {{ "IAMCOLLECTORDEC" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal password thank you-->
<app-modal [modalid]="'modal_password_thanks'">
  <div body>
    <div class="row text-center">
      <p>{{ "ANEWPASSWORDHASBEENSENT" | translate }}</p>
      <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
        {{ "CONFRIM" | translate }}
      </button>
    </div>
  </div>
</app-modal>

<!--Modal wallet wrong-->
<app-modal [modalid]="'modal_wallet_wrong'">
  <div body>
    <div class="row text-center">
      <p>{{ "NOTFOUNDWALLET" | translate }}</p>
      <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
        {{ "CONFRIM" | translate }}
      </button>
    </div>
  </div>
</app-modal>
<!-- [hidden]="true" -->
<button id="openCollectorheaderModalButton" [hidden]="true" data-toggle="modal"
  data-target="#modal_collector_header_guide">Open
  Modal</button>
<div class="modal fade" id="modal_collector_header_guide" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="    max-width: 700px;">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">╳</span>
                </button> -->
      </div>
      <div class="modal-body">
        <div id="intro">


        </div>
      </div>
    </div>
  </div>
</div>

<button id="openArtistModalButton" [hidden]="true" data-toggle="modal" data-target="#modal_artist_header_guide">Open
  Modal</button>
<div class="modal fade" id="modal_artist_header_guide" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="    max-width: 700px;">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">╳</span>
                </button> -->
      </div>
      <div class="modal-body">
        <div id="intro">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- <button style="background-color: black;height: 150px;" id="openCollectorheaderModalButton11111" data-toggle="modal"
  data-target="#modal_collector_header_guide">Open
  Modal111111111</button> -->
