.main-menu nav > ul > li {
    display: inline-block;
    margin: 0 18px;
    position: relative;
  }
  .main-menu nav > ul > li > a {
    color: #333333;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0.4px;
    padding: 0 0 15px;
    text-transform: capitalize;
  }
  .main-menu nav > ul > li:hover > a,
  .sidebar-mega-menu nav > ul > li:hover > a {
    color: #fea1ac;
  }

  .par-5{
    padding-right: 5px;
  }
