<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/index">
      <img src="./../../../assets/images/formosa_head_logo.svg" width="100" height="30" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/index">{{ "HOME" | translate }} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/gallery">{{
            "GALLERY" | translate
            }}</a>
        </li>

        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/artists">{{
            "ARTISTS" | translate
            }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/activity">{{
            "ACTIVITY" | translate
            }}</a>
        </li>
        <div>
          <h3 style="color:red">{{this.DemoSite}}</h3>
        </div>
        <!-- <li class="nav-item">
          <a *ngIf="authStoreSrv.isLoggedOut$ | async" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }" data-toggle="modal" [attr.data-target]="'#modal_register'"
            class="nav-link">{{ "SIGNUP" | translate }}</a>
        </li> -->
      </ul>

      <!-- <i style="color: #fff!important;" class="fas fa-globe"></i> -->
      <form id="index_login" *ngIf="authStoreSrv.isLoggedOut$ | async" class="form-inline my-2 my-lg-0 text-white">

        <a (click)="walletSignin()" class="text-white">
          <i class="far fa-arrow-alt-circle-right"></i>
          {{ "WALLETSIGNIN" | translate }}</a>｜
        <a data-toggle="modal" [attr.data-target]="'#modal_login_mail'" class="text-white">{{ "EMAILSIGNIN" | translate
          }}</a>｜<a class="text-white" [routerLinkActive]="['active']" data-toggle="modal"
          [attr.data-target]="'#modal_register'">{{ "SIGNUP" | translate }}</a>

      </form>

      <form *ngIf="authStoreSrv.isLoggedIn$ | async" id="index_login" class="form-inline my-2 my-lg-0 text-white">
        <div *ngIf="this.currentUser.roles.admin">

          <a class="dropdown-item" style="color:rgba(255, 255, 255, 0.5)" routerLink="/admin/dashboard">Admin</a>
        </div>
        <div *ngIf="this.currentUser.roles.artist" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle par-5"></i>{{ "MEMBERMANAGEMENT" | translate }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/artist/collection">{{ "MANAGEMENTEDITION" | translate }}</a>
                <a class="dropdown-item" routerLink="/artist/upload">{{ "UPLOADEDITION" | translate }}</a>
                <a class="dropdown-item" routerLink="/artist/sold">{{ "SOLDEDITION" | translate }}</a>
                <a class="dropdown-item" routerLink="/artist/basic">{{ "PROFILE" | translate }}</a>
                <a class="dropdown-item" routerLink="/artist/account">{{ "ACCOUNTPASSWORD" | translate }}</a>
                <a class="dropdown-item" routerLink="/artist/favorite">{{ "MYFAVOURITES" | translate }}</a>
                <div class="dropdown-divider"> </div>
                <!-- <a class="dropdown-item" href="#">登出</a> -->
                <button class="dropdown-item" (click)="Signout()">{{ "SIGNOUT" | translate }}</button>
              </div>

            </li>

          </ul>
        </div>
      </form>
      <!-- <ng-container *ngIf="auth.user$ | async as user"> -->
      <form *ngIf="authStoreSrv.isLoggedIn$ | async" id="index_login" class="form-inline my-2 my-lg-0 text-white">

        <div *ngIf="this.currentUser.roles.collector" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user-circle par-5"></i>{{ "MEMBERMANAGEMENT" | translate }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" *ngIf="this.currentUser.ethaddress"
                  [routerLink]="['/u',this.currentUser.ethaddress]">{{ "PROFILE" | translate
                  }}</a>
                <a class="dropdown-item" routerLink="/collector/collection">{{ "COLLECTION" | translate }}</a>
                <a class="dropdown-item" routerLink="/collector/offer">{{ "BIDEDITION" | translate }}</a>
                <a class="dropdown-item" routerLink="/collector/sales">{{ "SALESEDITION" | translate }}</a>
                <a class="dropdown-item" routerLink="/collector/account">{{ "ACCOUNTPASSWORD" | translate }}</a>
                <a class="dropdown-item" routerLink="/collector/favorite">{{ "MYFAVOURITES" | translate }}</a>
                <div class="dropdown-divider"> </div>
                <button class="dropdown-item" (click)="Signout()">{{ "SIGNOUT" | translate }}</button>
              </div>

            </li>

          </ul>
        </div>
      </form>
    </div>
  </div>
</nav>

<!--Modal login mail-->
<app-modal [modalid]="'modal_login_mail'">

  <div header>

  </div>
  <div body>
    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
      <span></span>
    </button>
    <div class="text-center mb-4">
      <h3>{{ "EMAILSIGNIN" | translate }}</h3>
    </div>
    <div [formGroup]="signinEmailForm" class="row text-center">
      <input class="modal_input w-100 mb-2" type="text" id="emailsignin" formControlName="email"
        placeholder="{{ 'EMAILSIGNIN' | translate }}" (focus)="this.placeholder = ''"
        (blur)="setBlur('emailsignin', 'EMAILSIGNIN')" />
      <input class="modal_input w-100 mb-2" type="password" id="emailpassword" formControlName="password"
        placeholder="{{ 'PASSWORD' | translate }}" (focus)="this.placeholder = ''"
        (blur)="setBlur('emailpassword', 'PASSWORD')" />
      <button (click)="onSignIn()" class="model_btn_normal mb-2 w-100">
        {{ "SIGNIN" | translate }}
      </button>
      <div *ngIf="IsSignInFailed" class="invalid">{{LoginFailedMsg}}</div>
      <div class="w-100">
        <div class="float-left">
          <a href="#" data-toggle="modal" data-target="#modal_register" data-dismiss="modal">
            {{ "REGISTER" | translate }}</a>
        </div>
        <div class="float-right">
          <a href="#" data-toggle="modal" data-target="#modal_forget_password" data-dismiss="modal">{{ "FORGOTPASSWORD"
            | translate }}</a>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<!--Modal forget password-->
<div class="modal fade" id="modal_forget_password" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h3>{{ "FORGOTPASSWORD" | translate }}</h3>
        </div>
        <div class="row text-center">
          <input class="modal_input w-100 mb-2" type="text" id="signinPassword" placeholder="{{ 'EMAIL' | translate }}"
            [(ngModel)]="ForgotPasswordEmail" (focus)="this.placeholder = ''"
            (blur)="setBlur('signinPassword', 'PASSWORD')" />
          <!-- <button class="model_btn_normal mb-2 w-100" data-target="#modal_password_thanks" data-toggle="modal"
            (click)="onResetPassword()" data-dismiss="modal">
            {{ "SEND" | translate }}
          </button> -->
          <button class="model_btn_normal mb-2 w-100" (click)="onResetPassword()">
            {{ "SEND" | translate }}
          </button>
        </div>
        <div class="text-center mb-4">
          <app-loading *ngIf="pswloading"></app-loading>
        </div>
        <div [ngClass]="{ 'error-msg': pswMsgFailed == false }" class="text-center mb-4">
          <p> {{pswActionMsg}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal register-->
<div class="modal fade" id="modal_register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <h2>{{ "IAMA" | translate }}</h2>
        </div>
        <div class="row text-center">
          <div class="col-md-6">
            <a routerLink="/register-artist"><button data-dismiss="modal" aria-label="Close" class="model_btn_normal">
                {{ "IAMCREATOR" | translate }}
              </button></a>
            <p class="mt-2 model-p-small">{{ "IAMCREATORDEC" | translate }}</p>
          </div>
          <div class="col-md-6">
            <a routerLink="/register-collector"><button data-dismiss="modal" aria-label="Close"
                class="model_btn_normal">
                {{ "COLLECTOR" | translate }}
              </button></a>
            <p class="mt-2 model-p-small">
              {{ "IAMCOLLECTORDEC" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal password thank you-->
<app-modal [modalid]="'modal_password_thanks'">
  <div body>
    <div class="row text-center">
      <p>{{ "ANEWPASSWORDHASBEENSENT" | translate }}</p>
      <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
        {{ "CONFRIM" | translate }}
      </button>
    </div>
  </div>
</app-modal>

<!--Modal wallet wrong-->
<app-modal [modalid]="'modal_wallet_wrong'">
  <div body>
    <div class="row text-center">
      <p>{{ "NOTFOUNDWALLET" | translate }}</p>
      <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
        {{ "CONFRIM" | translate }}
      </button>
    </div>
  </div>
</app-modal>
