.fixed-top {
  z-index: 100;
  border-bottom: 1px solid #dee2e6;
}

.logo {
  color: #56BDF4;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  font-family: 'Baloo+2';
}

.par-5 {
  padding-right: 5px;
}

.profile-image {
  height: 30px;
  width: 30px;
}

.invalid {
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
}

#index_login {
  margin-top: 7px !important;
}

@media (min-width: 992px) {}

.dropdown-item {
  color: #69738C;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;

  a {
    color: #56BDF4 !important;
  }

  a:hover {
    color: #FF859A !important;
  }
}

.dropdown-item:hover {
  color: #FF859A !important;
}

.fa-bell {
  color: #8F95A8;
}


.dropdown-menu {
  box-shadow: 2px 2px 16px 2px #10184014;
  border: 0px !important;
  top: 150% !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #69738C;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


.signout {
  color: #210b2c;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.min-width-1 {
  min-width: 1rem !important;
}

.lang-box {
  display: grid;
  // padding: 16px 16px;
  min-width: max-content;
  // gap: 16px;

  /*  box-shadow: -2px -2px 4px rgb(0 0 0 / 8%), 2px 2px 4px rgb(0 0 0 / 8%); */
  border-radius: 4px;

  .dropdown-item {
    padding-left: 16px;
    padding-right: 16px;

  }

  .selected {
    color: #56BDF4;
  }
}


.notification-box {
  display: grid;
  padding: 16px 16px;
  min-width: max-content;
  gap: 16px;

  /*  box-shadow: -2px -2px 4px rgb(0 0 0 / 8%), 2px 2px 4px rgb(0 0 0 / 8%); */
  border-radius: 4px;

  .notification-more {
    color: #56BDF4;
  }

  .fa-bell {
    font-size: 20px;
  }
}

.notification {
  display: flex;
  gap: 18px;
  color: #424B61 !important;

  .notifciation-row {
    display: grid;
    grid-auto-flow: row;
    padding-right: 20px;

    .notifciation-date {
      color: #8F95A8 !important;
      font-size: 12px;
    }

    .font-20 {
      font-size: 20px;
    }
  }


}

.notification-dot {
  height: 12px;
  width: 12px;
  background-color: rgb(255, 51, 86);
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  position: relative;
  top: -12px;
  left: -8px;
}



.dropdown-item.active {
  color: #459CCA !important;
  text-decoration: none;
  background-color: transparent;
}


i.noti {
  position: relative;
  display: block;
  font-size: 24px;

  background-size: contain;
  text-decoration: none;
  color: #8F95A8;


}

.background-gray {
  background-color: #F1F2F5;
  padding: 8px 10px 8px 10px;
  border-radius: 50%;
}

i.noti:hover {
  color: #56BDF4;
}


i.message {
  color: #8F95A8;
  font-size: 24px;
}

i.message:hover {
  color: #56BDF4;
}

.num {
  position: absolute;
  right: 11px;
  top: 6px;
  color: red;
}

#navbarNotifDropdown {
  position: relative;
}

#navbarLangDropdown {
  position: relative;


  .dropdown-item:hover {
    color: #FF859A;
  }

  .selected {
    color: #56BDF4 !important;
  }
}

#navbarLangDropdown:hover {
  .dropdown-menu {
    display: block;

    .selected {
      color: #56BDF4;
    }
  }
}
