<div id="content-mt" class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title"> {{ "FORARTISTTITLE" | translate }}</span></h1>
        </div>
    </div>

    <div class="row mt-40 ">
        <!-- <div class="col-md-5 offset-md-1">
                <img class="w-100" src="./../../../assets/images/footer_artist.jpg" alt="">
            </div> -->
        <div class="col-md-12 text-justify footer_text mt-30  f-22">
            {{ "FORARTIST1" | translate }}
        </div>

    </div>
    <div class="row mt-20 ">
        <!-- <div class="col-md-5 offset-md-1">
                    <img class="w-100" src="./../../../assets/images/footer_artist.jpg" alt="">
                </div> -->
        <div class="col-md-12 text-justify footer_text  f-22">
            {{ "FORARTIST2" | translate }}
        </div>
    </div>
    <div class="row mt-20 ">

        <div class="col-md-12 text-justify footer_text  f-22">
            {{ "FORARTIST3" | translate }}
        </div>
    </div>
    <div class="row mt-20 ">

        <div class="col-md-12 text-justify footer_text  f-22">
            {{ "FORARTIST4" | translate }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <img class="w-100" src="./../../../assets/artist_flow.svg" alt="" />
        </div>
    </div>
    <div class="row mt-40 mb-20">
        <div class="col-md-8"></div>
        <div class="col-md-4" style="float: right;">
            <a routerLink="/register-artist" class="text-white">
                <button class="index_btn_explore1 w-100 mt-30 mb-40"> {{ "FORARTISTLOOKING" | translate }}</button>
            </a>
        </div>
    </div>
</div>
<!-- We hope to enable digital creators to monetize their work and interact with their public and collectors on a significant
and transparent basis.

Join our art community to tokenized, authenticate, showcase and sell your artworks via FormosArt.io. All artworks files
are stored on IPFS (a distributed storage solution), which is permanently embedded in a blockchain.

These assets have unique identifiers, which can be tracked for chain of ownership and provenance with a trustworthy and
reliable source that everyone can view online.

To become an artist or contributor on FormosArt you must create a profile page. This is typically a profile picture, bio
and social accounts such as Twitter and Instagram and can be done via the profile settings page. Artists will need to
have a digital wallet such as MetaMask.io installed before upload artworks. -->
