    <div id="content-mt" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="footer_title_line"><span class="footer_title">數位藝術家</span></h1>
            </div>
        </div>
        <div class="row mt-40 ">
            <div class="col-md-5 offset-md-1">
                <img class="w-100" src="./../../../assets/images/footer_artist.jpg" alt="">
            </div>
            <div class="col-md-4 text-justify footer_text mt-30 ">
                Formosa- 意思是“美麗之島”, 我們將會把妳們的作品轉成在區塊鏈上的數位資產，每一個作品會都是一個數位資產，此數位資產可以在所有建立在乙太坊區塊鏈上應用程式上展示與拍賣，而您自己可以收藏或拍賣讓全世界想收藏的人購買收藏著。
                <a routerLink="/register-artist" class="text-white">
                    <button class="btn_large w-100 mt-30 mb-40">申請帳號，加入我們</button>
                </a>
            </div>

        </div>
    </div>
