.invalid {
        width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

#select_img{
       position: relative;
}

  #select_img .close {
    position: absolute;
    right: 16px;
    top: -10px;
    z-index: 100;
 color: red;
    font-size: 40px;
}

.title {
  font-size: 36px;
    font-family: "Noto Serif JP", sans-serif;
        font-weight: 500;
}
.member_artist_delete{
    position: absolute;
    display:block;
    top:0;
    left:calc(73% + 32px);
    width:30px;
    height:30px;
    line-height:30px;
    font-size:18px;
    background-color:#00FF90;
    border-color: #00FF90;
    color:#FFF;
    border-radius:50%;
}
