<div class="row">
    <div class="col-md-4">
        <select class="sort_dropdown w-100">
            <option value="LATEST">{{ "LATEST" | translate }}</option>
            <option value="OLDEST">{{ "OLDEST" | translate }}</option>
            <option value="EXPENSIVE">{{ "EXPENSIVE" | translate }}</option>
            <option value="CHEAPEST">{{ "CHEAPEST" | translate }}</option>
        </select>
    </div>
    <div class="col-md-8">
        <form class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
            <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search"
                aria-label="Search">
            <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
        </form>
    </div>
</div>
<hr>

<div id="member-artist-project" class="row mt-30">
    <ng-container *ngIf="artworks.length == 0">
        <div style="width: 100%;font-size: 1.5rem;" class="text-center">{{ "NOARTWORK" | translate }}</div>
    </ng-container>
    <ng-container *ngFor="let artwork of artworks">
        <div id="member-artist-project" class="row mt-30">
            <div class="col-md-4">
                <a routerLink="/gallery/{{ artwork.idfilter }}" target="_blank"><img class="mb-10"
                        src="{{artwork.imageUrl}}" alt=""></a>
            </div>
            <div class="col-md-8">
                <ul class="member_artist_detail_list">
                    <li>
                        <h5>{{artwork.name}}</h5>
                    </li>
                    <li>
                        {{ "CREATOR" | translate }}：{{artwork.artist.name}}
                    </li>
                    <li>
                        {{ "PRICE" | translate }}：Ξ {{getETHPrice(artwork.usdValue)}} / USD {{artwork.usdValue}}
                    </li>
                    <li>
                        {{ "EDITIONS" | translate }}：{{artwork.totalamount}}/#{{artwork.number}}
                    </li>
                    <li>
                        {{ "FAVOURITES" | translate }}：{{artwork.liked}}
                    </li>
                </ul>

            </div>
        </div>
    </ng-container>

</div>

<div *ngIf="artworks.length >3" class="text-center pagenation_center mb-40">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
