<div class="row">
    <div class="col-md-12">
        <h1>My Notifications</h1>
    </div>
</div>
<ng-container *ngIf="notifications">
    <ng-container *ngFor="let item of  notifications; let i = index">
        <div class="row mt-10">

            <div class="col-md-12 form-inline">
                <span style="padding-right: 5px;"><i class="far fa-bell icon"></i></span>
                <p class="msg-content">
                    <b>
                    </b>{{item.content}}
                    <span style="float:right;margin-right: 10px;">{{item.time| date : 'yyyy-MM-dd HH:mm'}}</span>
                </p>
            </div>

        </div>
    </ng-container>
</ng-container>
