.button-center{
      display: flex;
  align-items: center;
  justify-content: center;
}

.icon_gray {
      background-color: #e3e6ea;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
}

.msg-content{
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-left: 5px;
  margin-bottom: 0px!important;
}
