<div class="card mt-3 cursor-pointer">
  <div class="d-flex">
    <p class="text-md m-0">{{_project.name}}
    </p>

  </div>
  <div class="d-flex justify-right">
    <p class="text-xs grey-50 mb-0 color-gray">
      {{ _project.viewCount?_project.viewCount:"0"}}&nbsp;{{ "VIEWNUM" | translate
      }}/ {{_project.followCount? _project.followCount: 0}}&nbsp;{{ "FOLLOW" | translate
      }}
    </p>
  </div>

  <div class="d-flex align-items-center justify-right">
    <a *ngIf="isShowEdit" class="clickable color-gray" [routerLink]="['/myproject/'+this._project?.id+'/profile']">
      <svg-icon src="assets/icons/pencil.svg"></svg-icon>
    </a>
    <a *ngIf="isShowUser" class="clickable color-gray" [routerLink]="['/myproject/'+this._project?.id+'/members']">
      <i class="far fa-user icon"></i>
    </a>
    <a *ngIf="isShowSetting" class="clickable color-gray" [routerLink]="['/myproject/'+this._project?.id+'/settings']">
      <i class="fas fa-cog icon"></i>
    </a>
    <a *ngIf="isShowRemove" class="clickable color-gray" (click)="onClickDelete(this._project?.id)">
      <i class="far fa-trash-alt icon"></i>
    </a>

  </div>
</div>
