app-project-bar {
  color: #000;

  .card {
    padding: 12px 24px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    // justify-content: space-between;
    grid-template-columns: 30% 1fr 20%;
    transition: 200ms;
    flex-direction: row;
  }

  .justify-right {
    justify-content: right;
  }



  .card:hover {
    border: 2px solid var(--action-pri-active);
  }

  .card:hover .dropdown {
    display: block;
  }







}
