<div id="findcontent" class="container mb-50 row">
  <div class="col-md-3">
    <aside class="sidebar  shadow-lg">
      <nav class="sidebar-menu pt-3 pb-3">
        <ul class="menu-items" style="padding-left: 20px;">
          <li>
            <i class="fas fa-home icon"></i>
            <p>Home</p>
          </li>
          <li>
            <p>訊息</p>
          </li>
          <li>
            <p>我的專案</p>
          </li>
          <li>
            <p>我的收藏</p>
          </li>
          <li>
            <p>設定</p>
          </li>
        </ul>

      </nav>
    </aside>

  </div>
  <div class="col-md-9">

    <div class="frame mt-100">
      <div class="row">
        <div class="col-md-6">
          <h3>身分驗證</h3>
        </div>
        <div class="col-md-6 text-right form-inline">
          <div class="w3-light-grey" style="width: 80%;padding-right: 10px;">
            <div class="w3-grey" style="height:24px;width:20%"></div>
          </div>
          <span style="margin-left: 10px;">20%</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 content">
          <ul class="menu-items" style="padding-left: 20px;">

            <li>
              <input type="checkbox" />
              <label style="margin-left: 10px;" for="firsttimeInput">Email驗證</label>
            </li>
            <li>
              <input type="checkbox" />
              <label style="margin-left: 10px;" for="firsttimeInput">個人資料</label>
            </li>
            <li>
              <input type="checkbox" />
              <label style="margin-left: 10px;" for="firsttimeInput">與一名會員互相追蹤</label>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="row mt-50">
      <div class="col-md-12">
        <h3>近期動態</h3>
      </div>
    </div>
    <div class="frame mb-20">
      <div class="row">
        <div class="col-md-6" style=" display:inline-block;">
          <span style="font-size: 25px;padding-right: 20px;">專案名稱</span>
          <span>YYYY年MM月</span>~<span>YYYY年MM月</span>
        </div>
        <div class="col-md-6 text-right">
          <i class="fas fa-pencil-alt"></i>
        </div>
      </div>
      <div class="row mt-20">
        <div class="col-md-12 content">
          工作內容
        </div>

      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
