.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 2%;
}

.left {
  left: 0;
  background-color: #f7f7f7;
}

.right {
  right: 0;
  background-image: url(../../../assets/signupbg.png);
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 450px;
  height: 320px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  margin-top: -230px;
  height: 20%;
}

.text {
  color: #ffffff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.login {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 62px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.input {
  background-color: #FFFFFF;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
  width: 60%;
  height: 55px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif, ;
  font-weight: 300;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.invalid {
  color: red;
  font-size: 14px;
}

.google_icon {
  width: 30px !important;
  height: 30px !important;
  margin-right: 15px;
}

.FB_icon {
  width: 15px !important;
  height: 30px !important;
  margin-right: 15px;
}
