.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
input[type="checkbox"] {
  transform: scale(1.5);
}

.mr-5 {
  margin-right: 5px;
}

.error-msg {
  color: #dc3545;
  margin-top: -10px;
    margin-bottom: 20px;
}

.pl-10 {
  padding-left: 10px;
}
