<!--header-->
<div class="container-fluid bgc-grey">
  <div class="row bgc-white">
    <div class="col-md-12">
      <div class="text-center signup-logo">
        <img src="./../../../assets/images/formosa_logo_bgwhite.svg" alt="" />
        <h1 class="text-center mb-20">我要加入成為收藏家成員</h1>
        <p class="text-center pb-30 signup_discript">
          您可以選擇以帳密註冊，或是以虛擬錢包註冊。
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="register_table" class="container">
      <div class="row">
        <div class="col-md-12 text-center mt-40">
          <div class="signup-subtitle-wrap">
            <span class="signup-subtitle">
              <input
                type="radio"
                name="haveOwner"
                [value]="0"
                [(ngModel)]="registerType"
                class="mr-1"
                [ngModelOptions]="{ standalone: true }"
              /><span class="text-green">Email</span> {{ 'SIGNUP' | translate }}</span
            >
          </div>
        </div>
        <div class="row col-md-12" [formGroup]="registerForm">
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">E-mail</label>
              <input
                [readonly]="IsEnableEmailSignup()"
                type="email"
                class="form-control"
                aria-describedby="emailHelp"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    (registerForm.get('email').touched ||
                      registerForm.get('email').dirty) &&
                    registerForm.get('email').invalid
                }"
              />
            </div>
            <div *ngIf="submitted && f.email.errors">
              <div class="error-msg" *ngIf="f.email.errors.required">
                Email is required
              </div>
              <div class="error-msg" *ngIf="f.email.errors.pattern">
                Invalid email address
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">{{ 'PASSWORD' | translate }}</label>
              <input
                [readonly]="IsEnableEmailSignup()"
                type="password"
                class="form-control"
                formControlName="password"
                aria-describedby="passwordHelp"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
            </div>
            <div *ngIf="submitted && f.password.errors">
              <div class="error-msg" *ngIf="f.password.errors.required">
                Password is required
              </div>
              <div class="error-msg" *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center mt-40">
          <div class="signup-subtitle-wrap">
            <span class="signup-subtitle">
              <input
                type="radio"
                name="haveOwner"
                [value]="1"
                class="mr-1"
                [(ngModel)]="registerType"
                [ngModelOptions]="{ standalone: true }"
              /><span class="text-green">{{ 'WALLET' | translate }}</span> {{ 'SIGNUP' | translate }}</span
            >
          </div>
          <!-- <p class="register_info text-danger">
            我們提供兩種取得虛擬錢包位址的方式，請擇一使用。
          </p> -->
        </div>

        <div class="col-md-12 mb-40">
          <!-- <div class="form-group">
            <label for="exampleInputEmail1"
              ><i class="fas fa-play-circle"></i> 手動輸入虛擬錢包位址</label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="手動輸入"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary input_btn_normal"
                  type="button"
                >
                  確定輸入錢包
                </button>
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label for="exampleInputEmail1"
              ><i class="fas fa-play-circle"></i> {{ 'CONNECTWALLET' | translate }}</label
            >
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="不需輸入"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                [(ngModel)]="wellatAddress"
                [ngModelOptions]="{ standalone: true }"
                readonly
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary input_btn_normal"
                  type="button"
                  (click)="WellectConnect()"
                  [disabled]="IsEnableWalletSignup()"
                >
                  {{ "CONNECTTOWALLET" | translate }}
                </button>
              </div>
            </div>
          </div>
          <p>備註：目前只開放「MetaMask」註冊。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-40 mb-40">
  <div class="mb-30">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="inlineCheckbox1"
        [(ngModel)]="IsAgree"
      />
      <label class="form-check-label pl-10" for="inlineCheckbox1">
        {{ "IAGRESSWITH" | translate
        }}<a href="privacy.html" target="_blank" class="inline_text">
          {{ "TERMSOFSERVICE" | translate }}</a
        ></label
      >
    </div>
  </div>
  <button
    [attr.disabled]="IsAgree ? null : true"
    class="btn_normal mb-40"
    (click)="register()"
  >
    {{ "SUBMITBYARTIST" | translate }}
  </button>
  <div class="error-msg" *ngIf="errorMsg">{{ errorMsg }}</div>
</div>
