 <div class="container-fluid bgc-grey">

        <div class="row bgc-member">
            <div class="col-md-12">
                <div class="text-center signup-logo">
                    <img class="rounded-circle member_img_w" src="./assets/images/artist-photo.jpg" alt="">
                    <h1 class="text-center" style="margin-top:10px;">Raamin ka</h1>
                    <p class="text-center pb-10 signup_discript">
                        Follow <span class="text-green1">231</span>  ｜Follower <span class="text-green1">45</span></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="register_table" class="container">
                <div class="row mt-50">
                    <div class="col-md-2">

                        <ul class="member_ul">
                           <a [routerLinkActive]="['active']"

                               routerLink="/artist/collection"> <li class="member_side_navi">
                                {{ "MANAGEMENTEDITION" | translate }}
                            </li></a>
                            <a [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }"
                               routerLink="/artist/upload"><li class="member_side_navi w-100">
                                {{ "UPLOADEDITION" | translate }}
                            </li></a>
                            <a [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }"
                               routerLink="/artist/sales"><li class="member_side_navi w-100">
                               {{ "SOLDEDITION" | translate }}
                            </li></a>
                            <a [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }"
                               routerLink="/artist/basic"><li class="member_side_navi w-100">
                                {{ "PROFILE" | translate }}
                            </li></a>
                             <a [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }"
                               routerLink="/artist/account"><li class="member_side_navi w-100">
                               {{ "ACCOUNTPASSWORD" | translate }}
                            </li></a>
                            <a [routerLinkActive]="['active']"
                               [routerLinkActiveOptions]="{ exact: true }"
                               routerLink="/artist/favorite"><li class="member_side_navi w-100">
                                {{ "MYFAVOURITES" | translate }}
                            </li></a>
                        </ul>
                    </div>

                    <div class="col-md-9 offset-md-1">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>

    </div>
