<div class="container-fluid bgc-grey">

    <div class="row bgc-member ">
        <div class="col-md-12 mt-50 mb-60">
            <div class="text-center signup-logo">
                <app-editableInput (update)="updateField()">
                    <ng-template viewMode>
                        <h1 class="text-center">
                            <a> {{ GetCurrentUserName()}}
                                <i class="fas fa-user-edit"></i></a>
                        </h1>
                    </ng-template>
                    <ng-template editMode>
                        <input [(ngModel)]="UserName" focusable editableOnEnter>
                    </ng-template>
                </app-editableInput>
                <!-- <ng-container *ngIf="!IsEdit  ; else editMode">
                        <h1 class="text-center">{{ GetCurrentUserName()}}
                            <a (click)="SetEditMode()"><i class="fas fa-user-edit" ></i></a>
                        </h1>
                    </ng-container>
                    <ng-template #editMode>
                          <input type="text" class="form-control" id="" aria-describedby="" >
                    </ng-template> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div id="register_table" class="container">
            <div class="row mt-50 mb-60">
                <div class="col-md-2">
                    <ul class="member_ul">
                        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/collector/collection">
                            <li class="member_side_navi">
                                {{ "COLLECTION" | translate }}
                            </li>
                        </a>
                        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/collector/offer">
                            <li class="member_side_navi">
                                {{ "BIDEDITION" | translate }}
                            </li>
                        </a>
                        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/collector/sales">
                            <li class="member_side_navi">
                                {{ "SALESEDITION" | translate }}
                            </li>
                        </a>
                        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/collector/account">
                            <li class="member_side_navi w-100">
                                {{ "ACCOUNTPASSWORD" | translate }}
                            </li>
                        </a>
                        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                            routerLink="/collector/favorite">
                            <li class="member_side_navi w-100">
                                {{ "MYFAVOURITES" | translate }}
                            </li>
                        </a>
                    </ul>
                </div>

                <div class="col-md-9 offset-md-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>
