<!-- comment start -->

<div class="comment" [ngClass]="{ 'sender': receiver ===true }">

  <img *ngIf="!receiver" class="avatar" src="{{avatar}}" [attr.alt]="name">
  <span *ngIf="receiver === true" class="timestamp"><span>{{ timestamp }}</span></span>
  <!-- text start -->
  <div class="text" [ngClass]="{ 'sender_text': receiver ===true }"><span>{{ text }}</span></div>
  <!-- <div #comment class="text" *ngIf="text.length > 300">{{ text.slice(0, 300) + '...' }}</div> -->
  <!-- text end -->
  <span *ngIf="receiver !== true" class="timestamp"><span>{{ timestamp }}</span></span>
  <!-- <ui-button [attr.aria-hidden]="isExpanded" *ngIf="text.length > 300" class="text-green readmore" (click)="onExpand()">
    Read More</ui-button> -->
</div>
<!-- comment end -->
