* {
    background-color: white;
}

.container {
    min-height: 95vh;
}

h4 {
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid #000; */
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h4 span {
    background: #fff;
    padding: 0 10px;
}


.next-font {
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 56px;
}

a {
    color: black;
}



.frame {
    padding: 15px;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.btn-continue {
    background-color: #56BDF4;
    color: white;
    width: 100%;
}

.mr-5 {
    margin-right: 5px;
}

.option {
    min-height: 312px;
    padding-bottom: 94px;
    filter: drop-shadow(0px 8px 30px rgba(16, 24, 64, 0.2));
    border-radius: 4px;
    // box-shadow: 0px 8px rgba(16, 24, 64, 0.2);
    padding-left: 2px;
    padding-right: 2px;
}

.profile_image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.align-items-center {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.image_deleted {
    position: absolute;
    display: block;

    left: calc(75% + 32px);
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background-color: #00FF90;
    border-color: #00FF90;
    color: #FFF;
    border-radius: 50%;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.active {
    // border-color: #FF859A;
    border: 2px solid #9AD7F8 !important;
    color: #9AD7F8 !important;
}

.option:hover {
    color: #FF859A !important;
    // border-color: #FF859A !important;
    border: 2px solid #FF859A !important;
    text-decoration: none !important;
}

.btn-step {
    padding: 6px 169px;
    background-color: #2EC2E2;
    color: white;
}

.box-img {
    width: 90%;
}
