* {
    background-color: white;
}

.container {
    min-height: 95vh;
}

h4 {
    width: 100%;
    text-align: center;
    /* border-bottom: 1px solid #000; */
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h4 span {
    background: #fff;
    padding: 0 10px;
}


.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--grey-12);
}

.separator:not(:empty)::before {
    margin-right: .5em;
}

.separator:not(:empty)::after {
    margin-left: .5em;
}

.next-font {
    font-family: 'Roboto';
    font-weight: 600;
    line-height: 56px;
}

a {
    color: black;
}

.btn-social {
    border: 2px solid #ced4da;
    border-radius: 3px;
    height: 50px;
}

.frame {
    padding: 15px;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.btn-continue {
    background-color: #56BDF4;
    color: white;
    width: 100%;
}

.mr-5 {
    margin-right: 5px;
}

.option {
    min-height: 312px;
    padding-bottom: 94px;
}

.profile_image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.align-items-center {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.image_deleted {
    position: absolute;
    display: block;

    left: calc(75% + 32px);
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background-color: #00FF90;
    border-color: #00FF90;
    color: #FFF;
    border-radius: 50%;
}

input[type=checkbox] {
    transform: scale(2);
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.active {
    border-color: #FF859A;
    color: #FF859A !important;
}

.option:hover {
    color: #FF859A !important;
    border-color: #FF859A !important;
    text-decoration: none !important;
}

.btn-step {
    padding: 6px 169px;
    background-color: #2EC2E2;
    color: white;
}
