<div class="container" style="background-color: white;">
    <div style="margin-top:100px;" class="row">

    </div>
    <div class="row">
        <div *ngIf="step==0" class="col-md-6 frame">
            <div class="w-100 ">
                <span style="font-size: 2rem;">Add your profile photo</span>
                <p>A nice smiley photo of you - where you can clearly see the face</p>
            </div>
            <div class="col-md-12 mt-2 mb-2" id="select_img">
                <input id="profileImage" type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
                    (change)="onDetectImage($event)" style="opacity:0; padding: 0px" />
                <label for="profileImage">
                    <!-- <span *ngIf="this.profileImage != null " (click)="onRemoveImg($event,'1')" class="close">&times;</span> -->
                    <button *ngIf="profileImage != null" class="image_deleted" (click)="onRemoveImg($event,'1')"><i
                            class="fas fa-times"></i></button>
                    <img for="profileImage" style="width: 310px; height: 310px;" class="w-100" *ngIf="profileImage"
                        [src]="profileImage" alt="" />
                    <img for="profileImage" class="w-100" *ngIf="!profileImage"
                        src="https://fakeimg.pl/350x350/?text=Image" alt="" />
                </label>

            </div>
            <div class="col-md-12 mt-2 mb-2">
                <!-- <button type="button" class="btn ">
                    < Back</button> -->
                <button type="button" (click)="NextStep(1)" class="btn btn-continue float-right">Continue</button>
            </div>
        </div>
        <div *ngIf="step==1" class="col-md-6 frame">
            <div class="w-100 ">
                <span style="font-size: 2rem;">Sweet! Why do u want to join us</span>
            </div>
            <div class="col-md-12 mt-2 mb-2 option">

                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isProject" class="form-check-input mr-5" value="isProject">
                        <span style="margin-left: 20px;">找專案</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isPartner" class="form-check-input mr-5" value="isPartner">
                        <span style="margin-left: 20px;">找夥伴</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="beMentor" class="form-check-input mr-5" value="beMentor">
                        <span style="margin-left: 20px;">
                            當任導師</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isMentor" class="form-check-input mr-5"
                            value="isMentor"><span style="margin-left: 20px;">找導師</span>
                    </label>
                </div>


            </div>
            <div class="col-md-12 mt-2 mb-2">
                <button type="button" (click)="NextStep(0)" class="btn">
                    < Back</button>
                        <button type="button" (click)="onSubmit()" class="btn btn-continue float-right">Save</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="https://fakeimg.pl/500x500/">
        </div>

        <div *ngIf="!width" class="col-md-2">

        </div>
    </div>
</div>
