<div class="container">
    <div class="row mt-60" *ngIf="step==0">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-md-12">

                    <span style="font-size: 2rem;">個人資料</span>
                </div>
                <div class="col-md-12 mt-2 mb-2 align-items-center" id="select_img">
                    <input id="profileImage" type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
                        (change)="onDetectImage($event)" style="opacity:0; padding: 0px" />
                    <label for="profileImage">
                        <!-- <span *ngIf="this.profileImage != null " (click)="onRemoveImg($event,'1')" class="close">&times;</span> -->
                        <button *ngIf="profileImage != null" class="image_deleted" (click)="onRemoveImg($event,'1')"><i
                                class="fas fa-times"></i></button>
                        <img for="profileImage" class="profile_image" *ngIf="profileImage" [src]="profileImage"
                            alt="" />
                        <img for="profileImage" class="profile_image" *ngIf="!profileImage"
                            src="./../../../assets/images/user-circle.png" alt="" />
                        <!-- <img for="profileImage" class="profile_image" *ngIf="!profileImage"
                            src="https://fakeimg.pl/350x350/?text=Image" alt="" /> -->
                    </label>

                </div>
                <div class="col-md-12 mt-2 mb-2 align-items-center" id="select_img">
                    <form style="width: 80%;" [formGroup]="profileForm">
                        <div class="form-group">
                            <!-- <label for="exampleInputEmail1">姓名</label> -->
                            <input type="text" class="form-control rounded-0" id="name" formControlName="name"
                                aria-describedby="emailHelp" placeholder="姓名">

                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">職稱</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="position" id="position"
                                placeholder="職稱">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">公司</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="company" id="company"
                                placeholder="公司">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">技能</label> -->
                            <!-- <input type="text" class="form-control rounded-0" id="exampleInputPassword1"
                                placeholder="技能"> -->
                            <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                                [secondaryPlaceholder]="'技能: 前端開發, 市場開發, UIUX...'">
                                <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                    [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true"
                                    [dynamicUpdate]="false">
                                </tag-input-dropdown>
                            </tag-input>
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Facebook連結</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="facebook" id="facebook"
                                placeholder="Facebook連結">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">Twitter連結</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="twitter" id="twitter"
                                placeholder="Twitter連結">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">GitHub連結</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="github" id="github"
                                placeholder="GitHub連結">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">網站連結</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="website" id="website"
                                placeholder="網站連結">
                        </div>
                        <div class="form-group">
                            <!-- <label for="exampleInputPassword1">網站連結</label> -->
                            <input type="text" class="form-control rounded-0" formControlName="linkedin" id="linkedin"
                                placeholder="LinkedIn">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="text" id="bio" formControlName="bio" rows="4"
                                cols="50"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" (click)="NextStep(1)" class="btn btn-continue ">Continue</button>
                        </div>
                    </form>

                </div>
                <!--  <div class="col-md-12 mt-2 mb-2">
                     <button type="button" class="btn ">
                                    < Back</button>
                    <button type="button" (click)="NextStep(1)" class="btn btn-continue float-right">Continue</button>
                </div>-->
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    <div class="row mt-60" *ngIf="step==1">
        <div class="col-md-12">

            <p style="font-size: 2rem;font-weight: 500;">Hi {{name}},很高興見到您!</p>
            <p style="font-size: 2rem;font-weight: 500;">你最想在NEXT STEP做什麼事呢?(可複選)</p>
        </div>
        <div class="row mt-30">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 option" [ngClass]="{'active': isProject}"
                (click)="onSelectedProject()">

                <div class="box-part text-center">
                    <img for="findproject" src="./../../../assets/images/findproject.png" alt="" />
                    <!-- <img for="profileImage" src="https://fakeimg.pl/285x285/?text=Image" alt="" /> -->
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>找專案</h4>
                    </div>

                    <div class="text">
                        <span>找有興趣的專案參加</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  option" [ngClass]="{'active': isPartner}"
                (click)="onSelectedPartner()">

                <div class="box-part text-center">
                    <img for="findpartner" src="./../../../assets/images/findpartner.png" alt="" />
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>找夥伴</h4>
                    </div>

                    <div class="text">
                        <span>為團隊招募優秀的合作夥伴</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  option" [ngClass]="{'active': isMentor}"
                (click)="onSelectedMentor()">

                <div class="box-part text-center">
                    <img for="findmentor" src="./../../../assets/images/findmentor.png" alt="" />
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>找導師</h4>
                    </div>

                    <div class="text">
                        <span>幫助你解決職涯方面的疑難雜症</span>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  option" [ngClass]="{'active': beMentor}"
                (click)="onSelectedBeMontor()">

                <div class="box-part text-center">
                    <img for="bementor" src="./../../../assets/images/bementor.png" alt="" />
                    <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>當導師</h4>
                    </div>

                    <div class="text">
                        <span>我有能力給人意見引導團隊給予資源</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 mt-50 text-center">

            <button type="button" (click)="NextStep(0)" class="btn btn-step" style="margin-right: 5px;">
                上一步</button>
            <button type="button" (click)="onSubmit()" class="btn btn-step" style="margin-left: 5px;">下一步</button>
            <!-- <button type="button" (click)="NextStep(0)" class="btn">
                    < Back</button>
                        <button type="button" (click)="onSubmit()" class="btn btn-continue float-right">Save</button> -->

        </div>
    </div>

    <div class="row">
        <div *ngIf="step==110" class="col-md-6 frame">
            <div class="w-100 ">
                <span style="font-size: 2rem;">Add your profile photo</span>
                <p>A nice smiley photo of you - where you can clearly see the face</p>
            </div>
            <div class="col-md-12 mt-2 mb-2" id="select_img">
                <input id="profileImage" type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
                    (change)="onDetectImage($event)" style="opacity:0; padding: 0px" />
                <label for="profileImage">
                    <!-- <span *ngIf="this.profileImage != null " (click)="onRemoveImg($event,'1')" class="close">&times;</span> -->
                    <button *ngIf="profileImage != null" class="image_deleted" (click)="onRemoveImg($event,'1')"><i
                            class="fas fa-times"></i></button>
                    <img for="profileImage" style="width: 310px; height: 310px;" class="w-100" *ngIf="profileImage"
                        [src]="profileImage" alt="" />
                    <img for="profileImage" class="w-100" *ngIf="!profileImage"
                        src="https://fakeimg.pl/350x350/?text=Image" alt="" />
                </label>

            </div>
            <div class="col-md-12 mt-2 mb-2">
                <!-- <button type="button" class="btn ">
                    < Back</button> -->
                <button type="button" (click)="NextStep(1)" class="btn btn-continue float-right">Continue</button>
            </div>
        </div>
        <div *ngIf="step==100" class="col-md-6 frame">
            <div class="w-100 ">
                <span style="font-size: 2rem;">Sweet! Why do u want to join us</span>
            </div>
            <div class="col-md-12 mt-2 mb-2 option">

                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isProject" class="form-check-input mr-5" value="isProject">
                        <span style="margin-left: 20px;">找專案</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isPartner" class="form-check-input mr-5" value="isPartner">
                        <span style="margin-left: 20px;">找夥伴</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="beMentor" class="form-check-input mr-5" value="beMentor">
                        <span style="margin-left: 20px;">
                            當任導師</span>
                    </label>
                </div>
                <div class="form-check mt-2">
                    <label class="form-check-label">
                        <input type="checkbox" [(ngModel)]="isMentor" class="form-check-input mr-5"
                            value="isMentor"><span style="margin-left: 20px;">找導師</span>
                    </label>
                </div>


            </div>
            <div class="col-md-12 mt-2 mb-2">
                <button type="button" (click)="NextStep(0)" class="btn">
                    < Back</button>
                        <button type="button" (click)="onSubmit()" class="btn btn-continue float-right">Save</button>
            </div>
        </div>



    </div>
</div>
