#findcontent {
  padding-bottom: 30px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0px 200px 1fr;
  margin-top: 50px;

  .navbar-toggler {
    display: none;
  }

  @media (max-width: 450px) {
    grid-template-columns: none;
    margin-top: 10px;

    .navbar-toggler {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}


.search {
  background-color: #fff;
  border-radius: 0;
  color: #363636;
  border: 2px solid #dbdbdb;
  /* border: 2px solid #17f596; */
  border-radius: 3px;
  padding: 22px 15px 22px 60px;
  background-image: url("../../../assets/images/icon_search.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}


.title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Noto Sans TC';
  line-height: 20px;
  margin-bottom: 12px;
}

.option {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans TC';
  line-height: 20px;
}
