#findcontent {
  padding-bottom: 30px;
}

@media (min-width: 1900px) {
  /* #findcontent {
   margin-left: 15%;
   margin-right: 15%;
  } */
}

.show_tags {
  height: auto !important;
}

.search {
  background-color: #fff;
  border-radius: 0;
  color: #363636;
  border: 2px solid #dbdbdb;
  /* border: 2px solid #17f596; */
  border-radius: 3px;
  padding: 22px 15px 22px 60px;
  background-image: url("../../../assets/images/icon_search.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.cursor-pointer {
  cursor: pointer;
}

.title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 36px;
}

.btn-clean {
  color: #69738C;
  border: 1px solid #69738C;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Noto Sans TC';
  padding: 6px 12px 6px 12px;
  border-radius: 4px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Noto Sans TC';
  line-height: 20px;
}

.option {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Noto Sans TC';
  line-height: 20px;
}

.mb-12 {
  margin-bottom: 12px;
}
