<div id="findcontent">
  <div>
    <div class="cursor-pointer pl-2" (click)="onCleanClick()"><span class="btn-clean">{{ "BTNCLEAR"
        | translate }}</span></div>

    <aside class="sidebar">
      <nav class="sidebar-menu pt-3 pb-3">
        <ul class="menu-items">
          <li class="mb-12">
            <span class="title">{{ "PROJECT_STATUS"
              | translate }}</span>
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="filterCondition.isFindPartner" (change)="onProjectStatusChange($event)"
              data-key="project" />
            <label class="option" for="firsttimeInput">{{ "FIND_MEMBER"
              | translate }}</label>
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="filterCondition.isFunding" (change)="onProjectStatusChange($event)"
              data-key="project" />
            <label class="option" for="firsttimeInput">{{ "FIND_MONEY"
              | translate }}</label>
          </li>
          <li>
            <input type="checkbox" [(ngModel)]="filterCondition.isCofounder" (change)="onProjectStatusChange($event)"
              data-key="project" />
            <label class="option" for="firsttimeInput">{{
              "FIND_COFOUNDER"
              | translate }}</label>
          </li>

        </ul>
        <!-- <ul class="menu-items" style="padding-left: 20px;">
          <li class="mb-12">
            <span class="title">專案產品</span>
          </li>
          <li>
            <input id="websit" type="checkbox" [(ngModel)]="filterCondition.websit" (change)="onProductChange($event)"
              data-key="websit" />
            <label class="option" for="websit">網站</label>
          </li>
          <li>
            <input id="app" type="checkbox" [(ngModel)]="filterCondition.app" (change)="onProductChange($event)"
              data-key="project" />
            <label class="option" for="app">App</label>
          </li>
          <li>
            <input id="hardware" type="checkbox" [(ngModel)]="filterCondition.hardware"
              (change)="onProductChange($event)" data-key="project" />
            <label class="option" for="hardware">硬體</label>
          </li>

        </ul> -->
        <ul class="menu-items">
          <li class="mb-12">
            <span class="title">{{
              "INDUSTRY_TYPES"
              | translate }}</span>
          </li>
          <li>
            <input id="eComm" type="checkbox" [(ngModel)]="filterCondition.eComm" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="eComm">{{
              "ECOMM"
              | translate }}</label>
          </li>
          <li>
            <input id="medical" type="checkbox" [(ngModel)]="filterCondition.medical" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="medical">{{
              "MEDICAL"
              | translate }}</label>
          </li>
          <li>
            <input id="ai" type="checkbox" [(ngModel)]="filterCondition.ai" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="ai">{{
              "AI"
              | translate }}</label>
          </li>
          <li>
            <input id="transport" type="checkbox" [(ngModel)]="filterCondition.transport"
              (change)="onTypeChange($event)" data-key="project" />
            <label class="option" for="transport">{{
              "TRANSPORT"
              | translate }}</label>
          </li>
          <li>
            <input id="edutech" type="checkbox" [(ngModel)]="filterCondition.edutech" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="edutech">{{
              "EDUTECH"
              | translate }}</label>
          </li>
          <li>
            <input id="fintech" type="checkbox" [(ngModel)]="filterCondition.fintech" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="fintech">{{
              "FINTECH"
              | translate }}</label>
          </li>
          <li>
            <input id="sharingeconomy" type="checkbox" [(ngModel)]="filterCondition.sharingeconomy"
              (change)="onTypeChange($event)" data-key="project" />
            <label class="option" for="sharingeconomy">{{
              "SHARINGECONOMY"
              | translate }}</label>
          </li>
          <li>
            <input id="game" type="checkbox" [(ngModel)]="filterCondition.game" (change)="onTypeChange($event)"
              data-key="project" />
            <label class="option" for="game">{{
              "GAME"
              | translate }}</label>
          </li>
        </ul>
        <!-- <ul class="menu-items" style="padding-left: 20px;">
          <li class="mb-12">
            <span class="title">每周願意投入時長</span>
          </li>
          <li>
            <input id="work12" type="checkbox" [(ngModel)]="filterCondition.work12" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="option" for="work12">1至2小時</label>
          </li>
          <li>
            <input id="work34" type="checkbox" [(ngModel)]="filterCondition.work34" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="option" for="work34">3至4小時</label>
          </li>
          <li>
            <input id="work56" type="checkbox" [(ngModel)]="filterCondition.work56" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="option" for="work56">5至6小時</label>
          </li>
          <li>
            <input id="work78" type="checkbox" [(ngModel)]="filterCondition.work78" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="option" for="work78">7至8小時</label>
          </li>
          <li>
            <input id="work9" type="checkbox" [(ngModel)]="filterCondition.work9" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="option" for="work9">9小時以上(含)</label>
          </li>

        </ul> -->
      </nav>
    </aside>

  </div>
  <div>
    <div class="row" *ngIf="foundItemNum !== items.length">
      <p> {{foundItemNum}} {{ "NFOUND"
        | translate }}</p>

    </div>
    <div class="col-md-12 empty-text-center h-100" *ngIf="foundItemNum !== displayItems.length">
      <svg-icon class="icon" src="assets/icons/magnifier.svg"></svg-icon>
      <span>{{ "NORESULT"
        | translate }}</span>
    </div>
    <!--person-->
    <ng-container *ngIf="displayItems">
      <div class="row">
        <ng-container *ngFor="let item of  displayItems; let i = index">
          <div class="col-md-6 text-center">
            <ui-project-card (Collect)="onClickCollect($event)" (UnCollect)="onClickUnCollect($event)"
              (Follow)="onClickFollow($event)" (UnFollow)="onClickUnFollow($event)" [project]="item"
              [user]="currentUser"></ui-project-card>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
