.title {
  font-size: 40px;
  font-weight: 400;
}

.btn {
  min-width: 150px;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 200ms;
  flex-direction: row;
}

.card:hover {
  border: 2px solid var(--action-pri-active);
}

.card:hover .dropdown {
  display: block;
}

.icon-button {
  padding: 6px 9.5px;
  font-size: 18px;
  border-radius: var(--br-circle);
  background-color: transparent;
  color: var(--grey-50);
  transition: 200ms;
  cursor: pointer;
}

.icon-button:hover {
  background-color: var(--grey-7);
  color: var(--grey-85);
}

.cursor-pointer {
  cursor: pointer;
}



.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #56BDF4;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.item-text {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.item-description {
  font-size: 16px;
  line-height: 24px;
  color: rgba(33, 37, 41, 0.7)
}

.item-delete {
  font-size: 16px;
  line-height: 24px;
  color: #FF3356;
}
