<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <span class="title">傳案設定</span>
        </div>
    </div>
    <div class="row" *ngIf="this.currentProject">
        <div class="col-md-12">

            <ui-radio-item [title]="'開放觀看'" [description]="'在專案列表顯示此專案'" [id]="'isPublic'" [value]="isPublic"
                (onChange)="onPublicChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">

            <ui-radio-item [title]="'顯示專案成員'" [description]="'顯示團隊成員資訊'" [id]="'isShowMember'" [value]="isShowMember"
                (onChange)="onMemberChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">
            <div class="row" style="padding-left:15px;">
                <div class="card mt-3 cursor-pointer w-100">
                    <div class="item-text">
                        <p class="text-md m-0">刪除專案
                        </p>
                        <p class="text-md m-0 item-delete">此動作不可復原
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <button type="button" class="btn btn-blue mr-10" (click)="onDeleteProject()">刪除專案
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <!--     <div class="col-md-12 mt-10 mb-12 form-group button-center">
            <button type="button" class="btn btn-blue mr-10" (click)="onSave()">儲存
            </button>
        </div>
        <div class="col-md-12 mt-10 mb-12 form-group button-center">
            <span>{{msg}}</span>
        </div> -->
    </div>
</div>
