<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>專案設定</h1>
        </div>
    </div>
    <div class="row" *ngIf="this.currentProject">
        <div class="col-md-12">

            <ui-radio-item [title]="'開放觀看'" [description]="'在專案列表顯示此專案'" [id]="'isPublic'" [value]="isPublic"
                (onChange)="onPublicChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">

            <ui-radio-item [title]="'顯示專案成員'" [description]="'顯示團隊成員資訊'" [id]="'isShowMember'" [value]="isShowMember"
                (onChange)="onMemberChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">
            <div class="row pl-15">
                <div class="bar mt-3 w-100">
                    <div class="item-text">
                        <p class="text-md m-0">刪除專案
                        </p>
                        <p class="text-md m-0 item-delete">此動作不可復原
                        </p>
                    </div>
                    <button type="button" class="btn-white mr-10" data-toggle="modal"
                        [attr.data-target]="'#deleteProjectModal'">刪除專案
                    </button>

                </div>

            </div>
        </div>

    </div>
</div>
<app-dialog></app-dialog>

<!-- edit experience start -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">確定刪除此專案?</span>
                <button type="button" #closeExpbutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <p class="text-md m-0 item-delete">此動作不可復原
                </p>
                <p class="text-md m-0">
                    若確定要刪除此專案，請在下列欄位中輸入專案名稱:<strong>{{this.currentProject?.name}}</strong>。
                </p>
                <input type="text" id="projectname" [(ngModel)]="projectName" class="form-control mr-10 mt-32">
                <div class="row item-end">
                    <button type="button" class="btn btn-white  mr-10" data-dismiss="modal" aria-label="Close">取消
                    </button>
                    <button type="button" class="btn mr-10"
                        [ngClass]="{'btn-disabled':projectName.length ==0,'btn-delete':projectName.length >0}"
                        (click)="onDeleteProject()">
                        確認</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
