<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ "PROJECTSETTING"
                | translate }}</h1>
        </div>
    </div>
    <div class="row" *ngIf="this.currentProject">
        <div class="col-md-12">

            <ui-radio-item title="{{ 'PUBLICVIEW'
                            | translate }}" description="{{ 'PUBLICVIEWDESC'
                            | translate }}" [id]="'isPublic'" [value]="isPublic"
                (onChange)="onPublicChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">

            <ui-radio-item title="{{ 'DISPLAYMEMBERS'
                            | translate }}" description="{{ 'DISPLAYMEMBERSINFO'
                            | translate }}" [id]="'isShowMember'" [value]="isShowMember"
                (onChange)="onMemberChange($event)"></ui-radio-item>
        </div>
        <div class="col-md-12">
            <div class="row pl-15">
                <div class="bar mt-3 w-100">
                    <div class="item-text">
                        <p class="text-md m-0">{{ "DELPROJECT"
                            | translate }}
                        </p>
                        <p class="text-md m-0 item-delete">{{ "NOTRECOVER"
                            | translate }}
                        </p>
                    </div>
                    <button type="button" class="btn-white mr-10" data-toggle="modal"
                        [attr.data-target]="'#deleteProjectModal'">{{ "DELPROJECT"
                        | translate }}
                    </button>

                </div>

            </div>
        </div>

    </div>
</div>
<app-dialog></app-dialog>

<!-- edit experience start -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">{{ "CONFIRMDELETE"
                    | translate }}</span>
                <button type="button" #closeExpbutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <p class="text-md m-0 item-delete">{{ "NOTRECOVER"
                    | translate }}
                </p>
                <p class="text-md m-0">
                    {{ "PROJECTDELETECONFIRM"
                    | translate }}<strong>{{this.currentProject?.name}}</strong>。
                </p>
                <input type="text" id="projectname" [(ngModel)]="projectName" class="form-control mr-10 mt-32">
                <div class="row item-end">
                    <button type="button" class="btn btn-white  mr-10" data-dismiss="modal" aria-label="Close">{{
                        "CANCEL"
                        | translate }}
                    </button>
                    <button type="button" class="btn mr-10"
                        [ngClass]="{'btn-disabled':projectName.length ==0,'btn-delete':projectName.length >0}"
                        (click)="onDeleteProject()">
                        {{ "CONFIRM"
                        | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
