app-setting {
  .container-bg {
    background-color: #F9FAFB;
    padding-top: 24px;
    padding-bottom: 30px;
    min-height: 110vh;

  }

  #setting {

    margin-top: 100px;
    padding-left: 0px;
    padding-right: 50px;

    .navbar-toggler {
      display: none;
    }

    @media (max-width: 450px) {
      .navbar-toggler {
        display: flex;
        flex-direction: column-reverse;
      }

      padding-right: 0px;
      margin-top: 50px;
    }

    .sub-menu {
      transition: max-height 0.5s;
      max-height: 0;
      display: none;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;
        background-color: #161a26;
        font: normal 10pt sans-serif;
        line-height: 19px;
        letter-spacing: 0.1pt;

        a {
          color: white;
          padding: 7px 0 6px 20px;
          text-decoration: none;
          cursor: pointer;
          display: block;


          .icon {
            svg path {
              fill: rgb(105, 115, 140) !important;
            }
          }
        }

        &:hover {
          background-color: #FF859A;
          color: #ffffff;

          svg-icon svg path {
            fill: #FF859A !important;
          }
        }
      }
    }

    .show-menu {
      max-height: 1000px !important;
    }



    // .active {
    //   color: #56BDF4 !important;
    //   text-decoration: none;
    //   /*     background-color: #007bff; */
    //   border-radius: 3px;
    //   width: 95% !important;

    //   svg-icon.icon {
    //     svg g path {
    //       fill: #347A9F;
    //     }

    //     svg path {
    //       fill: #347A9F;
    //     }
    //   }


    // }
  }



}

.sidebar {
  svg-icon svg path {
    fill: rgb(105, 115, 140) !important;
  }
}
