<app-header></app-header>
<div class="container">
    <div id="setting" class=" mb-50 row">
        <div class="col-md-3">
            <aside class="sidebar ">
                <nav class="sidebar-menu pt-3 pb-3">
                    <ul class="menu-items" style="padding-left: 20px;">
                        <li>

                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/dashboard']"><i
                                    class="fa fa-home menu-icon"></i>首頁</a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/settings']"><i
                                    class="fas fa-cog menu-icon"></i>個人設定</a>
                        </li>
                        <li>
                            <!-- <a class="menu-item" (click)="ddToggle()"><i class="fas fa-file-alt menu-icon"></i>我的專案</a> -->
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/myproject']"><i
                                    class="fas fa-file-alt menu-icon"></i>我的專案</a>
                            <div class="sub-menu" [ngClass]="{ 'show-menu': expand }">
                                <ul *ngFor="let menu of projects">
                                    <li>
                                        <a>{{ menu.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/collection']"><i
                                    class="far fa-heart menu-icon"></i>
                                我的收藏</a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/messages']"><i
                                    class="far fa-comment-dots menu-icon"></i>我的訊息</a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/dashboard/notifications']"><i
                                    class="far fa-bell menu-icon"></i>我的通知</a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/dashboard/application']">成為導師</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>
