<app-header></app-header>
<div class=" container-bg">
    <div class="container">
        <div id="setting" class=" mb-50 row">
            <aside class="sidebar ">
                <nav class="sidebar-menu pt-3 pb-3">
                    <ul class="menu-items">
                        <li>

                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard']">
                                <svg-icon class="icon" src="assets/icons/home.svg"></svg-icon><span>首頁</span>

                            </a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/settings']">
                                <svg-icon class="icon" src="assets/icons/cog.svg"></svg-icon><span>設定</span>
                            </a>
                        </li>
                        <li>
                            <!-- <a class="menu-item" (click)="ddToggle()"><i class="fas fa-file-alt menu-icon"></i>我的專案</a> -->
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/myproject']">
                                <svg-icon class="icon" src="assets/icons/file.svg"></svg-icon><span>我的專案</span>
                            </a>
                            <div class="sub-menu" [ngClass]="{ 'show-menu': expand }">
                                <ul *ngFor="let menu of projects">
                                    <li>
                                        <a>{{ menu.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/collection']">
                                <svg-icon class="icon" src="assets/icons/heart.svg"></svg-icon><span>我的收藏</span>
                            </a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/notifications']">
                                <svg-icon class="icon" src="assets/icons/bell.svg"></svg-icon><span>我的通知</span>
                            </a>
                        </li>
                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/dashboard/messages']">
                                <svg-icon class="icon" src="assets/icons/message.svg"></svg-icon><span>我的訊息</span>
                            </a>
                        </li>

                        <li>
                            <a class="menu-item" [routerLinkActive]="['active']"
                                [routerLinkActiveOptions]="{ exact: true }"
                                [routerLink]="['/dashboard/application']">成為導師</a>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="col-md-10">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
