
/* The switch - the box around the slider */
.switch {
        display: inline-block;
        background-color: #FFF;
    }

    .switch input[type="checkbox"]{
        position: absolute;
        opacity: 0;
    }

    .switch input[type="checkbox"]:checked + label{
        border:1px solid #17F596;
        background-color:#17F596;
    }

    .switch_text{
        margin:5px;
        border:1px solid #CACACA;
        border-radius:3px;
        padding:5px 10px;
        text-align:center;
        background-color: #fff;
        cursor: pointer;
        transition: all .2s;
    }

.biddingswitch {
  position: relative;
  display: inline-block;
  width: 60px;

  height: 34px;
  /* float:left; */
  background-color: #f4f4f4;
}


/* Hide default HTML checkbox */
.biddingswitch input {display:none;}

/* Hide default HTML checkbox */
/* .switch input {display:none;} */

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;

  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.tag_selected{
   position: absolute;
  cursor: pointer;
   text-align: center;
  padding-top:5px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background-color: white;

}
input.default:checked + .tag_selected {
  background-color: #17f596;
}


input.default:checked + .slider {
  background-color: #17f596;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.input_btn_normal {
  font-size: 16px;
  padding: 9px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
  color: #000;
}

.input_btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
  color: #000;
}

  #select_img .close {
    position: absolute;
    right: 16px;
    top: -10px;
    z-index: 100;
 color: red;
    font-size: 40px;
}
.tag {
    background: #A5D6A7;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.warming-msg{
  color: red;
  font-weight: 300;
  font-size: 16px;
}


.special-price {
  text-decoration:line-through;
}
