<div>

  <h4 class="mb-4 text-muted">Blockchain </h4>

  <div class="row">
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Basic Form</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Is Connected</label>
              <input type="text" class="form-control rounded-0" id="exampleInputEmail1" value="{{isConnected}}"
                aria-describedby="emailHelp" placeholder="Enter email">

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Owner</label>
              <input type="text" class="form-control rounded-0" value="{{owner}}" id="exampleInputPassword1"
                placeholder="Password">
            </div>
            <div class="form-group">
              <label for="faCommissionAccount">Commission Account</label>
              <input type="text" class="form-control rounded-0" value="{{faCommissionAccount}}" id="faCommissionAccount"
                placeholder="Password">
            </div>
            <div class="form-group">
              <label for="tokenName">Token Name</label>
              <input type="text" class="form-control rounded-0" value="{{tokenName}}" id="tokenName"
                placeholder="Password">
            </div>
            <div class="form-group">
              <label for="totalSupply">totalSupply</label>
              <input type="text" class="form-control rounded-0" value="{{totalSupply}}" id="totalSupply">
            </div>
            <div class="form-group">
              <label for="totalNumberAvailable">total Number Available</label>
              <input type="text" class="form-control rounded-0" value="{{totalNumberAvailable}}"
                id="totalNumberAvailable">
            </div>
            <div class="form-group">
              <label for="totalNumberMinted">total Number Minted</label>
              <input type="text" class="form-control rounded-0" value="{{totalNumberMinted}}" id="totalNumberMinted"
                placeholder="Password">
            </div>
            <div class="form-group">
              <label for="highestEditionNumber">highest Edition Number</label>
              <input type="text" class="form-control rounded-0" value="{{highestEditionNumber}}"
                id="highestEditionNumber" placeholder="Password">
            </div>
            <div class="custom-control custom-checkbox my-1 mr-sm-2 mb-3">
              <input type="checkbox" class="custom-control-input" id="customControlInline">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
            <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">Submit</button>
            <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-4 align-items-stretch">
      <div class="card border-0 rounded-0 h-100">
        <div class="card-title mb-1 p-3">
          <h5>Token Detail</h5>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label for="tokenId" class="col-sm-2 col-form-label text-nowrap">Token ID</label>
            <div class="col-sm-10">

              <input type="text" class="form-control" [value]="110001" [(ngModel)]="tokenId"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 mb-3">
              <button type="button" class="btn  btn-primary rounded-0 mb-2 mr-2"
                (click)="getTokenDetail()">Submit</button>
              <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">Cancel</button>
            </div>
          </div>
          <ng-container *ngIf="this.EditionDetail">
            <div class="form-group">
              <label for="editionType">editionType</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.editionType}}"
                id="editionType" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="startDate">startDate</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.startDate * 1000 | date : 'yyyy-MM-dd
        HH:mm:ss'}}" id="startDate" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="endDate">endDate</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.endDate  * 1000| date : 'yyyy-MM-dd
        HH:mm:ss'}}" id="endDate" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="artistAccount">artistAccount</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.artistAccount}}"
                id="artistAccount" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="artistCommission">artistCommission</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.artistCommission}}"
                id="artistCommission" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="priceInWei">priceInWei</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.priceInWei}}"
                id="priceInWei" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="tokenURI">tokenURI</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.tokenURI}}" id="tokenURI"
                placeholder="Password">
            </div>
            <div class="form-group">
              <label for="totalSupply">totalSupply</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.totalSupply}}"
                id="totalSupply" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="totalAvailable">totalAvailable</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.totalAvailable}}"
                id="totalAvailable" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="active">active</label>
              <input type="text" class="form-control rounded-0" value="{{this.EditionDetail.active}}" id="active"
                placeholder="Password">
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-4 ">

      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Basic Form Elements</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control  rounded-0" id="exampleFormControlInput1"
                placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label>Custom file input</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label rounded-0" for="customFile">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Example select</label>
              <select class="form-control rounded-0" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Example multiple select</label>
              <select multiple class="form-control rounded-0" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <div class="form-group">
              <button type="button" class="btn btn-lightning rounded-0 mb-2 mr-2">Submit</button>
              <button type="button " class="btn btn-outline-lightning rounded-0 mb-2">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
