<div class="signup-container">

    <div class="signup-bg"></div>
    <div class="frame">
        <div class="w-100 ">
            <div class="w-100 ">
                <span class="next-font" style="font-size: 2rem;"> 登入</span>
                <div class="next-font signup">
                    沒有帳號?&nbsp;前往<a routerLink="/signup">註冊</a>
                </div>
            </div>
        </div>
        <div class="mt-2 mb-2">
            <button class="btn facebook w-100 " (click)="socialSignIn('facebook')">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="30px" height="30px"
                    style="border-radius: 50% !important;">
                    <linearGradient id=" Ld6sqrtcxMyckEl6xeDdMa" x1="9.993" x2="40.615" y1="9.993" y2="40.615"
                        gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#2aa4f4" />
                        <stop offset="1" stop-color="#007ad9" />
                    </linearGradient>
                    <path fill="#fff" d="M24,4C12.954,4,4,12.954,4,24s8.954,20,20,20s20-8.954,20-20S35.046,4,24,4z" />
                    <path fill="#4267b2"
                        d="M26.707,29.301h5.176l0.813-5.258h-5.989v-2.874c0-2.184,0.714-4.121,2.757-4.121h3.283V12.46 c-0.577-0.078-1.797-0.248-4.102-0.248c-4.814,0-7.636,2.542-7.636,8.334v3.498H16.06v5.258h4.948v14.452 C21.988,43.9,22.981,44,24,44c0.921,0,1.82-0.084,2.707-0.204V29.301z" />
                </svg>
                透過 Facebook 登入
            </button>

        </div>
        <div class="mt-2 mb-2">
            <button class="btn btn-social google w-100 " (click)="socialSignIn('google')">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;" width="32px" height="30px"
                    viewBox="0 0 32 30" fill="none">
                    <g clip-path="url(#clip0)">
                        <path
                            d="M31.3202 15.2807C31.3202 14.0516 31.2192 13.1547 31.0008 12.2246H16.7964V17.7721H25.134C24.966 19.1507 24.0583 21.2269 22.041 22.622L22.0128 22.8077L26.5039 26.2455L26.8151 26.2762C29.6727 23.6685 31.3202 19.8317 31.3202 15.2807Z"
                            fill="#4285F4" />
                        <path
                            d="M16.7965 29.897C20.8812 29.897 24.3104 28.5682 26.8152 26.2762L22.0411 22.622C20.7636 23.5023 19.049 24.1169 16.7965 24.1169C12.7957 24.1169 9.40016 21.5093 8.18973 17.905L8.01231 17.9199L3.34232 21.4909L3.28125 21.6587C5.7691 26.5418 10.8793 29.897 16.7965 29.897Z"
                            fill="#34A853" />
                        <path
                            d="M8.18967 17.9047C7.87029 16.9746 7.68545 15.978 7.68545 14.9483C7.68545 13.9184 7.87029 12.9219 8.17287 11.9918L8.16441 11.7937L3.4359 8.16528L3.2812 8.23799C2.25584 10.2644 1.66748 12.5399 1.66748 14.9483C1.66748 17.3566 2.25584 19.632 3.2812 21.6584L8.18967 17.9047Z"
                            fill="#FBBC05" />
                        <path
                            d="M16.7965 5.78004C19.6373 5.78004 21.5536 6.99252 22.6463 8.00576L26.916 3.8866C24.2937 1.47824 20.8812 0 16.7965 0C10.8793 0 5.7691 3.35508 3.28125 8.23821L8.17292 11.992C9.40016 8.38775 12.7957 5.78004 16.7965 5.78004Z"
                            fill="#EB4335" />
                    </g>
                    <defs>
                        <clipPath id="clip0">
                            <rect width="31.3352" height="30" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
                透過 Google 登入
            </button>
        </div>
        <h4 style="margin-bottom: 30px !important; margin-top: 30px !important;"><span>或</span></h4>
        <form [formGroup]="loginForm">
            <div class="form-group" style="font-family: var(--font-nunito);">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': (loginForm.get('email').touched || loginForm.get('email').dirty) && loginForm.get('email').invalid || submitted && loginForm.get('email').invalid }"
                    placeholder="電子信箱">
                <span class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> 信箱格式不符.</span>
            </div>
            <div class="form-group" style="font-family: var(--font-nunito);">
                <!-- <label for="password" style="width: 100%;">Password <span (click)="changeInput(pw)"
                                    class="fa fa-fw fa-eye toggle-password"></span></label> -->
                <input #pw type="password" class="form-control" id="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': (loginForm.get('password').touched || loginForm.get('password').dirty) && loginForm.get('password').invalid || submitted && loginForm.get('password').invalid }"
                    placeholder="密碼(英數至少4字)">
                <span class="invalid-feedback"><i class="fas fa-exclamation-triangle"></i> 密碼是必要的.
                </span>

                <div *ngIf="unverifiedUser">
                    <p class="invalid">
                        <i class="fas fa-exclamation-triangle"></i> 請檢查您的收件箱以驗證您的電子郵件地址
                    </p>
                </div>
            </div>
            <div>

            </div>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center mt-30"
                style="height: 45px; " [disabled]="inValid()" (click)="onSubmit()">
                登入
                <!-- <div *ngIf="disableSignUp" class="spinner-border ml-3" style="height: 1.5rem; width: 1.5rem;"
                                role="status"></div> -->
            </button>

            <div *ngIf="invalidUser">
                <p class="invalid">
                    <i class="fas fa-exclamation-triangle"></i> Email或密碼不正確.
                </p>
            </div>
        </form>
        <div class="w-100 ">
            <div style="float: right;">
                <span class="forgot-password">
                    <a routerLink="/forgot">忘記密碼?</a>
                </span>
            </div>
        </div>
    </div>


</div>
