<div class="d-flex align-items-center min-vh-100">
<div class="container">
  <div class="row">
    <div class="col col-xl-6 col-lg-6 offset-xl-3 offset-lg-3" align="center">
      <div class="card mb-3">
        <div class="card-body table-responsive">
          Successful
          <div>
            <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
          </div>
          <br/>
          <a routerLink="../walletlist" routerLinkActive="active">
            <button type="button" class="btn btn-primary">Wallet Home</button>
          </a>
        </div>