<div class="row">
    <!---->
    <div id="member_favorite_tab" class="col-md-12 mb-20">
        <ul role="tablist" class="nav nav-tabs">
            <!---->
            <li class="nav-item"><a class="nav-link " [ngClass]="{ 'active': currentTab === 'editions' }"
                    href="#editions" data-toggle="tab" (click)="changeTab('editions')">{{ "EDITION" | translate }}</a>
            </li>
            <li class="nav-item"><a class="nav-link " [ngClass]="{ 'active': currentTab === 'artists' }" href="#artists"
                    data-toggle="tab" (click)="changeTab('artists')">{{ "ARTISTS" | translate }}</a></li>
            <!---->
        </ul>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" aria-hidden="false" class="tab-pane" [ngClass]="{ 'active': currentTab === 'editions' }"
        acive="" id="editions">

        <div class="row">
            <div class="col-md-4">
                <select class="sort_dropdown w-100" (change)="onArtworkChange($event.target.value)">
                    <option value="LATEST">{{ "LATEST" | translate }}</option>
                    <option value="OLDEST">{{ "OLDEST" | translate }}</option>
                    <option value="EXPENSIVE">{{ "EXPENSIVE" | translate }}</option>
                    <option value="CHEAPEST">{{ "CHEAPEST" | translate }}</option>
                    <option value="POPULAR">{{ "POPULAR" | translate }}</option>
                </select>
            </div>
            <div class="col-md-8">
                <div class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
                    <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text"
                        [(ngModel)]="searchArtworkText" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <ng-container *ngIf="displayArtworks.length == 0">
            <div style="margin-top:20px;" class="text-center subtitle no-msg">{{
                "NOFAVOARTWORK_START" | translate }}<a routerLink="/gallery">{{
                    "NOFAVOARTWORK_LINK" | translate }}</a>{{ "NOFAVOARTWORK_END" | translate }}</div>
        </ng-container>
        <ng-container *ngFor="let artwork of ( displayArtworks | userFilter: searchArtworkText : 'name' )">
            <div id="member-artist-project" class="row mt-30">
                <div class="col-md-4">
                    <a routerLink="/gallery/{{ artwork.id }}" target="_blank"><img style="width: 100%;" class="mb-10"
                            src="{{artwork.imageUrl || defulatImage}}" alt=""></a>
                </div>
                <div class="col-md-8">
                    <ul class="member_artist_detail_list">
                        <li>
                            <p class="title">{{artwork.name}}</p>
                        </li>
                        <li>
                            {{ "CREATOR" | translate }}：{{artwork.artist.name}}
                        </li>
                        <li>
                            {{ "PRICE" | translate }}：Ξ {{artwork.ethValue}} / USD {{artwork.usdValue}}
                        </li>
                        <li>
                            {{ "EDITIONS" | translate }}：{{artwork.totalamount}}/#{{artwork.number}}
                        </li>
                        <li>
                            {{ "FAVOURITES" | translate }}：{{artwork.liked}}
                        </li>
                    </ul>
                    <div class="mb-40">
                        <button class="btn_select_img" type="button" (click)="removeFavorites(artwork.id)"><i
                                class="fas fa-heart fa-lg"></i> {{ "REMOVEFAVORITES" |
                            translate }}</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="artworks.length >3" class="text-center pagenation_center mb-40">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item " aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <div role="tabpanel" aria-hidden="true" class="tab-pane" [ngClass]="{ 'active': currentTab === 'artists' }" acive=""
        id="artists">
        <div class="row">
            <div class="col-md-4">
                <select class="sort_dropdown w-100" (change)="onArtistChange($event.target.value)">
                    <option value="LATEST">{{ "LATEST" | translate }}</option>
                    <option value="OLDEST">{{ "OLDEST" | translate }}</option>

                    <option value="POPULAR">{{ "POPULAR" | translate }}</option>
                </select>
            </div>
            <div class="col-md-8">
                <div class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
                    <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text"
                        [(ngModel)]="searchArtistText" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>



        <div id="member-artist-artist" class="row mt-30 mb-20">
            <ng-container *ngIf="displayArtists.length == 0">
                <div style="margin-top:20px;" class="text-center subtitle no-msg">{{
                    "NOFAVOARTIST_START" | translate }}<a routerLink="/artists">{{
                        "NOFAVOARTIST_LINK" | translate }}</a>{{ "NOFAVOARTIST_END" | translate }}</div>
            </ng-container>
            <ng-container *ngFor="let artist of ( displayArtists  | userFilter: searchArtistText : 'name' )">
                <div id="member_artist_delete" class="col-md-3 col-6 text-center mb-30">
                    <img class="rounded-circle member_img_w" src="{{artist.imageUrl || defaultProfileLogo}}" alt="">
                    <button class="member_artist_delete" (click)="removeFavorites(artist.id)"><i
                            class="fas fa-times"></i></button>
                    <a routerLink="/{{ artist.uid }}" target="_blank">
                        <p class="title text-center mt-10">{{artist.name}}</p>
                    </a>
                </div>
            </ng-container>
        </div>

        <div *ngIf="artists.length >15" class="text-center pagenation_center mb-40">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item " aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <!---->
    <!---->
</div>
