#profile-upper {
    position: relative;

    #profile-banner-image {
        height: 200px;
        overflow: hidden;
        z-index: 1;

        .icon {
            width: 21px !important;
        }

        .btn-cover {
            position: absolute;
            top: 80%;
            left: 92%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: white;

            cursor: pointer;
            color: #8F95A8 !important;
            border: 1px solid #CFD2DA !important;
            border-radius: 4px !important;
            padding: 3px 6px 3px 6px !important;
            font-size: 16px;
            z-index: 10;
            width: max-content;
        }
    }

    #profile-banner-image img {
        width: 100%;
        height: 100%;
    }


}

.page-title {
    font-size: 40px;
    font-weight: 500;
    padding-left: 55px;

    @media (max-width: 450px) {
        font-size: 32px;
        padding-left: 15px;
        margin-top: 30px;
    }
}

#profile-d {
    position: absolute;
    left: 34px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;

    #profile-pic {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin-top: 130px;
        overflow: hidden;
        box-shadow: 0 0 0 5px #fff;

        @media (max-width: 450px) {
            width: 100px;
            height: 100px;
        }
    }

    #profile-pic img {
        width: 100%;
    }

    .edit-profileImage {
        margin-top: -40px;
    }
}

.project-content {
    margin-top: 70px;

    @media (max-width: 450px) {
        margin-top: 20px;
        margin-right: 0px;


    }
}



.links {
    padding-left: 40px;

    @media (max-width: 450px) {
        padding-left: 0px;
    }
}

.empty {
    position: relative;

    .empty-text {
        position: absolute;
        top: 50%;
        width: 100%;
    }
}

.frame {
    border: 2px solid #fff;
    min-height: 300px;
    margin-bottom: 30px;
    margin-left: 1px;
    background-color: #fff;
    display: grid;
    grid-auto-flow: row;
    // gap: 24px;
    padding: 12px 10px 12px 10px;
    border-radius: 12px;
    //box-shadow: 1px 2px rgba(0, 0, 0, 0.04);
    box-shadow: 1px 2px 9px 0px #0000000A !important;

    .workbar {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 20px 1fr 140px;
    }

    .stage_tag {
        padding-left: 5px;
        padding-right: 5px;
    }

    .frame_content {
        min-height: 150px;
    }

    .frame_bottom {
        // position: absolute;
        bottom: 0px;
        display: grid;
        gap: 10px;
        padding: 10px;
    }

    .frame_bottom_items {
        display: flex;
        gap: 10px;

        @media (max-width: 450px) {
            display: grid;
        }
    }
}

.btn_items {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    color: #262E42;
    font-size: 24px;

    @media (max-width: 450px) {
        justify-content: flex-start;
    }

    .btn_item {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        padding: 4px 10px;
        color: #fff;
        background-color: #56BDF4;
        border: 1px solid #56BDF4;
        border-radius: 4px;
        // width: 84px;
        height: 36px;

        i {
            border: 0px !important;
        }
    }

    .btn_item:hover {
        background-color: #FF859A;
        border: 2px solid #FF859A;
    }

    .btn_item_selected {
        background-color: #FF859A;
        border: 2px solid #FF859A;
    }
}

.follow {
    display: flex;
    gap: 24px;
    color: #69738C;
    justify-content: flex-end;

    @media (max-width: 450px) {
        justify-content: flex-start;
    }
}

.position {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 500;
    word-wrap: break-word;
}

.mt--10 {
    margin-top: -10px;
}

.history {

    min-height: 50px;
    padding: 12px 15px 12px 15px;
    display: flex;
    gap: 12px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #56BDF4;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
}

.title {
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;
}


.tags {
    display: flex;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.tab-pane {
    min-height: 300px;
}



.item-right {
    justify-content: flex-end;
    padding: 5px 0px 5px 0px;
}

#modifiedproject {
    .item-center {
        justify-content: center;
        padding: 5px 0px 5px 0px;
    }

    .item-right {
        justify-content: flex-end;
        padding: 5px 0px 5px 0px;
    }
}

.pl-55 {
    padding-left: 55px;
}
