<div id="profile-upper">
  <div id="profile-banner-image">
    <img src="https://imagizer.imageshack.com/img921/9628/VIaL8H.jpg" alt="Banner image">
  </div>
  <div id="profile-d">
    <div id="profile-pic">
      <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg">
    </div>
    <div id="u-name">Himalaya Singh</div>

    <div id="edit-profile"><i class="material-icons">camera_alt</i></div>
  </div>
  <div id="black-grd"></div>
</div>
<div class="row mt-50">
  <div class="col-md-4 text-right">
    <h1>專案名稱</h1>
  </div>

  <div class="col-md-8 text-right">

    <button type="button" style="float: right;" class="btn btn_item  mr-10" (click)="onSave()"><i
        class="far fa-comment-alt"></i>
      訊息</button>
    <button type="button" style="float: right;" class="btn btn_item mr-10" (click)="onSave()"><i
        class="fas fa-plus"></i>
      追蹤</button>
    <button type="button" style="float: right;" class="btn btn_item mr-10" (click)="onSave()"><i
        class="far fa-bookmark"></i>
      收藏</button>
  </div>
</div>
<div class="row mt-10">
  <div class="col-md-2">

  </div>

  <div class="col-md-6" style="    display: flex;
    justify-content: space-between;">
    <span>連結</span>
    <span>一個月前創建</span>
    <span>xx人關注/關注xx人</span>
  </div>
</div>

<div class="row mt-50" style="margin-left: 5%;margin-right: 5%; padding:20px">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h3>專案簡介</h3>
      </div>
    </div>
    <div class="row frame">
      <div class="col-md-12">
        專案內容
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>專案成員</h3>
      </div>
    </div>
    <div class="row frame" style="margin-left: 10px;padding: 10px">
      <div class="col-md-12" style="display: inline-flex;">
        <i style="font-size: 60px; margin-top: 10px;" class="far fa-user-circle"></i>
        <div style="margin-left: 10px;">
          <p class="name">Kenneth</p>
          <p class="position">Developer</p>
        </div>
      </div>
      <div class="col-md-12" style="display: inline-flex;">
        <i style="font-size: 60px; margin-top: 10px;" class="far fa-user-circle"></i>
        <div style="margin-left: 10px;">
          <p class="name">Ken</p>
          <p class="position">Marketing</p>
        </div>
      </div>
      <div class="col-md-12" style="display: inline-flex;">
        <i style="font-size: 60px; margin-top: 10px;" class="far fa-user-circle"></i>
        <div style="margin-left: 10px;">
          <p class="name">Alice</p>
          <p class="position">PM</p>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-left: 5%;margin-right: 5%; padding:20px">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <h3>近期動態</h3>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12 frame-news">
        專案內容
      </div>
      <div class="col-md-12 frame-news">
        專案內容
      </div>
      <div class="col-md-12 frame-news">
        專案內容
      </div>
      <div class="col-md-12 frame-news">
        專案內容
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <h3>專案成員募集中</h3>
      </div>
    </div>
    <div class="row frame" style="margin-left: 10px;padding: 10px">
      <div class="col-md-12" style="display: inline-flex;">
        <div class="col-md-4 ">
          <span class="position">職缺名稱</span>
          <small>技能需求</small>
        </div>

        <div class="col-md-8 text-right">
          <button type="button" style="float: right;" class="btn btn_item mr-10" (click)="onSave()"><i
              class="far fa-envelope"></i>
            申請加入</button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-12">
          <ul>
            <li>Simply reply to our customers promptly and give them your listening ear.</li>
            <li>You will spend most of your time answering email enquiries from the public and members.</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="row frame mt-10" style="margin-left: 10px;padding: 10px">
      <a class="clickable" [routerLink]="['/job/1']" style="color: #7F7F7F;">
        <div class="col-md-12" style="display: inline-flex;">
          <div class="col-md-4 ">
            <span class="position">職缺名稱</span>
            <small>技能需求</small>
          </div>

          <div class="col-md-8 text-right">
            <button type="button" style="float: right;" class="btn btn_item mr-10" (click)="onSave()"><i
                class="far fa-envelope"></i>
              申請加入</button>
          </div>
        </div>
      </a>
      <div class="col-md-12">
        <div class="col-md-12">
          <ul>
            <li>Simply reply to our customers promptly and give them your listening ear.</li>
            <li>You will spend most of your time answering email enquiries from the public and members.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
