<div *ngIf="currentProject" id="profile-upper">
  <div id="profile-banner-image">
    <img (error)="onCoverImgError($event)" src="{{this.currentProject.coverUrl}}" alt="cover image">
    <a *ngIf="currentProject?.owner == currentUser?.id" type="button" class="btn-cover" for="profileCover"
      (click)="profileCover.click()">
      <svg-icon src="./assets/icons/edit.svg"></svg-icon> 編輯封面相片
    </a>
    <input id="profileCover" #profileCover type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
      (change)="onUploadProfileCover($event)" />
  </div>
  <div id="profile-d">
    <div id="profile-pic">
      <!-- <img src="https://imagizer.imageshack.com/img921/3072/rqkhIb.jpg"> -->
      <img (error)="onImgError($event)" src="{{currentProject.imageUrl}}">
    </div>
    <!--  <div id="u-name">Himalaya Singh</div> -->

    <div *ngIf="currentProject?.owner == currentUser?.id" id="edit-profileImage" for="profileImage"
      (click)="profileImage.click()"><i class="material-icons">camera_alt</i>
    </div>
    <input id="profileImage" #profileImage type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
      (change)="onUploadProfileImage($event)" style="display: none; padding: 0px" />
  </div>
  <div id="black-grd"></div>

</div>
<div *ngIf="currentProject" class="row mt-24">
  <div class="col-md-3 text-right">

  </div>
  <div class="col-md-5">
    <h1>{{this.currentProject?.name}}</h1>
  </div>

  <div class="col-md-4 text-right  btn_items" *ngIf="currentUser">
    <button type="button" class="btn btn_item" [ngClass]="{'btn_item_selected': currentProject?.isCollected === true}"
      *ngIf="currentProject?.owner !== currentUser?.id" (click)="onClickCollect()"><i class="far fa-bookmark fa-lg"></i>
      {{currentProject?.isCollected === true ? "已收藏" : "收藏"}} </button>

    <button type="button" class="btn btn_item" [ngClass]="{'btn_item_selected': currentProject?.isFollowing === true}"
      *ngIf="currentProject?.owner !== currentUser?.id" (click)="onClickFollow()"><i class="fas fa-plus"></i>
      {{currentProject?.isFollowing === true ? "已追蹤" : "追蹤"}} </button>
    <button type="button" class="btn btn_item" *ngIf="currentProject?.owner !== currentUser?.id" (click)="onChat()"><i
        class="far fa-comment-dots"></i>
      訊息</button>
  </div>
</div>
<div *ngIf="currentProject" class="row mt-10">
  <div class="col-md-3 text-right">

  </div>
  <div class="col-md-6">
    <a *ngIf="IsNullorEmpty(currentProject.website)" href="{{ currentProject.website }}" target="_blank"> <i
        class="fas fa-globe icon color-gray"></i></a>
    <a *ngIf="IsNullorEmpty(currentProject.github)" href="{{ currentProject.github }}" target="_blank"> <i
        class="fa-fw fab fa-github icon color-gray"></i></a>
    <a *ngIf="IsNullorEmpty(currentProject.twitter)" href="{{ currentProject.twitter }}" target="_blank"><i
        class="fa-fw fab fa-twitter icon color-gray"></i></a>
    <a *ngIf="IsNullorEmpty(currentProject.discord)" href="{{ currentProject.discord }}" target="_blank"><i
        class="fa-fw fab fa-discord icon color-gray"></i></a>
    <a *ngIf="IsNullorEmpty(currentProject.facebook)" href="{{ currentProject.facebook }}" target="_blank"><i
        class="fa-fw fab fa-facebook icon color-gray"></i></a>
    <a *ngIf="IsNullorEmpty(currentProject.instagram)" href="{{ currentProject.instagram }}" target="_blank"> <i
        class="fab fa-instagram-square icon color-gray"></i></a>
  </div>

  <div class="col-md-3 project-info">
    <span>累積{{ currentProject.viewCount}}次瀏覽</span>
    <!--     <span>{{currentProject?.createdAt | date:"yyyy-MM-dd"}}</span> -->
    <span>{{currentProject.collectCount?currentProject.collectCount:0}}人收藏/{{currentProject.followCount}}人追蹤</span>
  </div>
</div>

<div *ngIf="currentProject" class="row project-content">
  <div class="col-md-8">
    <div class="row mb-24">
      <div class="col-md-12 d-inline">
        <span class="title mb-24">專案簡介</span>
        <span *ngIf="currentProject?.owner == currentUser?.id" class="btn-standard ml-24" data-toggle="modal"
          [attr.data-target]="'#modifiedproject'">
          <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 project_frame">
        <div class="tags">
          <ui-tag *ngIf="currentProject.isFindPartner" [class]="'tag-hiring'" [tag]="'徵成員'"></ui-tag>
          <ui-tag *ngIf="currentProject.isFunding" [class]="'tag-funding'" [tag]="'募資中'"></ui-tag>
          <ui-tag *ngIf="currentProject.isCofounder" [class]="'tag-cofounder'" [tag]="'找聯合創始人'"></ui-tag>
        </div>
        <span>{{this.currentProject.description?this.currentProject.description:"尚未填寫專案內容"}}</span>
        <div class="frame_bottom">
          <span class="pb-8 fw-500">目前進度</span>
          <div class="frame_bottom_items">
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('idea') > -1">#已有創業概念</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('businessplan') > -1">#商業計畫初稿</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('fundraising') > -1">#募資中</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('findpartner') > -1">#找創業夥伴</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('buildMVP') > -1">#建構最小可行性產品(MVP)</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('producttested') > -1">#驗證產品中</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('findcustomers') > -1">#找用戶中</span>
            <span class="stage_tag" *ngIf="currentProject?.stage.indexOf('findpayingcustomers') > -1">#找付費用戶中</span>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="projectTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="history-tab" data-bs-toggle="tab" data-bs-target="#history"
              [ngClass]="{ 'active': currentTab === 'history' }" type="button" role="tab"
              (click)="changeTab('history')">專案歷程</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="members-tab" [ngClass]="{ 'active': currentTab === 'members' }" type="button"
              role="tab" (click)="changeTab('members')">成員介紹</button>
          </li>


        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'history' }" id="history" role="tabpanel"
            aria-labelledby="home-tab">
            <div class="empty text-center mt-20" *ngIf="currentProject.logs.length ===0">
              還沒開始
            </div>
            <ng-container *ngIf="this.currentProject?.logs">
              <ng-container *ngFor="let log of currentProject.logs; let i = index">
                <div class="col-md-12 history">

                  <span class="color-gray">{{log.createdAt | date:"yyyy-MM-dd"}}</span><span
                    class="dot"></span><span>{{log.content}}</span>
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'members' }" role="tabpanel"
            aria-labelledby="new-tab">
            <div class="empty text-center  mt-20" *ngIf="currentProject.members ===0">
              沒有其他成員
            </div>
            <div *ngIf="this.currentProject?.members">
              <ng-container *ngFor="let member of currentProject.members ; let i = index">
                <ng-container *ngIf="onPage(i,this.currentPageIndex)">
                  <div class="col-md-4 profile">
                    <app-member-card [user]="member" [name]="member.userName" [position]="member.position"
                      [imageUrl]="member.imageUrl" class="w-100"></app-member-card>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>


        </div>
      </div>


    </div>
  </div>
  <div class="col-md-4">
    <div class="row mb-24">
      <div class="col-md-12">
        <span class="title mb-24">專案成員募集中</span>
      </div>
    </div>
    <div class="row frame empty text-center" *ngIf="!this.currentProject.recruit">
      此專案目前沒有招募成員.
    </div>
    <ng-container *ngIf="this.currentProject?.recruit">

      <ng-container *ngFor="let item of  this.currentProject.recruit; let i = index">
        <div class="row frame" [ngClass]="{'mt-10':i>1}">

          <div class="col-md-12" style="display: inline-flex;">
            <div class="col-md-8 pl-0">
              <p class="position"><b>{{item.position}}</b></p>
              <!-- <small>
                <ng-container *ngIf="item.skills ">
                  <ng-container *ngFor=" let tag of item.skills; let i=index">
                    <span *ngIf="!this.utility.IsNullOrEmpty(tag)"
                      class="tag tag-{{tag}} mr--5">{{convertTag(tag)}}</span>
                  </ng-container>
                </ng-container>
              </small> -->
            </div>
            <div *ngIf="currentUser" class="col-md-4 btn_items pr-0">
              <i *ngIf="item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                class="fas fa-bookmark collected"></i>
              <i *ngIf="!item.isCollected" (click)="onClickJobCollect(item.id, item.isCollected)"
                class="far fa-bookmark color-gray"></i>
              <i class="far fa-envelope color-gray" data-toggle="modal" data-target="#modal_apply" data-dismiss="modal"
                (click)="onSelectItem(item)"></i>
            </div>
          </div>

          <div class="col-md-12">
            {{item.scopes}}
          </div>
          <div class="col-md-12 text-right">
            <a class=" clickable" [routerLink]="['/job/',item.id ]" style="color: #4395E7;">查看詳情</a>
          </div>
        </div>
      </ng-container>
    </ng-container>

  </div>
</div>


<div class="chat-dialog" [class.show]="isChat" class="full">
  <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
    <h3 *ngIf="projectOwner" class="chat-header" title><img class="chat-user-img" [src]="projectOwner.imageUrl!= null ?  settingSrv.defaultAssetUrl+projectOwner.imageUrl
                      : 'assets/icons/defaultUserIcon.png'" alt=""><span class="chat-user-name">{{projectOwner.name?
        projectOwner.name:"No
        name"}}</span></h3>

    <lab-comments [currentUser]="currentUser" [receiverUser]="projectOwner" (close)="onToggleChat($event)" body>
    </lab-comments>

  </lab-custom-modal>

</div>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<!--Modal login mail-->
<app-modal [modalid]="'modal_apply'">
  <div header>

  </div>
  <div body *ngIf="this.selectedApplication">
    <button type="button" class="close" #closebutton data-dismiss="modal" aria-label="Close">
      <span></span>
    </button>
    <div class="text-center mb-4">
      <h4>我要申請加入 {{this.selectedApplication.position}}</h4>
    </div>
    <div>
      <div class="form-group">
        <label for="application_message">我要有話要說</label>
        <textarea class="form-control rounded-0" [(ngModel)]="application_message" id="application_message"
          rows="3"></textarea>
      </div>
    </div>
    <div class="text-center mb-4">
      <button (click)="onSubmit(this.selectedApplication)" class="model_btn_normal mb-2 w-100">
        申請
      </button>
    </div>
  </div>
</app-modal>
<div class="modal fade" id="modifiedproject" tabindex="-1" aria-labelledby="modifiedproject" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="title">編輯專案簡介</p>
        <button type="button" id="close_modify_project" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        <form [formGroup]="projectForm">
          <div class="row">
            <div class="col-md-12 mb-12 ">
              <label class=" pr-2" for="projectname">
                <h5> 專案名稱* :</h5>
              </label>
              <input type="text" formControlName="name" id="projectname" class="form-control mr-10">
              <div *ngIf="submitted && f.name.errors">
                <div class="error-msg" *ngIf="f.name.errors.required">
                  專案名稱必須的
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-10">
            <div class="col-md-12 mb-12 form-group ">
              <label class="pr-2" for="projectname">
                <h5> 專案狀態*</h5>
              </label>
              <div class="form-group">
                <input type="checkbox" (change)="onStatusChange($event, 'isFindPartner')"
                  [checked]="projectForm.value.isFindPartner" value="projectForm.value.isFindPartner"><span>徵成員</span>
                <input type="checkbox" (change)="onStatusChange($event, 'isFunding')"
                  [checked]="projectForm.value.isFunding" value="projectForm.value.isFunding"><span>募資中
                </span>
                <input type="checkbox" (change)="onStatusChange($event, 'isCofounder')"
                  [checked]="projectForm.value.isCofounder" value="projectForm.value.isCofounder"><span>找共同創辦人</span>
              </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
              <label class="pr-2" for="product">
                <h5> 專案產品 :</h5>
              </label>
              <div class="form-check">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    (change)="onProductChange($event, 'website')"
                    [checked]="utility.isInValue('website', f.product.value)" value="website">
                  <label class="form-check-label" for="inlineCheckbox1">網站</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                    (change)="onProductChange($event, 'app')" [checked]="utility.isInValue('app', f.product.value)"
                    value="app">
                  <label class="form-check-label" for="inlineCheckbox2">App</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2"
                    (change)="onProductChange($event, 'hardware')"
                    [checked]="utility.isInValue('hardware', f.product.value)" value="hardware">
                  <label class="form-check-label" for="inlineCheckbox2">硬體</label>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
              <label class="pr-2" for="projectname">
                <h5> 產業類型* :</h5>
              </label>
              <div class="form-check check-group">
                <div> <input type="checkbox" (change)="onIndustryTypeChange($event, 'eComm')"
                    [checked]="utility.isInValue('eComm', f.type.value)" value="eComm"><span>電子商務</span>
                </div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'ai')"
                    [checked]="utility.isInValue('ai', f.type.value)" value="ai"><span>人工智慧</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'edutech')"
                    [checked]="utility.isInValue('edutech', f.type.value)" value="edutech"><span>教育科技</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'sharingeconomy')"
                    [checked]="utility.isInValue('sharingeconomy', f.type.value)"
                    value="sharingeconomy"><span>共享經濟</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'medical')"
                    [checked]="utility.isInValue('medical', f.type.value)" value="medical"><span>醫學科技</span></div>

              </div>
              <div class="form-check check-group">

                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'transport')"
                    [checked]="utility.isInValue('transport', f.type.value)" value="transport"><span>運輸服務</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'fintech')"
                    [checked]="utility.isInValue('fintech', f.type.value)" value="fintech"><span>金融科技</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'game')"
                    [checked]="utility.isInValue('game', f.type.value)" value="game"><span>遊戲產業</span></div>
                <div><input type="checkbox" (change)="onIndustryTypeChange($event, 'platform')"
                    [checked]="utility.isInValue('platform', f.type.value)" value="platform"><span>平台</span></div>
              </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
              <label class="pr-2" for="stage">
                <h5> 目前進度* :</h5>
              </label>
              <div class="form-check  check-group">
                <div> <input type="checkbox" (change)="onStageChange($event, 'idea')"
                    [checked]="utility.isInValue('idea', f.stages.value)" value="idea"><span>已有創業概念</span></div>
                <div> <input type="checkbox" (change)="onStageChange($event, 'businessplan')"
                    [checked]="utility.isInValue('businessplan', f.stages.value)"
                    value="businessplan"><span>商業計畫初稿</span></div>
                <div> <input type="checkbox" (change)="onStageChange($event, 'findpartner')"
                    [checked]="utility.isInValue('findpartner', f.stages.value)" value="findpartner"><span>找創業夥伴</span>
                </div>
                <div> <input type="checkbox" (change)="onStageChange($event, 'buildMVP')"
                    [checked]="utility.isInValue('buildMVP', f.stages.value)"
                    value="buildMVP"><span>建構最小可行性產品(MVP)</span></div>

              </div>
              <div class="form-check  check-group">
                <div> <input type="checkbox" (change)="onStageChange($event, 'producttested')"
                    [checked]="utility.isInValue('producttested', f.stages.value)"
                    value="producttested"><span>驗證產品中&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div> <input type="checkbox" (change)="onStageChange($event, 'findcustomers')"
                    [checked]="utility.isInValue('findcustomers', f.stages.value)"
                    value="findcustomers"><span>找用戶中&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
                <div> <input type="checkbox" (change)="onStageChange($event, 'findpayingcustomers')"
                    [checked]="utility.isInValue('findpayingcustomers', f.stages.value)"
                    value="findpayingcustomers"><span>找付費用戶中</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
              <label class="pr-2" for="projectname">
                <h5> 簡介 :</h5>
              </label>
              <textarea formControlName="description" type="text" class="form-control" id="" rows="4"
                cols="50"></textarea>
              <div *ngIf="submitted && f.description.errors">
                <div class="error-msg" *ngIf="f.description.errors.required">
                  專案簡介是必要的
                </div>
              </div>
            </div>


          </div>
          <div class="row item-center">

            <button type="button" class="btn btn-blue  mr-10" (click)="onModifySubmit()">
              更新</button>


          </div>
          <div class="row">
            <div class="col-md-12 mb-12 form-group text-center">
              <div class="error-msg" *ngIf="projectMsg!=''">{{ projectMsg }}</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
