<div class="box">
  <img class="profile"
    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" />

  <div class="box-title">John Doe</div>

  <div class="box-text">
    <span>Front End Developer</span>
  </div>

  <div class="icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-tumblr"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
