.up_container {
    padding-top: 10px;
    padding: 10px 5px;
    background-color: #ffffff;
}

li {
    list-style: none;
}

.option {
    color: #69738C;
}



.d_sub_title {
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
}

.empty_row {
    height: 300px;
    flex-flow: column;
    text-align: center;
    align-items: center;
    gap: 18px;
}

.mt-56 {
    margin-top: 56px;
}
