.container {
    padding-top: 10px;
}

li {
    list-style: none;
}

.option {
    color: #69738C;
}



.sub_title {
    font-size: 18px;
    font-weight: 500;
}

.empty_row {
    height: 300px;
    flex-flow: column;
    text-align: center;
    align-items: center;
    gap: 18px;
}
