<div class="row">
    <div class="col-md-4">
        <select class="sort_dropdown w-100" (change)="onChange($event.target.value)">
            <option value="LATEST">{{ "LATEST" | translate }}</option>
            <option value="OLDEST">{{ "OLDEST" | translate }}</option>
            <option value="EXPENSIVE">{{ "EXPENSIVE" | translate }}</option>
            <option value="CHEAPEST">{{ "CHEAPEST" | translate }}</option>
            <option value="POPULAR">{{ "POPULAR" | translate }}</option>
        </select>
    </div>
    <div class="col-md-8">
        <div class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
            <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search"
                [(ngModel)]="searchText" aria-label="Search">
            <i class="fas fa-search" style="position: relative; left: -48px;" aria-hidden="true"></i>
        </div>
    </div>
</div>

<ng-container *ngIf="displayArtworks.length == 0">
    <div style="margin-top:20px;" class="text-center subtitle no-msg">{{
        "NOSOLD_START" | translate }}<a routerLink="/artist/collection">{{
            "NOSOLD_LINK" | translate }}</a>{{ "NOFAVOARTWORK_END" | translate }}</div>
</ng-container>
<ng-container *ngFor="let artwork of ( displayArtworks | userFilter: searchText : 'name' )">
    <div id="member-artist-project" class="row mt-30">
        <div class="col-md-4">
            <a [routerLink]="['/gallery',artwork.id]"><img class="mb-10" src="{{ artwork.imageUrl}}" alt=""></a>
        </div>
        <div class="col-md-8">
            <ul class="member_artist_detail_list">
                <li>
                    <h5>{{this.artwork.name}}</h5>
                </li>
                <li>
                    {{ "PRICE" | translate }}：Ξ {{getSellETHPrice(artwork.usdValue)}} / USD {{ artwork.usdValue /
                    100}}
                </li>
                <li>
                    {{ "BUYER" | translate }}：David Huang
                </li>
                <li>
                    {{ "TIME" | translate }}：2020-10-09 PM4:31
                </li>
                <li>
                    {{ "PAYMENTWAY" | translate }}：虛擬錢包
                </li>
                <li>
                    {{ "EDITIONS" | translate }}：10/#8
                </li>
                <li>
                    {{ "FAVOURITES" | translate }}：{{ artwork.liked}}
                </li>
            </ul>

        </div>
    </div>
</ng-container>


<!-- <div id="member-artist-project" class="row mt-30">
                            <div class="col-md-4">
                                <a href="project-purchase.html" target="_blank"><img class="mb-10" src="./assets/images/project-info-02.jpg" alt=""></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="member_artist_detail_list">
                                    <li>
                                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        購買人：David Huang
                                    </li>
                                    <li>
                                        購買時間：2020-10-09 PM4:31
                                    </li>
                                    <li>
                                        付款方式：paypal - <span class="text-orange">尚未轉帳</span>
                                    </li>
                                    <li>
                                        版本：1/#1
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>

                            </div>
                        </div>

                        <div id="member-artist-project" class="row mt-30">
                            <div class="col-md-4">
                                <a href="project-purchase.html" target="_blank"><img class="mb-10" src="./assets/images/project-info-03.jpg" alt=""></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="member_artist_detail_list">
                                    <li>
                                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        購買人：David Huang
                                    </li>
                                    <li>
                                        購買時間：2020-10-09 PM4:31
                                    </li>
                                    <li>
                                        付款方式：paypal - <span class="text-orange">尚未轉帳</span>
                                    </li>
                                    <li>
                                        版本：1/#1
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>

                            </div>
                        </div> -->
<ng-container *ngIf="artworks.length !== 0">
    <div class="text-center pagenation_center mb-40">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</ng-container>
