<h1>
  example works!
</h1>

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <div class="card m-3">
      <h5 class="card-header">Angular 8 Dynamic Reactive Forms Example</h5>
      <div class="card-body">
          <div class="form-row">
              <div class="form-group">
                  <label>Number of Tickets</label>
                  <select formControlName="numberOfTickets" class="form-control" (change)="onChangeTickets($event)" [ngClass]="{ 'is-invalid': submitted && f.numberOfTickets.errors }">
                      <option value=""></option>
                      <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                  </select>
                  <div *ngIf="submitted && f.numberOfTickets.errors" class="invalid-feedback">
                      <div *ngIf="f.numberOfTickets.errors.required">Number of tickets is required</div>
                  </div>
              </div>
          </div>
      </div>
<div *ngFor="let edition of t.controls; let i = index" class="list-group list-group-flush">
  <div class="row">
  <div class="list-group-item">
      <h5 class="card-title">edition {{i + 1}}</h5>
      <div [formGroup]="edition" class="form-row">
          <div class="form-group col-6">
              <label>Name</label>
              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && edition.controls.name.errors }" />
              <div *ngIf="submitted && edition.controls.name.errors" class="invalid-feedback">
                  <div *ngIf="edition.controls.name.errors.required">Name is required</div>
              </div>
          </div>
          <div class="form-group col-6">
              <label>Description</label>
              <input type="text" formControlName="description" class="form-control"  />
             
          </div>
      </div>
  </div></div>
</div>
<div class="card-footer text-center">
  <button class="btn btn-primary mr-1">Buy Tickets</button>
  <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
  <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
</div>
</div>
</form>
<button  (click)="localError()">Local front end error</button>
<button  (click)="failingRequest()">Server request with error</button>
<button  (click)="successfulRequest()">Successful request showing loading spinner</button>
<owl-carousel
  [options]="SlideOptions"
  [items]="images"
  [carouselClasses]="['owl-theme', 'sliding']"
>
  <div class="item" *ngFor="let img of Images">
    <div style="align-content: center;">
      <img style="height: 260px; width: 100%;" src="{{ img }}" />
    </div>
  </div>
</owl-carousel>
<!-- <div class="file-upload-wrapper">
  <input type="file" id="input-file-now" class="file-upload" />
</div>
<div *ngIf="!imageDrop" class="col-12 rmpm dropzone" appDrag>
  <div class="text-wrapper">
      <div class="centered">Drop your file here!</div>
  </div>
</div> -->
<!--droped image preview-->
<img  *ngIf="imageDrop" [src]="imageDrop" width="100px" height="100px">
<app-upload-file id="logochanger"  (onFileUploaded)="onFileUploaded($event,1)" fileType="image">
</app-upload-file>
<img  *ngIf="imageDrop1" [src]="imageDrop1" width="100px" height="100px">
<app-upload-file id="logochanger2"   (onFileUploaded)="onFileUploaded($event,2)" fileType="image">
</app-upload-file>
<img  *ngIf="imageDrop2" [src]="imageDrop2" width="100px" height="100px">
<app-upload-file id="logochanger3"   (onFileUploaded)="onFileUploaded($event,3)" fileType="image">
</app-upload-file>
