<div class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row">
            <div class="col col-xl-8 col-lg-8 offset-xl-2 offset-lg-2" align="center">
                <div class="card mb-3">
                    <div class="card-header">
                        Mnemonic Phase
                    </div>
                    <div class="card-body table-responsive">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                1.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                2.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                3.<input class="inputunderline">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                4.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                5.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                6.<input class="inputunderline">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                7.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                8.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                9.<input class="inputunderline">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4">
                                10.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                11.<input class="inputunderline">
                            </div>
                            <div class="col-xl-4 col-lg-4">
                                12.<input class="inputunderline">
                            </div>

                        </div>
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-xl-4 col-lg-4">

                            </div>
                            <div class="col-xl-4 col-lg-4">

                            </div>
                            <div class="col-xl-4 col-lg-4">
                                <div class="form-group">
                                    <button style="background-color: #4D607E; color: #FFFFFF; margin-right: 10px;"
                                        [disabled]="loading" class="login btn">Save</button>
                                    <button style="background-color: #4D607E; color: #FFFFFF;" [disabled]="loading"
                                        class="login btn">Cancel</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>