<div class="container mb-80 mt-50">
    <div class="row">
        <h1>{{ "CREATEPROJECT"
            | translate }}</h1>
    </div>
    <div class="row mt-10">
        <form [formGroup]="projectForm">
            <div class="row">
                <div class="col-md-12 mb-12 form-group ">
                    <label class="pr-2" for="projectname">
                        <span class="project-form-title"> {{ "PROJECT_NAME" | translate }}<span
                                class="color-red ml-1">*</span></span>
                    </label>
                    <input type="text" formControlName="name" id="projectname" class="form-control mr-10">
                    <div *ngIf="submitted && f.name.errors">
                        <div class="error-msg" *ngIf="f.name.errors.required">
                            {{ "PROJECT_NAME" | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-12 form-group ">
                    <label class="pr-2" for="projectname">
                        <span class="project-form-title"> {{ "PROJECT_STATUS" | translate }}</span>
                    </label>
                    <div class="form-group  options-3">
                        <div> <input type="checkbox" id="isFindPartner"
                                (change)="onStatusChange($event, 'isFindPartner')"
                                [checked]="projectForm.value.isFindPartner"
                                value="projectForm.value.isFindPartner"><label for="isFindPartner">{{
                                "FIND_MEMBER" | translate }}</label></div>
                        <div> <input type="checkbox" id="isFunding" (change)="onStatusChange($event, 'isFunding')"
                                [checked]="projectForm.value.isFunding" value="projectForm.value.isFunding"><label
                                for="isFunding">{{
                                "FIND_MONEY" | translate }}
                            </label></div>
                        <div> <input type="checkbox" id="isCofounder" (change)="onStatusChange($event, 'isCofounder')"
                                [checked]="projectForm.value.isCofounder" value="projectForm.value.isCofounder"><label
                                for="isCofounder">{{
                                "FIND_COFOUNDER" | translate }}</label></div>
                    </div>

                </div>
                <!--       <div class="col-md-12 mb-12 form-group ">
                    <label class="pr-2" for="projectname">
                        <h5> 專案產品</h5>
                    </label>
                    <div class="form-group">
                        <input type="checkbox" (change)="onProductChange($event, 'website')"
                            [checked]="isInValue('website', f.type.value)" value="website"><span>網站</span>
                        <input type="checkbox" (change)="onProductChange($event, 'app')"
                            [checked]="isInValue('app', f.type.value)" value="app"><span>App</span>
                        <input type="checkbox" (change)="onProductChange($event, 'hardware')"
                            [checked]="isInValue('hardware', f.type.value)" value="hardware"><span>硬體</span>
                    </div>
                </div> -->
                <div class="col-md-12 mb-12 form-group ">
                    <label class="pr-2" for="projectname">
                        <span class="project-form-title"> {{"INDUSTRY_TYPES" | translate }}<span
                                class="color-red ml-1">*</span></span>
                    </label>
                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="eComm" (change)="onIndustryTypeChange($event, 'eComm')"
                                [checked]="isInValue('eComm', f.type.value)" value="eComm"><label for="eComm">{{"ECOMM"
                                | translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="medical" (change)="onIndustryTypeChange($event, 'medical')"
                                [checked]="isInValue('medical', f.type.value)" value="medical"><label
                                for="medical">{{"MEDICAL" |
                                translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="ai" (change)="onIndustryTypeChange($event, 'ai')"
                                [checked]="isInValue('ai', f.type.value)" value="ai"><label for="ai">{{"AI" |
                                translate
                                }}</label>
                        </div>
                    </div>
                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="transport" (change)="onIndustryTypeChange($event, 'transport')"
                                [checked]="isInValue('transport', f.type.value)" value="transport"><label
                                for="transport">{{"TRANSPORT"
                                |
                                translate }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="edutech" (change)="onIndustryTypeChange($event, 'edutech')"
                                [checked]="isInValue('edutech', f.type.value)" value="edutech"><label
                                for="edutech">{{"EDUTECH" |
                                translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="fintech" (change)="onIndustryTypeChange($event, 'fintech')"
                                [checked]="isInValue('fintech', f.type.value)" value="fintech"><label
                                for="fintech">{{"FINTECH" |
                                translate
                                }}</label>
                        </div>
                    </div>
                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="sharingeconomy"
                                (change)="onIndustryTypeChange($event, 'sharingeconomy')"
                                [checked]="isInValue('sharingeconomy', f.type.value)" value="sharingeconomy"><label
                                for="sharingeconomy">{{"SHARINGECONOMY" | translate }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="game" (change)="onIndustryTypeChange($event, 'game')"
                                [checked]="isInValue('game', f.type.value)" value="game"><label for="game">{{"GAME" |
                                translate
                                }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-12 form-group ">
                    <label class="pr-2" for="stage">
                        <span class="project-form-title"> {{"CURRENT_PROGRESS" | translate
                            }}<span class="color-red ml-1">*</span></span>
                    </label>
                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="idea" (change)="onStageChange($event, 'idea')"
                                [checked]="isInValue('idea', f.stages.value)" value="idea"><label
                                for="idea">{{"PRORGRESS_1" |
                                translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="businessplan" (change)="onStageChange($event, 'businessplan')"
                                [checked]="isInValue('businessplan', f.stages.value)" value="businessplan"><label
                                for="businessplan">{{"PRORGRESS_2" | translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="PRORGRESS_3" (change)="onStageChange($event, 'findpartner')"
                                [checked]="isInValue('findpartner', f.stages.value)" value="findpartner"><label
                                for="PRORGRESS_3">{{"PRORGRESS_3" | translate
                                }}</label>
                        </div>
                    </div>
                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="buildMVP" (change)="onStageChange($event, 'buildMVP')"
                                [checked]="isInValue('buildMVP', f.stages.value)" value="buildMVP"><label
                                for="buildMVP">{{"PRORGRESS_4"
                                |
                                translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="producttested" (change)="onStageChange($event, 'producttested')"
                                [checked]="isInValue('producttested', f.stages.value)" value="producttested"><label
                                for="producttested">{{"PRORGRESS_5" | translate
                                }}</label>
                        </div>

                        <div>
                            <input type="checkbox" id="findcustomers" (change)="onStageChange($event, 'findcustomers')"
                                [checked]="isInValue('findcustomers', f.stages.value)" value="findcustomers"><label
                                for="findcustomers">{{"PRORGRESS_6" | translate
                                }}</label>
                        </div>
                    </div>

                    <div class="form-group options-3">
                        <div>
                            <input type="checkbox" id="findpayingcustomers"
                                (change)="onStageChange($event, 'findpayingcustomers')"
                                [checked]="isInValue('findpayingcustomers', f.stages.value)"
                                value="findpayingcustomers"><label for="findpayingcustomers">{{"PRORGRESS_7" | translate
                                }}</label>
                        </div>
                        <div>
                            <input type="checkbox" id="fundraising" (change)="onStageChange($event, 'fundraising')"
                                [checked]="isInValue('fundraising', f.stages.value)" value="fundraising"><label
                                for="fundraising">{{"PRORGRESS_8" | translate
                                }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-12 form-group ">
                    <label class="d-flex pr-2" for="projectname">
                        <span class="mr-10 col-form-label project-form-title"> {{ "PROJECT_INTRO" | translate }}
                            :</span>
                        <button type="button" class="btn btn-transparent  mr-10" (click)="onTemplate()">
                            <i class="fas fa-edit"></i> {{ "ADOPTTEMPLATE" | translate }}</button>
                    </label>
                    <textarea formControlName="description" type="text" class="form-control" id="PROJECT_INTRO"
                        rows="20" cols="50" placeholder="{{ 'PROJECT_INTRO_STATEMENT' | translate }}"></textarea>
                    <div *ngIf="submitted && f.description.errors">
                        <div class="error-msg" *ngIf="f.description.errors.required">
                            {{ "PROJECT_INTRO_MUST" | translate }}
                        </div>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <!--   row end -->

    <div class="row">
        <div class="col-md-12 mb-12 form-group button-center">
            <button type="button" class="btn btn-transparent  mr-10" (click)="onCancel()">
                {{ "CANCEL" | translate }}</button>
            <button type="button" class="btn btn-transparent mr-10" [disabled]="!projectForm.valid"
                (click)="onSaveDraft()">
                {{ "SAVE_DRAFT" | translate }}</button>
            <button type="button" class="btn btn-blue mr-10" [disabled]="!projectForm.valid" (click)="onSave()">
                {{ "PUBLISH" | translate }}</button>
        </div>

    </div>

</div>
<app-dialog></app-dialog>
