    <div id="content-mt" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="footer_title_line"><span class="footer_title">數位藝術家</span></h1>
            </div>
        </div>
        <div class="row mt-60 mb-40">
            <div class="col-md-4 offset-md-2 text-justify footer_text ">
                在Formosa上您可以收藏創作者的作品，他們的作品不只是圖片、影像等等更是一個數位資產而保存在乙太坊區塊鏈上，您可以收集保存在您的錢包，您轉送給你朋友或拍賣，更重要的是你可以在所有建立在乙太坊區塊鏈上應用程式上拍賣或展示妳的收藏。
                <a href="project.html" class="text-white">
                    <button class="btn_large w-100 mt-30 mb-40">開始找尋您喜愛的作品</button>
                </a>
            </div>
            <div id="footer_buyer_img" class="col-md-5" >
                <img class="w-75" src="./../../../assets/images/footer_buyer.jpg" alt="">
            </div>
        </div>
    </div>
