.f-22{
    font-size: 22px;
}
.page-title{
        font-family: "Noto Serif JP", sans-serif;

    font-weight: 700;
    font-size: 36px;
      border-bottom:9px solid #17F596;
    padding-bottom:10px;
}
