<div class="container mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">{{ "ABOUT_1_TITLE"
                    | translate }}</span></h1>
        </div>
    </div>

    <div class="row mt-40">
        <!-- <div class="col-md-12 offset-md-1 text-justify footer_text"> -->
        <div class="col-md-12  text-justify content-goal">
            <span>{{ "ABOUT_1_1"
                | translate }}<span class="color-red">{{ "ABOUT_1_2"
                    | translate }}</span>{{ "ABOUT_1_3"
                | translate }}</span>

            <span>{{ "ABOUT_1_4"
                | translate }}</span>

            <span>{{ "ABOUT_1_5"
                | translate }}</span>
            <span>{{ "ABOUT_1_6"
                | translate }}</span>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                    <div class="box-part text-center option">
                        <img class="box-img" for="findproject" src="./../../../assets/images/find_project2.svg"
                            alt="" />
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <span class="option_title">{{ "ABOUT_2_1"
                                | translate }}</span>
                        </div>

                        <div class="text">
                            <span class="option_desc">{{ "ABOUT_2_2"
                                | translate }}</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                    <div class="box-part text-center option">
                        <img class="box-img" for="findpartner" src="./../../../assets/images/find_partner2.svg"
                            alt="" />
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <span class="option_title">{{ "ABOUT_2_3"
                                | translate }}</span>
                        </div>

                        <div class="text">
                            <span class="option_desc">{{ "ABOUT_2_4"
                                | translate }}</span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">

                    <div class="box-part text-center  option">
                        <img class="box-img" for="findmentor" src="./../../../assets/images/projectpage2.svg" alt="" />
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <span class="option_title">{{ "ABOUT_2_5"
                                | translate }}</span>
                        </div>

                        <div class="text">
                            <span class="option_desc">{{ "ABOUT_2_6"
                                | translate }}</span>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row mt-20">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">{{ "ABOUT_3_TITILE"
                    | translate }}</span></h1>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12 member-container">
            <div class="member">
                <div class="profile-pic">
                    <img (error)="onImgError($event)" src="assets/images/kenneth.svg">
                </div>
                <span class="member_name">{{ "ABOUT_3_1"
                    | translate }}</span>
                <span class="member_position">{{ "ABOUT_3_2"
                    | translate }}</span>
                <span class="member_intro">{{ "ABOUT_3_3"
                    | translate }}</span>
            </div>
            <div class="member">
                <div class="profile-pic">
                    <img (error)="onImgError($event)" src="assets/images/jolin.svg">

                </div>
                <span class="member_name">{{ "ABOUT_3_4"
                    | translate }}</span>
                <span class="member_position">{{ "ABOUT_3_5"
                    | translate }}</span>
                <span class="member_intro">{{ "ABOUT_3_6"
                    | translate }}</span>
            </div>
        </div>
    </div>
    <div class="row mt-20" id="support" #support>
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">{{ "ABOUT_4_1"
                    | translate }}</span></h1>
        </div>
    </div>
    <div class="row mt-20 mb-30">
        <div class="col-md-12 ">
            <span>{{ "ABOUT_4_2"
                | translate }}
            </span>
        </div>
    </div>
</div>
