<div class="container mb-80 mt-80">
    <div class="row">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">關於Next Step</span></h1>
        </div>
    </div>

    <div class="row mt-40">
        <!-- <div class="col-md-12 offset-md-1 text-justify footer_text"> -->
        <div class="col-md-12  text-justify content-goal">
            <span>Next Step 創立初衷即是為了解決<span style="color:#FF3356">「缺乏一個可以尋找 Side project的平台」</span>的問題。</span>

            <span>我們觀察到有許多人想利用下班或課餘時間做 side project，但是卻很難透過統一的管道或平台尋找合作對象，抑或是有很好的點子，卻因找不到志同道合的夥伴而遲遲未開始執行。</span>

            <span>因此，為了解決以上種種問題， Next Step 規劃了以下功能，讓你可以：</span>
            <br>
            <br>
            <span><span class="step">1</span>尋找 side project ，踏出你的 next step！</span>
            <span><span class="step">2</span>尋找 side project 夥伴，加入/建立一個優質團隊</span>
            <span><span class="step">3</span>建立專案頁，讓更多人認識你們，促進交流、增加合作機會，甚至打開知名度！</span>
        </div>
        <!-- <div class="col-md-5">
            <img class="w-100" src="./../../../assets/images/footer_about.jpg" alt="">
        </div> -->
    </div>
    <div class="row mt-20">
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">團隊介紹</span></h1>
        </div>
    </div>
    <div class="row mt-20">
        <div class="col-md-12 member-container">
            <div class="member">
                <div id="profile-pic">
                    <img (error)="onImgError($event)" src="assets/images/defaultlogo.png">
                </div>
                <span>Kenneth Hu</span>
                <span>開發者</span>
                <span>撰寫任何事情，O型水瓶混魔羯，咖啡愛好者，Full stack/blockchain Web3 developer</span>
            </div>
            <div class="member">
                <div id="profile-pic">
                    <img (error)="onImgError($event)" src="assets/images/defaultlogo.png">

                </div>
                <span>Jolin Tseng</span>
                <span>UX設計師</span>
                <span>簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介簡介</span>
            </div>
        </div>
    </div>
    <div class="row mt-20" id="support" #support>
        <div class="col-md-12">
            <h1 class="footer_title_line"><span class="page-title">支持我們</span></h1>
        </div>
    </div>
    <div class="row mt-20 mb-30">
        <div class="col-md-12 member-container">
            <span>若您喜歡或認同 Next Step的理念，歡迎給予我們任何形式的支持！
            </span>
        </div>
    </div>
</div>
