/*---------chat window---------------*/


.message_title {
	font-size: 32px;
	font-weight: 500;
}

.noItem {
	// height: 300px;
	padding: 15px;
	margin-top: 28px;
	// font-size: 1.75rem;

	display: grid;
	justify-content: center;
	font-size: 16px;
	gap: 10px;
	justify-items: center;
}

.messaging {
	padding: 44px 0 50px 0;
}

.inbox_msg {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
	display: flex;

	.inbox_people {
		background: #fff;
		float: left;
		overflow: hidden;
		width: 30%;
		border-right: 1px solid #ddd;
	}
}


.chat_list {
	// border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;

	.chat_people {
		overflow: hidden;
		clear: both;

		.chat_ib {
			float: left;
			padding: 0 0 0 15px;
			width: 88%;
		}

		.chat_ib h5 {
			font-size: 15px;
			color: #464646;
			margin: 0 0 8px 0;
		}

		.chat_ib h5 span {
			font-size: 13px;
			float: right;
		}

		.chat_ib p {
			font-size: 12px;
			color: #989898;
			margin: auto;
			display: inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.chat_num {
			font-size: 14px;
			padding: 2px 6px;
			border: 1px solid #FF3356;
			background-color: #FF3356;
			border-radius: 50%;
			color: #fff;
			width: 24px;
			float: right;
		}

		.chat_short_msg {
			display: grid !important;
			grid-template-columns: auto 30px;
			gap: 8px;
		}
	}
}

.inbox_chat {
	height: 100%;
	overflow-y: auto;

	.chat_img {
		float: left;
		width: 11%;
	}

	.chat_img img {
		// width: 100%
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	.active_chat {
		background: #e8f6ff;
	}
}


.time_date {
	color: #747474;
	display: block;
	font-size: 12px;
	margin: 8px 0 0;
}


.mesgs {
	background-color: #fff;
	float: left;
	padding: 30px 15px 0 25px;
	width: 70%;

	.msg_header {
		display: grid;
		grid-template-columns: 50px 1fr;
		border-bottom: 1px solid #c4c4c4;
		margin-bottom: 10px;

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}

		.msg_header_name {
			padding-top: 5px;
		}

		.msg_header_name span {
			font-size: 18px;
		}
	}
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;

	.time_date {
		float: right;
	}

	.sent_msg {
		float: right;
		width: 46%;
		margin-left: 8px;
	}

	.sent_msg p {
		background: #E3E5EC;
		border-radius: 20px;
		font-size: 16px;
		margin: 0;
		color: #262E42;
		padding: 8px 10px 8px 12px;
		width: 100%;
		font-weight: 400;
	}
}

.type_msg {

	position: relative;
	padding-left: 32px;
	padding-bottom: 59px;

	.input_msg_write {
		padding: 5px;
	}

	.input_msg_write input {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		color: #4c4c4c;
		font-size: 16px;
		width: 70%;
		outline: none;
		border-radius: 4px;
		border: 1px solid #CFD2DA;
		padding: 8px 10px;
		margin-right: 24px;
	}
}

.msg_history {
	height: 720px;
	overflow-y: auto;
	margin-top: 24px;

	.incoming_msg {
		padding-top: 8px;

		.received_msg {
			display: inline-block;
			padding: 0 0 0 10px;
			vertical-align: top;
			width: 92%;

		}

		.received_withd_msg {
			width: 57%;
		}

		.received_withd_msg p {
			background: #DDF2FD none repeat scroll 0 0;
			border-radius: 20px;
			color: #262E42;
			font-size: 16px;
			margin: 0;
			padding: 8px 10px 8px 12px;
			width: 100%;
			font-weight: 400;
		}
	}

	.incoming_msg_img {
		display: inline-block;
		width: 6%;
	}

	.incoming_msg_img img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
}
