<span class="message_title">訊息中心</span>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <!--     <div class="headind_srch">
              <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar" [(ngModel)]="searchText" placeholder="Search">
          </div>
        </div>
      </div> -->
      <div class="inbox_chat scroll">
        <ng-container *ngFor="let item of ( items | itemFilter: searchText : 'name' ) let i=index ;">
          <div class="chat_list" (click)="onClick(item)"
            [ngClass]="{ 'active_chat': item.name === selectedItem?.name }">
            <div class="chat_people">
              <div class="chat_img"> <img [src]="item.image!= null ?  settingSrv.defaultAssetUrl+item.image
                  : 'assets/icons/defaultUserIcon.png'" alt=""> </div>
              <div class="chat_ib">
                <h5>{{item.name}} <span class="chat_date">{{item.date | date : 'yyyy-MM-dd'}}</span></h5>
                <p class="chat_short_msg">{{item.message?item.message:""}}<span *ngIf="item?.readNum>0"
                    class="chat_num">{{item?.readNum}}</span>
                </p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="mesgs">
      <div class="msg_header">


        <img [src]="selectedItem?.image!= null ?  settingSrv.defaultAssetUrl+selectedItem.image
                  : 'assets/icons/defaultUserIcon.png'" alt="">
        <div class="msg_header_name">
          <span>{{selectedItem?.name}} </span>

        </div>

      </div>

      <div class="msg_history">
        <ng-container *ngFor="let item of selectedItem?.chat; let i=index ;">
          <ng-container *ngIf="item.sender == currentUser.id; else receiver_msg">

            <div class="outgoing_msg">

              <div class="sent_msg">
                <p>{{item.content}} </p>

              </div>
              <span class="time_date">{{item.createdAt | date : 'yyyy-MM-dd'}}</span>
              <!-- <div class="outgoing_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div> -->
            </div>
          </ng-container>
          <ng-template #receiver_msg>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="assets/icons/defaultUserIcon.png" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{item.content}} incoming</p>
                  <span class="time_date"> {{item.createdAt | date : 'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-container>


      </div>
      <div class="type_msg">
        <div class="input_msg_write">
          <input type="text" class="write_msg" [(ngModel)]="message" (keyup)="onChange($event)" placeholder="輸入訊息" />
          <!-- <button class="msg_send_btn" type="button" (click)="onSendMsg()"><i class="fa fa-paper-plane"
              aria-hidden="true"></i>傳送</button> -->
          <ui-button class="btn-solid blue round send" style="top:-3px" (click)="onSendMsg()"><img
              src="assets/icons/Cursor.png" alt="no-comment">傳送</ui-button>
        </div>
      </div>
    </div>
  </div>
</div>
