<div class="container text-center">
    <div [ngSwitch]="switch_expression">
        <div class="content" *ngSwitchCase="2">
            <span class="title text-center mb-20">{{
                "JOIN_ASK_1"
                | translate }}[{{invitation? invitation.name:"專案名稱"}}]{{
                "JOIN_ASK_2"
                | translate }}</span>
            <div class="btns">
                <button type="button" class="btn btn-white mr-10" data-dismiss="modal" aria-label="Close"
                    (click)="onReject()">{{
                    "REJECT"
                    | translate }}
                </button>
                <button type="button" class="btn btn-blue mr-10" (click)="onAccept()">
                    {{
                    "ACCEPT"
                    | translate }}</button>
            </div>
            <div class="text-center">
                <a class="later text-center" [routerLink]="['/project/',projectId]">{{
                    "LATER"
                    | translate }}</a>
                <!-- <a>晚點再說</a> -->
            </div>
        </div>
        <div *ngSwitchCase="1">
            <span class="title text-center mb-20">{{
                "JOINPROJECT_1"
                | translate }} :(</span>
            <div class="text-center mb-20">
                <p class="reason">{{
                    "JOINPROJECT_2"
                    | translate }}</p>
                <p class="reason">{{
                    "JOINPROJECT_3"
                    | translate }}</p>
                <p class="reason">{{
                    "JOINPROJECT_4"
                    | translate }}</p>
            </div>
        </div>
        <div *ngSwitchCase="3" class="overtime_container  align-items-center justify-content-center mt-30">
            <div class="w-100 d-flex align-items-center justify-content-center mb-62"><img src="assets/icons/okay.svg"
                    alt="overtime"></div>

            <span class="overtime_countdown">{{
                "JOINSUC_1"
                | translate }}[{{invitation? invitation.name:"專案名稱"}}]{{
                "JOINSUC_2"
                | translate }}<span class="overtime_value">{{countDownValue}}</span>
                {{
                "JOINSUC_3"
                | translate }}</span>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center"
                style="height: 45px; margin-top: 30px;" (click)="GoProjectPage()">
                {{
                "JUMPNOW"
                | translate }}

            </button>
        </div>
        <div *ngSwitchCase="4" class="overtime_container  align-items-center justify-content-center mt-30">
            <div class="w-100 d-flex align-items-center justify-content-center mb-62"><img src="assets/icons/okay.svg"
                    alt="overtime"></div>

            <span class="overtime_countdown">{{
                "JOINSUC_4"
                | translate }}[{{invitation? invitation.name:"專案名稱"}}]{{
                "JOINSUC_2"
                | translate }} <span class="overtime_value">{{countDownValue}}</span>
                {{
                "JOINSUC_3"
                | translate }}</span>
            <button type="submit" class="btn btn-blue w-100 d-flex align-items-center justify-content-center"
                style="height: 45px; margin-top: 30px;" (click)="GoHomePage()">
                {{
                "JUMPNOW"
                | translate }}

            </button>
        </div>
    </div>
</div>
