app-joinproject {
    .container {

        height: 40vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        padding-top: 150px;
        gap: 24px;

        .content {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            gap: 24px;
        }

        .title {
            font-size: 24px;
            font-weight: 500;
            line-height: 24px;
        }

        .reason {
            font-weight: 500;
        }

        .btns {
            display: flex;
            gap: 40px;
        }

        .later {
            color: black;
            font-weight: 400;
            line-height: 24px;
        }

        .mb-62 {
            margin-bottom: 62px;
        }
    }
}
