#tooltip {
  position: absolute;
  z-index: 1001;
  display: none;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}
.tooltipContent {
    position: relative;
    display: inline-block;
}

.tooltipContent .displayLeft {
    display: block;
    width: 200px;
    background-color: #3B4140;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Nunito';
    font-size: 12px;
    top: -40px;
    right: 140%;
}

.tooltipContent .displayLeft::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #3B4140;
}

.tooltipContent:hover .displayLeft {
    visibility: visible;
    opacity: 1;
}

.tooltipContent .displayRight {
    visibility: hidden;
    width: 200px;
    background-color: #3B4140;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Nunito';
    font-size: 12px;
    top: -34px;
    left: 150%;
}

.tooltipContent .displayRight::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #3B4140 transparent transparent;
    top: 40%;
    right: 100%;
}

.tooltipContent:hover .displayRight {
    visibility: visible;
    opacity: 1;
}

.tooltipContent .displayBottom {
    visibility: hidden;
    width: 200px;
    background-color: #3B4140;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Nunito';
    font-size: 12px;
    top: 100%;
    left: 50%;
    margin-left: -100px;
}

.tooltipContent .displayBottom::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #3B4140 transparent;
    bottom: 100%;
    left: 50%;
}

.tooltipContent:hover .displayBottom {
    visibility: visible;
    opacity: 1;
}

.tooltipContent .displayTop {
    visibility: hidden;
    /* width: 200px; */
    background-color: #3B4140;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s;
    font-family: 'Nunito';
    font-size: 12px;
    bottom: 105%;
    /* left: 50%; */
    margin-left: -107px;
}

.tooltipContent .displayTop::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: #3B4140 transparent transparent transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
}

.tooltipContent:hover .displayTop {
    visibility: visible;
    opacity: 1;
}
.viewImg{
   width: 100%;
    height: 100%;
 object-fit: cover;
}
