<div class=" mb-80">
    <div class="row">
        <div class="d-inline-block col-12  col-md-4 mb-20">
            <span class="myProject-title">{{ "PROJECTMEMBERMANAGEMENT"
                | translate }}</span>
        </div>
        <div class="d-flex col-12  col-md-8 mb-20 actions">

            <a type="button" class="btn btn-dropdown " data-toggle="modal" [attr.data-target]="'#invitedMember'"><i
                    class="fa fa-plus"></i> {{ "INVITE"
                | translate }}
            </a>
            <a type="button" class="btn btn-dropdown  " data-toggle="modal" [attr.data-target]="'#createRcruitModal'"
                (click)="onCreateRecruit()"><i class="fas fa-plus"></i>
                {{"NEWJOB" | translate }}</a>
            <select *ngIf="this.isAllowEdit()" class="btn btn-dropdown   h-40" [disabled]="!canMoveMember"
                [value]="status" (change)="onStatusChange($event)">
                <option value="null">{{"MOVETO" | translate }}</option>
                <option value="current">{{"CURRENTMEMBER" | translate }}</option>
                <option value="candidate">{{"CANDIDATE" | translate }}</option>
                <option value="inviting">{{"INVITING" | translate }}</option>
                <option value="interview">{{"INTERVIEW" | translate }}</option>
                <option value="rejected">{{"REJECTEDMEMBER" | translate }}</option>
                <option value="past">{{"PASTMEMBER" | translate }}</option>
                <!-- </ng-template> -->
            </select>
        </div>
    </div>
    <div *ngIf="!loading" class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hidden-xs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                        (click)="changeTab('current')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'current' }">{{current.length}}</span>{{"CURRENTMEMBER"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'candidate' }"
                        type="button" role="tab" (click)="changeTab('candidate')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'candidate' }">{{candidates.length}}</span>{{"CANDIDATE"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'inviting' }"
                        type="button" role="tab" (click)="changeTab('inviting')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'inviting' }">{{invitingList.length}}</span>{{"INVITING"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'interview' }"
                        type="button" role="tab" (click)="changeTab('interview')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'interview' }">{{interviews.length}}</span>{{"INTERVIEW"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'rejected' }"
                        type="button" role="tab" (click)="changeTab('rejected')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'rejected' }">{{rejected.length}}</span>{{"REJECTEDMEMBER"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'history' }"
                        type="button" role="tab" (click)="changeTab('history')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'history' }">{{past.length}}</span>{{"PASTMEMBER" |
                        translate }}</button>
                </li>

            </ul>

            <select class="btn btn-dropdown mobileTab" [value]="currentTab" (change)="onChangeTab($event)">
                <option value="current">{{"CURRENTMEMBER"
                    | translate }}</option>
                <option value="candidate">{{"CANDIDATE"
                    | translate }}</option>
                <option value="inviting">{{"INVITING"
                    | translate }}</option>
                <option value="interview">{{"INTERVIEW"
                    | translate }}</option>
                <option value="rejected">{{"REJECTEDMEMBER"
                    | translate }}</option>
                <option value="history">{{"PASTMEMBER"
                    | translate }}</option>

                <!-- </ng-template> -->
            </select>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="row  pl-15">
                        <div class="bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"NAME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"POSITION" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"ROLE" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JOINTIME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">

                            </div>

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="current.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="current.length >0">

                        <ng-container *ngFor="let member of  current; let i = index">
                            <div class="row  pl-15">
                                <div class="bar  cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.userId)"
                                                [disabled]="member.isOwner" [(ngModel)]="member.isSelected"
                                                value="{{member.userId}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black" href="/u/{{member.uid}}"
                                            target="_blank"><img class="profile-image-small rounded-circle"
                                                src="{{ member.imageUrl }}" (error)="onImgError($event)"
                                                alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span> {{member.position?member.position:"沒有職稱"}}
                                        </span>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <ng-container *ngIf="member?.role ==='owner'; else roles">{{"CREATOR" |
                                            translate }}</ng-container>
                                        <ng-template #roles>

                                            <select class="form-control w-80" [disabled]="!this.isAllowEdit()"
                                                [value]="member.role" (change)="onRoleChange($event, member)">
                                                <option value="">{{"PLEASESELECT" |
                                                    translate }}</option>

                                                <option value="manager">{{"PROJECTMEMBER" |
                                                    translate }}</option>
                                                <option value="member">{{"PROJECTMANG" |
                                                    translate }}</option>
                                            </select>
                                        </ng-template>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span> {{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </span>

                                    </div>
                                    <div class="action-item">

                                        <div class="dropdown" *ngIf="this.isAllowEdit()">
                                            <i class="fas fa-ellipsis-h" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="true"></i>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item color-gray" data-toggle="modal"
                                                    [attr.data-target]="'#memberInfoModal'"
                                                    (click)="onEditMemberInfo($event, member)"><svg-icon
                                                        src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{"EDIT" |
                                                    translate }}</a>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'candidate' }" role="tabpanel"
                    aria-labelledby="candidate-tab">
                    <div *ngIf="candidates.length >0" class="row  pl-15">
                        <div class="bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"NAME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JOBS" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"TIME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">

                            </div>
                            <div class="d-flex align-items-center">

                            </div>

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="candidates.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="candidates">
                        <ng-container *ngFor="let member of candidates; let i = index">
                            <div class="row  pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.userId)"
                                                [(ngModel)]="member.isSelected" value="{{member.userId}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black" href="/u/{{member.uid}}"
                                            target="_blank"><img class="profile-image-small rounded-circle"
                                                src="{{ member.imageUrl }}" (error)="onImgError($event)"
                                                alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="clickable color-black" (click)="onViewAplication(member)"
                                            data-toggle="modal" [attr.data-target]="'#createRcruitModal'">
                                            {{member.position}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">
                                        </p>
                                    </div>
                                    <div class="action-item">
                                        <a class="text-md m-0" (click)="onChat(member)"><i
                                                class="far fa-comment-alt"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'inviting' }" role="tabpanel"
                    aria-labelledby="inviting-tab">
                    <div *ngIf="invitingList.length >0" class="row  pl-15">
                        <div class="bar-6  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"NAME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">Email</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"APP_TYPE" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"APP_STATUS" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"APP_INVITE_DATE" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">

                            </div>
                        </div>
                    </div>
                    <div class="empty text-center d-grid" *ngIf="invitingList.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="invitingList">
                        <ng-container *ngFor="let member of invitingList; let i = index">
                            <div class="row  pl-15">
                                <div class="bar-6  cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}" [disabled]="'true'" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black text-md"
                                            href="/u/{{member.uid}}" target="_blank"><img
                                                class="profile-image-small rounded-circle" src="{{ member.imageUrl }}"
                                                (error)="onImgError($event)" alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.email}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.type}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.status=="0"?this.msg.invitingStr:
                                            member.status=="1"
                                            ?this.msg.acceptedStr:this.msg.rejectedStr}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.invitedate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <a class="clickable color-gray" *ngIf="member.status=='0'"
                                            (click)="onClickResend(member)">
                                            <i class="fa fa-envelope icon"></i>
                                        </a>
                                        <a class="clickable color-gray" (click)="onClickDelete(member.id)">
                                            <i class="far fa-trash-alt icon"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'interview' }" role="tabpanel"
                    aria-labelledby="interview-tab">
                    <div *ngIf="interviews.length >0" class="bar  cursor-pointer w-100">
                        <div class="d-flex align-items-center mt-10">
                            <label class="switch" for="allitem">
                                <input type="checkbox" id="allitem" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"NAME" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"POSITION" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"TIME" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">

                        </div>
                        <div class="d-flex align-items-center">

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="interviews.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="interviews">
                        <ng-container *ngFor="let member of interviews; let i = index">
                            <div class="row  pl-15">
                                <div class="bar  cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.userId)"
                                                [(ngModel)]="member.isSelected" value="{{member.userId}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black" href="/u/{{member.uid}}"
                                            target="_blank"><img class="profile-image-small rounded-circle"
                                                src="{{ member.imageUrl }}" (error)="onImgError($event)"
                                                alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0" (click)="onChat(member)"><i
                                                class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'rejected' }" role="tabpanel"
                    aria-labelledby="rejected-tab">
                    <div *ngIf="rejected.length >0" class="bar  cursor-pointer w-100">
                        <div class="d-flex align-items-center mt-10">
                            <label class="switch" for="allitem">
                                <input type="checkbox" id="allitem" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"NAME" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"POSITION" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="fw-500">{{"TIME" |
                                translate }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span></span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span></span>
                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="rejected.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="rejected">
                        <ng-container *ngFor="let member of rejected; let i = index">
                            <div class="row  pl-15">
                                <div class="bar  cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.userId)"
                                                [(ngModel)]="member.isSelected" value="{{member.userId}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black" href="/u/{{member.uid}}"
                                            target="_blank"><img class="profile-image-small rounded-circle"
                                                src="{{ member.imageUrl }}" (error)="onImgError($event)"
                                                alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="text-md m-0" (click)="onChat(member)"><i
                                                class="far fa-comment-alt"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'history' }" role="tabpanel"
                    aria-labelledby="history-tab">
                    <div *ngIf="past.length >0" class="row  pl-15">
                        <div class="bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"NAME" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"POSITION" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"DURATION" |
                                    translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500"></span>
                            </div>
                            <div class="d-flex align-items-center">

                            </div>

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="past.length ===0">
                        <svg-icon class="icon" src="assets/icons/NoUser.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="past">
                        <ng-container *ngFor="let member of past; let i = index">
                            <div class="row  pl-15">
                                <div class="bar  cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.userId)"
                                                [(ngModel)]="member.isSelected" value="{{member.userId}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex align-items-center gap-10 color-black" href="/u/{{member.uid}}"
                                            target="_blank"><img class="profile-image-small rounded-circle"
                                                src="{{ member.imageUrl }}" (error)="onImgError($event)"
                                                alt="" />{{member.name}}
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a class="text-md m-0" (click)="onChat(member)"><i
                                                class="far fa-comment-alt"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="invitedMember" tabindex="-1" aria-labelledby="invitedMember" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">{{"INVITE" |
                    translate }}</span>
                <button type="button" id="close_invited" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            [ngClass]="{ 'active': invitedTab === 'userId' }" type="button" role="tab"
                            (click)="changeInvitedTab('userId')">{{"USERID" |
                            translate }}</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': invitedTab === 'email' }"
                            type="button" role="tab" (click)="changeInvitedTab('email')">Email</button>
                    </li>
                </ul>
                <div class="tab-content" id="invitedTabContent">
                    <div class="tab-pane" [ngClass]="{ 'active': invitedTab === 'userId' }" role="tabpanel"
                        aria-labelledby="userId-tab">
                        <div class="row mt-10">
                            <label for="userId" class="col-sm-2 col-form-label text-nowrap">{{"USERID" |
                                translate }}</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="invitedUserId" class="form-control rounded-0"
                                    id="userId" aria-describedby="nameHelp" placeholder="ID">
                                <div *ngIf="submitted && invitedUserId==''">
                                    <div class="error-msg">
                                        {{"USERID_MUST" |
                                        translate }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row  mt-10" style="justify-content: end;">
                            <button type="button" style="float: right;" class="btn btn-blue mr-10"
                                (click)="inviteByUserId()">{{"INVITE" |
                                translate }}</button>
                        </div>
                    </div>
                    <div class="tab-pane" [ngClass]="{ 'active': invitedTab === 'email' }" role="tabpanel"
                        aria-labelledby="userId-tab">
                        <form [formGroup]="invitationForm">
                            <div class="form-group row mt-10">
                                <label for="staticName" class="col-sm-2 col-form-label text-nowrap">{{"NAME" |
                                    translate }}</label>
                                <div class="col-sm-10">
                                    <input type="text" formControlName="name" class="form-control rounded-0"
                                        id="staticName" aria-describedby="nameHelp" placeholder="Enter name">
                                    <div *ngIf="submitted && f.name.errors">
                                        <div class="error-msg" *ngIf="f.name.errors.required">
                                            {{"NAME_MUST" |
                                            translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label text-nowrap">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" formControlName="email" class="form-control rounded-0"
                                        id="staticEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                    <div *ngIf="submitted && f.email.errors">
                                        <div class="error-msg" *ngIf="f.email.errors.required">
                                            {{"NAME_MUST" |
                                            translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="justify-content: end;">
                                <button type="button" style="float: right;" class="btn btn-blue  mr-10"
                                    (click)="inviteByEmail()">{{"INVITE" |
                                    translate }}</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
<div class="modal fade" id="changeMemberStatusModal" tabindex="-1" aria-labelledby="invitedMember" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">{{"PROJECTMEMBER" | translate }}</span>
                <button type="button" id="close_invited" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createRcruitModal" tabindex="-1" aria-labelledby="createRcruitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span *ngIf="!this.selectedEditItem;else edit_job" class="modal-title">{{"NEWJOB" | translate }}</span>
                <ng-template #edit_job><span class="modal-title">{{"EDITJOB" | translate }}</span>
                </ng-template>
                <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
                    (click)="onCleanSelectedEditeItem()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recruitForm">
                    <div class="form-group">
                        <label for="inputPosition">{{"JOBTITLE" | translate }}</label>
                        <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
                            placeholder="{{'POSITION' |
                                translate }}">
                    </div>
                    <div class="form-group">
                        <label for="inputContent">{{"JD" | translate }}</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputSkills">{{"SKILLS" | translate }}</label>
                        <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                            secondaryPlaceholder="{{'SKILLSEXS' | translate }}">
                            <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <div class="form-group">

                        <label for="inputSkills">{{"PWTC" | translate }}</label>
                        <div class="form-group">
                            <div>
                                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                                <label class="option" for="work12">{{"WORK12" | translate }}</label>
                            </div>
                            <div>
                                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                                <label class="option" for="work34">{{"WORK34" | translate }}</label>
                            </div>
                            <div>
                                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                                <label class="option" for="work56">{{"WORK56" | translate }}</label>
                            </div>
                            <div>
                                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                                <label class="option" for="work78">{{"WORK78" | translate }}</label>
                            </div>
                            <div>
                                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                                <label class="option" for="work9">{{"WORK9" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <button *ngIf="!isViewMode" type="button" style="float: right;" class="btn btn-blue  mr-10"
                            (click)="onRecruitSubmit()">{{"CREATE" |
                            translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div [class.show]="isChat" class="full">
    <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
        <h3 class="chat-title" title><img class="profile-image-small rounded-circle mr-10" src="{{ reciver?.imageUrl }}"
                (error)="onImgError($event)" alt="" />{{reciver?.name}}</h3><span aria-hidden="true">X&times;</span>
        <div>
        </div>
        <lab-comments [currentUser]="currentUser" [receiverUser]="reciver" [receiverId]="reciver?.userId"
            (close)="onToggleChat($event)" body>
        </lab-comments>

    </lab-custom-modal>

</div>
<app-dialog></app-dialog>
<!-- edit experience start -->
<div class="modal fade" id="memberInfoModal" tabindex="-1" aria-labelledby="memberInfoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">{{"EDITPROFILE" |
                    translate }}</span>
                <button type="button" #closeInfobutton class="close" data-dismiss="modal" aria-label="Close"
                    (click)="onCancelInfo()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <form [formGroup]="memberInfoForm">
                    <div class="form-group">
                        <label for="inputExpPosition">{{"POSITION" |
                            translate }}</label>
                        <input type="text" class="form-control rounded-0" formControlName="position"
                            id="inputExpPosition" placeholder="{{'POSITION' |
                                translate }}">
                    </div>

                    <div class="form-group">
                        <label for="inputContent">{{"JD" |
                            translate }}</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>

                    <button type="button" class="btn btn-white mr-10" data-dismiss="modal" aria-label="Close"
                        (click)="onCancelInfo()">{{"CANCEL" |
                        translate }}
                    </button>
                    <button type="button" class="btn btn-blue mr-10" (click)="onMemberInfoSubmit()">
                        {{"SAVE" |
                        translate }}</button>
                </form>

            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
