.button-center{
      display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  transition: 200ms;
  flex-direction: row;
}

.item{
  padding-left: 20px;
}
.num {
  font-size: 16px;
  padding: 2px 6px;
  border: 1px solid #6c757d;
  border-radius: 50%;
}
.card:hover {
  border: 2px solid var(--action-pri-active);
}

.card:hover .dropdown {
  display: block;
}

.icon-button {
  padding: 6px 9.5px;
  font-size: 18px;
  border-radius: var(--br-circle);
  background-color: transparent;
  color: var(--grey-50);
  transition: 200ms;
  cursor: pointer;
}

.icon-button:hover {
  background-color: var(--grey-7);
  color: var(--grey-85);
}

.cursor-pointer {
  cursor: pointer;
}

.danger {
  color: var(--danger);
  font-family: var(--font-nunito);
}

.table-scroll{
  max-height: 550px;
  overflow-y: auto;
}

.borderlabel{
  border: 1px solid #6c757d !important;
  border-color: #6c757d;
  border-radius: var(--br-circle);
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: var(--fs-xs);
  color: #6c757d;
  padding: 3px 10px;
}

.fw-700{
  font-weight: 700;
}

.badge {
  font-size: 12px;
  color: #ffffff;
  background-color: var(--danger);
  border-radius: var(--br-circle);
  position: relative;
  /* margin-top: -80px; */
  top: -10px;

}

.hide{
  display: none;
}

.icon{
    padding-left: 5px;
    padding-right: 5px;
}
 .empty{
   padding: 30px;
    font-size: 20px;
 }
