<div class=" mb-80">
    <div class="row">
        <div class="col-md-12 mb-20" style="display: inline-block;">
            <span class="title">成員管理</span>

            <a type="button" style="float: right;" class="btn mr-10" data-toggle="modal"
                [attr.data-target]="'#invitedMember'"><i class="fas fa-plus"></i> 邀請成員
            </a>
            <a type="button" style="float: right;" class="btn mr-10" data-toggle="modal"
                [attr.data-target]="'#createRcruitModal'"><i class="fas fa-plus"></i> 招募成員</a>
            <select style="float: right;" class="btn mr-10" [disabled]="!canMoveMember" [value]="status"
                (change)="onStatusChange($event)">
                <option value="null">移動成員去</option>
                <option value="current">現在成員</option>
                <option value="candidate">申請加入</option>
                <option value="inviting">邀請中</option>
                <option value="interview">面談中</option>
                <option value="rejected">已拒絕</option>
                <option value="past">歷程成員</option>
                <!-- </ng-template> -->
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                        (click)="changeTab('current')"><span class="num">{{current.length}}</span>目前成員</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'new' }"
                        type="button" role="tab" (click)="changeTab('new')"><span
                            class="num">{{candidates.length}}</span>申請加入</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'inviting' }"
                        type="button" role="tab" (click)="changeTab('inviting')"><span
                            class="num">{{invitingList.length}}</span>邀請中</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'interview' }"
                        type="button" role="tab" (click)="changeTab('interview')"><span
                            class="num">{{interviews.length}}</span>面談中</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'rejected' }"
                        type="button" role="tab" (click)="changeTab('rejected')"><span
                            class="num">{{rejected.length}}</span>已拒絕</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'history' }"
                        type="button" role="tab" (click)="changeTab('history')"><span
                            class="num">{{past.length}}</span>歷程成員</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="empty text-center" *ngIf="current.length ===0">
                        There are no member.
                    </div>
                    <ng-container *ngIf="current.length >0">
                        <ng-container *ngFor="let member of  current; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)" [disabled]="member.isOwner"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a *ngIf="!member.isOwner" class="text-md m-0" (click)="onChat(member)">前往對話
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'new' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="empty text-center" *ngIf="candidates.length ===0">
                        There are no candidates
                    </div>
                    <ng-container *ngIf="candidates">
                        <ng-container *ngFor="let member of candidates; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="text-md m-0" (click)="onChat(member)">前往對話
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'inviting' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="empty text-center" *ngIf="invitingList.length ===0">
                        Empty
                    </div>
                    <ng-container *ngIf="invitingList">
                        <ng-container *ngFor="let member of invitingList; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}" [disabled]="'true'" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.email}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.type}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.status=="0"?"邀請中":"已接受"}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.invitedate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>

                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="clickable" (click)="onClickResend(member)" style="color: #7F7F7F;">
                                            <i class="fa fa-envelope icon"></i>
                                        </a>
                                        <a class="clickable" (click)="onClickDelete(member.id)" style="color: #7F7F7F;">
                                            <i class="far fa-trash-alt icon"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'interview' }" role="tabpanel"
                    aria-labelledby="interview-tab">
                    <div class="empty text-center" *ngIf="interviews.length ===0">
                        There are no candidates
                    </div>
                    <ng-container *ngIf="interviews">
                        <ng-container *ngFor="let member of interviews; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <p class="text-md m-0" (click)="onChat(member)">前往對話
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'rejected' }" role="tabpanel"
                    aria-labelledby="rejected-tab">
                    <div class="empty text-center" *ngIf="rejected.length ===0">
                        No one rejected!
                    </div>
                    <ng-container *ngIf="rejected">
                        <ng-container *ngFor="let member of rejected; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="text-md m-0" (click)="onChat(member)">前往對話
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'history' }" role="tabpanel"
                    aria-labelledby="history-tab">
                    <div class="empty text-center" *ngIf="past.length ===0">
                        None
                    </div>
                    <ng-container *ngIf="past">
                        <ng-container *ngFor="let member of past; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.name}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.applicationDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                        </p>
                                    </div>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="text-md m-0" (click)="onChat(member)">前往對話
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="invitedMember" tabindex="-1" aria-labelledby="invitedMember" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>邀請成員</h1>
                <button type="button" id="close_invited" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                            [ngClass]="{ 'active': invitedTab === 'userId' }" type="button" role="tab"
                            (click)="changeInvitedTab('userId')">使用者ID</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': invitedTab === 'email' }"
                            type="button" role="tab" (click)="changeInvitedTab('email')">Email</button>
                    </li>
                </ul>
                <div class="tab-content" id="invitedTabContent">
                    <div class="tab-pane" [ngClass]="{ 'active': invitedTab === 'userId' }" role="tabpanel"
                        aria-labelledby="userId-tab">
                        <div class="row mt-10">
                            <label for="userId" class="col-sm-2 col-form-label text-nowrap">User ID</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="invitedUserId" class="form-control rounded-0"
                                    id="userId" aria-describedby="nameHelp" placeholder="ID">
                                <div *ngIf="submitted && invitedUserId==''">
                                    <div class="error-msg">
                                        User ID is required
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row  mt-10" style="justify-content: end;">
                            <button type="button" style="float: right;" class="btn btn-blue mr-10"
                                (click)="inviteByUserId()">邀請</button>
                        </div>
                    </div>
                    <div class="tab-pane" [ngClass]="{ 'active': invitedTab === 'email' }" role="tabpanel"
                        aria-labelledby="userId-tab">
                        <form [formGroup]="invitationForm">
                            <div class="form-group row mt-10">
                                <label for="staticName" class="col-sm-2 col-form-label text-nowrap">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" formControlName="name" class="form-control rounded-0"
                                        id="staticName" aria-describedby="nameHelp" placeholder="Enter name">
                                    <div *ngIf="submitted && f.name.errors">
                                        <div class="error-msg" *ngIf="f.name.errors.required">
                                            Name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-2 col-form-label text-nowrap">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" formControlName="email" class="form-control rounded-0"
                                        id="staticEmail" aria-describedby="emailHelp" placeholder="Enter email">
                                    <div *ngIf="submitted && f.email.errors">
                                        <div class="error-msg" *ngIf="f.email.errors.required">
                                            Email is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row" style="justify-content: end;">
                                <button type="button" style="float: right;" class="btn btn-blue  mr-10"
                                    (click)="inviteByEmail()">邀請</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
<div class="modal fade" id="changeMemberStatusModal" tabindex="-1" aria-labelledby="invitedMember" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>成員</h1>
                <button type="button" id="close_invited" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createRcruitModal" tabindex="-1" aria-labelledby="createRcruitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>招募成員</h1>
                <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recruitForm">
                    <div class="form-group">
                        <label for="inputPosition">職稱</label>
                        <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
                            placeholder="職稱">
                    </div>
                    <div class="form-group">
                        <label for="inputContent">職缺內容</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputSkills">技能</label>
                        <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                            [secondaryPlaceholder]="'前端開發, 市場開發, UIUX...'">
                            <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <div class="form-group">

                        <label for="inputSkills">每周願意投入時長</label>
                        <div class="form-group">
                            <div>
                                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                                <label class="option" for="work12">1至2小時</label>
                            </div>
                            <div>
                                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                                <label class="option" for="work34">3至4小時</label>
                            </div>
                            <div>
                                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                                <label class="option" for="work56">5至6小時</label>
                            </div>
                            <div>
                                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                                <label class="option" for="work78">7至8小時</label>
                            </div>
                            <div>
                                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                                <label class="option" for="work9">9小時以上(含)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">
                        <button type="button" style="float: right;" class="btn btn-blue  mr-10"
                            (click)="onRecruitSubmit()">創建</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div [class.show]="isChat" class="full">
    <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
        <h3 class="title" title>Chat</h3><span aria-hidden="true">X&times;</span>
        <div>
        </div>
        <lab-comments [currentUser]="currentUser" [receiverUser]="reciver" (close)="onToggleChat($event)" body>
        </lab-comments>

    </lab-custom-modal>

</div>
<app-dialog></app-dialog>
