<div class="login p-3 rounded mt-30 mb-30">
  <!-- LOGO -->
  <div class="d-flex flex-column align-items-center mb-3">
    <div class="mb-2">
      <img class="p-3  rounded-circle logo" src="../../assets/logo-bg-white.png" alt="">
    </div>
    <p><b style="font-size: 1.5rem;">Formosa Art</b></p>
  </div>
  <h5 class="text-center mb-3">FORGOT PASSWORD</h5>
  <!-- form -->
  <div class="mb-3">
    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" aria-describedby="emailHelp"
          placeholder="new password" formControlName="newPassword" style="margin-bottom: 15px;"
          title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
          (input)="onValueChange($event.target.value)">
        <!-- <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required">Password is required</div>
              <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
            </div> -->
        <label *ngIf="!have8Char" class="invalid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
          Must be at least 8 characters!
        </label>
        <label *ngIf="have8Char" class="valid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
          Must be at least 8 characters!
        </label>
        <label *ngIf="!have1Upper" class="invalid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
          Must contain at least 1 in Capital Case!
        </label>
        <label *ngIf="have1Upper" class="valid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
          Must contain at least 1 in Capital Case!
        </label>
        <label *ngIf="!have1Lower" class="invalid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
          Must contain at least 1 Letter in Small Case!
        </label>
        <label *ngIf="have1Lower" class="valid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
          Must contain at least 1 Letter in Small Case!
        </label>
        <label *ngIf="!haveNumber" class="invalid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
          Must contain at least 1 number!
        </label>
        <label *ngIf="haveNumber" class="valid">
          <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
          Must contain at least 1 number!
        </label>
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-sm" placeholder="re-enter new password"
          formControlName="newPassword2" [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }">
        <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
          <div *ngIf="f.newPassword2.errors.required">Password is required</div>
          <!-- <div *ngIf="f.newPassword2.errors.minlength">Password must be at least 6 characters</div> -->
        </div>
      </div>
      <button type="submit" [disabled]="!IsCanResetPassword "
        class="btn btn-primary btn-sm btn-block btn-bgcolor">Submit</button>
      <div class="form-group" style="text-align: center">
        <div [ngClass]="{ 'error-msg': pswMsgFailed === true }" *ngIf="pswActionMsg">{{pswActionMsg}}</div>
      </div>
      <div>
        <button *ngIf="!IsCanResetPassword" type="submit" class="btn btn-primary btn-sm btn-block btn-bgcolor"
          style="margin-top: 15px;" (click)=resendEmail()>Resend Reset
          E-mail</button>
        <p *ngIf="isSent" style="color: green; font-size: 14px; text-align: center; margin-top: 10px;">E-mail sent.
        </p>
        <img *ngIf="loading" class="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
  <!-- description -->
  <div class="">
    <a class="link-color px-3 text-center d-block" routerLink="/index"><small>Login</small></a>
  </div>
</div>
