<!--header-->
<div class="container-fluid bgc-grey">
  <div class="row bgc-white " style="
    padding-bottom: 40px;
">
    <div class="col-md-12">
      <div class="text-center signup-logo">
        <img src="./../../../assets/images/formosa_logo_bgwhite.svg" alt="" />

      </div>
    </div>
  </div>

  <div class="row  mt-20">

    <div id="register_table" class="container">
      <div class="row" [formGroup]="Form">
        <div class="col-md-12 text-center mt-40">
          <div class="signup-subtitle-wrap">
            <span class="signup-subtitle">
              <span class="text-green">Reset Password</span></span>
            <!-- <input type="radio" name="haveOwner" [value]="0" [(ngModel)]="registerType" class="mr-1"
                            [ngModelOptions]="{ standalone: true }" /><span class="text-green">{{ 'SIGNUP' | translate
                            }}</span></span> -->
          </div>
        </div>

        <div class="row col-md-12">
          <div class="col-md-12">
            <div class="form-group">
              <label for="InputPasswor">New password</label>
              <input type="password" class="form-control" placeholder="new password" formControlName="newPassword"
                style="margin-bottom: 15px;" (input)="onValueChange($event.target.value)" />
              <label *ngIf="!have8Char" class="invalid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
                Must be at least 8 characters!
              </label>
              <label *ngIf="have8Char" class="valid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
                Must be at least 8 characters!
              </label>
              <label *ngIf="!have1Upper" class="invalid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
                Must contain at least 1 in Capital Case!
              </label>
              <label *ngIf="have1Upper" class="valid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
                Must contain at least 1 in Capital Case!
              </label>
              <label *ngIf="!have1Lower" class="invalid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
                Must contain at least 1 Letter in Small Case!
              </label>
              <label *ngIf="have1Lower" class="valid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
                Must contain at least 1 Letter in Small Case!
              </label>
              <label *ngIf="!haveNumber" class="invalid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="times-circle"></fa-icon> -->
                Must contain at least 1 number!
              </label>
              <label *ngIf="haveNumber" class="valid">
                <!-- <fa-icon class="iconn" style="margin-right: 5px;" icon="check-circle"></fa-icon> -->
                Must contain at least 1 number!
              </label>
            </div>

          </div>

        </div>
        <div class="row col-md-12  mb-20">
          <div class="col-md-12">
            <div class="form-group">
              <label for="password">{{ 'PASSWORD' | translate }}</label>
              <input type="password" class="form-control" placeholder="re-enter new password"
                formControlName="newPassword2" [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }">
              <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword2.errors.required">Password is required</div>
                <!-- <div *ngIf="f.newPassword2.errors.minlength">Password must be at least 6 characters</div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="text-center mt-40">

  <button [disabled]="!IsCanResetPassword" class="btn_normal " (click)="onSubmit()">
    SUBMIT
  </button>
  <div class="form-group">
    <img *ngIf="loading" class="loading"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  </div>
  <div class="form-group" style="text-align: center">
    <div [ngClass]="{ 'error-msg': pswMsgFailed === true }" *ngIf="pswActionMsg">{{pswActionMsg}}</div>
  </div>
  <!-- <button class="btn_normal mb-40" (click)="onClick()">
        test
    </button>
    <button class="btn_normal mb-40" (click)="onClick2()">
        test2
    </button> -->
  <div class="form-group mb-40 text-center">
    <a style="font-size: 20px;" routerLink="/login">Login</a>
  </div>
</div>
