app-pub-profile {
    #profile-upper {
        position: relative;
    }

    #profile-d {
        position: absolute;
        left: 59px;
        bottom: 0px;
        right: 0px;
        height: 180px;
        z-index: 2;
    }

    #profile-banner-image {
        height: 200px;
        overflow: hidden;
        z-index: 1;
    }

    #profile-banner-image img {
        width: 100%;
        margin-top: -20%;
    }

    #profile-banner-image .icon {
        width: 21px !important;
    }

    #profile-banner-image .btn-cover {
        position: absolute;
        top: 80%;
        left: 85%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: white;

        cursor: pointer;
        color: #8F95A8 !important;
        border: 1px solid #CFD2DA !important;
        border-radius: 4px !important;
        padding: 3px 6px 3px 6px !important;
        font-size: 16px;
        z-index: 100;
    }

    #profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 108px;
        overflow: hidden;
        box-shadow: 0 0 0 5px #fff;
    }

    #profile-pic img {
        width: 100%;
    }

    #u-name {
        position: absolute;
        top: 200px;
        left: 208px;
        color: #0e0e0e;
        font-size: 36px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }

    .bio {
        font-size: 20px;
        margin: auto;
    }

    .uid {
        font-size: 16px;
    }

    .frame {
        border: 0px;
        min-height: 300px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.04) !important;
        padding-left: 10px;
        padding-right: 10px;

        .sub-title {
            font-weight: 500;

        }
    }

    .mt-26 {
        margin-top: 26px;
    }

    .profile-header {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
    }

    .tags {
        margin-top: auto;
        margin-bottom: auto;
    }


    @media (max-width:768px) {

        .fb-profile-text>h1 {
            font-weight: 700;
            font-size: 16px;
        }

        .fb-image-profile {
            margin: -45px 10px 0px 25px;
            z-index: 9;
            width: 20%;
        }
    }

    // .frame {
    //     border: 1px solid rgba(0, 0, 0, 0.6);

    //     padding-top: 15px;
    //     padding-bottom: 15px;
    //     padding-left: 10px;
    //     padding-right: 10px;
    //     gap: 12px;
    //     display: grid;
    //     border-radius: 9px;

    //     .sub-title {
    //         font-weight: 500;
    //     }
    // }

    .icon {
        padding: 8px;
        padding-top: 12px;
        font-size: 16px;
        margin-left: 5px;
        color: #191717;
    }

    .end {
        justify-content: end;
    }


    .content {
        min-height: 100px;
    }

    .btn_items {
        display: flex;
        gap: 16px;
        justify-content: end;
        margin-top: auto;
        margin-bottom: auto;
        color: #262E42;
        font-size: 24px;
    }

    .btn_item {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        padding: 4px 10px;
        color: #fff;
        background-color: #56BDF4;
        border: 1px solid #56BDF4;
        border-radius: 4px;
        width: 84px;
        height: 36px;
        white-space: nowrap;
    }

    .btn_item_selected {
        background-color: #FF859A;
        border: 2px solid #FF859A;
    }


    .title_section {
        gap: 12px;
        display: flex;
    }

    .title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;

    }

    .exp-frame {
        border: 2px solid #fff;

        margin-bottom: 30px;
        margin-left: 10px;
        background-color: #fff;
        display: grid;
        grid-auto-flow: row;
        gap: 24px;
        padding: 12px 10px 12px 10px;
        border-radius: 9px;
    }


    .exp-bar-2 {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 42px;
        grid-template-columns: 1fr 200px;
        position: relative;
        min-width: 0;
        word-wrap: break-word;

    }

    .exp-empty-frame {
        border: 2px solid #fff;
        min-height: 300px;
        margin-bottom: 30px;
        margin-left: 10px;
        background-color: #fff;
        display: grid;
        grid-auto-flow: row;
        gap: 24px;
        padding: 12px 10px 12px 10px;
    }

    .exp-position {
        font-size: 16px;
        padding-right: 20px;
        font-weight: 500;
    }

    .exp-duration {
        color: #424B61;
        text-align: end;
        font-weight: 400;
    }

    .project-name {
        font-weight: 400;
        line-height: 24px;
    }


    .btn_item:hover {
        background-color: #FF859A;
        border: 2px solid #FF859A;
        color: #fff;

    }

    .during {
        display: flex;
        gap: 12px;
    }

    .exp_row {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 30px 1fr 16px;
        height: 50px;
    }

    .tab {
        font-size: 18px;
        font-weight: 500;
        color: #69738C;
    }

    .tab-pane {
        padding-top: 24px;
    }
}
