<div class="container" *ngIf="userProfile">
  <div id="profile-upper">
    <div id="profile-banner-image">
      <img (error)="onCoverImgError($event)" src="{{userProfile.cover}}" alt="Banner image">
      <a *ngIf="isOwner" type="button" class="btn-cover" for="profileCover" (click)="profileCover.click()">
        <svg-icon src="./assets/icons/edit.svg"></svg-icon> 編輯封面相片
      </a>
      <input id="profileCover" #profileCover type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
        (change)="onUploadProfileCover($event)" />
    </div>
    <div id="profile-d">
      <div id="profile-pic">
        <img (error)="onImgError($event)" src="{{userProfile.imageUrl}}">

      </div>
      <div *ngIf="isOwner" id="edit-profileImage" for="profileImage" (click)="profileImage.click()">
        <i class="material-icons">camera_alt</i>

      </div>
      <input id="profileImage" #profileImage type="file" accept="image/gif, image/jpg, image/jpeg, image/png, image/gif"
        (change)="onUploadProfileImage($event)" style="display: none; padding: 0px" />
      <div id="u-name">
        <div class="d-inline-flex ">
          <span>{{userProfile.name}} </span>
          <span class="bio">&nbsp; /&nbsp; {{userProfile.title?userProfile.title:"我還沒有填寫職稱"}}</span>
        </div>
        <span class="uid color-gray"> @{{userProfile.uid}}</span>
      </div>

    </div>

  </div>
  <div class="row mt-50">
    <div class="col-md-12 text-right">

      <div *ngIf="!isOwner && currentUser" class=" text-right btn_items">

        <button type="button" class="btn btn_item " (click)="onToggleChat($event)"><i class="far fa-comment-alt"></i>
          訊息</button>
        <button type="button" class="btn btn_item" [ngClass]="{'btn_item_selected': userProfile?.isFollowing === true}"
          *ngIf="userProfile?.owner !== currentUser?.id" (click)="onClickFollow()"><i class="fas fa-plus"></i>
          {{userProfile?.isFollowing === true ? "已追蹤" : "追蹤"}} </button>

        <button type="button" class="btn btn_item" [ngClass]="{'btn_item_selected': userProfile?.isCollected === true}"
          *ngIf="userProfile?.owner !== currentUser?.id" (click)="onClickCollect()"><i
            class="far fa-bookmark fa-lg"></i>
          {{userProfile?.isCollected === true ? "已收藏" : "收藏"}} </button>
      </div>
    </div>
  </div>
  <div class="row mt-10">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 text-right">
      <span>累積{{ userProfile.viewCount?userProfile.viewCount:"0"}}次瀏覽&nbsp;&nbsp;</span>
      {{userProfile?.liked ? userProfile.liked:'0'}}人關注/關注{{userProfile?.like? userProfile.like:'0'}}人
    </div>
  </div>

  <div *ngIf="userProfile" class="row mt-50">
    <!--     個人簡介左邊 -->
    <div class="col-md-8">
      <!--     個人簡介 start -->
      <div class="row">
        <div class="col-md-12 mb-24 title_section">
          <span class="title">個人簡介</span>

          <span *ngIf="currentUser?.id == userProfile.id" class="btn-standard" data-toggle="modal"
            [attr.data-target]="'#editprofile'" (click)="initProfileForm()">
            <i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</span>
        </div>
      </div>
      <div class="frame">
        <div class="row ">
          <div class="col-md-12 ">
            <div class="profile-header">
              <div class=" tags">
                <ng-container *ngIf="
                                        userProfile?.skills;
                                        else noskill
                                      "><span class="sub-title">技能:&nbsp;&nbsp;</span>
                  <span *ngFor="let skill of userProfile.skills; let i = index"
                    class="tag  tag-{{skill}}  mb-2 mr-3">{{convertTag(skill)}}</span>
                </ng-container>
                <ng-template #noskill>
                  <span class="sub-title">技能:&nbsp;&nbsp;</span> <span class="tags">我還沒填寫我的專長</span>

                </ng-template>
              </div>

              <div class="text-right  d-flex flex-row gap-10 end">
                <a *ngIf="IsNullorEmpty(userProfile.website)" href="{{ userProfile.website }}" target="_blank"> <i
                    class="fas fa-globe icon"></i></a>
                <a *ngIf="IsNullorEmpty(userProfile.github)" href="{{ userProfile.github }}" target="_blank"> <i
                    class="fa-fw fab fa-github icon"></i></a>
                <a *ngIf="IsNullorEmpty(userProfile.twitter)" href="{{ userProfile.twitter }}" target="_blank"><i
                    class="fa-fw fab fa-twitter icon"></i></a>
                <a *ngIf="IsNullorEmpty(userProfile.discord)" href="{{ userProfile.discord }}" target="_blank"><i
                    class="fa-fw fab fa-discord icon"></i></a>
                <a *ngIf="IsNullorEmpty(userProfile.facebook)" href="{{ userProfile.facebook }}" target="_blank"><i
                    class="fa-fw fab fa-facebook icon"></i></a>
                <a *ngIf="IsNullorEmpty(userProfile.instagram)" href="{{ userProfile.instagram }}" target="_blank"> <i
                    *ngIf="userProfile.instagram!=''" class="fab fa-instagram-square icon"></i></a>

              </div>
            </div>



          </div>
          <div class="col-md-12 mt-26">
            <span class="sub-title">想說的話:</span>
          </div>
          <div class="col-md-12 mt-12">
            <p>{{this.userProfile.bio?this.userProfile.bio:"尚未有話要說"}}</p>
          </div>
        </div>
      </div>
      <!-- 個人簡介 end -->

      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="projectTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link tab" id="current-tab" [ngClass]="{ 'active': currentTab === 'current' }"
                type="button" role="tab" (click)="changeTab('current')">目前專案</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link tab" id="history-tab" [ngClass]="{ 'active': currentTab === 'history' }"
                type="button" role="tab" (click)="changeTab('history')">歷史專案</button>
            </li>


          </ul>
          <div class="tab-content" id="myTabContent">
            <!-- 目前參與專案 start -->
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" role="tabpanel"
              aria-labelledby="current-tab">
              <ng-container *ngFor="let project of userProfile.projects; let i = index">

                <div class="col-md-12 frame mb-20">
                  <div class="col-md-12" style=" display:inline-block;">
                    <div class="exp-bar-2">
                      <span class="exp-position">{{project.position? project.position:"未填寫職稱"}}</span>
                      <div class="exp-duration">
                        <span>{{project.firstDate | date : 'yyyy-MM-dd'}}</span><span
                          *ngIf="IsNullorEmpty(project.lastDate)">~ {{project.lastDate |
                          date : 'yyyy-MM-dd'}}</span>
                        <span *ngIf="!IsNullorEmpty(project.lastDate)">~ Current</span>
                      </div>
                    </div>
                    <div class="d-flex flex-row gap-10">
                      <img class="project-pic" (error)="onProjectImgError($event)" src="{{project.imageUrl}}">
                      <span class="mt-1 project-name">{{project.name}} </span>
                    </div>
                  </div>

                  <div class="col-md-12 content">
                    {{project.scopes? project.scopes:"未填寫工作內容"}}
                  </div>
                </div>
              </ng-container>

              <div *ngIf="!userProfile.projects" class="col-md-12 frame mb-20">
                <div class="col-md-12 empty-text-center">
                  <span>還沒有參加任何專案</span>
                </div>
              </div>

            </div>
            <!-- 目前參與專案 end -->
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'history' }" role="tabpanel"
              aria-labelledby="new-tab">
              <!-- 目前過去參與專案 start -->

              <div *ngIf="!userProfile.pastprojects" class="col-md-12 frame mb-20">
                <div class="col-md-12 empty-text-center">
                  <span>還沒有任何專案歷史紀錄</span>
                </div>
              </div>

              <ng-container *ngFor="let project of userProfile.pastprojects; let i = index">
                <div class="col-md-12 frame mb-20">
                  <div class="col-md-12" style=" display:inline-block;">
                    <div class="exp-bar-2">
                      <span class="exp-position">{{project.position? project.position:"未填寫職稱"}}</span>
                      <!--  <a data-toggle="modal" [attr.data-target]="'#modal_project'"><i class="fas fa-pencil-alt"></i></a> -->
                      <div class="exp-duration">
                        <span>{{project.firstDate | date : 'yyyy-MM-dd'}}</span><span
                          *ngIf="IsNullorEmpty(project.lastDate)">~ {{project.lastDate |
                          date : 'yyyy-MM-dd'}}</span>
                        <span *ngIf="!IsNullorEmpty(project.lastDate)">~ Current</span>
                      </div>
                    </div>
                    <div class="d-flex flex-row gap-10">
                      <img class="project-pic" (error)="onProjectImgError($event)" src="{{project.imageUrl}}">
                      <span class="mt-1">{{project.name}}</span>

                    </div>
                  </div>

                  <div class="col-md-12 content">
                    {{project.scopes? project.scopes:"未填寫工作內容"}}
                  </div>
                </div>
              </ng-container>
              <!-- 目前過去參與專案 end -->
            </div>


          </div>
        </div>


      </div>
    </div>
    <!--     個人簡介左邊 end -->
    <!--     工作簡介右邊 -->
    <div class="col-md-4">
      <div class="row ">
        <div class="col-md-12 mb-24 title_section">
          <span class="title">工作經歷</span>
          <a type="button" *ngIf="currentUser?.id == userProfile.id" class="btn-standard" data-toggle="modal"
            [attr.data-target]="'#experienceModal'"><i class="fas fa-plus"></i> 新增
          </a>
        </div>
      </div>
      <div class="row exp-empty-frame empty-text-center" *ngIf="userProfile.experience.length ==0">

        <span>無工作經歷</span>

      </div>
      <div class="row exp-frame" *ngIf="userProfile.experience.length >0">
        <ng-container *ngFor="let exp of userProfile.experience; let i = index">
          <div class="exp_row">
            <svg-icon src="./assets/icons/experience.svg"></svg-icon>
            <div>
              <span>在<b>{{exp.company}}</b>&nbsp;{{exp.position}}</span><br />
              <span *ngIf="exp.isCurrent; else hasExp">
                Since {{exp.startYear}}.{{exp.startMonth}}
              </span>
              <ng-template #hasExp>
                <span>
                  {{exp.startYear}}.{{exp.startMonth}} - {{exp.endYear}}.{{exp.endMonth}}
                </span>
              </ng-template>
            </div>
            <div class="dropdown">

              <!--Trigger-->

              <a type="button" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fas fa-ellipsis-h color-gray"></i></a>


              <!--Menu-->
              <div class="dropdown-menu dropdown-primary" aria-labelledby="dropdownMenu2">
                <a class="dropdown-item" (click)="onEditExp(exp)" data-toggle="modal"
                  [attr.data-target]="'#experienceModal'"><i class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</a>
                <a class="dropdown-item" (click)="onDeleteExp(exp)"><i class="fas fa-trash"></i>&nbsp;&nbsp;刪除</a>
              </div>
            </div>
          </div>
        </ng-container>


      </div>
    </div>
  </div>


</div> <!-- /container -->
<app-modal [modalid]="'modal_project'">
  <div body>
    <div class="row text-center">
      <p>{{ "ANEWPASSWORDHASBEENSENT" | translate }}</p>
      <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
        {{ "CONFRIM" | translate }}
      </button>
    </div>
  </div>
</app-modal>

<!-- edit profile -->
<div class="modal fade" id="editprofile" tabindex="-1" aria-labelledby="editprofile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">編輯個人資料</span>
        <button type="button" #closeInfobutton class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        <form [formGroup]="profileForm">
          <div class="form-group">
            <label for="inputName">姓名<span class="color-red">*</span></label>
            <input type="text" class="form-control rounded-0" formControlName="name" id="inputName"
              aria-describedby="emailHelp" placeholder="Enter name">
            <div *ngIf="submitted && f.name.errors">
              <div class="error-msg" *ngIf="f.name.errors.required">
                姓名是必要的
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control rounded-0" formControlName="email" id="inputEmail"
              aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf="submitted && f.email.errors">
              <div class="error-msg" *ngIf="f.email.errors.required">
                Email是必要的
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPosition">職稱</label>
            <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
              placeholder="職稱">
          </div>
          <div class="form-group">
            <label for="inputCompany">公司</label>
            <input type="text" class="form-control rounded-0" formControlName="company" id="inputCompany"
              placeholder="公司名稱">
          </div>
          <div class="form-group">
            <label for="inputSkills">技能</label>
            <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
              [secondaryPlaceholder]="'前端開發, 市場開發, UIUX...'">
              <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false" [autocompleteItems]="skillOptions"
                [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
              </tag-input-dropdown>
            </tag-input>
          </div>
          <div class="form-group">
            <label for="inputWebsite">Website</label>
            <input type="text" class="form-control rounded-0" formControlName="website" id="inputWebsite"
              placeholder="Website">
            <div *ngIf="submitted && f.website.errors">
              <div class="error-msg" *ngIf="f.website.errors.pattern">
                URL 格式不對
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputLinkedIn">LinkedIn</label>
            <input type="text" class="form-control rounded-0" formControlName="linkedin" id="inputLinkedIn"
              placeholder="LinkedIn url">
            <div *ngIf="submitted && f.linkedin.errors">
              <div class="error-msg" *ngIf="f.linkedin.errors.pattern">
                URL 格式不對
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputFB">Facebook</label>
            <input type="text" class="form-control rounded-0" formControlName="facebook" id="inputFB"
              placeholder="Facebook url">
            <div *ngIf="submitted && f.facebook.errors">
              <div class="error-msg" *ngIf="f.facebook.errors.pattern">
                URL 格式不對
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputTwitter">Twitter</label>
            <input type="text" class="form-control rounded-0" formControlName="twitter" id="inputTwitter"
              placeholder="Twitter">
            <div *ngIf="submitted && f.twitter.errors">
              <div class="error-msg" *ngIf="f.twitter.errors.pattern">
                URL 格式不對
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputGithub">Github</label>
            <input type="text" class="form-control rounded-0" formControlName="github" id="inputGithub"
              placeholder="Github">
            <div *ngIf="submitted && f.github.errors">
              <div class="error-msg" *ngIf="f.github.errors.pattern">
                URL 格式不對
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputContent">自我介紹</label>
            <textarea class="form-control" type="text" id="bio" formControlName="bio" rows="4" cols="50"></textarea>
          </div>
          <div class="row item-end">
            <button type="button" class="btn btn-transparent  mr-10" data-dismiss="modal" aria-label="Close">取消
            </button>
            <button type="button" class="btn btn-blue  mr-10" (click)="onProfileSubmit()">
              儲存</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>

<!-- edit experience start -->
<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">編輯工作經驗</span>
        <button type="button" #closeExpbutton class="close" data-dismiss="modal" aria-label="Close"
          (click)="onCancelEditExp()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        <form [formGroup]="experienceForm">

          <div class="form-group">
            <label for="inputExpCompany">公司<span class="color-red">*</span></label>
            <input type="text" class="form-control rounded-0" formControlName="company" id="inputExpCompany"
              placeholder="公司名稱">
          </div>
          <div class="form-group">
            <label for="inputExpPosition">職稱<span class="color-red">*</span></label>
            <input type="text" class="form-control rounded-0" formControlName="position" id="inputExpPosition"
              placeholder="職稱">
          </div>

          <div class="form-group">
            <label for="inputSkills">期間<span class="color-red">*</span></label>
            <div class=" rounded-0">
              <input id="isCurrent" type="checkbox" formControlName="isCurrent" data-key="isCurrent" />
              <label for="isCurrent">現任工作</label>
            </div>
            <div class="during rounded-0">
              <select id="startYear" formControlName="startYear">
                <option value="">年</option>
                <option *ngFor="let year of  years" value="{{year}}">{{year}}</option>
              </select>
              <select id="startMonth" formControlName="startMonth">
                <option value="">月</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>

              <span *ngIf="!g.isCurrent.value" class="pt-6 pl-12 pr-12">至</span>
              <select id="endYear" formControlName="endYear" *ngIf="!g.isCurrent.value">
                <option value="">年</option>
                <option *ngFor="let year of  years" value="{{year}}">{{year}}</option>
              </select>
              <select id="endMonth" formControlName="endMonth" *ngIf="!g.isCurrent.value">
                <option value="">月</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPosition">簡介</label>
            <textarea class="form-control" placeholder="描述工作內容" type="text" id="content" formControlName="content"
              rows="4" cols="50"></textarea>
          </div>
          <div class="row item-end">
            <button type="button" class="btn btn-transparent  mr-10" data-dismiss="modal" aria-label="Close"
              (click)="onCancelEditExp()">取消
            </button>
            <button type="button" class="btn btn-blue mr-10" (click)="onExperienceSubmit()">
              儲存</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<div [class.show]="isChat" class="full">
  <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
    <h3 class="title" title>Chat</h3><span aria-hidden="true">X&times;</span>
    <div>
    </div>
    <lab-comments [currentUser]="currentUser" [receiverUser]="userProfile" (close)="onToggleChat($event)" body>
    </lab-comments>

  </lab-custom-modal>

</div>
