<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
  <div class="fb-profile">
    <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/"
      alt="Profile image example" />
    <img align="left" class="fb-image-profile thumbnail" src="http://lorempixel.com/180/180/people/9/"
      alt="Profile image example" />
    <div class="fb-profile-text">
      <h1>Eli Macy</h1>
      <p>Girls just wanna go fun.</p>
    </div>
  </div>
  <div class="frame mt-100">
    <div class="row">
      <div class="col-md-6">
        職業名稱
      </div>
      <div class="col-md-6 text-right">
        xx人關注/關注xx人
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <span class="tags">技能一</span>
        <span class="tags">技能二</span>
        <span class="tags">技能三</span>
      </div>
      <div class="col-md-6 text-right">
        <i class="fa-fw fab fa-github icon"></i>
        <i class="fa-fw fab fa-twitter icon"></i>
        <i class="fa-fw fab fa-discord icon"></i>
        <i class="fa-fw fab fa-facebook icon"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 content">
        自我介紹
      </div>

    </div>
  </div>
  <div class="row mt-50">
    <div class="col-md-12">
      <h3>專案</h3>
    </div>
  </div>
  <div class="frame mb-20">
    <div class="row">
      <div class="col-md-6" style=" display:inline-block;">
        <span style="font-size: 25px;padding-right: 20px;">角色名稱</span>
        <span>專案名稱</span>
        <span>YYYY年MM月</span>~<span>YYYY年MM月</span>
      </div>
      <div class="col-md-6 text-right">
        <i class="fas fa-pencil-alt"></i>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-12 content">
        工作內容
      </div>

    </div>
  </div>
  <div class="frame mb-20">
    <div class="row">
      <div class="col-md-6" style=" display:inline-block;">
        <span style="font-size: 25px;padding-right: 20px;">角色名稱</span>
        <span>專案名稱</span>
        <span>YYYY年MM月</span>~<span>YYYY年MM月</span>
      </div>
      <div class="col-md-6 text-right">
        <i class="fas fa-pencil-alt"></i>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-md-12 content">
        工作內容
      </div>

    </div>
  </div>
</div> <!-- /container -->
