<h1>Ranking</h1>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="projectTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link " id="project-tab" [ngClass]="{ 'active': currentTab === 'projects' }"
                    type="button" role="tab" (click)="changeTab('projects')">專案</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="recruit-tab" [ngClass]="{ 'active': currentTab === 'recruit' }"
                    type="button" role="tab" (click)="changeTab('recruit')">招募</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="members-tab" [ngClass]="{ 'active': currentTab === 'members' }"
                    type="button" role="tab" (click)="changeTab('members')">成員</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="mentors-tab" [ngClass]="{ 'active': currentTab === 'mentors' }"
                    type="button" role="tab" (click)="changeTab('mentors')">導師</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'projects' }" id="projects" role="tabpanel"
                aria-labelledby="home-tab">
                <div class="card-body">
                    <div class="table-responsive-md">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>
                                        <span class="badge badge-primary rounded-0 p-1">Fixed</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>
                                        <span class="badge badge-warning rounded-0 p-1">In progress</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 ">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>
                                        <span class="badge badge-success rounded-0 p-1">Completed</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Jhon</td>
                                    <td>Smith</td>
                                    <td>@Instagram</td>
                                    <td>
                                        <span class="badge badge-danger rounded-0 p-1">Pending</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>David</td>
                                    <td>the Mad</td>
                                    <td>@Facebook</td>
                                    <td>
                                        <span class="badge badge-dark rounded-0 p-1">Created</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0 mr-2">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-lightning rounded-0">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'recruit' }" role="tabpanel"
                aria-labelledby="new-tab">
                <h1>{{currentTab}}</h1>
            </div>
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'members' }" role="tabpanel"
                aria-labelledby="new-tab">
                <h1>{{currentTab}}</h1>
            </div>
            <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'mentors' }" role="tabpanel"
                aria-labelledby="new-tab">
                <h1>{{currentTab}}</h1>
            </div>

        </div>
    </div>


</div>
