<div class="container  mt-50">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="projectTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="project-tab" [ngClass]="{ 'active': currentTab === 'projects' }"
                        type="button" role="tab" (click)="changeTab('projects')">{{ "PROJECTS" | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="recruit-tab" [ngClass]="{ 'active': currentTab === 'recruit' }"
                        type="button" role="tab" (click)="changeTab('recruit')">{{ "JOBS" | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="members-tab" [ngClass]="{ 'active': currentTab === 'members' }"
                        type="button" role="tab" (click)="changeTab('members')">{{ "PARTNERS" | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="mentors-tab" [ngClass]="{ 'active': currentTab === 'mentors' }"
                        type="button" role="tab" (click)="changeTab('mentors')">{{ "MENTORS" | translate }}</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'projects' }" id="projects" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ "NAME" | translate }}</th>
                                        <th scope="col">24h</th>
                                        <th scope="col">7 days</th>
                                        <th scope="col">14 days</th>
                                        <th scope="col">30 days</th>
                                        <th scope="col">>30 days</th>
                                        <th scope="col">{{ "TOTAL" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of projects; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td><a href="#"
                                                    [routerLink]="['/project/',item?.pid]">{{item.name?item.name:""}}</a>
                                            </td>
                                            <td class="text-center">{{item.h24?item.h24:0}}</td>
                                            <td class="text-center">{{item.amount_7days?item.amount_7days:0}}</td>
                                            <td class="text-center">{{item.amount_14days?item.amount_14days:0}}</td>
                                            <td class="text-center">{{item.amount_30days?item.amount_30days:0}}</td>
                                            <td class="text-center">{{item.rest?item.rest:0}}</td>
                                            <td class="text-center">{{item.amount?item.amount:0}}</td>

                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'recruit' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ "PROJECT" | translate }}</th>
                                        <th scope="col">{{ "POSITION" | translate }}</th>
                                        <th scope="col">24h</th>
                                        <th scope="col">7 days</th>
                                        <th scope="col">14 days</th>
                                        <th scope="col">30 days</th>
                                        <th scope="col">>30 days</th>
                                        <th scope="col">{{ "TOTAL" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of recruit; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td><a href="#"
                                                    [routerLink]="['/job/',item?.id]">{{item.projectName?item.projectName:""}}</a>
                                            </td>
                                            <td>{{item.name?item.name:""}}</td>
                                            <td>{{item.h24?item.h24:0}}</td>
                                            <td>{{item.amount_7days?item.amount_7days:0}}</td>
                                            <td>{{item.amount_14days?item.amount_14days:0}}</td>
                                            <td>{{item.amount_30days?item.amount_30days:0}}</td>
                                            <td>{{item.rest?item.rest:0}}</td>
                                            <td>{{item.amount?item.amount:0}}</td>

                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'members' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ "NAME" | translate }}</th>
                                        <th scope="col">24h</th>
                                        <th scope="col">7 days</th>
                                        <th scope="col">14 days</th>
                                        <th scope="col">30 days</th>
                                        <th scope="col">>30 days</th>
                                        <th scope="col">{{ "TOTAL" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of members; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td><a href="#"
                                                    [routerLink]="['/u/',item?.uid]">{{item.name?item.name:""}}</a>
                                            </td>
                                            <td>{{item.h24?item.h24:0}}</td>
                                            <td>{{item.amount_7days?item.amount_7days:0}}</td>
                                            <td>{{item.amount_14days?item.amount_14days:0}}</td>
                                            <td>{{item.amount_30days?item.amount_30days:0}}</td>

                                            <td>{{item.rest?item.rest:0}}</td>
                                            <td>{{item.amount?item.amount:0}}</td>

                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'mentors' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="card-body">
                        <div class="table-responsive-md">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">{{ "NAME" | translate }}</th>
                                        <th scope="col">24h</th>
                                        <th scope="col">7 days</th>
                                        <th scope="col">14 days</th>
                                        <th scope="col">30 days</th>
                                        <th scope="col">>30 days</th>
                                        <th scope="col">{{ "TOTAL" | translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of mentors; let i = index">
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td><a href="#"
                                                    [routerLink]="['/mentor/',item?.uid]">{{item.name?item.name:""}}</a>
                                            </td>
                                            <td>{{item.h24?item.h24:0}}</td>
                                            <td>{{item.amount_7days?item.amount_7days:0}}</td>
                                            <td>{{item.amount_14days?item.amount_14days:0}}</td>
                                            <td>{{item.amount_30days?item.amount_30days:0}}</td>
                                            <td>{{item.rest?item.rest:0}}</td>
                                            <td>{{item.amount?item.amount:0}}</td>

                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
