.donation {
  background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
  background-color: #0072ff;
  padding: 15px;
}

.donation-form {
  background: #fff;
  /*   margin-top: 5%; */
  margin-left: 25%;
  margin-bottom: 5%;
  width: 50%;
}
.donation-image {
  text-align: center;
}
.donation-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}
div {
  text-align: center;
}
.minus:hover {
  background-color: #717fe0 !important;
}
.plus:hover {
  background-color: #717fe0 !important;
}
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}

#serviceBox {
  width: 100%;
  margin: 0 auto;
  margin-top: 75px;
  height: 250px;
  border: 1px solid black;
}
.serviceBox1,
.serviceBox2,
.serviceBox3,
.serviceBox4 {
  float: left;
  width: 25%;
}

.btn {
  border: 1px solid black;
}

.bubbleoption {
  display: inline-block;
}

.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg, #6394ff 0%, #0a193b 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
.display-6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1re;
}

.bubble_container {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}
.actions {
  display: grid;
  /* grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(auto, 45px));
  grid-auto-flow: column;
  grid-gap: 5px; */
}
.btn input {
  display: none;
}
.btn:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
