ui-tag {
    // padding: 4px 4px 4px 4px;
    border-radius: 4px;

    .tag-improve {
        color: #fff;
        background-color: #2E83FB;
        padding: 2px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .tag-help {
        color: #4C3509;
        background-color: #FCB11F;
        padding: 2px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .tag-bug {
        color: #fff;
        background-color: #CC0023;
        padding: 2px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .tag-hiring {
        color: #424B61;
        background-color: #FFB700;
        padding: 2px 4px 4px 4px;
        border-radius: 4px;

    }

    .tag-funding {
        color: #424B61;
        background-color: #BFE275 !important;
        padding: 2px 4px 4px 4px;
        border-radius: 4px;
    }

    .tag-cofounder {
        color: #424B61;
        background-color: #FFB6C2;
        padding: 2px 4px 4px 4px;
        border-radius: 4px;
    }

    .text {
        font-size: 12px;
        line-height: 19.2px;
        font-family: 'Noto Sans TC';
        font-weight: 700;
        white-space: nowrap;
    }
}
