<div class="container mb-30">
    <div class="row filter mt-80 ">
        <select class="form-control" [value]="status" (change)="onSortChange($event)">
            <option value="">從新到舊</option>
            <option value="current">從舊到新</option>
            <option value="candidate">最高票選</option>
            <option value="inviting">邀請中</option>
            <option value="interview">面談中</option>
            <option value="rejected">已拒絕</option>
            <option value="past">歷程成員</option>
            <!-- </ng-template> -->
        </select>
        <select class="form-control" [value]="status" (change)="onSortChange($event)">
            <option value="">從新到舊</option>
            <option value="current">從舊到新</option>
            <option value="candidate">最高票選</option>

            <!-- </ng-template> -->
        </select>
        <input type="text" class="form-control search" aria-label="" aria-describedby="button-addon2" />

        <span></span>
        <a type="button" style="margin: auto;" class="btn btn-blue" data-toggle="modal"
            [attr.data-target]="'#proposal'"><i class="fas fa-plus"></i> 我有話要說
        </a>
    </div>
    <ul class="nav mb-20" id="fbTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" [ngClass]="{ 'active': currentTab === 'all' }" role="tab"
                (click)="changeTab('all')">全部</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'processed' }" role="tab"
                (click)="changeTab('processed')">已處理</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'myproposal' }" role="tab"
                (click)="changeTab('myproposal')">我發布的意見</a>
        </li>


    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'all' }" id="all" role="tabpanel"
            aria-labelledby="all-tab">
            <div class="empty text-center" *ngIf="allitems.length ===0">
                <div class="col-md-12 empty-text-center qa-container">
                    <img src="assets/images/empty_logo.png" alt="no-comment">
                    <span>沒有任何提案</span>
                </div>
            </div>
            <ng-container *ngIf="allitems.length >0">
                <ng-container *ngFor="let item of  allitems; let i = index">
                    <div class="row bar">
                        <div class="col-md-12 proposal">
                            <img class="profile-image rounded-circle" src="{{ item.imageUrl }}"
                                (error)="onImgError($event)" alt="" />
                            <div class="profile-detail">
                                <span>{{item.name}}</span>
                                <span class="createdTime">{{(item?.createdAt !==null) ?
                                    this.utilitySrv.timeSince(item.createdAt ) : ''
                                    }}</span>
                            </div>
                            <div class="category" [ngSwitch]="item.category">
                                <ui-tag *ngSwitchCase="'improvement'" [class]="'tag-improve'" [tag]="'改善'"></ui-tag>
                                <ui-tag *ngSwitchCase="'help'" [class]="'tag-help'" [tag]="'需要協助'"></ui-tag>
                                <ui-tag *ngSwitchCase="'bug'" [class]="'tag-bug'" [tag]="'有錯誤'"></ui-tag>
                            </div>


                        </div>
                        <div class="col-md-12 content">
                            {{item.detail}}
                        </div>

                        <div class="col-md-12 footer">
                            <div class="cell">
                                <span>{{item.like_count}}</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div class="cell">
                                <span>{{item.dislike_count}}</span>
                                <i class="fas fa-arrow-down"></i>
                            </div>
                            <div class="cell" data-toggle="modal" [attr.data-target]="'#new_comment'"
                                (click)="new_comment(item)">
                                <span>{{item.comment_count}}</span>
                                <i class="far fa-comment"></i>
                            </div>
                            <div class="cell"></div>

                        </div>

                    </div>
                    <ng-container *ngFor="let comment of  item.comments; let j = index">
                        <div class="row comment">
                            <div class="col-md-12 profile">
                                <img class="profile-image-small rounded-circle" src="{{ item.imageUrl }}"
                                    (error)="onImgError($event)" alt="" />
                                <div class="profile-detail">
                                    <div>
                                        <span>{{comment.userName}}</span>
                                        <span class="createdTime">{{(comment?.createdAt !==null) ?
                                            this.utilitySrv.timeSince(comment.createdAt ) : ''
                                            }}</span>
                                    </div>
                                    <div class="content">
                                        {{comment.content}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 content">
                                {{comment.content}}
                            </div> -->
                        </div>

                        <div *ngIf="j == item.comments.length -1" class="row new_comment">
                            <input type="text" #yourInput (keyup.enter)="onComment($event, item)" class="form-control"
                                placeholder="輸入留言" aria-describedby="">
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'processed' }" role="tabpanel"
            aria-labelledby="processed-tab">
            <div class="empty text-center" *ngIf="processed.length ===0">
                <div class="col-md-12 empty-text-center qa-container">
                    <img src="assets/images/empty_logo.png" alt="no-comment">
                    <span>沒有已處理</span>
                </div>
            </div>
            <ng-container *ngIf="processed">
                <ng-container *ngFor="let item of processed; let i = index">
                    <div class="row bar">
                        <div class="col-md-12 proposal">
                            <img class="profile-image rounded-circle" src="{{ item.imageUrl }}"
                                (error)="onImgError($event)" alt="" />
                            <div class="profile-detail">
                                <span>{{item.name}}</span>
                                <span class="createdTime">{{(item?.createdAt !==null) ?
                                    this.utilitySrv.timeSince(item.createdAt ) : ''
                                    }}</span>
                            </div>
                            <div class="category" [ngSwitch]="item.category">
                                <ui-tag *ngSwitchCase="'improvement'" [class]="'tag-improve'" [tag]="'改善'"></ui-tag>
                                <ui-tag *ngSwitchCase="'help'" [class]="'tag-help'" [tag]="'需要協助'"></ui-tag>
                                <ui-tag *ngSwitchCase="'bug'" [class]="'tag-bug'" [tag]="'有錯誤'"></ui-tag>
                            </div>


                        </div>
                        <div class="col-md-12 content">
                            {{item.detail}}
                        </div>

                        <div class="col-md-12 footer">
                            <div class="cell">
                                <span>{{item.like_count}}</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div class="cell">
                                <span>{{item.dislike_count}}</span>
                                <i class="fas fa-arrow-down"></i>
                            </div>
                            <div class="cell" data-toggle="modal" [attr.data-target]="'#new_comment'"
                                (click)="new_comment(item)">
                                <span>{{item.comment_count}}</span>
                                <i class="far fa-comment"></i>
                            </div>
                            <div class="cell"></div>

                        </div>

                    </div>
                    <ng-container *ngFor="let comment of  item.comments; let j = index">
                        <div class="row comment">
                            <div class="col-md-12 profile">
                                <img class="profile-image-small rounded-circle" src="{{ item.imageUrl }}"
                                    (error)="onImgError($event)" alt="" />
                                <div class="profile-detail">
                                    <div>
                                        <span>{{comment.userName}}</span>
                                        <span class="createdTime">{{(comment?.createdAt !==null) ?
                                            this.utilitySrv.timeSince(comment.createdAt ) : ''
                                            }}</span>
                                    </div>
                                    <div class="content">
                                        {{comment.content}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div *ngIf="j == item.comments.length -1" class="row new_comment">
                            <input type="text" #yourInput (keyup.enter)="onComment($event, item)" class="form-control"
                                placeholder="輸入留言" aria-describedby="">
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'myproposal' }" role="tabpanel"
            aria-labelledby="myproposals-tab">
            <div class="empty text-center" *ngIf="myproposals.length ===0">

                <div class="col-md-12 empty-text-center qa-container">
                    <img src="assets/images/empty_logo.png" alt="no-comment">
                    <span>你沒有任何提案</span>
                </div>
            </div>
            <ng-container *ngIf="myproposals">
                <ng-container *ngFor="let item of myproposals; let i = index">
                    <div class="row bar">
                        <div class="col-md-12 proposal">
                            <img class="profile-image rounded-circle" src="{{ item.imageUrl }}"
                                (error)="onImgError($event)" alt="" />
                            <div class="profile-detail">
                                <span>{{item.name}}</span>
                                <span class="createdTime">{{(item?.createdAt !==null) ?
                                    this.utilitySrv.timeSince(item.createdAt ) : ''
                                    }}</span>
                            </div>
                            <div class="category" [ngSwitch]="item.category">
                                <ui-tag *ngSwitchCase="'improvement'" [class]="'tag-improve'" [tag]="'改善'"></ui-tag>
                                <ui-tag *ngSwitchCase="'help'" [class]="'tag-help'" [tag]="'需要協助'"></ui-tag>
                                <ui-tag *ngSwitchCase="'bug'" [class]="'tag-bug'" [tag]="'有錯誤'"></ui-tag>
                            </div>
                        </div>
                        <div class="col-md-12 content">
                            {{item.detail}}
                        </div>

                        <div class="col-md-12 footer">
                            <div class="cell">
                                <span>{{item.like_count}}</span>
                                <i class="fas fa-arrow-up"></i>
                            </div>
                            <div class="cell">
                                <span>{{item.dislike_count}}</span>
                                <i class="fas fa-arrow-down"></i>
                            </div>
                            <div class="cell" data-toggle="modal" [attr.data-target]="'#new_comment'"
                                (click)="new_comment(item)">
                                <span>{{item.comment_count}}</span>
                                <i class="far fa-comment"></i>
                            </div>
                            <div class="cell"></div>

                        </div>

                    </div>
                    <ng-container *ngFor="let comment of  item.comments; let j = index">
                        <div class="row comment">
                            <div class="col-md-12 profile">
                                <img class="profile-image-small rounded-circle" src="{{ item.imageUrl }}"
                                    (error)="onImgError($event)" alt="" />
                                <div class="profile-detail">
                                    <div>
                                        <span>{{comment.userName}}</span>
                                        <span class="createdTime">{{(comment?.createdAt !==null) ?
                                            this.utilitySrv.timeSince(comment.createdAt ) : ''
                                            }}</span>
                                    </div>
                                    <div class="content">
                                        {{comment.content}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-12 content">
                                                        {{comment.content}}
                                                    </div> -->
                        </div>

                        <div *ngIf="j == item.comments.length -1" class="row new_comment">
                            <input type="text" #yourInput (keyup.enter)="onComment($event, item)" class="form-control"
                                placeholder="輸入留言" aria-describedby="">
                        </div>
                    </ng-container>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <img class="profile-image rounded-circle" src="{{ item.imageUrl }}"
                                (error)="onImgError($event)" alt="" />
                        </div>
                    </div> -->
                </ng-container>
            </ng-container>
        </div>

    </div>

</div>

<div class="modal fade" id="proposal" tabindex="-1" aria-labelledby="proposal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="proposal-title">分享您在XXX的體驗，讓我們能更清楚進步的方向</p>
                <button type="button" id="close_new_proposl" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <!-- <div class="row item-center">

                </div> -->
                <div class="ctl-center ">
                    <select class="form-control" style="width: 150px;" [value]="proposaltype"
                        (change)="onTypeChange($event)">
                        <option value="">請選擇</option>
                        <option value="improvement">建議改善</option>
                        <option value="bug">有錯誤</option>
                        <option value="help">需要協助</option>
                    </select>
                </div>
                <div class="row item-center">
                    <textarea class="form-control" type="text" [(ngModel)]="propsoalContent" id="" rows="4"
                        cols="50"></textarea>
                </div>
                <div class="row item-end">
                    <button type="button" class="btn btn-white  mr-10" data-dismiss="modal" aria-label="Close">取消
                    </button>
                    <button type="button" class="btn btn-blue  mr-10" (click)="onSubmit()">
                        分享</button>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new_comment" tabindex="-1" aria-labelledby="new_comment" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1></h1>
                <button type="button" id="close_new_comment" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <div class="row item-center">
                    <p>{{this.editedItem?.detail?this.editedItem?.detail:""}}</p>
                </div>

                <div class="row item-center">
                    <textarea class="form-control" type="text" [(ngModel)]="commentContent" id="" rows="4"
                        cols="50"></textarea>
                </div>
                <div class="row item-center">
                    <button type="button" class="btn btn-white  mr-10" data-dismiss="modal" aria-label="Close">取消
                    </button>
                    <button type="button" class="btn btn-blue  mr-10" (click)="onCommentSubmit()">
                        送出</button>


                </div>
            </div>
        </div>
    </div>
</div>
