app-feedback {
    a {
        color: #69738C;
    }

    .container {
        margin-top: 50px;
    }

    .qa-container {
        height: 60vh;
        gap: 38px;
    }

    .filter {
        border-bottom-color: #f9f9f9;
        line-height: 30px;
        -ms-grid-row-align: center;
        align-self: center;
        width: 100%;
        padding: 0px 25px 10px 10px;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        grid-template-columns: 184px 184px 192px auto 146px;
        gap: 20px
    }

    .search {

        /*   padding: 22px 15px 22px 60px; */
        background-image: url("../../../assets/images/icon_search.png");
        background-position: right;
        background-size: auto 100%;
        background-repeat: no-repeat;
    }

    .nav-item {
        border: 0px solid #fff;
        /* background-color: #fff; */
    }

    .nav-link {
        font-size: 24px;
        font-weight: 500;
        line-height: 28.8px;
        border: 0px solid #fff;
        /*    background-color: #fff; */

    }

    .nav-link.active {
        color: #56BDF4 !important;
        border-bottom: 2px solid #56BDF4 !important;
    }

    .btn-blue {
        background-color: #56BDF4;
        color: white;
        border: 2px solid #56BDF4;
        border-radius: 4px;
        padding: 6px 12px 6px 12px;
        font-size: 16px;
    }


    .btn-white {
        background-color: #fff;
        color: #56BDF4;
        border: 2px solid #56BDF4;
        border-radius: 4px;
        padding: 6px 12px 6px 12px;
    }

    .bar {
        padding: 6px 16px 6px 14px;
        background-color: #fff;
        margin-top: 20px;
        gap: 10px;
    }

    .comment {
        padding: 6px 16px 6px 14px;
        background-color: #fff;

    }

    .new_comment {
        padding: 6px 16px 6px 14px;
        background-color: #fff;

    }

    .tab-content {
        margin-bottom: 20px;
    }

    .mt-20 {
        margin-top: 20px !important;
    }

    .proposal-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .content {
        // padding: 12px 16px 12px 16px;
        display: inline-block;
        vertical-align: middle;
        line-height: 24px;
        font-weight: 400;
    }

    .item-center {
        justify-content: center;
        padding: 5px 0px 5px 0px;
    }

    .item-end {
        justify-content: right;
        padding: 5px 0px 5px 0px;
    }

    .profile {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        grid-template-columns: 40px auto;
        gap: 20px;
        padding-top: 10px;
        border-top: 2px solid #DEE2E6 !important;
    }

    .category {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 20px;
        gap: 8px;
    }

    .proposal {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        grid-template-columns: 70px auto 100px;
        gap: 20px;
    }

    .footer {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 1fr;
        grid-template-columns: 70px 70px 70px auto;
        gap: 10px;

        .cell {
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            margin: auto;
        }
    }

    .profile-detail {
        display: grid;
    }

    .profile-image {
        vertical-align: center;
        -ms-flex-line-pack: center;
        align-content: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .profile-image-small {
        vertical-align: center;
        -ms-flex-line-pack: center;
        align-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .createdTime {
        color: rgba(52, 58, 64, 0.5);
        float: right;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 700px;
            margin: 1.75rem auto;
        }
    }

    .ctl-center {
        margin-bottom: 16px;
    }

    .mt-5 {
        margin-top: 5px !important;
    }

    .w-96 {
        width: 96%;
    }


}
