<div id="content-mt" class="container mb-50">
  <div class="form-group row mb-50">
    <div class="input-group col-md-6 offset-md-3">
      <input type="text" class="form-control search" aria-label="Recipient's username"
        aria-describedby="button-addon2" />
    </div>
  </div>
  <div id="project_tag" [ngClass]="{ show_tags: IsShowTags === true }" class="text-center">
    <a (click)="onClearFilter()">
      <div class="project_tag" [ngClass]="{'project_tag_focus':filterValue === null}" style="width: 82px">
        {{ "ALLEDITION" | translate }}
      </div>
    </a>
    <ng-container *ngFor="let tag of tags">
      <a (click)="onfilter(tag.value)">
        <div class="project_tag" [ngClass]="{'project_tag_focus':filterValue === tag.value}">{{ tag.text }}</div>
      </a>
    </ng-container>
  </div>
  <div class="peoject_tag_openup text-center mt-10">
    <span *ngIf="!this.IsShowTags" class="project_tag_subtitle"><a (click)="IsShowAllTags()">
        {{ "TYPEMORE" | translate }} <i class="fas fa-chevron-down"></i></a></span>
    <span *ngIf="this.IsShowTags" class="project_tag_subtitle"><a (click)="IsShowAllTags()">
        {{ "TYPELESS" | translate }} <i class="fas fa-chevron-up"></i></a></span>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-9 mt-40 mb-10">
      <select class="sort_dropdown w-100">
        <option value="">加入時間：新 → 舊</option>
        <option value="dog">加入時間：舊 → 新</option>
        <option value="cat">熱門瀏覽：高 → 低</option>
        <option value="hamster">熱門瀏覽：低 → 高</option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="displayArtists.length ===0" style="height:300px">
  </div>
  <!--person-->
  <ng-container *ngIf="displayArtists">
    <div class="row" *ngFor="let row of displayArtists; let i = index">
      <div class="col-md-4 text-center" *ngFor="let col of displayArtists[i]">
        <app-artist artistId="{{ col.id }}" id="{{ col.uid }}" name="{{ col.name }}"
          src="{{ col.imageUrl || defaultProfileLogo }}" bio="{{ col.bio }}" sold="{{ col.sold }}"
          editions="{{ col.editions }}"></app-artist>
      </div>
    </div>

  </ng-container>
</div>
