.container{
    min-height: 70vh;
}
.title{
        font-size: 20px;
}
#collector_tab .nav-pills{
        border-bottom: 1px solid #dee2e6;
}
.active{
        border-bottom-color: #292929  !important;
    color: #292929 !important;
}
.nav-item a{
   color:  #b7b7b7 ;
     border-bottom-color: #b7b7b7  ;
}
.name{
        font-size: 30px;
         font-family: "Noto Serif JP", sans-serif;
}
