.btn {
  min-width: 150px;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


.cursor-pointer {
  cursor: pointer;
}

input[type="text"] {
  font-size: 16px;
}
