<div id="set-sidebar" *ngIf="!loading" class=" mb-80">
  <div class="row">
    <div class="col-md-12">
      <h1>個人設定</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
            [ngClass]="{ 'active': currentTab === 'privacy' }" type="button" role="tab"
            (click)="changeTab('privacy')">隱私相關</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'notifications' }"
            type="button" role="tab" (click)="changeTab('notifications')">通知設定</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'password' }" type="button"
            role="tab" (click)="changeTab('password')">修改密碼</button>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'privacy' }" id="home" role="tabpanel"
          aria-labelledby="home-tab">
          <ui-radio-item [title]="'顯示狀態'" [description]="'是否顯示上限狀態'" [id]="'displayOnline'"
            [value]="currentSetting.displayOnline" (onChange)="onChange($event)"></ui-radio-item>
          <ui-radio-item [title]="'公開'" [description]="'檔案隱私是否公開'" [id]="'isPublic'" [value]="currentSetting.isPublic"
            (onChange)="onChange($event)"></ui-radio-item>
          <!-- <div class="col-md-12 mb-12 form-group button-center">
            <button type="button" class="btn btn-primary mr-10" (click)="onSavePrivacy()">重設
            </button>
          </div> -->
          <div class="col-md-12 mb-12 form-group button-center">
            <span>{{privacyMsg}}</span>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'notifications' }" role="tabpanel"
          aria-labelledby="profile-tab">
          <ui-radio-item [title]="'追蹤與收藏'" [description]="'當有人追蹤或收藏時，發送通知給我。'" [id]="'notiFollow'"
            [value]="currentSetting.notiFollow" (onChange)="onChange($event)"></ui-radio-item>
          <ui-radio-item [title]="'訊息'" [description]="'當有人傳訊息給我時，發送通知給我。'" [id]="'notiMsg'"
            [value]="currentSetting.notiMsg" (onChange)="onChange($event)">
          </ui-radio-item>
          <ui-radio-item [title]="'系統相關'" [description]="'當有與系統相關的消息時，發送通知給我。'" [id]="'notiSystem'"
            [value]="currentSetting.notiSystem" (onChange)="onChange($event)"></ui-radio-item>
          <!-- <div class="col-md-12 mb-12 form-group button-center">
            <button type="button" class="btn btn-primary mr-10" (click)="onSaveNotif()">重設
            </button>
          </div> -->
          <div class="col-md-12 mb-12 form-group button-center">
            <span>{{notifMsg}}</span>
          </div>
        </div>
        <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'password' }" role="tabpanel"
          aria-labelledby="profile-tab">
          <div class="row" id="reset_form" [formGroup]="PasswordForm" style="margin-top: 20px;">
            <div class="col-md-12">
              <div class="form-group">
                <!-- <input type="password" class="form-control pwd" value="iamapassword"> -->
                <input type="password" class="form-control" placeholder="目前密碼" formControlName="currentPassword"
                  style="margin-bottom: 15px;" />
                <!-- <span class="input-group-btn">
                  <button class="btn btn-default reveal" type="button"><i class="fas fa-eye"></i></button>
                </span> -->
                <div *ngIf="submitted && f.currentPassword.errors">
                  <div class="error-msg" *ngIf="f.currentPassword.errors.required">Old Password is required</div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="新密碼" formControlName="newPassword"
                  autocomplete="off" style="margin-bottom: 15px;" />
                <div *ngIf="submitted && f.newPassword.errors">
                  <div class="error-msg" *ngIf="f.newPassword.errors.required">New Password is required</div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">

                <input type="password" class="form-control" placeholder="再次輸入新密碼" [autocomplete]="'off'"
                  formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div class="error-msg" *ngIf="checkPasswords()"> Password & Confirm Password does not match.</div>
                <div *ngIf="submitted && f.confirmPassword.errors">
                  <div class="error-msg" *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                </div>
              </div>


            </div>

            <div class="col-md-12 mb-12 form-group button-center">
              <button type="button" class="btn btn-blue mr-10" (click)="onResetPassword()">重設
              </button>

            </div>
            <div class="col-md-12 mb-12 form-group button-center">
              <span>{{passwordMsg}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
