<a class="card card-white grid-margin">
  <div class="row">
    <div class="col-md-3">
      <a (click)="routeToUserProfile()">
        <img class="profile-image rounded-circle" src="{{ user.imageUrl }}" (error)="onImgError($event)" alt="" />
      </a>
    </div>
    <div class="col-md-4">
      <h6 class="mt-10 mb-10 text-body name">{{ user.name }}</h6>
    </div>
    <div class="col-md-5">
      <div *ngIf="currentuser">
        <i *ngIf="user.isCollect" (click)="onClickCollect()" class="fas fa-bookmark mr-5"></i>
        <i *ngIf="!user.isCollect" (click)="onClickCollect()" class="far fa-bookmark mr-5"></i>
        <!-- <i class="far fa-comment-alt mr-5"></i> -->
        <span>追蹤</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 discr">
      description
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="user.tags">
      <ng-container *ngFor="let tag of  user.tags; let i = index">
        <a href="#" *ngIf="!this.utility.IsNullOrEmpty(tag)" class="label label-success mb-2 mr-5">{{tag}}</a>
      </ng-container>
    </ng-container>
  </div>
</a>
