<a class="card card-white grid-margin">
  <div class="row">
    <div class="col-md-7 d-flex flex-row gap-10">
      <a (click)="routeToUserProfile()">
        <img class="profile-image rounded-circle" src="{{ user.imageUrl }}" (error)="onImgError($event)" alt="" />
      </a>
      <div class="u-name">
        <span class=" text-body name">{{ user.name }}</span>
        <span class="title">{{ user.title }}</span>
      </div>
    </div>

    <div class="col-md-5 text-right">
      <div class="actions" *ngIf="currentuser">
        <i *ngIf="user.isCollect" (click)="onClickUnCollect()" class="fas fa-bookmark "></i>
        <i *ngIf="!user.isCollect" (click)="onClickCollect()" class="far fa-bookmark "></i>
        <i class="far fa-comment-dots " (click)="onClickChat()"></i>
        <!-- <span class="follow">追蹤</span> -->
        <span *ngIf="user.isFollow" class="followed" (click)="onClickUnFollow()">追蹤</span>
        <span *ngIf="!user.isFollow" class="follow" (click)="onClickFollow()">追蹤</span>
      </div>
    </div>
  </div>
  <div class="row" style="min-height:70px">
    <div *ngIf="user.bio" class="col-md-12 discr">
      {{user.bio.length>39?user.bio.substring(0,40)+' ...':user.bio}}
    </div>
  </div>
  <div class="row" style="min-height:27px">
    <ng-container *ngIf="user.skills ">
      <ng-container *ngFor=" let tag of user.skills; let i=index">
        <span *ngIf="!this.utility.IsNullOrEmpty(tag)" class="tag  tag-{{tag}}  mb-2 mr-5">{{convertTag(tag)}}</span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="user.interested && type!=='partner'">
      <ng-container *ngFor="let tag of  user.interested; let i = index">
        <span *ngIf="!this.utility.IsNullOrEmpty(tag)" class="tag  tag-{{tag}}  mb-2 mr-5">{{convertTag(tag)}}</span>
      </ng-container>
    </ng-container>
  </div>
</a>
