<a class="artist" (click)="routeToArtistProfile()">
  <div class="artist_intro_box">
    <img class="profile_image rounded-circle" src="{{ src }}" alt="" />
    <h5 class="mt-10 mb-10 text-body name">{{ name }}</h5>
    <table class="table project_info_trans_record">
      <thead>
        <tr>
          <th scope="col">{{ "EDITIONS" | translate }}</th>
          <th scope="col">{{ "SOLD" | translate }}</th>

          <th scope="col">{{ "TOTAL" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ editions }}</td>
          <td>{{ sold }}</td>
          <td>Ξ {{ amount }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-justify artist_intro_limit text-body">
      {{ bio | shorten:'120' }}
    </p>
  </div>
</a>
