<div id="content-mt" class="container">
  <div class="activity_timeline mb-50">
    <!-- <div class="row activity_timeline_point mb-50">
      <div class="col-md-6 text-center">
        <a href="artist-detail.html" class="activity-img"
          ><img
            class="rounded-circle"
            src="./assets/images/artist-photo.jpg"
            alt=""
        /></a>
        <h2>Raamin ka</h2>
        <p class="artist_intro_limit activity_intro">
          'Trickle Down, A New Vertical Sovereignty' is an artwork by Helen
          Knowles. It​ is a tokenised four-screen video installation and
          generative soundscape attached to the blockchain, which explores value
          systems and wealth disparity. On sale here is a limited-edition
          transaction map GIF which illustrates how the currency flows and is
          distributed.The artwork is composed of auction scenes documented by
          artist Helen Knowles in widely different settings, which reflect the
          breadth of wealth and financial powe.
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 d-flex align-items-center">
        <p>
          2020.10.03<br />
          <span class="activity_welcome">歡迎 Raamin ka 加入</span>
        </p>
      </div>
    </div>

    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <a href="artist-detail.html" class="activity-img"
          ><img
            class="rounded-circle"
            src="./assets/images/artist-photo.jpg"
            alt=""
        /></a>
        <h2>Hellen</h2>
        <p class="artist_intro_limit activity_intro">
          limited-edition transaction map GIF which illustrates how the currency
          flows and is distributed.The artwork is composed of auction scenes
          documented by artist Helen Knowles in widely different settings, which
          reflect the breadth of wealth and financial powe.
        </p>
      </div>
      <div
        id="activity_text_center"
        class="col-md-6 justify-content-end d-flex align-items-center text-right"
      >
        <p>
          2020.10.03<br />
          <span class="activity_welcome">歡迎 2222222 加入</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point mb-50">
      <div class="col-md-6 text-center">
        <div id="activity_img_center" class="activity_intro">
          <img
            style="width: 32%"
            src="./assets/images/project-info-01.jpg"
            alt=""
          />
          <img
            style="width: 32%"
            src="./assets/images/project-info-02.jpg"
            alt=""
          />
          <img
            style="width: 32%"
            src="./assets/images/project-info-03.jpg"
            alt=""
          />
        </div>
      </div>
      <div id="activity_text_center" class="col-md-6 d-flex align-items-center">
        <p>
          2020.10.03<br />
          <span class="activity_welcome">33333333 上傳新的作品</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <div class="activity_intro">
          <img
            style="width: 49%"
            src="./assets/images/project-info-01.jpg"
            alt=""
          />
          <img
            style="width: 49%"
            src="./assets/images/project-info-02.jpg"
            alt=""
          />
        </div>
      </div>
      <div
        id="activity_text_center"
        class="col-md-6 justify-content-end d-flex align-items-center text-right"
      >
        <p>
          2020.10.03<br />
          <span class="activity_welcome">4444444 上傳新的作品</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point mb-50">
      <div class="col-md-6 text-center">
        <div id="activity_img_center" class="activity_intro">
          <img
            style="width: 98%"
            src="./assets/images/project-info-01.jpg"
            alt=""
          />
        </div>
      </div>
      <div id="activity_text_center" class="col-md-6 d-flex align-items-center">
        <p>
          2020.10.03<br />
          <span class="activity_welcome">5555555 上傳新的作品</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <div id="activity_img_center" class="activity_intro">
          <img
            style="width: 98%"
            src="./assets/images/project-info-01.jpg"
            alt=""
          />
        </div>
      </div>
      <div
        id="activity_text_center"
        class="col-md-6 justify-content-end d-flex align-items-center text-right"
      >
        <p>
          2020.10.03<br />
          <span class="activity_welcome">66666666 售出作品</span>
        </p>
      </div>
    </div> -->
    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <a href="http://www.formosart.io/elizabeth-chiu" class="activity-img"><img class="rounded-circle"
            src="./assets/artists/aezyl.jpg" alt="" /></a>
        <h2 class="title">Aezyl Hazelwood </h2>
        <p class="artist_intro_limit activity_intro">
          I draw things in pursuit of self-expression. I hope my work is able to resonate with you. Thank you for
          reading!
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 justify-content-end d-flex align-items-center text-right">
        <p>
          2021.05.22<br />
          <span class="activity_welcome">{{ "WELCOME" | translate }} Aezyl Hazelwood {{ "JOIN" | translate }} </span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point mb-50">
      <div class="col-md-6 text-center">
        <a href="http://www.formosart.io/ham" class="activity-img"><img class="rounded-circle"
            src="./assets/artists/ham.png" alt="" /></a>
        <h2 class="title">HAM </h2>
        <p class="artist_intro_limit activity_intro">
          Surreal photoshop artist. A drummer sometimes.
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 d-flex align-items-center">
        <p>
          2021.05.22<br />
          <span class="activity_welcome">{{ "WELCOME" | translate }} HAM {{ "JOIN" | translate
            }}</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <a href="http://www.formosart.io/teera-" class="activity-img"><img class="rounded-circle"
            src="./assets/artists/Teera.jpg" alt="" /></a>
        <h2 class="title">Teera </h2>
        <p class="artist_intro_limit activity_intro">
          Hello! I’m Teera, I create digital art on Cinema4d. My digital art is based on reuniting and recording
          fragments of my
          thoughts, feeling, and memories; and saying things that can't be expressed in any other way. :)
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 justify-content-end d-flex align-items-center text-right">
        <p>
          2021.05.21<br />
          <span class="activity_welcome">{{ "WELCOME" | translate }} Teera {{ "JOIN" | translate }} </span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point mb-50">
      <div class="col-md-6 text-center">
        <a href="http://www.formosart.io/stephanie-" class="activity-img"><img class="rounded-circle"
            src="./assets/artists/Stephanie.jpg" alt="" /></a>
        <h2 class="title">Stephanie S. Lacsado </h2>
        <p class="artist_intro_limit activity_intro">
          I am Stephanie and I am taking a full-time diploma in Immersive Media and Game Design. I specialize in
          Immersive Media on websites and mobile apps. I aspire to be a UX/UI designer in the future on these platforms.
          Also, I enjoy making graphic designs such as cartoon doodles, sketches, and icons during my free time.
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 d-flex align-items-center">
        <p>
          2021.05.15<br />
          <span class="activity_welcome">{{ "WELCOME" | translate }} Stephanie S. Lacsado {{ "JOIN" | translate
            }}</span>
        </p>
      </div>
    </div>
    <div class="row activity_timeline_point flex-row-reverse mb-50">
      <div class="col-md-6 text-center">
        <a href="http://www.formosart.io/ariel" class="activity-img"><img class="rounded-circle"
            src="./assets/artists/ariel.jpg" alt="" /></a>
        <h2 class="title">Ariel </h2>
        <p class="artist_intro_limit activity_intro">
          繪畫藝術工作者，畢業於台灣藝術大學、英國溫徹斯特藝術學院。
          主要創作媒材為壓克力顏料與鉛筆，善於從生活片段與自身狀態找尋創作的靈感。認為每一幅作品都是「當下」的截取而不可被複製、也難以重現，自始自終都一直沉迷於手繪能表現的溫度，以及鉛筆和顏料在畫面中相互結合的不確定性。
        </p>
      </div>
      <div id="activity_text_center" class="col-md-6 justify-content-end d-flex align-items-center text-right">
        <p>
          2021.08.03<br />
          <span class="activity_welcome">{{ "WELCOME" | translate }} Ariel {{ "JOIN" | translate }} </span>
        </p>
      </div>
    </div>
  </div>
</div>
