<div class="d-flex align-items-center min-vh-100">
  <div class="container">
    <div class="row">
      <div class="col col-xl-8 col-lg-8 offset-xl-2 offset-lg-2" align="center">
        <div class="card mb-3">
          <div class="card-header">
            New Wallet
          </div>
          <div class="card-body table-responsive">
            <div class="row">
              <div class="col-xl-4 col-lg-4">Wallet Type:</div>
              <div class="col-xl col-lg"></div>
              <div class="col-xl-4 col-lg-4" align="right">
                <select name="coinType" style="width: 100px">
                  <option *ngFor="let coinType of coinTypes" value={{coinType}}> {{ coinType }} </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12" align="center">Do you have a wallet?</div>
            </div>
            <br />
            <div class="row">
              <div class="col-xl-3 col-lg-3 offset-xl-1 offset-lg-1">
                <a routerLink="../import-wallet" routerLinkActive="active">
                  <button type="button" class="btn btn-primary" id='yesnobutton'>Yes</button>
                </a>
              </div>
              <div class="col-xl col-lg"></div>
              <div class="col-xl-3 col-lg-3">
                <a routerLink="../create-wallet" routerLinkActive="active">
                  <button type="button" class="btn btn-primary" id='yesnobutton'>No</button>
                </a>
              </div>

              <div class="col-xl-3 col-lg-3 offset-xl-1 offset-lg-1">
                <button type="button" class="btn btn-danger" id='cancelbutton' (click)="cancel()">Cancel</button>
              </div>
              <div class="col-xl-1 col-lg-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>