<app-header></app-header>


<!--header-->
<div class="container-fluid">

  <div class="row">
    <div id="main-bg" [ngStyle]="setMyStyles()">
      <div class="main-slogen">
        {{ "HOMETITLE" | translate }}<br />{{ "DIGITALARTWORKS" | translate }}
      </div>
      <button class="main-btn-explore" routerLink="/gallery">
        {{ "DISCOVER" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="index-title w-100">
    {{ "POPULARCREATIONS" | translate }}
  </div>
  <div id="popularDisplayEditions" class="row">
    <ng-container *ngFor="let edition of popularEditions">
      <div class="col-md-4 mb-50" style="height: 584px;">
        <!-- <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1> -->
        <app-edition5 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.thumbnail }}" artworkId="{{ edition.artworkId }}"
          editionDate="{{ edition.editionDate }}" editionPrice="{{ edition.ethValue }}">
        </app-edition5>
      </div>
    </ng-container>

  </div>
  <!-- <div class="row">
    <div class="carousel slide" id="myCarousel" data-ride="myCarousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row" *ngIf="popularDisplayEditions.length>1">
            <ng-container *ngFor="let edition of popularDisplayEditions[0]">
              <div class="col-md-4 mb-4">
                <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
                  editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row" *ngIf="popularDisplayEditions.length>1">
            <ng-container *ngFor="let edition of popularDisplayEditions[1]">
              <div class="col-md-4 mb-4">
                <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
                  editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="text-center form-inline mx-auto">
      <a class="index_btn_roll" href="#myCarousel" data-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="index_btn_roll" href="#myCarousel" data-slide="next">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div> -->
  <!--row end-->

  <div class="index-title w-100">
    {{ "RECENT" | translate }}
  </div>

  <div id="recentEditions" class="row ">
    <ng-container *ngFor="let edition of recentEditions">
      <div class="col-md-4 mb-50" style="height: 584px;">
        <app-edition5 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.thumbnail }}" artworkId="{{ edition.artworkId }}"
          editionDate="{{ edition.editionDate }}" editionPrice="{{ edition.ethValue }}">
        </app-edition5>
      </div>
    </ng-container>

  </div>
  <div class="row mt-50">
    <div class="text-center mx-auto">
      <button class="index_btn_explore1" routerLink="/gallery">{{ "VIEWMORE" | translate }}</button>
    </div>
  </div>
  <!--row end-->
  <div class="row">
    <div class="index-title w-100">

    </div>
  </div>
  <div id="index_title" class="index_title text-center">
    {{ "STARTYOUROWN" | translate }} {{ "DIGITALCOLLECTION" | translate }}
    <span></span>
  </div>
</div>


<div class="container-fluid">

  <div class="row">
    <div class="container">
      <div id="index_buyer" class="text-center">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="row ">
              <div class="col-md-4 ">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/collect_black.png" alt="" />
                  <h3 style="font-weight: 700;">{{ "COLLECT" | translate }}</h3>
                  <div class="desc">{{ "COLLECTDES" | translate }}</div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/share_black.png" alt="" />
                  <h3 style="font-weight: 700;">{{ "SHOWOFF" | translate }}</h3>
                  <div class="desc">{{ "SHOWOFFDES" | translate }}</div>
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/invest_black.png" alt="" />
                  <h3 style="font-weight: 700;">{{ "INVEST" | translate }}</h3>
                  <div class="desc">{{ "INVESTDES" | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mx-auto mt-3 mb-5">
        <!-- <button class="index_btn_explore1">{{ "LEARNMORE" | translate }}</button> -->
        <button class="index_btn_explore1" routerLink="/gallery">
          {{ "STARTCOLLECTING" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid nft-section">
  <div class="row " style="color:white">
    <div class="col-md-6 text-center">
      <h1 class="nft">What are NFTs?</h1>
    </div>
    <div class="col-md-3 nft-desc">
      Each digital artwork on FormosArt is genuine and one of a kind. This new approach to digital ownership is based on
      blockchain technology. Use our platform to showcase and market your creation to authentic collectors
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div id="index_arts_bg">
      <div class="index_arts_text">
        <div class="index_art_slogen">
          {{ "AREYOUA" | translate }}<br />{{
          "DIGITALCREATOR?" | translate
          }}
        </div>
        <p class="mt-2 text-center" style="font-size: 22px;">
          {{ "DIGITALCREATORDES" | translate }}<br />
          {{ "DIGITALCREATORDES2" | translate }}
        </p>
        <div class="text-center mx-auto mt-3 mb-5">
          <!-- <button class="index_btn_explore1">
            {{ "LEARNMORE" | translate }}
          </button> -->
          <button routerLink="/register-artist" class="index_btn_explore1">{{ "JOINUS" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
