<app-header></app-header>

<!--header-->
<div class="container-fluid">

  <div class="row">
    <div id="main-bg">
      <div class="main-slogen">
        {{ "HOMETITLE" | translate }}<br />{{ "DIGITALARTWORKS" | translate }}
      </div>
      <button class="main-btn-explore" routerLink="/gallery">
        {{ "DISCOVER" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="index-title w-100">
    {{ "POPULARCREATIONS" | translate }}
  </div>

  <div class="row">
    <div class="carousel slide" id="myCarousel" data-ride="myCarousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row" *ngIf="popularDisplayEditions.length>1">
            <ng-container *ngFor="let edition of popularDisplayEditions[0]">
              <div class="col-md-4 mb-4">
                <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
                  editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row" *ngIf="popularDisplayEditions.length>1">
            <ng-container *ngFor="let edition of popularDisplayEditions[1]">
              <div class="col-md-4 mb-4">
                <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
                  editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1>
              </div>
            </ng-container>
            <!-- <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ccff00" alt="4 slide"></div>
            <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/444" alt="5 slide"></div>
            <div class="col-sm"><img class="d-block w-100" src="//placehold.it/1200x600/ddd" alt="6 slide"></div> -->
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="text-center form-inline mx-auto">
      <a class="index_btn_roll" href="#myCarousel" data-slide="prev">
        <i class="fas fa-chevron-left"></i>
      </a>
      <a class="index_btn_roll" href="#myCarousel" data-slide="next">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
  </div>
  <!--row end-->

  <div class="index-title w-100">
    {{ "RECENT" | translate }}
  </div>

  <div class="row">
    <ng-container *ngFor="let edition of recentEditions">
      <div class="col-sm-6 col-md-3 mb-4">
        <app-edition1 editionTitle="{{ edition.name }}" editionAuthor="{{ edition.artistName }}"
          editionImg="{{ edition.imageUrl }}" editionId="{{ edition.artworkId }}"></app-edition1>
      </div>
    </ng-container>

  </div>
  <div class="row">
    <div class="text-center mx-auto">
      <button class="index_btn_explore1" routerLink="/gallery">{{ "VIEWMORE" | translate }}</button>
    </div>
  </div>
  <!--row end-->

  <div id="index_title" class="index_title text-center">
    {{ "STARTYOUROWN" | translate }}
    <span>{{ "DIGITALCOLLECTION" | translate }}</span>
  </div>
</div>


<div class="container-fluid">
  <div id="index_buyer_bg" class="row index_buyer_bg">
    <div class="container">
      <div id="index_buyer" class="text-center">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="row ">
              <div class="col-md-4 box-height">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/index_buyer_icon-1.jpg" alt="" />
                  <h3>{{ "COLLECT" | translate }}</h3>
                  <div>{{ "COLLECTDES" | translate }}</div>
                </div>
              </div>
              <div class="col-md-4 box-height">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/index_buyer_icon-2.jpg" alt="" />
                  <h3>{{ "SHOWOFF" | translate }}</h3>
                  <div>{{ "SHOWOFFDES" | translate }}</div>
                </div>
              </div>
              <div class="col-md-4 box-height">
                <div class="index_buyer_box">
                  <img src="./../../../assets/images/index_buyer_icon-3.jpg" alt="" />
                  <h3>{{ "INVEST" | translate }}</h3>
                  <div>{{ "INVESTDES" | translate }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mx-auto mt-3 mb-5">
        <button class="index_btn_explore2">{{ "LEARNMORE" | translate }}</button>
        <button class="index_btn_explore3" routerLink="/gallery">
          {{ "STARTCOLLECTING" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div id="index_arts_bg">
      <div class="index_arts_text">
        <div class="index_art_slogen">
          {{ "AREYOUA" | translate }}<br /><span>{{
            "DIGITALCREATOR?" | translate
            }}</span>
        </div>
        <p class="mt-2 text-center">
          {{ "DIGITALCREATORDES" | translate }}<br />
          {{ "DIGITALCREATORDES2" | translate }}
        </p>
        <div class="text-center mx-auto mt-3 mb-5">
          <button class="index_btn_explore1">
            {{ "LEARNMORE" | translate }}
          </button>
          <button routerLink="/register-artist" class="index_btn_explore1">{{ "JOINUS" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
