.container-bg {
  background-color: #F9FAFB;
  padding-bottom: 50px;
  color: #262E42;
}


.section_0_buttons {
  display: flex;

  justify-content: center;
  gap: 30px;

  .btn-blue {
    padding: 12px 28px 12px 28px !important;
  }

  .btn-pink {
    padding: 12px 28px 12px 28px !important;
  }
}


.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 2em;
}

.sub_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 2em;
}

#section_1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: white;

  .title {
    font-size: 32px;
    font-weight: 500px;
    line-height: 40px;
    padding-bottom: 51px;
  }

  .flex-items {
    display: flex;
    gap: 80px;
    text-align: center;
    align-items: center;

    @media (max-width: 450px) {

      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 12px;

      span {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}

#section_2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 120px;
  width: 100%;
  background-color: #F9FAFB;
}

#section_3 {
  background-color: #ffff;
}

#section_4 {
  background-color: #FFF7E9;
}

#section_5 {
  background-color: #FFF3F5;
}

#section_6 {

  .sub_title {
    font-weight: 500;
  }

  .btn-tg {
    font-size: 24px;
    font-weight: 500;
    margin-top: 3rem;
    background-color: #56BDF4 !important;
    color: white !important;
    border: 1px solid #56BDF4 !important;
    border-radius: 4px !important;
    padding: 12px 28px 12px 28px !important;
  }

  .btn-tg:hover {
    background-color: #FF859A !important;
    color: white !important;
    border: 2px solid #FF859A !important;
    text-decoration: none;
  }
}

#section_7 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: white;

  .flex-items {
    display: flex;
    gap: 80px;
    text-align: center;
    align-items: center;

    @media (max-width: 450px) {

      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: #000;

      span {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

.section_card {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
  padding-top: 120px;
  width: 100%;
  justify-content: center;

  .bar {
    display: flex;
    gap: 64px;

    .bar_right {
      display: flex;
      flex-direction: column;
      text-align: left;
      height: 100%;
      margin: auto;

      .title {
        font-size: 32px;
        font-weight: 500;
      }

      .sub_title {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 450px) {

  #section_1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  #section_2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  #section_6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section_card {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-top: 60px;

    .bar {
      display: grid;
      gap: 32px;

      .bar_right {
        text-align: center;
      }
    }
  }

  .title {

    font-size: 32px;
    line-height: 1.5em;
  }

  .sub_title {

    font-size: 18px;
    line-height: 1.5em;
  }

  #section_6 .btn-tg {
    font-size: 24px;
  }
}
