<div *ngIf="currentArtwork" id="content-mt" class="container">
  <!-- <button type="button" id="btnClose" class="btn btn-danger" (click)=" openModal(true)"><i
      class="fa fa-times fa-fw"></i>
    open</button> -->
  <div style="height: 500px;" *ngIf="!currentArtwork"></div>
  <div id="project_info" *ngIf="currentArtwork" class="row">
    <div class="col-md-7">
      <div class="mb-20">
        <img style="cursor: zoom-in;" data-toggle="modal" data-target="#modal_collector_guide"
          src="{{this.currentArtwork.imageUrl || this.settingSrv.defaultProfileLogo}}" actual-image="profileImage"
          alt="" />
      </div>

    </div>

    <div class="col-md-5">
      <div class="mb-20">
        <div class="d-inline">
          <a routerLink="/{{ this.currentArtwork.artist.uid }}"><img class="rounded-circle profile_image"
              src="{{this.currentArtwork.artist.imageUrl || this.settingSrv.defaultProfileLogo}}" alt="" /></a>
        </div>
        <div class="d-inline p-2">
          <a style=" font-family: 'Noto Serif JP', sans-serif; font-size: 22px; font-weight: 300;margin-left: 20px;"
            routerLink="/{{ this.currentArtwork.artist.uid }}">{{this.currentArtwork.artist.name}}</a>
        </div>
      </div>

      <h1 class="mb-30" style=" font-family: 'Noto Serif JP', sans-serif; font-size: 40px; font-weight: 500;">
        {{this.currentArtwork.name}}</h1>

      <h1 class="mt-50">
        <span style="font-weight: 100;"> Ξ </span> <span style="font-weight: 500;">{{displaySellPrice()}} </span><span
          class="project_info_price_us" style="font-weight: 100;"> / USD
          {{displayUSDPrice()}}</span>
      </h1>
      <a href="#" *ngIf="this.currentArtwork.status == 1" class="text-white" data-toggle="modal"
        data-target="#modal_login_way"><button class="btn_large w-100" style="margin-top: 20px;" (click)="purchase()">{{
          "BUYNOW" | translate
          }}</button></a>
      <a href="#" *ngIf="this.currentArtwork.status == 2" class="text-white" data-toggle="modal"
        data-target="#modal_login_way"><button class="btn_large w-100" (click)="purchase()">{{ "BIDDING" | translate
          }}</button></a>
      <button *ngIf="this.currentArtwork.status == 3" [attr.disabled]="true" class="btn_large_disable  w-100"
        (click)="purchase()">{{ "SOLD" | translate
        }}</button>
      <button *ngIf="this.currentArtwork.status == -1" [attr.disabled]="true" class="btn_large_disable  w-100"
        (click)="purchase()">{{ "INPROCESS" | translate
        }}</button>
      <div class="text-right mt-10" *ngIf="this.currentUser">
        <a *ngIf="!IsFollowed" (click)="onLike()">
          <i class="far fa-heart fa-lg"></i></a>
        <a *ngIf="IsFollowed" (click)="onDislike()">
          <i class="fas fa-heart fa-lg"></i></a>
        <!-- <a href="project-bidding.html">收藏 <i class="far fa-heart  fa-lg"></i></a>
        <a href="project-bidding.html">已收藏 <i class="fas fa-heart  fa-lg"></i></a> -->
      </div>

      <h4 class="mt-30" style="font-size: 18px;">{{ "DESC" | translate }}</h4>
      <div class="text-justify">
        {{this.currentArtwork.description}}
      </div>
      <hr class="mt-30 mb-30" />
      <h6 class="mt-50" style="font-size: 18px;">{{ "EDITIONOWNER" | translate }}</h6>
      <p class="text-black-50">{{this.currentArtwork.owner}}</p>
      <hr class="mt-30 mb-30" />
      <h6 style="font-size: 18px;">{{ "ADDITIONALDETAILS" | translate }}</h6>
      <div class="text-black-50">
        <ul>

          <li class="project_info_li">{{ "INFO" | translate }}：</li>
          <li class="project_info_li">{{ "EDITION_" | translate }}：# {{this.currentArtwork.id}}</li>
          <li class="project_info_li">
            {{ "EDITIONS" | translate }}： {{this.currentArtwork.number}} of {{this.currentArtwork.totalamount}}。
          </li>
          <!-- <li class="project_info_li">
            標價：此為最終售價。<a href="">標價說明</a>
          </li> -->
        </ul>
      </div>
      <hr class="mt-30 mb-30" />
      <h6 style="font-size: 18px;">{{ "HISTORY" | translate }}</h6>
      <table class="table project_info_trans_record" style="    margin-bottom: 150px;">
        <thead>
          <tr>
            <th scope="col" style="font-weight: 300;">{{ "OWNER" | translate }}</th>
            <th scope="col" style="font-weight: 300;">{{ "PRICE" | translate }}</th>
            <th scope="col" style="font-weight: 300;">{{ "DATE" | translate }}</th>
          </tr>
        </thead>
        <tbody>

          <!-- <ng-container *ngFor="let tx of transactions| slice:0:6; let i = index">
            <tr>
              <td>Mark Liu</td>
              <td>Ξ 0.11 / NTD 138</td>
              <td>{{tx.createdAt}}</td>
            </tr>
          </ng-container> -->
          <!-- <tr>
            <td>Mark Liu</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr>
          <tr>
            <td>Susan</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr>
          <tr>
            <td>Chris</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
  <div id="project_info" *ngIf="currentArtwork" class="row">
    <div class="col-md-7">
      <div class="row mt-40 mb-10">
        <div class="col-8">
          <h2 style=" font-family: 'Noto Serif JP', sans-serif; font-size: 30px; font-weight: 500;">{{
            "MOREBYTHISARTIST" | translate }}</h2>
        </div>
        <div class="col-4 text-right">
          <a routerLink="/{{ this.currentArtwork.artist.uid }}"><button class="btn_small">{{ "VIEWMORE" | translate
              }}</button></a>
        </div>
      </div>

      <div id="project_info_more" class="row">
        <ng-container *ngFor="let edition of editions| slice:0:6; let i = index">
          <div class="col-md-4 col-6 mb-30">
            <a routerLink="/gallery/{{ edition.id }}"><img src="{{ edition.imageUrl }}" alt="" /></a>
          </div>
        </ng-container>

      </div>
    </div>
    <div class="col-md-5"></div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<app-dialog></app-dialog>

<div class="modal fade" id="modal_collector_guide" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="    max-width: 700px;">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div *ngIf="currentArtwork" class="col-md-12">
            <img class="metamask_img" src="{{this.currentArtwork.imageUrl }}" actual-image="profileImage" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #myModal id="modal_wallet"
  [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" (click)=" openModal(false)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="    border: 1px solid rgb(205, 210, 234);
    box-shadow: rgb(31 31 65 / 8%) 0px 5px 12px;padding:10px;">
            <img class="metamask_img" src="./../../../assets/images/metamask.svg" />
            <div style="padding-left: 40px;padding-top: 5px;">Connect MetaMask</div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #myModal2 id="modal_wallet"
  [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal_header">
        <button type="button" (click)=" openModal(false)" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div style="    border: 1px solid rgb(205, 210, 234);
    box-shadow: rgb(31 31 65 / 8%) 0px 5px 12px;padding:10px;">
            <img class="metamask_img" src="./../../../assets/images/metamask.svg" />
            <div style="padding-left: 40px;padding-top: 5px;">Connect MetaMask</div>
          </div>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>

<button class="btn btn-outline-secondary input_btn_normal" type="button" (click)="test()">
  tttttt
</button>
