<div id="content-mt" class="container">
  <div id="project_info" class="row">
    <div class="col-md-7">
      <div class="mb-20">
        <img src="./assets/images/project-info.jpg" alt="" />
      </div>
      <div class="row mt-40 mb-10">
        <div class="col-6">
          <h2>{{ "MOREBYTHISARTIST" | translate }}</h2>
        </div>
        <div class="col-6 text-right">
          <a href="artist-detail.html"
            ><button class="btn_small">更多作品</button></a
          >
        </div>
      </div>

      <div id="project_info_more" class="row">
        <ng-container *ngFor="let edition of editions">
          <div class="col-md-4 col-6 mb-30">
            <a routerLink="/gallery/{{ edition.id }}"
              ><img src="{{ edition.imageURL }}" alt=""
            /></a>
          </div>
        </ng-container>
        <!-- <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-01.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-02.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-03.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-04.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-05.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-4 col-6 mb-30">
          <a href="project-purchase.html"
            ><img src="./assets/images/project-info-06.jpg" alt=""
          /></a>
        </div> -->
      </div>
    </div>

    <div class="col-md-5">
      <div class="mb-20">
        <div class="d-inline">
          <a href="artist-detail.html"
            ><img
              class="rounded-circle w-25"
              src="./assets/images/artist-photo.jpg"
              alt=""
          /></a>
        </div>
        <div class="d-inline p-2">
          <a href="artist-detail.html">Raamin ka</a>
        </div>
      </div>

      <h1 class="mb-30">The Calm And The Storm</h1>
      <h4>{{ "EDITIONDESC" | translate }}</h4>
      <div class="text-justify">
        'Trickle Down, A New Vertical Sovereignty' is an artwork by Helen
        Knowles. It​ is a tokenised four-screen video installation and
        generative soundscape attached to the blockchain, which explores value
        systems and wealth disparity. On sale here is a limited-edition
        transaction map GIF which illustrates how the currency flows and is
        distributed.The artwork is composed of auction scenes documented by
        artist Helen Knowles in widely different settings, which reflect the
        breadth of wealth and financial power…
      </div>
      <h1 class="mt-50">
        Ξ 0.11 <span class="project_info_price_us"> / USD 138</span>
      </h1>
      <a
        href="#"
        class="text-white"
        data-toggle="modal"
        data-target="#modal_login_way"
        ><button class="btn_large w-100">{{ "BUYNOW" | translate }}</button></a
      >
      <div class="text-right mt-10">
        <a *ngIf="IsFollowed" href="project-bidding.html">
          <i class="far fa-heart"></i
        ></a>
        <a *ngIf="!IsFollowed" href="project-bidding.html">
          <i class="fas fa-heart"></i
        ></a>
        <!-- <a href="project-bidding.html">收藏 <i class="far fa-heart"></i></a>
        <a href="project-bidding.html">已收藏 <i class="fas fa-heart"></i></a> -->
      </div>
      <hr class="mt-30 mb-30" />
      <h6 class="mt-50">{{ "EDITIONOWNER" | translate }}</h6>
      <p class="text-black-50">David Huang</p>
      <hr class="mt-30 mb-30" />
      <h6>{{ "ADDITIONALDETAILS" | translate }}</h6>
      <div class="text-black-50">
        <ul>
          <li class="project_info_li">上傳時間：2020年4月20日</li>
          <li class="project_info_li">規格：5312 x 7200 px, PNG (46.4 MB)</li>
          <li class="project_info_li">
            版本：此作品共有10版，此件為第5版 - 10/#5。
          </li>
          <li class="project_info_li">
            標價：此為最終售價。<a href="">標價說明</a>
          </li>
        </ul>
      </div>
      <hr class="mt-30 mb-30" />
      <h6>{{ "HISTORY" | translate }}</h6>
      <table class="table project_info_trans_record">
        <thead>
          <tr>
            <th scope="col">{{ "OWNER" | translate }}</th>
            <th scope="col">{{ "PRICE" | translate }}</th>
            <th scope="col">{{ "DATE" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark Liu</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr>
          <tr>
            <td>Susan</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr>
          <tr>
            <td>Chris</td>
            <td>Ξ 0.11 / NTD 138</td>
            <td>2020-05-23</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
