.container-bg {
  background-color: #E5E5E5;
  padding-top: 24px;
  padding-bottom: 30px;
}

#project {
  min-height: 80vh;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #E5E5E5;

}

.active {
  color: #56BDF4 !important;
  fill: #56BDF4 !important;
  text-decoration: none;
  /*     background-color: #007bff; */
  border-radius: 3px;
  width: 95% !important;



}
