<div class=" mb-80">
    <div class="row">
        <div class="col-md-12  mb-20" style="display: inline-block;">
            <span class="title">招募管理</span>
            <a type="button" class="btn btn-white mr-10 float-right" data-toggle="modal"
                [attr.data-target]="'#createRcruitModal'" (click)="onCreateRecruit()"><i class="fas fa-plus"></i>
                新增職缺</a>
            <select class="btn btn-white mr-10 float-right h-40" [disabled]="!canMove" [value]="status"
                (change)="onStatusChange($event)">
                <option value="null">移動去</option>
                <option value="current">目前</option>
                <option value="drafts">草稿</option>
                <option value="closed">已關閉</option>

                <!-- </ng-template> -->
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                        (click)="changeTab('current')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'current' }">{{current.length}}</span>&nbsp;目前</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'drafts' }"
                        type="button" role="tab" (click)="changeTab('drafts')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'drafts' }">{{drafts.length}}</span>&nbsp;草稿</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'closed' }"
                        type="button" role="tab" (click)="changeTab('closed')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'closed' }">{{closed.length}}</span>已關閉</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="row  pl-15">
                        <div class="bar mt-3 cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職缺名稱</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">技能需求</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職務內容</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">發布日期</span>
                            </div>

                        </div>

                    </div>
                    <div class="empty text-center" *ngIf="current.length ===0">
                        此專案目前沒有職缺.
                    </div>
                    <ng-container *ngIf="current.length >0">
                        <ng-container *ngFor="let item of  current; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>
                                        <!--  <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                                                            </p> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickView(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><i
                                                        class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</a> <a
                                                    class="dropdown-item color-gray" (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;刪除</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'drafts' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="row  pl-15">
                        <div class="bar mt-3 cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職缺名稱</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">技能需求</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職務內容</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">發布日期</span>
                            </div>

                        </div>

                    </div>
                    <div class="empty text-center" *ngIf="drafts.length ===0">
                        目前沒有草稿
                    </div>
                    <ng-container *ngIf="drafts">
                        <ng-container *ngFor="let item of drafts; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>
                                        <!--  <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                                                                                </p> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickView(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><i
                                                        class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</a> <a
                                                    class="dropdown-item color-gray" (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;刪除</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'closed' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="row  pl-15">
                        <div class="bar mt-3 cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職缺名稱</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">技能需求</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">職務內容</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">發布日期</span>
                            </div>

                        </div>

                    </div>
                    <div class="empty text-center" *ngIf="closed.length ===0">
                        目前沒有紀錄
                    </div>
                    <ng-container *ngIf="closed">
                        <ng-container *ngFor="let item of closed; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>
                                        <!--  <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                                                                                                            </p> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickView(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><i
                                                        class="fas fa-pencil-alt"></i>&nbsp;&nbsp;編輯</a> <a
                                                    class="dropdown-item color-gray" (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;刪除</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createRcruitModal" tabindex="-1" aria-labelledby="createRcruitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">新增職缺</span>
                <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recruitForm">
                    <div class="form-group">
                        <label for="inputPosition">職缺名稱</label>
                        <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
                            placeholder="職稱">
                    </div>
                    <div class="form-group">
                        <label for="inputSkills">技能需求</label>
                        <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                            [secondaryPlaceholder]="'前端開發, 市場開發, UIUX...'">
                            <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <div class="form-group">
                        <label for="inputContent">職缺內容</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>

                    <div class="form-group">

                        <label for="inputSkills">每周願意投入時長</label>
                        <div class="form-group">
                            <div>
                                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                                <label class="option" for="work12">1至2小時</label>
                            </div>
                            <div>
                                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                                <label class="option" for="work34">3至4小時</label>
                            </div>
                            <div>
                                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                                <label class="option" for="work56">5至6小時</label>
                            </div>
                            <div>
                                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                                <label class="option" for="work78">7至8小時</label>
                            </div>
                            <div>
                                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                                <label class="option" for="work9">9小時以上(含)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">

                        <button type="button" style="float: right;" class="btn btn-blue  mr-10"
                            (click)="onUpdateRecruitSubmit()">更新</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-dialog></app-dialog>
