<div class=" mb-80">
    <div class="row">
        <div class="d-inline-block col-md-12  mb-20">
            <span class="myProject-title">{{"RECRUITMANAGEMENT" | translate }}</span>
            <a id="new-job" type="button" class="btn btn-dropdown mr-10 float-right" data-toggle="modal"
                [attr.data-target]="'#createRcruitModal'"><i class="fas fa-plus"></i>
                {{"NEWJOB" | translate }}</a>
            <select id="move-to" class="btn btn-dropdown mr-10 float-right" [disabled]="!canMove" [value]="status"
                (change)="onStatusChange($event)">
                <option value="null">{{"MOVETO" | translate }}</option>
                <option value="current">{{"CURRENT" | translate }}</option>
                <option value="drafts">{{"DRAFT" | translate }}</option>
                <option value="closed">{{"CLOSED" | translate }}</option>

                <!-- </ng-template> -->
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="current-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                        (click)="changeTab('current')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'current' }">{{current.length}}</span>&nbsp;{{"CURRENT"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'drafts' }"
                        type="button" role="tab" (click)="changeTab('drafts')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'drafts' }">{{drafts.length}}</span>&nbsp;{{"DRAFT" |
                        translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'closed' }"
                        type="button" role="tab" (click)="changeTab('closed')"><span class="num"
                            [ngClass]="{ 'active': currentTab === 'closed' }">{{closed.length}}</span>{{"CLOSED" |
                        translate }}</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" id="current" role="tabpanel"
                    aria-labelledby="current-tab">
                    <div *ngIf="current.length >0" class="row  pl-15">
                        <div class="col-12 bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JOBTITLE" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"SKILLSREQ" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JD" | translate }}</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"PUBLISHDATE" | translate }}</span>
                            </div>

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="current.length ===0">
                        <svg-icon class="icon" src="assets/icons/Suitcase.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="current.length >0">
                        <ng-container *ngFor="let item of  current; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class=" align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>

                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickEdit(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><svg-icon
                                                        src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{"EDIT" |
                                                    translate
                                                    }}</a> <a class="dropdown-item color-gray"
                                                    (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;{{"DELETE" | translate
                                                    }}</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'drafts' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div *ngIf="drafts.length >0" class="row  pl-15">
                        <div class="bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JOBTITLE" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"SKILLSREQ" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JD" | translate }}</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"PUBLISHDATE" | translate }}</span>
                            </div>

                        </div>

                    </div>
                    <div class="empty text-center d-grid" *ngIf="drafts.length ===0">
                        <svg-icon class="icon" src="assets/icons/Suitcase.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="drafts">
                        <ng-container *ngFor="let item of drafts; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class=" align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>
                                        <!--  <p class="text-md m-0"><i class="far fa-comment-alt"></i>
                                                                                                </p> -->
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickEdit(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><svg-icon
                                                        src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{"EDIT" |
                                                    translate
                                                    }}</a> <a class="dropdown-item color-gray"
                                                    (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;{{"DELETE" | translate
                                                    }}</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'closed' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div *ngIf="closed.length >0" class="row  pl-15">
                        <div class="bar  cursor-pointer w-100">
                            <div class="d-flex align-items-center mt-10">
                                <label class="switch" for="allitem">
                                    <input type="checkbox" id="allitem" />
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JOBTITLE" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"SKILLSREQ" | translate }}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"JD" | translate }}</span>
                            </div>

                            <div class="d-flex align-items-center">
                                <span class="fw-500">{{"PUBLISHDATE" | translate }}</span>
                            </div>

                        </div>
                    </div>
                    <div class="empty text-center d-grid" *ngIf="closed.length ===0">
                        <svg-icon class="icon" src="assets/icons/Suitcase.svg"></svg-icon>
                        <span class="empty-text"> {{"NORECORD" | translate }}</span>
                    </div>
                    <ng-container *ngIf="closed">
                        <ng-container *ngFor="let item of closed; let i = index">
                            <div class="row pl-15">
                                <div class="bar cursor-pointer w-100">
                                    <div class="d-flex align-items-center mt-10">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, item.id)" [(ngModel)]="item.isSelected"
                                                value="{{item.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">{{item.position}}
                                        </p>
                                    </div>
                                    <div class=" align-items-center">
                                        <ng-container *ngIf="item.skills">

                                            <ng-container *ngFor="let tag of  item.skills; let i = index">

                                                <span *ngIf="!this.utilitySrv.IsNullOrEmpty(tag)"
                                                    class="tag tag-{{tag}} mr-1">{{convertTag(tag)}}</span>

                                            </ng-container>

                                        </ng-container>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <p class="text-md m-0">
                                            {{item.scopes.length>15?item.scopes.substring(0,15)+"...":item.scopes}}
                                        </p>
                                    </div>

                                    <div class="d-flex align-items-center">
                                        <span> {{item.startDate| date : 'yyyy-MM-dd'}}
                                        </span>

                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="dropdown mt--10" *ngIf="item.createdBy === currentUser?.id"><i
                                                class="fas fa-ellipsis-h color-gray text-18" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item color-gray"
                                                    (click)="onClickView(item)" data-toggle="modal"
                                                    [attr.data-target]="'#createRcruitModal'"><svg-icon
                                                        src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{"EDIT" |
                                                    translate
                                                    }}</a> <a class="dropdown-item color-gray"
                                                    (click)="onDeleteJobItem(item)"><i
                                                        class="fas fa-trash"></i>&nbsp;&nbsp;{{"DELETE" | translate
                                                    }}</a></div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createRcruitModal" tabindex="-1" aria-labelledby="createRcruitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <span *ngIf="!this.selectedEditItem;else edit_job" class="modal-title">{{"NEWJOB" | translate }}</span>
                <ng-template #edit_job><span class="modal-title">{{"EDITJOB" | translate }}</span>
                </ng-template>
                <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
                    (click)="onCleanSelectedEditeItem()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recruitForm">
                    <div class="form-group">
                        <label for="inputPosition">{{"JOBTITLE" | translate }}*</label>
                        <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
                            placeholder="{{'POSITION' | translate }}">
                    </div>
                    <div class="form-group">
                        <label for="inputSkills">{{"SKILLSREQ" | translate }}</label>
                        <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                            secondaryPlaceholder="{{'SKILLSEXS' | translate }}">
                            <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <div class="form-group">
                        <label for="inputContent">{{"JD" | translate }}*</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>

                    <div class="form-group">

                        <label for="inputSkills">{{"PWTC" | translate }}</label>
                        <div class="form-group">
                            <div>
                                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                                <label class="option" for="work12">{{"WORK12" | translate }}</label>
                            </div>
                            <div>
                                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                                <label class="option" for="work34">{{"WORK34" | translate }}</label>
                            </div>
                            <div>
                                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                                <label class="option" for="work56">{{"WORK56" | translate }}</label>
                            </div>
                            <div>
                                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                                <label class="option" for="work78">{{"WORK78" | translate }}</label>
                            </div>
                            <div>
                                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                                <label class="option" for="work9">{{"WORK9" | translate }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">

                        <button *ngIf="!this.selectedEditItem;else edit_job_btn" type="button"
                            class="btn btn-blue  mr-10 flot-right" (click)="onCreateRecruit()">{{"CREATE" | translate
                            }}</button>
                        <ng-template #edit_job_btn> <button type="button" class="btn btn-blue  mr-10 flot-right"
                                (click)="onUpdateRecruitSubmit()">{{"UPDATE" |
                                translate }}</button></ng-template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-dialog></app-dialog>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
