<div class=" mb-80">
    <div class="row">
        <div class="col-md-12  mb-20" style="display: inline-block;">
            <span class="title">招募管理</span>

            <!-- <a type="button" style="float: right;" class="btn mr-10" data-toggle="modal"
                [attr.data-target]="'#invitedMember'"><i class="fas fa-plus"></i> 邀請成員
            </a>
            <button type="button" style="float: right;" class="btn  mr-10"><i class="fas fa-plus"></i> 招募成員</button> -->

            <select style="float: right;" class="btn mr-10" [disabled]="!canMove" [value]="status"
                (change)="onStatusChange($event)">
                <option value="null">移動成員去</option>
                <option value="1">發布</option>
                <option value="0">草稿</option>
                <option value="2">已關閉</option>

            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                        (click)="changeTab('current')"><span class="num">{{current.length}}</span>&nbsp;目前</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'drafts' }"
                        type="button" role="tab" (click)="changeTab('drafts')"><span
                            class="num">{{drafts.length}}</span>&nbsp;草稿</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'closed' }"
                        type="button" role="tab" (click)="changeTab('closed')"><span
                            class="num">{{closed.length}}</span>已關閉</button>
                </li>


            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'current' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="empty text-center" *ngIf="current.length ===0">
                        此專案目前沒有招募成員.
                    </div>
                    <ng-container *ngIf="current.length >0">
                        <ng-container *ngFor="let member of  current; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)" [disabled]="member.isOwner"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item">
                                        <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.startDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">to
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.endDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <a class="clickable" (click)="onClickView(member)" data-toggle="modal"
                                            [attr.data-target]="'#createRcruitModal'" style="color: #7F7F7F;">
                                            內容
                                        </a>
                                    </div>

                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="clickable" (click)="onClickDelete(member.id)" style="color: #7F7F7F;">
                                            <i class="far fa-trash-alt icon"></i>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <div class="d-flex align-items-center">
                                            <ui-radio-item [value]="member.available"
                                                (onChange)="onAvailableChange($event, member)">
                                            </ui-radio-item>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'drafts' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="empty text-center" *ngIf="drafts.length ===0">
                        There are no draft.
                    </div>
                    <ng-container *ngIf="drafts">
                        <ng-container *ngFor="let member of drafts; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}"
                                                (change)="onSelectItem($event, member.id)"
                                                [(ngModel)]="member.isSelected" value="{{member.id}}" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.startDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">to
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.endDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <a class="clickable" (click)="onClickView(member)" data-toggle="modal"
                                        [attr.data-target]="'#createRcruitModal'" style="color: #7F7F7F;">
                                        內容
                                    </a>

                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">
                                        <a class="clickable" (click)="onClickDelete(member.id)" style="color: #7F7F7F;">
                                            <i class="far fa-trash-alt icon"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'closed' }" role="tabpanel"
                    aria-labelledby="new-tab">
                    <div class="empty text-center" *ngIf="closed.length ===0">
                        Empty
                    </div>
                    <ng-container *ngIf="closed">
                        <ng-container *ngFor="let member of closed; let i = index">
                            <div class="row" style="padding-left:15px;">
                                <div class="card mt-3 cursor-pointer w-100">
                                    <div class="d-flex align-items-center" style="margin-top: 10px;">
                                        <label class="switch" for="{{'checkbox'+i}}">
                                            <input type="checkbox" id="{{'checkbox'+i}}" [disabled]="'true'" />
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                    <div class="item"> <i style="font-size: 30px;" class="far fa-user-circle fa-2x"></i>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.position}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.startDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">to
                                        </p>
                                    </div>
                                    <div class="item">
                                        <p class="text-md m-0">{{member.endDate| date : 'yyyy-MM-dd'}}
                                        </p>
                                    </div>
                                    <a class="clickable" (click)="onClickView(member)" data-toggle="modal"
                                        [attr.data-target]="'#createRcruitModal'" style="color: #7F7F7F;">
                                        內容
                                    </a>
                                    <div class="item" style="  margin-left: auto;padding-right: 20px;">

                                        <a class="clickable" (click)="onClickDelete(member.id)" style="color: #7F7F7F;">
                                            <i class="far fa-trash-alt icon"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createRcruitModal" tabindex="-1" aria-labelledby="createRcruitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>招募成員</h1>
                <button type="button" id="close_recruit" #close_recruit_button class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="recruitForm">
                    <div class="form-group">
                        <label for="inputPosition">職稱</label>
                        <input type="text" class="form-control rounded-0" formControlName="position" id="inputPosition"
                            placeholder="職稱">
                    </div>
                    <div class="form-group">
                        <label for="inputContent">職缺內容</label>
                        <textarea class="form-control" type="text" id="scopes" formControlName="scopes" rows="4"
                            cols="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputSkills">技能</label>
                        <tag-input id="skills" formControlName="skills" [onlyFromAutocomplete]="true"
                            [secondaryPlaceholder]="'前端開發, 市場開發, UIUX...'">
                            <tag-input-dropdown [displayBy]="'text'" [appendToBody]="false"
                                [autocompleteItems]="skillOptions" [showDropdownIfEmpty]="true" [dynamicUpdate]="false">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <div class="form-group">

                        <label for="inputSkills">每周願意投入時長</label>
                        <div class="form-group">
                            <div>
                                <input id="work12" type="checkbox" formControlName="work12" data-key="hour" />
                                <label class="option" for="work12">1至2小時</label>
                            </div>
                            <div>
                                <input id="work34" type="checkbox" formControlName="work34" data-key="hour" />
                                <label class="option" for="work34">3至4小時</label>
                            </div>
                            <div>
                                <input id="work56" type="checkbox" formControlName="work56" data-key="hour" />
                                <label class="option" for="work56">5至6小時</label>
                            </div>
                            <div>
                                <input id="work78" type="checkbox" formControlName="work78" data-key="hour" />
                                <label class="option" for="work78">7至8小時</label>
                            </div>
                            <div>
                                <input id="work9" type="checkbox" formControlName="work9" data-key="hour" />
                                <label class="option" for="work9">9小時以上(含)</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-end">

                        <button type="button" style="float: right;" class="btn btn-blue  mr-10"
                            (click)="onRecruitSubmit()">更新</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-dialog></app-dialog>
