.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  transition: 200ms;
  flex-direction: row;
}

.item {
  padding-left: 20px;
}

.num {
  font-size: 16px;
  padding: 2px 6px;
  border: 1px solid #6c757d;
  border-radius: 50%;
}

.card:hover {
  border: 2px solid var(--action-pri-active);
}

.card:hover .dropdown {
  display: block;
}

.icon-button {
  padding: 6px 9.5px;
  font-size: 18px;
  border-radius: var(--br-circle);
  background-color: transparent;
  color: var(--grey-50);
  transition: 200ms;
  cursor: pointer;
}

.icon-button:hover {
  background-color: var(--grey-7);
  color: var(--grey-85);
}

.cursor-pointer {
  cursor: pointer;
}

.danger {
  color: var(--danger);
  font-family: var(--font-nunito);
}

.table-scroll {
  max-height: 550px;
  overflow-y: auto;
}

.borderlabel {
  border: 1px solid #6c757d !important;
  border-color: #6c757d;
  border-radius: var(--br-circle);
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: var(--fs-xs);
  color: #6c757d;
  padding: 3px 10px;
}

.fw-700 {
  font-weight: 700;
}

.badge {
  font-size: 12px;
  color: #ffffff;
  background-color: var(--danger);
  border-radius: var(--br-circle);
  position: relative;
  /* margin-top: -80px; */
  top: -10px;

}

.hide {
  display: none;
}

.icon {
  padding-left: 5px;
  padding-right: 5px;
}

.empty {
  padding: 30px;
  font-size: 20px;
}




.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 2;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  background: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Hamburger line */
.menu-wrap .hamburger>div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fafafa;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

/* Hamburger top & bottom line */
.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background: inherit;
  height: 2px;
  width: 100%;
  z-index: 1;
}

.menu-wrap .hamburger>div:after {
  top: -10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

.menu.active {
  opacity: 1;
  width: 30vw;
  transition: all 0.75s ease;
}

.menu.list {
  display: grid;
  grid-row-gap: 12px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(77, 58, 58, 0.8);
  height: 100vh;
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: all 0.75s ease;
}


.menu>div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-row-gap: 12px;
  /* opacity: 0;
  transition: opacity 0.4s ease-in; */
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 1rem 0;
}

.menu>div a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
  /* opacity: 0;
  transition: opacity 1s ease-in; */
}

.menu a:hover {
  color: rgb(230, 177, 177);
  transition: color 0.3s ease-in;
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  opacity: 1;
  width: 30vw;
  transition: all0.75s ease;
}

.menu-wrap .toggler:checked~.menu>div {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.menu-wrap .toggler:checked~.menu>div a {
  opacity: 1;
  transition: opacity 1s ease-in;
}

@media (max-width: 500px) {
  header {
    /* background: url("./bg-img.jpg") no-repeat 40% center / cover; */
  }

  .menu-wrap .toggler:checked~.menu {
    width: 65vw;
  }
}
