.title {
  font-size: 40px;
  font-weight: 400;
}



.item {
  padding-left: 20px;
}


.empty {
  padding: 30px;
  font-size: 20px;
}

.bar {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 42px;
  grid-template-columns: 40px 170px 170px 1fr 170px 42px;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
  padding: 12px 24px;
}
