
.input_btn_normal {
  font-size: 16px;
  padding: 9px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
  color: #000;
}

.input_btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
  color: #000;
}

  #select_img .close {
    position: absolute;
    right: 16px;
    top: -10px;
    z-index: 100;
 color: red;
    font-size: 40px;
}
