  <h5 class="pb-10">照片</h5>
                        <div class="member-info-box">
                            <div class="row">
                                <div id="select_img" class="col-md-4 text-center">
                                    <img class="w-100" src="./assets/images/select_img.jpg" alt="">
                                </div>
                                <div id="member_choice_btn" class="col-md-8">
                                    <button class="btn_select_img">選擇作品</button>
                                </div>
                            </div>
                        </div>

                        <h5 class="mt-50 pb-10">姓名</h5>
                        <div class="form-group member-info-box">
                            <input type="text" class="form-control" id="" aria-describedby="">
                        </div>

                        <h5 class="mt-50 pb-10">自我介紹</h5>
                        <div class="form-group member-info-box">
                            <label for="">介紹藝術創作的特性或是方向。</label>
                            <textarea type="text" class="form-control" id=""  rows="4" cols="50"></textarea>
                        </div>

                        <h5 class="mt-50 pb-10">社群網址連結</h5>
                        <div class="member-info-box">
                            <div class="form-group ">
                                <label for="exampleInputEmail1">Twitter</label>
                                <input type="" class="form-control" id="" aria-describedby="" placeholder="ex- https://twitter.com/formosa">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Instagram</label>
                                <input type="" class="form-control" id="" aria-describedby="" placeholder="ex- https://www.instagram.com/formosa">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Facebook</label>
                                <input type="" class="form-control" id="" aria-describedby="" placeholder="ex- https://www.facebook.com/formosa">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">websitek</label>
                                <input type="" class="form-control" id="" aria-describedby="" placeholder="個人網站或作品集網站">
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">所在地</label>
                                <select >
                                    <option value="">--請選擇--</option>
                                    <option value="dog">台灣</option>
                                    <option value="cat">日本</option>
                                    <option value="hamster">韓國</option>
                                </select>
                            </div>
                        </div>

                        <h5 class="mt-50 pb-10">頻道分類</h5>
                        <div class="member-info-box">
                            <div class="form-group ">
                                <label for="exampleInputEmail1">選擇頻道分類，最多可選擇三組。</label>
                                <div class="input-group mb-3">
                                  <input type="text" class="form-control"  aria-label="Recipient's username" aria-describedby="button-addon2" readonly>
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-secondary input_btn_normal" type="button"  data-toggle="modal" data-target="#modal_select_channel">選擇</button>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-40">
                            <button id="member_last_btn_w100" class="btn_normal mb-40">
                                儲存變更
                            </button>
                        </div>
