.active >a{
       
        border-bottom: 3px solid #5165ff !important;
        border-top: 0px !important;
        border-right: 0px !important;
        border-left: 0px !important;
       
}
.tab-active{
     color: #fff !important;
}
.subtab:hover {
    color: #5165ff!important;

}

a{
    font-family: 'Roboto',sans-serif!important;
    text-decoration: none;
    border:0px !important;
    color: #6c757d!important;
}

.subtab {
    border:0px !important;
}

.active {
    color:#5165ff !important;
}
