<div id="findcontent" class="mx-auto  mt-50">
    <app-left-sidebar [sidebarId]="'navbaSideMenuContent'">
        <div header>
            <div class="cursor-pointer" (click)="onCleanClick()"><span class="btn-clean">{{ "BTNCLEAR"
                    | translate }}</span></div>
            <button type="button" class="btn-close text-reset close" type="button" data-toggle="collapse"
                data-target="#navbaSideMenuContent" aria-controls="navbaSideMenuContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div body>
            <aside class="sidebar mt-10">
                <nav class="sidebar-menu pb-3">


                </nav>
            </aside>
        </div>
    </app-left-sidebar>
    <div class="dt-sidebar">
        <div (click)="onCleanClick()"><span class="btn-clean">{{ "BTNCLEAR"
                | translate }}</span></div>

        <aside class="sidebar">
            <nav class="sidebar-menu pt-3 pb-3">
                <ul class="menu-items">
                    <li class="mb-12">
                        <span class="filter_title">{{ "ROLE"
                            | translate }}</span>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isProFounder"
                            (change)="onRolesChange($event)" data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "PROFOUNDER"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isDeveloper"
                            (change)="onRolesChange($event)" data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{ "DEVELOPER"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isUI" (change)="onRolesChange($event)"
                            data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "UI"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isUX" (change)="onRolesChange($event)"
                            data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "UX"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isPM" (change)="onRolesChange($event)"
                            data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "PM"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isInvestors"
                            (change)="onRolesChange($event)" data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "INVESTORS"
                            | translate }}</label>
                    </li>
                    <li>
                        <input type="checkbox" [(ngModel)]="filterCondition.isRoleOthers"
                            (change)="onRolesChange($event)" data-key="project" />
                        <label class="filter_option" for="firsttimeInput">{{
                            "OTHERS"
                            | translate }}</label>
                    </li>


                </ul>

                <ul class="menu-items">
                    <li class="mb-12">
                        <span class="filter_title">{{
                            "EVENT_PURPOSES"
                            | translate }}</span>
                    </li>
                    <li>
                        <input id="event_purpose_1" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_1"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_1">{{
                            "EVENT_PURPOSE_1"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_2" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_2"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_2">{{
                            "EVENT_PURPOSE_2"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_3" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_3"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_3">{{
                            "EVENT_PURPOSE_3"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_4" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_4"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_4">{{
                            "EVENT_PURPOSE_4"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_5" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_5"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_5">{{
                            "EVENT_PURPOSE_5"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_6" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_6"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_6">{{
                            "EVENT_PURPOSE_6"
                            | translate }}</label>
                    </li>
                    <li>
                        <input id="event_purpose_7" type="checkbox" [(ngModel)]="filterCondition.isEvent_purpose_7"
                            (change)="onPurposeChange($event)" data-key="project" />
                        <label class="filter_option" for="event_purpose_7">{{
                            "EVENT_PURPOSE_7"
                            | translate }}</label>
                    </li>
                </ul>

            </nav>
        </aside>

    </div>
    <div>
        <div class="row" *ngIf="foundItemNum >0">
            <div class="col-md-12">
                <p> {{foundItemNum}} {{ "NFOUND"
                    | translate }}</p>
            </div>
        </div>

        <div class="row">
            <ng-container *ngFor="let item of  displayUsers; let i = index">
                <div class="col-md-6 text-center">
                    <div class="card card-white grid-margin cursor-pointer" (click)="selectedAttendee(item)"
                        data-toggle="modal" [attr.data-target]="'#attendeeDetail'">
                        <div class="header">
                            <div class="">

                                <h6 class="mt-10 mb-10 text-body name text-left">{{ item.name }}</h6>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left ">
                                <span class="font-weight-bold"> {{ "ROLE"
                                    | translate }}:</span>{{ item.displayRoles }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left bio-body ">
                                <span class="font-weight-bold"> {{
                                    "BIO"
                                    | translate }} :</span><br> <span *ngIf="item.introduce" class="text_contents"
                                    [innerHTML]="item.introduce.length>100 ?
                                    item.introduce.substring(0,100)+' ...':item.introduce"></span>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-md-12 text-left ">
                                <span class="font-weight-bold"> {{
                                    "EVENT_PURPOSES"
                                    | translate }} :</span>{{item.displayPurposes}}
                            </div>
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
<div *ngIf="selectedItem" class="modal fade" id="attendeeDetail" tabindex="-1" aria-labelledby="attendeeDetail"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="title">{{selectedItem.name}}</p>
                <button type="button" id="close_attendee" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body content">
                <div><span class="font-weight-bold"> {{ "ROLE"
                        | translate }}:</span>{{ selectedItem.displayRoles }}</div>
                <div><span class="font-weight-bold"> {{
                        "EVENT_PURPOSES"
                        | translate }} :</span>{{selectedItem.displayPurposes}}</div>

                <div><span class="font-weight-bold"> {{ "BIO"
                        | translate }}:</span>
                    <div [innerHTML]="selectedItem.introduce"> </div>
                </div>
                <div><span class="font-weight-bold">{{ "PROJECT_NAME"
                        | translate }} : </span>{{selectedItem.proj_name}}</div>
                <div><span class="font-weight-bold">{{ "PROJECT_INTRO"
                        | translate }} : </span>
                    <div [innerHTML]="selectedItem.proj_introd"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
