app-my-project {
  .nav-link {
    background-color: transparent !important;
  }

  .nav-link.active {
    border-bottom-color: #56BDF4 !important;
  }





  .card {
    padding: 12px 24px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    // justify-content: space-between;
    grid-template-columns: 30% 1fr 20% 5%;
    transition: 200ms;
    flex-direction: row;
    width: 100%;

    .text-md {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .justify-right {
    justify-content: right;
  }



  .card:hover {
    border: 2px solid var(--action-pri-active);
  }

  .card:hover .dropdown {
    display: block;
  }



}


.noProject {
  height: 300px;
  margin-top: 28px;

  justify-content: center;
}
