<div class="mb-80" *ngIf="!loading">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ "MYPROJECT"
                | translate }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'published' }" type="button" role="tab"
                        (click)="changeTab('published')">{{ "PUBLISHED"
                        | translate }}</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'draft' }"
                        type="button" role="tab" (click)="changeTab('draft')">{{ "DRAFTS"
                        | translate }}</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'published' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class="row noProject" *ngIf="publishedprojects.length ===0">
                        <img src="assets/icons/noRecommend.png" alt="noRecommend">
                        <span>{{ "NOPROJECT"
                            | translate }}</span>
                    </div>
                    <ng-container *ngIf="publishedprojects">
                        <div class="row  pl-15 mt-3">
                            <ng-container *ngFor="let item of  publishedprojects; let i = index">
                                <!--
                                <app-project-bar style="width: 100%;" (onDelete)="onClickDelete($event, item)"
                                    [isShowEdit]="'false'" [isShowUser]="'false'" isShowRemove="'false'"
                                    [isShowSetting]="'false'" [project]="item"></app-project-bar> -->

                                <div class="card  cursor-pointer">
                                    <div class="d-flex">
                                        <p class="text-md m-0">{{item.name}}
                                        </p>

                                    </div>

                                    <div class="d-flex justify-right">
                                        <a type="button" class="btn btn-blue mr-10"
                                            [routerLink]="['/project/',item?.id]">
                                            {{ "GOVIEW" | translate
                                            }}</a>
                                    </div>
                                    <div class="d-flex justify-right">

                                        <p class="text-xs grey-50 mb-0 color-gray">
                                            {{ item.viewCount?item.viewCount:"0"}}&nbsp;{{ "VIEWNUM" | translate
                                            }}/
                                            {{item.followCount? item.followCount:
                                            0}}&nbsp;{{ "FOLLOW" | translate
                                            }}
                                        </p>


                                    </div>

                                    <div class="d-flex align-items-center justify-right">
                                        <div class="dropdown "><i class="fas fa-ellipsis-h color-gray"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/members']">
                                                    <svg-icon src="assets/icons/invite.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "INVITE" | translate
                                                    }}
                                                </a><a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/settings']">
                                                    <svg-icon src="assets/icons/cog.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "PROJECTSETTING" | translate
                                                    }}
                                                </a><a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/profile']">
                                                    <svg-icon src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "EDIT" | translate
                                                    }}
                                                </a> <a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/settings']">
                                                    <svg-icon src="assets/icons/trash.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "DELETE" | translate
                                                    }}
                                                </a></div>

                                        </div>

                                    </div>
                                </div>

                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'draft' }" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <div class="row noProject" *ngIf="draftedprojects.length ===0">
                        <img src="assets/icons/noRecommend.png" alt="noRecommend">
                        <span>{{ "NOPROJECT" | translate
                            }}</span>
                    </div>
                    <ng-container *ngIf="draftedprojects">
                        <div class="row pl-15">
                            <ng-container *ngFor="let item of  draftedprojects; let i = index">
                                <div class="card mt-3 cursor-pointer">
                                    <div class="d-flex">
                                        <p class="text-md m-0">{{item.name}}
                                        </p>

                                    </div>

                                    <div class="d-flex justify-right">
                                        <a type="button" class="btn btn-blue mr-10"
                                            [routerLink]="['/project/',item?.id]">
                                            {{ "GOVIEW" | translate
                                            }}</a>
                                    </div>
                                    <div class="d-flex justify-right">

                                        <p class="text-xs grey-50 mb-0 color-gray">
                                            {{ item.viewCount?item.viewCount:"0"}}&nbsp;{{ "VIEWNUM" | translate
                                            }}/
                                            {{item.followCount? item.followCount:
                                            0}}&nbsp;{{ "FOLLOW" | translate
                                            }}
                                        </p>


                                    </div>

                                    <div class="d-flex align-items-center justify-right">
                                        <div class="dropdown "><i class="fas fa-ellipsis-h color-gray"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
                                            <div class="dropdown-menu"> <a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/members']">
                                                    <svg-icon src="assets/icons/invite.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "INVITE" | translate
                                                    }}
                                                </a><a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/settings']">
                                                    <svg-icon src="assets/icons/cog.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "PROJECTSETTING" | translate
                                                    }}
                                                </a><a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/profile']">
                                                    <svg-icon src="assets/icons/pencil.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "EDIT" | translate
                                                    }}
                                                </a> <a class="dropdown-item"
                                                    [routerLink]="['/myproject/'+this.item?.id+'/settings']">
                                                    <svg-icon src="assets/icons/trash.svg"></svg-icon>&nbsp;&nbsp;{{
                                                    "DELETE" | translate
                                                    }}
                                                </a></div>

                                        </div>

                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>
<app-dialog></app-dialog>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
