app-my-project {
  .nav-link {
    background-color: transparent !important;
  }

  .nav-link.active {
    border-bottom-color: #56BDF4 !important;
  }

  .card {
    padding: 12px 24px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    // justify-content: space-between;
    grid-template-columns: 30% 1fr 20% 5%;
    transition: 200ms;
    flex-direction: row;
    width: 100%;
    border-radius: 0rem;

    .text-md {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .justify-right {
    justify-content: right;
  }

  .first_row {
    margin-top: 32px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  .last_row {

    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  // .card:hover {
  //   border: 2px solid var(--action-pri-active);
  // }

  .card:hover .dropdown {
    display: block;
  }

  .noProject {

    margin-top: 28px;
    display: grid !important;
    gap: 10px;
    justify-items: center;
    justify-content: center;
  }

}
