<div id="content-mt" class="container mb-80">
    <div class="row">
        <div class="col-sm-12">
            <div class="pos-rel">
                <!-- Nav pills -->
                <ul class="nav nav-pills justify-content-center nav-justified" role="tablist">
                    <li class="nav-item">
                        <span class="step selected" [ngClass]="{ 'selected': currentStep === 'basic' }">{{currentStep
                            === 'basic'?"1":"V"}}</span>基本資訊
                        <!-- <a data-toggle="pill" href="#organizer-details"><span class="step selected"
                                [ngClass]="{ 'selected': currentStep === 'basic' }">1</span>基本資訊</a> -->
                    </li>
                    <li class="nav-item">
                        <span class="step" [ngClass]="{ 'selected': currentStep === 'addMember' }">{{currentStep
                            === 'addMember'?"2":currentStep
                            === 'findMember'?"V":"2"}}</span>加入成員
                        <!-- <a data-toggle="pill" href="#event-details"><span class="step"
                                [ngClass]="{ 'selected': currentStep === 'addMember' }">2</span>加入成員</a> -->
                    </li>
                    <li class="nav-item">
                        <span class="step" [ngClass]="{ 'selected': currentStep === 'findMember' }">3</span>夥伴招募
                        <!-- <a data-toggle="pill" href="#confirm-details"><span class="step"
                                [ngClass]="{ 'selected': currentStep === 'findMember' }">3</span>夥伴招募</a> -->
                    </li>
                </ul>
            </div><!--   pos-rel end -->
        </div><!--   col-sm-12 end -->
    </div>
    <!--   row end -->

    <div *ngIf="currentStep === 'basic'" class=" mt-30">
        <div class="row">

            <form [formGroup]="projectForm">
                <div class="row">
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5>{{ "PROJECT_NAME"
                                | translate }}*</h5>
                        </label>
                        <input type="text" formControlName="name" id="projectname" class="form-control mr-10">
                        <div *ngIf="submitted && f.name.errors">
                            <div class="error-msg" *ngIf="f.name.errors.required">
                                Project name is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5> {{ "PROJECT_STATUS"
                                | translate }}</h5>
                        </label>
                        <div class="form-group">
                            <input type="checkbox" (change)="onStatusChange($event, 'isFindPartner')"
                                [checked]="projectForm.value.isFindPartner"
                                value="projectForm.value.isFindPartner"><span>{{ "FIND_MEMBER"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStatusChange($event, 'isFunding')"
                                [checked]="projectForm.value.isFunding" value="projectForm.value.isFunding"><span>{{
                                "FIND_MONEY"
                                | translate }}
                            </span>
                            <input type="checkbox" (change)="onStatusChange($event, 'isCofounder')"
                                [checked]="projectForm.value.isCofounder" value="projectForm.value.isCofounder"><span>{{
                                "FIND_COFOUNDER"
                                | translate }}</span>
                        </div>

                    </div>
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5> 專案產品</h5>
                        </label>
                        <div class="form-group">
                            <input type="checkbox" (change)="onProductChange($event, 'website')"
                                [checked]="isInValue('website', f.type.value)" value="website"><span>網站</span>
                            <input type="checkbox" (change)="onProductChange($event, 'app')"
                                [checked]="isInValue('app', f.type.value)" value="app"><span>App</span>
                            <input type="checkbox" (change)="onProductChange($event, 'hardware')"
                                [checked]="isInValue('hardware', f.type.value)" value="hardware"><span>硬體</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5> {{
                                "INDUSTRY_TYPES"
                                | translate }}*</h5>
                        </label>
                        <div class="form-group">
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'eComm')"
                                [checked]="isInValue('eComm', f.type.value)" value="eComm"><span>{{
                                "ECOMM"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'medical')"
                                [checked]="isInValue('medical', f.type.value)" value="medical"><span>{{
                                "MEDICAL"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'ai')"
                                [checked]="isInValue('ai', f.type.value)" value="ai"><span>{{
                                "AI"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'transport')"
                                [checked]="isInValue('transport', f.type.value)" value="transport"><span>{{
                                "TRANSPORT"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'edutech')"
                                [checked]="isInValue('edutech', f.type.value)" value="edutech"><span>{{
                                "EDUTECH"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'fintech')"
                                [checked]="isInValue('fintech', f.type.value)" value="fintech"><span>{{
                                "FINTECH"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'sharingeconomy')"
                                [checked]="isInValue('sharingeconomy', f.type.value)" value="sharingeconomy"><span>{{
                                "SHARINGECONOMY"
                                | translate }}</span>
                            <input type="checkbox" (change)="onIndustryTypeChange($event, 'game')"
                                [checked]="isInValue('game', f.type.value)" value="game"><span>{{
                                "GAME"
                                | translate }}</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="stage">
                            <h5> {{
                                "CURRENT_PROGRESS"
                                | translate }}*</h5>
                        </label>
                        <div class="form-group">
                            <input type="checkbox" (change)="onStageChange($event, 'idea')"
                                [checked]="isInValue('idea', f.stages.value)" value="idea"><span>{{
                                "PRORGRESS_1"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'businessplan')"
                                [checked]="isInValue('businessplan', f.stages.value)" value="businessplan"><span>{{
                                "PRORGRESS_2"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'findpartner')"
                                [checked]="isInValue('findpartner', f.stages.value)" value="findpartner"><span>{{
                                "PRORGRESS_3"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'buildMVP')"
                                [checked]="isInValue('buildMVP', f.stages.value)" value="buildMVP"><span>{{
                                "PRORGRESS_4"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'producttested')"
                                [checked]="isInValue('producttested', f.stages.value)" value="producttested"><span>{{
                                "PRORGRESS_5"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'findcustomers')"
                                [checked]="isInValue('findcustomers', f.stages.value)" value="findcustomers"><span>{{
                                "PRORGRESS_6"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'findpayingcustomers')"
                                [checked]="isInValue('findpayingcustomers', f.stages.value)"
                                value="findpayingcustomers"><span>{{
                                "PRORGRESS_7"
                                | translate }}</span>
                            <input type="checkbox" (change)="onStageChange($event, 'fundraising')"
                                [checked]="isInValue('fundraising', f.stages.value)" value="fundraising"><span>{{
                                "FIND_MONEY"
                                | translate }}</span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5> 簡介 :</h5>
                        </label>
                        <textarea formControlName="description" type="text" class="form-control" id="" rows="4"
                            cols="50" placeholder="輸入專案介紹"></textarea>
                        <div *ngIf="submitted && f.description.errors">
                            <div class="error-msg" *ngIf="f.description.errors.required">
                                {{ "PROJECT_INTRO_MUST" | translate }}
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12 mb-12 form-group ">
                        <label class="pr-2" for="projectname">
                            <h5> 尋找夥伴 :</h5>
                        </label>
                        <input (change)="onIsPartner($event)" formControlName="isFindPartner" type="radio" [value]="1"
                            class="mr-1" /><span>是</span>
                        <input (change)="onIsPartner($event)" formControlName="isFindPartner" type="radio" [value]="0"
                            class="mr-1" /><span>否</span>
                    </div> -->

                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 mb-12 form-group button-center">
                <button type="button" class="btn btn-cancel mr-10" (click)="onCancel()">取消
                </button>
                <button type="button" class="btn btn-blue mr-10" [disabled]="inValid()"
                    (click)="onChangeStep('addMember')"> 下一步</button>
            </div>

        </div>
    </div>
    <!-- project info end -->
    <!-- addMember start -->
    <div *ngIf="currentStep === 'addMember'" class="mt-30">
        <form [formGroup]="projectForm">
            <div class="members" formArrayName="members" *ngFor="let member of t.controls; let i = index">
                <div><span class="num">{{i+1}}</span></div>
                <div [formGroup]="member" class="row">
                    <div class="col-md-6 mb-3 form-group ">
                        <label>{{"NAME" | translate }}</label>
                        <input type="text" formControlName="email" id="email" class="form-control mr-10">
                        <div *ngIf="submitted && t.email.errors">
                            <div class="error-msg" *ngIf="t.email.errors.required">
                                Email is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 form-group ">
                        <label>職位名稱</label>
                        <input type="text" formControlName="position" id="position" class="form-control mr-10">
                        <div *ngIf="submitted && t.position.errors">
                            <div class="error-msg" *ngIf="t.position.errors.required">
                                Position is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3 form-group ">
                        <label>{{"JD" | translate }}</label>
                        <!-- <input type="text" formControlName="description" id="description" class="form-control mr-10"> -->
                        <textarea type="text" formControlName="description" class="form-control" id="" rows="4"
                            cols="50"></textarea>
                        <div *ngIf="submitted && t.description.errors">
                            <div class="error-msg" *ngIf="t.description.errors.required">
                                Description is required
                            </div>
                        </div>


                    </div>

                </div>
                <div class="right_options">
                    <button id="remove1" *ngIf="i < t.controls.length -1 " (click)="removeMember(i)"
                        class="btn  remove-me"><i class="far fa-trash-alt"></i></button>
                    <button id="add1" *ngIf="t.controls.length ==i+1" (click)="addMember(i)" class="btn add-me"><i
                            class="fas fa-plus"></i></button>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12 mb-12 form-group button-center">
                <button type="button" class="btn btn-cancel mr-10" (click)="onChangeStep('basic')">上一步
                </button>
                <button type="button" class="btn btn-blue mr-10" (click)="onChangeStep('findMember')"> 下一步</button>
            </div>

        </div>
    </div>
    <!-- addMember info end -->
    <!-- findMember start -->
    <div *ngIf="currentStep === 'findMember'" class="mt-30">
        <form [formGroup]="projectForm">
            <div class="members" formArrayName="jobs" *ngFor="let job of h.controls; let i = index">
                <div><span class="num">{{i+1}}</span></div>
                <div [formGroup]="job" class="row">
                    <div class="col-md-6 mb-3 form-group ">
                        <label>{{"NAME" | translate }}</label>
                        <input type="text" formControlName="position" id="position" class="form-control mr-10">
                        <!-- <div *ngIf="submitted && h.position.errors">
                            <div class="error-msg" *ngIf="h.position.errors.required">
                                Position is required
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-6 mb-3 form-group ">
                        <label>{{"POSITION" | translate }}</label>
                        <input type="text" formControlName="skills" id="skills" class="form-control mr-10">
                        <!-- <div *ngIf="submitted && h.skills.errors">
                            <div class="error-msg" *ngIf="h.skills.errors.required">
                                Skills is required
                            </div>
                        </div> -->
                    </div>
                    <div class="col-md-12 mb-3 form-group ">
                        <label>{{"JD" | translate }}</label>
                        <input type="text" formControlName="description" id="description" class="form-control mr-10">
                        <!-- <div *ngIf="submitted && h.description.errors">
                            <div class="error-msg" *ngIf="h.description.errors.required">
                                Description is required
                            </div>
                        </div> -->


                    </div>
                    <!-- <div class="col-md-12 mb-3 form-group">

                        <button id="remove2" *ngIf="i < h.controls.length -1 " (click)="removeJob(i)"
                            class="btn btn-danger remove-me"><i class="far fa-trash-alt"></i></button>
                        <button id="add2" *ngIf="h.controls.length ==i+1" (click)="addJob()" class="btn  add-me"><i
                                class="fas fa-plus"></i></button>

                    </div> -->
                </div>
                <div class="right_options">
                    <button id="remove2" *ngIf="i < h.controls.length -1" (click)="removeJob(i)"
                        class="btn  remove-me"><i class="far fa-trash-alt"></i></button>
                    <button id="add2" *ngIf="h.controls.length ==i+1" (click)="addJob()" class="btn  add-me"><i
                            class="fas fa-plus"></i></button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 mb-12 form-group button-center">
                <button type="button" class="btn btn-cancel mr-10" (click)="onChangeStep('addMember')">上一步
                </button>
                <button type="button" class="btn btn-blue mr-10" [disabled]="!projectForm.valid"
                    (click)="onSaveDraft()"> {{ "SAVE_DRAFT"
                    | translate }}</button>
                <button type="button" class="btn btn-blue mr-10" [disabled]="!projectForm.valid" (click)="onSave()">
                    {{ "PUBLISH"
                    | translate }}</button>
            </div>

        </div>

    </div>
