<div id="content-mt" class="container mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>建立專案</h1>
        </div>
    </div>
    <div class="wizard">
        <div class="wizard-inner">
            <div class="connecting-line"></div>
            <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-folder-open"></i>
                        </span>
                    </a>
                </li>

                <li role="presentation" class="disabled">
                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </span>
                    </a>
                </li>
                <li role="presentation" class="disabled">
                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-picture"></i>
                        </span>
                    </a>
                </li>

                <li role="presentation" class="disabled">
                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                        <span class="round-tab">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                [ngClass]="{ 'active': currentTab === 'current' }" type="button" role="tab"
                (click)="changeTab('current')"><span class="num">1</span>基本資訊</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'new' }" type="button"
                role="tab" (click)="changeTab('new')"><span class="num">2</span>專案成員</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'interview' }" type="button"
                role="tab" (click)="changeTab('interview')"><span class="num">3</span>夥伴招募</button>
        </li>


    </ul> -->
    <form [formGroup]="projectForm">
        <div class="row">
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 專案名稱 :</h5>
                </label>
                <input type="text" formControlName="name" id="projectname" class="form-control mr-10">
                <div *ngIf="submitted && f.name.errors">
                    <div class="error-msg" *ngIf="f.name.errors.required">
                        Project name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 專案類型 :</h5>
                </label>
                <input type="checkbox" (change)="onTypeChange($event, 'eComm')"
                    [checked]="isInValue('eComm', f.type.value)" value="eComm"><small>電子商務</small>
                <input type="checkbox" (change)="onTypeChange($event, 'ai')" [checked]="isInValue('ai', f.type.value)"
                    value="ai"><small>人工智慧</small>
                <input type="checkbox" (change)="onTypeChange($event, 'edutech')"
                    [checked]="isInValue('edutech', f.type.value)" value="edutech"><small>教育科技</small>
                <input type="checkbox" (change)="onTypeChange($event, 'sharingeconomy')"
                    [checked]="isInValue('sharingeconomy', f.type.value)" value="sharingeconomy"><small>共享經濟</small>
                <input type="checkbox" (change)="onTypeChange($event, 'medical')"
                    [checked]="isInValue('medical', f.type.value)" value="medical"><small>醫學科技</small>
                <input type="checkbox" (change)="onTypeChange($event, 'transport')"
                    [checked]="isInValue('transport', f.type.value)" value="transport"><small>運輸服務</small>
                <input type="checkbox" (change)="onTypeChange($event, 'fintech')"
                    [checked]="isInValue('fintech', f.type.value)" value="fintech"><small>金融科技</small>
                <input type="checkbox" (change)="onTypeChange($event, 'game')"
                    [checked]="isInValue('game', f.type.value)" value="game"><small>遊戲產業</small>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="stage">
                    <h5> 專案進度 :</h5>
                </label>
                <input type="checkbox" (change)="onStageChange($event, 'idea')"
                    [checked]="isInValue('idea', f.stages.value)" value="idea"><small>已有創業概念</small>
                <input type="checkbox" (change)="onStageChange($event, 'businessplan')"
                    [checked]="isInValue('businessplan', f.stages.value)" value="businessplan"><small>商業計畫初稿</small>
                <input type="checkbox" (change)="onStageChange($event, 'findpartner')"
                    [checked]="isInValue('findpartner', f.stages.value)" value="findpartner"><small>找創業夥伴</small>
                <input type="checkbox" (change)="onStageChange($event, 'buildMVP')"
                    [checked]="isInValue('buildMVP', f.stages.value)" value="buildMVP"><small>建構最小可行性產品(MVP)</small>
                <input type="checkbox" (change)="onStageChange($event, 'producttested')"
                    [checked]="isInValue('producttested', f.stages.value)" value="producttested"><small>驗證產品中</small>
                <input type="checkbox" (change)="onStageChange($event, 'findcustomers')"
                    [checked]="isInValue('findcustomers', f.stages.value)" value="findcustomers"><small>找用戶中</small>
                <input type="checkbox" (change)="onStageChange($event, 'findpayingcustomers')"
                    [checked]="isInValue('findpayingcustomers', f.stages.value)"
                    value="findpayingcustomers"><small>找付費用戶中</small>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 簡介 :</h5>
                </label>
                <textarea formControlName="description" type="text" class="form-control" id="" rows="4"
                    cols="50"></textarea>
                <div *ngIf="submitted && f.description.errors">
                    <div class="error-msg" *ngIf="f.description.errors.required">
                        專案簡介是必要的
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-12 form-group ">
                <label class="pr-2" for="projectname">
                    <h5> 尋找夥伴 :</h5>
                </label>
                <input (change)="onIsPartner($event)" formControlName="isFindPartner" type="radio" [value]="1"
                    class="mr-1" /><span>是</span>
                <input (change)="onIsPartner($event)" formControlName="isFindPartner" type="radio" [value]="0"
                    class="mr-1" /><span>否</span>
            </div>

        </div>
    </form>
    <div *ngIf="isFindPartnerPanel" class="row">
        <div class="col-md-12 mb-12 form-group ">
            <label class="pr-2" for="projectname">
                <h5>夥伴 :</h5>
            </label>
        </div>
        <div class="col-md-12 mb-12 form-group">
            <label class="pr-2" for="projectname">
                <h5> 每周需花費時長 :</h5>
            </label>
            <input type="checkbox" value="12"><small>1~2小時</small>
            <input type="checkbox" value="34"><small>3~4小時</small>
            <input type="checkbox" value="56"><small>5~6小時</small>
            <input type="checkbox" value="78"><small>7~8小時</small>
            <input type="checkbox" value="9"><small>9小時以上(含)</small>
        </div>
        <div class="col-md-12 mb-12 form-group ">
            <label class="pr-2" for="projectname">
                <h5> 需要的技能 :</h5>
            </label>
            <input type="text" id="projectname" class="form-control mr-10">
        </div>
        <div class="col-md-12 mb-12 form-group ">
            <label class="pr-2" for="projectname">
                <h5> 簡介 :</h5>
            </label>
            <input type="text" id="projectname" class="form-control mr-10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-12 form-group button-center">
            <button type="button" class="btn btn-primary mr-10" (click)="onSaveDraft()">存為草稿
            </button>
            <button type="button" class="btn btn-primary mr-10" (click)="onSave()"> 發布</button>
        </div>
        <div class="col-md-12 mb-12 form-group text-center">
            <div class="error-msg" *ngIf="projectMsg!=''">{{ projectMsg }}</div>
        </div>
    </div>
</div>
