<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>我的收藏</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        [ngClass]="{ 'active': currentTab === 'project' }" type="button" role="tab"
                        (click)="changeTab('project')">專案</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'partner' }"
                        type="button" role="tab" (click)="changeTab('partner')">夥伴</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" [ngClass]="{ 'active': currentTab === 'mentor' }"
                        type="button" role="tab" (click)="changeTab('mentor')">導師</button>
                </li>

            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'project' }" id="home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <div class=" noItem text-center" *ngIf="projects.length ===0">
                        沒有專案
                    </div>
                    <ng-container *ngIf="projects">
                        <div class="row" style="padding-left:15px;">
                            <ng-container *ngFor="let item of  projects; let i = index">
                                <app-project-bar style="width: 100%;" (onDelete)="onClickDelete($event)"
                                    [isShowEdit]="'false'" [isShowUser]="'false'" isShowRemove="'false'"
                                    [isShowSetting]="'false'" [project]="item"></app-project-bar>

                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'partner' }" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <div class="noItem text-center" *ngIf="partners.length ===0">
                        <h3>沒有追蹤的夥伴</h3>
                    </div>
                    <ng-container *ngIf="partners">
                        <div class="row">
                            <ng-container *ngFor="let item of  partners; let i = index">
                                <h1>{{item.name}}</h1>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'mentor' }" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <div class="noItem text-center" *ngIf="mentors.length ===0">
                        沒有追蹤的導師
                    </div>
                    <ng-container *ngIf="mentors">
                        <div class="row">
                            <ng-container *ngFor="let item of  mentors; let i = index">
                                <h1>{{item.name}}</h1>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
        </div>
    </div>
</div>
