<aside class="sidebar shadow-sm">
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li>
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>

        </a>
      </li>
      <li>
        <a routerLink="/">
          <i class="fa fa-home"></i>
          <span>Home</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>

      <li>
        <a routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>

      <li>
        <a routerLink="/admin/users" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Users</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
      <li>
        <a routerLink="/admin/projects" routerLinkActive="active">
          <i class="fa fa-image"></i>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/delegate" routerLinkActive="active">
          <i class="fa fa-image"></i>
          <span>Delegate</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin/settings" routerLinkActive="active">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>

    </ul>

  </nav>
</aside>
