<aside class="sidebar shadow-sm">

  <!-- <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">

    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">{{userUid}}</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>-->
  <!-- <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input type="search" class="form-control rounded-pill" name="search" placeholder="Search ...">
  </div> -->
  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li>
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>

        </a>
      </li>
      <li>
        <a href="#" routerLink="/index" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>MarketPlace</span>

        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin/dashboard" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin/blockchain" routerLinkActive="active">
          <i class="fa fa-square"></i>
          <span>blockchain</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin/users" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <span>Users</span>
          <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
        </a>
      </li>
      <li>
      <li>
        <a href="#" routerLink="/admin/editions" routerLinkActive="active">
          <i class="fa fa-image"></i>
          <span>Edition</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/admin/settings" routerLinkActive="active">
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li>

    </ul>

  </nav>
</aside>
