<table class="table">
    <tbody>
        <tr *ngFor="let record of records">
            <td width="25%"><a data-v-25248957="" href="/edition/8400" class="">
                    <div data-v-bba8ea56="" data-v-4f5013a9="" data-v-25248957="" name="edition-image-asset"
                        class="img-thumbnail"><img data-v-bba8ea56="" id="edition_image_230"
                            data-src="https://cdn.knownorigin.io/cdn/images/network/1/edition/8400"
                            data-error="https://cdn.knownorigin.io/cdn/images/network/1/edition/8400"
                            alt="edition-image" class="card-img-top hand-pointer"
                            src="https://cdn.knownorigin.io/cdn/images/network/1/edition/8400" lazy="loaded">
                        <!---->
                    </div>
                </a></td>
            <td class="align-middle">
                <code data-v-25248957="">Purchase</code>
                <div data-v-25248957="">
                    <span data-v-ea5978e8="" data-v-25248957="" class="font-roboto"><span data-v-ea5978e8=""
                            class="price">0.03</span> <span data-v-ea5978e8="" class="price-eth">ETH</span></span><span
                        data-v-6acc9f4a="" data-v-25248957="" class="text-muted"><small
                            data-v-6acc9f4a="">($5.47)</small></span></div>
                <div data-v-25248957=""><a data-v-25248957="" href="/token/8405" class="badge badge-primary"> 8405 </a>
                </div>
                <div data-v-25248957="" class="pt-2">
                    <span data-v-25248957="" class="text-muted small">Owner:
                    </span>
                    <span data-v-25248957="" class="small">
                        <a href="/0x576a655161B5502dCf40602BE1f3519A89b71658" target="_self"
                            class="artist-link text-decoration-none"><span data-v-7fc5fc02="" class="artist-name-lg">
                                <span data-v-7fc5fc02=""> 0x576a...b71658
                                </span>
                            </span>
                        </a>
                    </span>
                </div>
            </td>
            <td class="align-middle">
                <div class="small d-none d-sm-block">11/17/2019</div>
                <span class="small">
                    <a href="https://etherscan.io/tx/0x6067a30b96db7733b887b325986e86e066bf756a761c43e7e7d2d47178e84af8"
                        target="_blank" class="small">[view tx]</a>
                </span>
            </td>
        </tr>
    </tbody>
</table>