 <div class="row">
                            <div class="col-md-4">
                                <select class="sort_dropdown w-100">
                                    <option value="member-buyer-project-owner.html">所有競標作品</option>
                                    <option value="member-buyer-project-Bidding.html">得標尚未結帳</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <form class="form-inline d-flex justify-content-end md-form form-sm active-cyan-2 ">
                                  <input id="member-search" class="form-control form-control-sm mr-3 w-50" type="text" placeholder="Search" aria-label="Search">
                                  <i class="fas fa-search" aria-hidden="true"></i>
                                </form>
                            </div>
                        </div>
                        <hr>

                        <div id="member-artist-project" class="row mt-30">
                            <div class="col-md-4">
                                <a href="project-purchase.html" target="_blank"><img class="mb-10" src="./assets/images/project-info-01.jpg" alt=""></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="member_artist_detail_list">
                                    <li>
                                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        最後出價時間：2020-10-09 PM4:31
                                    </li>
                                    <li>
                                        出價：<span class="text-orange">Ξ 0.005 / USD 66 </span><a class="member_bidding_history" href="#" data-toggle="modal" data-target="#modal_bid_history">出價紀錄</a>
                                    </li>
                                    <li>
                                        付款方式：虛擬錢包 <a class="member_bidding_pay" href="#" data-toggle="modal" data-target="#modal_pay_money">已得標，進行付款</a>
                                    </li>
                                    <li>
                                        版本：10/#8
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="member-artist-project" class="row mt-30">
                            <div class="col-md-4">
                                <a href="project-purchase.html" target="_blank"><img class="mb-10" src="./assets/images/project-info-02.jpg" alt=""></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="member_artist_detail_list">
                                    <li>
                                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        最後出價時間：2020-10-09 PM4:31
                                    </li>
                                    <li>
                                        出價：<span class="text-orange">Ξ 0.005 / USD 66 </span><a class="member_bidding_history" href="#" data-toggle="modal" data-target="#modal_bid_history">出價紀錄</a>
                                    </li>
                                    <li>
                                        付款方式：虛擬錢包
                                    </li>
                                    <li>
                                        版本：10/#8
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="member-artist-project" class="row mt-30">
                            <div class="col-md-4">
                                <a href="project-purchase.html" target="_blank"><img class="mb-10" src="./assets/images/project-info-03.jpg" alt=""></a>
                            </div>
                            <div class="col-md-8">
                                <ul class="member_artist_detail_list">
                                    <li>
                                        <h5>作品名稱作品名稱作品名稱作品名稱作品名稱作品名稱</h5>
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        最後出價時間：2020-10-09 PM4:31
                                    </li>
                                    <li>
                                        出價：<span class="text-orange">Ξ 0.005 / USD 66 </span><a class="member_bidding_history" href="#" data-toggle="modal" data-target="#modal_bid_history">出價紀錄</a>
                                    </li>
                                    <li>
                                        付款方式：虛擬錢包
                                    </li>
                                    <li>
                                        版本：10/#8
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="text-center pagenation_center mb-40" >
                            <nav aria-label="..." >
                              <ul class="pagination">
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                              </ul>
                            </nav>
                        </div>
