/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */
.nav-link{
    font-family:Roboto;
  font-weight: 200;
}
@media (max-width: 750px) {
  #main-bg {
    padding: 50px 0;
  }
  #main-bg .main-slogen {
    font-size: 40px;
    line-height: 50px;
  }

  #index_title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #index_buyer_bg {
    padding-top: 20px;
    background-image: repeating-linear-gradient(
      #17f596,
      #17f596 30%,
      #17f596 30%,
      #17f596 100%
    );
  }

  #index_arts_bg {
    background-image: url("./assets/images/index_arts_bg1.jpg");
    height: 600px;
    background-size: cover;
    background-position: center center;
    width: 100%;
    font-size: 20px;
    position: relative;
  }

  #index_arts_bg .index_art_slogen {
    font-size: 40px;
    line-height: 50px;
  }

  #index_arts_bg .index_arts_text {
    display: block;
    position: absolute;
    top: 70px;
    left: 10px;
    text-align: center;
  }
  #footer_bg .footer_dropdown {
    width: 100%;
  }

  #footer_bg img {
    width: 80%;
    padding-bottom: 20px;
  }

  .signup-logo img {
    width: 70%;
  }

  .signup-logo h1 {
    font-size: 31px;
  }

  #artist-head-photo {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #artist-line-right {
    border-right: 0px dashed #fff;
  }

   .activity_timeline:after, .activity_timeline_point:after{
        display:none;
    }

    #activity_text_center{
        text-align:center;
        margin:0 auto;
    }
    #activity_text_center p{
        width:100%;
        text-align:center;
    }

      #content-mt .activity_intro{
        width:100%;
        margin:0 auto;
        text-align: justify;
    }

    #activity_img_center{
        text-align:center;
    }

    .activity_timeline_point{
        padding-bottom:25px;
        border-bottom:1px solid #17F596;
    }

    #content-mt{
        padding-top:120px;
    }

    #content-mt-60{
        padding-top:60px;
    }

   #member_choice_btn{
        margin-top:20px;
    }

    #member-search{
        margin-top:10px;
    }

    #member_last_btn_w100{
        width:100%;
    }

    #footer_buyer_img img{
        display:none;
    }

}
@media (min-width: 576px) {
}

.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60{margin-bottom:60px;}
.mb-80{margin-bottom:80px;}

.mlr-10 {
  margin: 0 10px;
}

.text-13{
    font-size:13px;
}


/** buttons **/

.btn_small:focus,
.btn_normal:focus,
.btn_large:focus,
.btn_large_win:focus,
.btn_select_img:focus {
  outline: none;
}

.btn_small {
  font-size: 16px;
  padding: 5px 13px;
  background-color: #fff;
  border: 2px solid #17f596;
  border-radius: 3px;
}
.btn_small_liked {
  font-size: 16px;
  padding: 5px 13px;
  background-color: #11e78b;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.btn_small:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
}

.btn_normal {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
}


.input_btn_normal {
  font-size: 16px;
  padding: 9px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
  color: #000;
}

.input_btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
  color: #000;
}


.btn_large {
  font-size: 25px;
  background-color: #17f596;
  border: 1px solid #17f596;
  border-radius: 3px;
  color: #000;
  padding: 10px 0;
}
.btn_large_disable {
    font-size: 25px;
  background-color: #eeeeee;
  border:2px solid #eeeeee;
  border-radius: 3px;
  color:#b2b2b2;
    padding: 10px 0;
}

.btn_large:hover {
  font-size: 25px;
  background-color: #11e78b;
  border: 1px solid #11e78b;
  border-radius: 3px;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.btn_large_win {
  font-size: 25px;
  background-color: #d46e6e;
  border: 1px solid #d46e6e;
  border-radius: 3px;
  color: #fff;
  padding: 10px 0;
}

.btn_large_win:hover {
  font-size: 25px;
  background-color: #d05c5c;
  border: 1px solid #d05c5c;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn_select_img {
  background-color: #17f596;
  color: #000;
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
}

.btn_select_img:hover {
  background-color: #11e78b;
}
/** 共用 **/

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

.button:focus {
  box-shadow: none !important;
}

.page-item.active .page-link {
  color: #fff !important;
    background-color: #08AB65  !important;
    border-color:#08AB65  !important;
}

.page-link{
    color:#08AB65 !important;
}

.page-link:hover{
    color:#08AB65 !important;
}

#content-mt {
  margin-top: 120px;
}


.bgc-white {
  background-color: #fff;
}

.bgc-grey {
  background-color: #f4f4f4;
}

.text-green {
  color: #17f596;
}

.text-green1{
    color:#08AB65;
}

.text-orange{
    color:#FA6400;
}

/** 修改 bootstrap model **/

body {
/*   font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", Arial, sans-serif; */
    font-family:"Roboto thin"  !important;
  padding-right: 0px !important;
  overflow-y: scroll !important;
}

nav {
  padding-right: 0px !important;
}

a {
  color: #08ab65 ;
}

a:hover {
  color: #17f596 !important;
  text-decoration: none !important;
}

/** input placeholder消失 **/
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

#main-bg {
  background-image: url("./assets/images/main-bg.jpg");
  background-color: #08ab65;
  padding: 150px 0 130px 0;
  background-size: cover;
  background-position: center center;
  text-align: center;
  width: 100%;
}

#index_login a:hover {
  text-decoration: none;
  color: #484848;
}

.main-slogen {
  font-size: 90px;
  line-height: 110px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

.main-btn-explore {
  font-size: 20px;
  padding: 15px 60px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #17f596;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}

.main-btn-explore:hover {
  font-size: 20px;
  padding: 15px 60px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #17f596;
  border-radius: 5px;
  color: #17f596;
  margin-top: 20px;
  box-shadow: 0 0 10px #17f596;
  transition: all 0.3s ease-in-out;
}

.index-title {
  margin-top: 30px;
  border-bottom: 3px solid #17f596;
  padding-bottom: 5px;
  font-size: 30px;
  margin-bottom: 20px;
}

.index_buyer_box:hover {
  transform: translate(0, 10px);
  transition: all 0.3s ease-in-out;
}

#index_buyer .box-height {
  display: flex;
  align-items: stretch;
}

/** hover effect code **/

.hovereffect {
  width: 100%;
  height: 100%;
  /* float:left; */
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  box-sizing: border-box;
  border: 3px solid #17f596;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.hovereffect p {
  color: #fff;
}

.hovereffect a. {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  /* color:#fff;
border:1px solid #fff; */
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  /* margin:50px 0 0;
padding:7px 14px; */
}

.hovereffect a.info:hover {
  /* box-shadow:0 0 5px #fff; */
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect button {
  background-color: #17f596;
  border: 1px solid #17f596;
  border-radius: 3px;
  padding: 3px 10px;
  box-shadow: 0 0 10px #000;
  margin-top: 10px;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.index_btn_roll {
  padding: 3px 10px;
  vertical-align: center;
  color: #000;
  border: 2px solid #17f596;
  border-radius: 20px;
  margin: 0 5px;
  background-color: #fff;
}

.index_btn_roll:hover {
  background-color: #17f596;
  transition: all 0.3s ease-in-out;
}

.index_btn_explore1 {
  font-size: 20px;
  padding: 10px 30px;
  margin: 5px 10px;
  border: 2px solid #17f596;
  border-radius: 3px;
  background-color: #fff;
}

.index_btn_explore1:hover {
  background-color: #17f596;
  transition: all 0.3s ease-in-out;
}

.index_btn_explore2 {
  font-size: 20px;
  padding: 10px 30px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #17f596;
  color: #000;
}

.index_btn_explore2:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

.index_btn_explore3 {
  font-size: 20px;
  padding: 10px 30px;
  margin: 0 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 1);
}

.index_btn_explore3:hover {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
}

.index_title {
  font-size: 60px;
  margin-top: 100px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 30px;
}

.index_title span {
  color: #08ab65;
}

#index_buyer img {
  width: 55%;
  padding-bottom: 15px;
}

.index_buyer_box {
  border: 6px solid #17f596;
  border-radius: 15px;
  padding: 40px;
  font-size: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.index_buyer_bg {
  display: block;
  overflow: hidden;
  background-image: repeating-linear-gradient(
    white,
    white 30%,
    #17f596 30%,
    #17f596 100%
  );
}

#index_arts_bg {
  background-image: url("./assets/images/index_arts_bg.jpg");
  height: 600px;
  background-size: cover;
  background-position: center center;
  width: 100%;
  font-size: 20px;
  position: relative;
}

.index_art_slogen {
  color: #000;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
}

.index_art_slogen span {
  color: #08ab65;
}

.index_arts_text {
  display: block;
  position: absolute;
  top: 150px;
  left: calc(50% - 90px);
}

#footer_bg {
  background-color: #161616;
  padding: 60px 80px;
}

#footer_bg .test {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_bg ul {
  display: block;
  overflow: hidden;
  text-align: center;
  list-style: none;
}

#footer_bg li {
  color: #b7b7b7;
  list-style: none;
  float: left;
  margin: 0 20px;
  font-size: 18px;
}

#footer_bg li:hover {
  color: #fff;
  cursor: pointer;
}

.footer_dropdown {
  padding: 10px 20px;
  border: 1px solid #08ab65;
  background: #000;
  color: #b7b7b7;
  border-radius: 5px;
}

#footer_bg img {
  width: 80%;
  padding-bottom: 20px;
}

/** Model **/

.modal_header {
  border-bottom: 0;
}

.model_padding {
  padding: 30px 50px 20px 50px;
}

.model_btn_normal {
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.model_btn_normal:hover {
  border: 2px solid #11e78b;
  background-color: #11e78b;
}

.model_btn_second {
  font-size: 16px;
  padding: 15px 20px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.model-p-small {
  font-size: 13px;
}

.modal_input {
  border: 1px solid #17f596;
  padding: 15px 20px;
  border-radius: 5px;
}

/** login **/
.signup-logo {
  margin-top: 100px;
}

.signup-logo1{
    margin-top:50px;
}

.signup-logo h1 {
  margin-top: 40px;
}

.login_error {
  font-size: 13px;
  color: #d46e6e;
  padding-top: -3px;
  padding-bottom: 8px;
}

.signup-subtitle-wrap {
  position: relative;
  margin-bottom: 30px;
  color: #fff;
}

.signup-subtitle {
  position: relative;
  z-index: 1;
  background-color: #4a4a4a;
  color: #fff;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 20px;
}

.signup-subtitle-wrap::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  left: 0;
  height: 1px;
  z-index: 0;
  background-color: #979797;
}

#register_table input {
  border: 1px solid #17f596;
  border-radius: 3px;
  padding: 25px 15px;
}

#register_table textarea{
    border:1px solid #17F596;
    border-radius:3px;
    padding:15px;
}

#register_table select {
  border: 1px solid #17f596;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
}

.register_info {
  margin: 40px 10px 40px 10px;
}

.signup_discript {
  font-size: 18px;
  color: #606060;
}

#select_img img {
  border: 1px solid #17f596;
}

.inline_text {
  color: #08ab65;
}

/** project **/

.search {
  border: 2px solid #17f596;
  border-radius: 3px;
  /* padding: 25px 15px 25px 60px; */
  padding: 22px 15px 22px 60px;
  background-image: url("./assets/images/icon_search.jpg");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

#project_tag {
  overflow: hidden;
  height: 50px;
}

#project_tag_all {
  overflow: hidden;
}

.project_tag {
  display: inline-block;
  border: 1px solid #cacaca;
  padding: 5px 8px;
  border-radius: 2px;
  color: #4a4a4a;
  margin: 5px 3px;
}

.project_tag:hover {
  border: 1px solid #17f596;
  background-color: #17f596;
  color: #000;
}

.project_tag_focus {
  display: inline-block;
  border: 1px solid #000;
  background: #000;
  padding: 5px 8px;
  border-radius: 2px;
  margin: 5px 3px;
  color: #fff;
}

.peoject_tag_openup {
  position: relative;
  font-size: 13px;
}

.project_tag_subtitle {
  background-color: #fff;
  z-index: 1;
}

.project_tag_subtitle:after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  height: 1px;
  background-color: #cacaca;
  z-index: -1;
}

.sort_dropdown {
  padding: 10px;
  /* border: 1px solid #17f596; */
  border: 1px solid #dbdbdb;
  color: #000;
  border-radius: 5px;
}

.card p {
  margin: 5px;
}

#project_info img {
  width: 100%;
}

#project_info_more img:hover {
  box-sizing: border-box;
  border: 2px solid #17f596;
}

.project_info_price_us {
  font-size: 20px;
}

.project_info_li {
  padding: 3px 0;
  margin-left:20px;
}

.project_info_trans_record {
  font-size: 13px;
}

.project_info_date {
  color: #fa6400;
}

.artist_intro_limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 75px;

}

.artist_intro_box {
  border-radius: 10px;
  margin: 15px 0;
  padding: 20px 20px 10px 20px;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

.artist_intro_box:hover {
  border-radius: 10px;
  margin: 15px 0;
  padding: 20px 20px 10px 20px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #17f596;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.artist_detail_text {
  width: 100%;
  display: block;
  overflow: hidden;
}

#artist-line-right {
  border-right: 1px dashed #c1c1c1;
}

.project_bid {
  width: 100%;
  border: 2px solid #d46e6e;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  color: #d46e6e;
}

/** activity **/

.activity_intro {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
}

.activity-img img {
  margin-bottom: 10px;
  width: 30%;
}

.activity-img img:hover {
  border: 3px solid #17f596;
}

.activity_timeline {
  position: relative;
}

.activity_timeline:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #17f596;
}

.activity_timeline_point {
  position: relative;
}

.activity_timeline_point:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #17f596;
  left: 50%;
  transform: translateX(-50%);
  background-color: #17f596;
}

.activity_welcome {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}



/**member artist**/
.bgc-member{
    background-image:url("./assets/images/bgc_member.jpg");
}

.member_img_w{
    width:150px;
}

.member_ul{
    list-style: none;
    padding-left: -40px;
}

.member_side_navi{
    display:block;
    border:1px solid #46D196;
    text-align:center;
    border-radius:25px;
    line-height:45px;
    margin-bottom:10px;
}

.member_side_navi:hover{
    border:1px solid #11e78b;
    background-color: #11e78b;
    color:white;
}

.member_side_navi_focus{
    display:block;
    border:1px solid #4A4A4A;
    background-color: #4A4A4A;
    text-align:center;
    border-radius:25px;
    line-height:45px;
    margin-bottom:10px;
    color:#FFF;
}

.member-info-box{
    border-left:1px solid #CCCCCC;
    padding:0 20px;
}

#member-artist-project img{
    width:100%;
}

#member-artist-project img:hover{
    box-sizing:border-box;
    border:2px solid #11e78b;
}

#member-artist-project ul{
    list-style-type:none;
}

#member-artist-project li{
    padding:8px 0;
    border-bottom:1px dashed #979797;
}

#member-artist-project li:first-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
}

#member-artist-project div{
    margin-bottom:30px;
}

.pagenation_center{
    display:flex;
    justify-content:center;
}


.member_artist_detail_list li{
    display:block;
    border-bottom:1px dashed #979797;
    padding:10px 0;
    color:#5D5D5D;
}

.member_modal_hr{
    background-color: #11e78b;
    height:2px;
}

.member_add_project{
    margin-left:5px;
    font-size:25px;
    line-height:50px;
}

#member_favorite_tab .active{
    border-color:#4A4A4A;
    background-color: #4A4A4A;
    color:#FFF !important;
}



#member_favorite_tab .nav-tabs{
    border-bottom:1px solid  #11e78b;
}

#member_favorite_tab .nav-link:hover{
    border:1px solid rgba(0,0,0,0);
}



#member-artist-artist img{
    width:120px;
}

.member_artist_delete{
    position: absolute;
    display:block;
    top:0;
    left:calc(50% + 32px);
    width:30px;
    height:30px;
    line-height:30px;
    font-size:18px;
    background-color:#08AB65;
    color:#FFF;
    border-radius:50%;
}

#member-artist-artist a:hover{
    color:#FFF;
    background-color:#E20C23;
}

#member_artist_delete a:nth-child(3):hover{
    color:#17F596;
}

#member-artist-artist h5{
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}

.member_bidding_history{
    background-color: #08AB65;
    color:#FFF;
    padding:5px 13px;
    border-radius:15px;
}


.member_bidding_pay{
    background-color: #FA6400;
    color:#FFF;
    padding:5px 13px;
    border-radius:15px;
}

.member_bidding_pay:hover{
    color:#ffd6bb;
}


.footer_title{
    border-bottom:9px solid #17F596;
    padding-bottom:10px;
}

.footer_title_line:after{
    position:absolute;
    display:block;
    content:"";
    background-color: #979797;
    height:1px;
    left:15px;
    right:15px;
    margin-top:14px;
    z-index:-1;
}


.footer_text{
    line-height:34px;
    font-size:18px;
}

.footer_ulli ul{
    list-style-type: decimal;
    list-style-position:outside;
}

.footer_ulli li{
    padding:8px 0;
    border-bottom:1px dashed #979797;
    margin-left:25px;
}

#text1, #text2, #text3, #text4 ,#text5,#text6,#text7,#text8,#text9,#text10,#text11,#text12:target{
    content:"";
    display:block;
    padding-top:60px;
}

#text1, #text2, #text3, #text4 ,#text5,#text6,#text7,#text8,#text9,#text10,#text11,#text12{
    margin-bottom:20px;
}




.card-header .title {
    font-size: 17px;
    color: #000;
}
.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}
.card-header{
  cursor: pointer;
  border-bottom: none;
}
.card{
  border: 1px solid #ddd;
}
.card-body{
  border-top: 1px solid #ddd;
}
.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}


.page_error{
    font-size:100px;
}

.page_404_bg{
    background-image:url("./assets/images/bgc_member.jpg");
    min-height:600px;
}
.page_launch_bg{
    background-image: url("./assets/images/launch_artist1.png");
    background-position: left bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
    background-color: black;
    min-height:900px;
    min-width: 100%;
}

.btn_normal-disable {
  font-size: 20px;
  padding:15px 30px;
  background-color: #eeeeee;
  border:2px solid #eeeeee;
  border-radius: 3px;
  color:#b2b2b2;
}

.error-msg {
  color: #dc3545;

}

.profile_image{
  height: 154px;
  width: 154px;
}

.no-msg{
  width: 100%;
  font-size: 1.3rem;
  white-space: pre-wrap;
}

.subtitle{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
