:root {
  // define font-family
  --quicksand: 'Quicksand', Helvetica, Arial, sans-serif;
  // deinfe font-size
  // --size: 1.6rem;
  --size: 16px;
  --size12: calc(var(--size) - 0.4rem);
  --size13: calc(var(--size) - 0.3rem);
  --size14: calc(var(--size) - 0.2rem);
  --size15: calc(var(--size) - 0.1rem);
  --size18: calc(var(--size) * 1.125);
  --size20: calc(var(--size) * 1.25);
  --size22: calc(var(--size) * 1.375);
  --size24: calc(var(--size) * 1.5);
  --size26: calc(var(--size) * 1.625);
  --size28: calc(var(--size) * 1.75);
  --size30: calc(var(--size) * 1.875);
  --size32: calc(var(--size) * 2);
  --size34: calc(var(--size) * 2.125);
  --size36: calc(var(--size) * 2.25);
  --size38: calc(var(--size) * 2.375);
  --size40: calc(var(--size) * 2.5);
  --size42: calc(var(--size) * 2.625);
  --size44: calc(var(--size) * 2.75);
  // define font-weight
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  // define colors
  --white: #FFF;
  --black: #000;
  --dark: #383838;
  --red: #FC3337;
  --blue: #56BDF4;
  --light-blue: #53B6FF;
  --purple: #D077FF;
  --light-orange: #FF9D00;
  --green: #2BBD7E;
  --green2B6D: #2BBF6D;
  --green34: #34CB7A;
  --green4B: #4BB486;
  --green00: #00BC6B;
  --light-green: #0BA864;
  --light-greenE4: #E4F4E6;
  --light-greenD3: #D3F0D7;
  --pale-green: #ECF5ED;
  --honeydew: #E1F5E3;
  --deep-green: #31A270;
  --orange: #F97C32;
  --grey66: #666666;
  --grey88: #888888;
  --grey70: #707070;
  --greyCC: #CCC;
  --greyC6: #C6C6C6;
  --greyD9: #D9D9D9;
  --greyDB: #DBDBDB;
  --greyBE: #BEBEBE;
  --greyB3: #b3b3b3;
  --greyEA: #EAEAEA;
  --greyE2: #E2E2E2;
  --greyA2: #A2A2A2;
  --greyF2: #F2F2F2;
  --greyF3: #F3F3F3;
  --greyF7: #F7F7F7;
  --main: var(--green);
  --hover: #FF859A;
  --current: #56BDF4;
  // gradient color
  --gradient-green: linear-gradient(90deg, #45C16B 0%, #00AD78 100%);
  --gradient-grey: linear-gradient(115deg, #C8D1C8 0%, #C6C6C6 100%, #DEDEDE 100%);
  // define body
  --main-body-bg-color: var(--white);
  --main-padding-top: 56px;
  --workspace-body-bg-color: #EBEFE7;
  // define notify
  --badge-color: var(--white);
  --badge-size: var(--size12);
  --badge-bg-color: rgba(255, 137, 0, 0.9);
  // define section
  --section-title-size: var(--size22);
  --section-title-color: var(--light-green);
  --section-title-weight: var(--semi-bold);
  --card-border-radius: 20px;
  --card-title-color: var(--black);
  --card-title-size: var(--size18);
  --card-desc-color: var(--grey66);
  --card-desc-size: var(--size14);
  --card-date-size: var(--size13);
  --card-date-color: var(--grey88);
  --card-schedule-color: var(--deep-green);
  --card-schedule-size: var(--size13);
  --card-bg-color: var(--white);
  // define buttons
  --btn-bg: var(--green00);
  --btn-bg-hover: var(--green34);
  // define tabs
  --tab-size: var(--size14);
  --tab-color: #839B8F;
  --tab-weight: var(--medium);
  --tab-current: var(--green2B6D);
  --tab-current-weight: var(--semi-bold);
  // define input
  --input-font-size: var(--size15);
  --input-bg-color: var(--greyF3);
  --input-focus-bg-color: var(--white);
  --input-focus-border-color: var(--main);
  --input-border-radius: 12px;
  // top navigation
  --logo-size: var(--size15);
  --header-nav-size: var(--size14);
  --header-nav-color: var(--dark);
  --header-nav-color-hover: var(--main);
  --header-nav-color-active: var(--main);
  --header-bg-color: var(--white);
  // dropdown menu
  --dropdown-size: var(--size15);
  --dropdown-color: var(--grey66);
  --dropdown-bg-color: var(--white);
  --dropdown-bg-color-hover: var(--honeydew);
  --dropdown-border-radius: 6px;
  --dropdown-color-active: var(--green);
  // selector
  --selector-selected-color: var(--main);
  --selector-selected-size: var(--size14);
  --selector-option-color: var(--grey88);
  --selector-option-size: var(--size14);
  --selector-option-bg-color: transparent;
  --selector-option-bg-color-hover: #E1F5E3;
  // section list
  --section-title-size: var(--size22);
  --section-desc-size: var(--size14);
  // Upcoming event
  --event-card-title-size: var(--size15);
  --event-card-datetime-size: var(--size13);
  --event-card-name-size: var(--size14);
  --event-card-number-size: var(--size14);
  --event-card-number-color: var(--white);
  --event-type-default: var(--blue);
  --event-type-calendar: #6563F9;
  --event-type-course: var(--green2B6D);

  // Tasks
  --task-card-title-size: var(--size15);
  --task-card-title-color: var(--card-title-color);
  --task-card-desc-size: var(--card-desc-size);
  --task-card-desc-color: var(--card-desc-color);
  --task-card-date-size: var(--card-date-size);
  --task-card-date-color: var(--card-date-color);
  // Latest Benefits
  --benefit-card-desc-size: var(--size14);
  // sidebar
  --sidebar-size: var(--size12);
  --sidebar-color: var(--grey88);
  --sidebar-link-color: var(--grey88);
  --sidebar-bg-color: var(--white);
  --sidebar-width: 210px;
  --sidebar-border-radius: 0 20px 20px 0;
  --sidebar-gap: 6px;
  --sidebar-title-color: var(--main);
  --sidebar-title-size: var(--size14);
  // Create form
  --heading-container-bg-color: var(--green2B6D);
  --heading-container-title-color: var(--white);
  --heading-container-title-size: var(--size20);
  --form-label-size: var(--size14);
  --form-label-color: var(--grey66);
  // profile nav
  --profile-nav-color: var(--black);
  --profile-nav-color-hover: var(--green2B6D);
  --profile-nav-color-current: var(--green2B6D);
  --profile-nav-size: var(--size15);
  // sidebar
  --sidebar-program-border-radius: 0px 20px 20px 0px;
  // profile header
  --profile-headline-color: var(--white);
  --profile-headline-size: var(--size30);
  --profile-tagline-color: var(--white);
  --profile-tagline-size: var(--size14);
  // profile about intro
  --profile-about-intro-size: var(--size15);
  --profile-about-intro-color: var(--dark);
  // modal settings
  --modal-header-title-size: var(--size18);
  --modal-width-for-batches-list: 561px;
  --modal-width-for-invite: 665px;
}

.nav-link {
  background-color: transparent !important;
  white-space: nowrap;
  color: #69738C;
  font-size: 18px;
}

.nav-link:hover {
  border-color: none !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 18px;
  font-weight: 500;
}

.nav-link.active {
  color: #56BDF4 !important;
  border-bottom-color: #56BDF4 !important;
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up) */

@media (max-width: 750px) {
  #main-bg {
    padding: 50px 0;
  }

  #main-bg .main-slogen {
    font-size: 40px;
    line-height: 50px;
  }

  #index_title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  #footer_bg .footer_dropdown {
    width: 100%;
  }

  #footer_bg img {
    width: 100%;
    padding-bottom: 20px;
  }

  .signup-logo img {
    width: 70%;
  }

  .signup-logo h1 {
    font-size: 31px;
  }

  #content-mt {
    padding-top: 100px;
  }

  #member_choice_btn {
    margin-top: 20px;
  }



  #member_last_btn_w100 {
    width: 100%;
  }


}

@media (min-width: 576px) {}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-33 {
  padding-bottom: 33px;
}


.m--auto {
  margin: auto;
}

.mt--5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mlr-10 {
  margin: 0 10px;
}

.text-13 {
  font-size: 13px;
}

.text-18 {
  font-size: 18px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-15 {
  padding-left: 15px
}

.pr-0 {
  padding-right: 0px;
}


/** buttons **/
.btn-standard {
  cursor: pointer;
  color: #69738C !important;
  border: 1px solid #CFD2DA !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
}

.btn-standard:hover {
  color: #424B61 !important;
  border: 2px solid #8F95A8 !important;
}

.btn-blue {
  background-color: #56BDF4 !important;
  color: white !important;
  border: 2px solid #56BDF4 !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
}

.btn-blue:hover {
  background-color: #FF859A !important;
  color: white !important;
  border: 2px solid #FF859A !important;
}

.btn-white {
  background-color: #fff !important;
  color: #56BDF4 !important;
  border: 2px solid #56BDF4 !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
}

.btn-transparent {
  color: #8F95A8 !important;
  border: 2px solid #8F95A8 !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
}

.btn-transparent:hover {
  color: #69738C !important;
  border: 2px solid #69738C !important;
}

.btn-gray {
  background-color: #E3E5EC !important;
  color: #fff !important;
  border: 2px solid #E3E5EC !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
}



.btn_small:focus,
.btn_normal:focus,
.btn_large:focus,
.btn_large_win:focus,
.btn_select_img:focus {
  outline: none;
}

.btn_small {
  font-size: 16px;
  padding: 5px 13px;
  background-color: #fff;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.btn_small_liked {
  font-size: 16px;
  padding: 5px 13px;
  background-color: #11e78b;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.btn_small:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
}

.btn_normal {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
}

.btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
}

.btn_item_selected {
  background-color: #FF859A;
  border: 2px solid #FF859A;
}


.input_btn_normal {
  font-size: 16px;
  padding: 9px 30px;
  background-color: #17f596;
  border: 2px solid #17f596;
  border-radius: 3px;
  color: #000;
}

.input_btn_normal:hover {
  background-color: #11e78b;
  border: 2px solid #11e78b;
  color: #000;
}


.btn_large {
  font-size: 25px;
  /* background-color: #17f596;
  border: 1px solid #17f596; */
  background-color: #000;
  border: 1px solid #000;
  color: #FFFFFF;
  border-radius: 15px;
  /* border-radius: 3px; */
  /* color: #000; */
  padding: 10px 0;
}

.btn_large_disable {
  font-size: 25px;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  color: #b2b2b2;
  padding: 10px 0;
}

.btn_large:hover {
  font-size: 25px;
  background-color: #11e78b;
  border: 1px solid #11e78b;
  border-radius: 3px;
  color: #000;
  transition: all 0.3s ease-in-out;
}

.btn_large_win {
  font-size: 25px;
  background-color: #d46e6e;
  border: 1px solid #d46e6e;
  border-radius: 3px;
  color: #fff;
  padding: 10px 0;
}

.btn_large_win:hover {
  font-size: 25px;
  background-color: #d05c5c;
  border: 1px solid #d05c5c;
  border-radius: 3px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn_select_img {
  background-color: #17f596;
  color: #000;
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
}

.btn_select_img:hover {
  background-color: #11e78b;
}

/** 共用 **/

* {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: 'Noto Sans TC' !important;

}

.button:focus {
  box-shadow: none !important;
}

.page-item.active .page-link {
  color: #fff !important;
  /* background-color: #08AB65  !important;
    border-color:#08AB65  !important; */
  background-color: #00FF90 !important;
  border-color: #00FF90 !important;
  font-weight: 100;
}

.page-link {
  color: #08AB65 !important;
}

.page-link:hover {
  color: #08AB65 !important;
}



#content-mt {
  margin-top: 120px;
}


.bgc-white {
  background-color: #fff;
}

.bgc-grey {
  background-color: #f4f4f4;
}

.text-green {
  color: #17f596;
}

.text-green1 {
  color: #08AB65;
}

.text-green2 {
  color: #00FF90;
}

.text-orange {
  color: #FA6400;
}

/** 修改 bootstrap model **/

body {
  /*   font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", Arial, sans-serif; */
  font-family: 'Noto Sans TC' !important;
  padding-right: 0px !important;
  overflow-y: scroll !important;
  font-weight: 300 !important;
}

nav {
  padding-right: 0px !important;
}


.active {
  color: #56BDF4 !important;
}

a {
  color: #56BDF4;
  text-decoration: none !important;
}

a:hover {
  color: #56BDF4 !important;
  text-decoration: none !important;
}

/** input placeholder消失 **/
input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
}

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* IE 10+ */

#main-bg {
  height: 650px;
  /* background-image: url("./assets/images/main-bg.jpg"); */
  background-color: #08ab65;
  padding: 150px 0 130px 0;
  background-size: cover;
  background-position: center center;
  /* text-align: center; */
  width: 100%;
}

.main-slogen {
  /* font-size: 90px; */
  font-size: 4rem;
  line-height: 5.5rem;
  color: #fff;
  margin: 0 auto;
  /* text-align: center; */
  font-family: "Noto Serif JP", sans-serif;
  /* font-weight: bold; */
}

.main-btn-explore {
  font-size: 20px;
  /* padding: 15px 60px; */
  padding: 7px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #17f596;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
}

.main-btn-explore:hover {
  font-size: 20px;
  padding: 15px 60px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #17f596;
  border-radius: 5px;
  color: #17f596;
  margin-top: 20px;
  box-shadow: 0 0 10px #17f596;
  transition: all 0.3s ease-in-out;
}

.main-btn {
  font-size: 15px;
  /* padding: 15px 60px; */
  /* padding: 3px 8px; */
  padding-left: 4px;
  padding-right: 4px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.main-btn:hover {
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

// landing-page
.index-title {
  margin-top: 30px;
  // border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 500;
}



.index_title {
  font-size: 60px;
  margin-top: 40px;
  /* font-weight: bold; */
  line-height: 60px;
  margin-bottom: 30px;
  font-weight: 200;
  margin-bottom: 100px;
}



#footer_bg {
  background-color: #FFFFFF;
  padding: 60px 80px;
}

#footer_bg .test {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer_bg ul {
  display: block;
  overflow: hidden;
  text-align: center;
  list-style: none;
}

#footer_bg li {
  color: #b7b7b7;
  list-style: none;
  float: left;
  margin: 0 20px;
  font-size: 18px;
}

#footer_bg li:hover {
  color: #fff;
  cursor: pointer;
}

.footer_dropdown {
  padding: 10px 20px;
  border: 1px solid #08ab65;
  background: #000;
  color: #b7b7b7;
  border-radius: 5px;
}

#footer_bg img {
  width: 100%;
  padding-bottom: 20px;
}

/** Model **/

.modal-header {
  border-bottom: 0;

  .modal-title {
    width: 100%;
    text-align: center;
  }
}

.modal_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #262E42;
}

.model_padding {
  padding: 30px 50px 20px 50px;
}

.model_btn_normal {
  font-size: 16px;
  padding: 6px 12px;
  background-color: #56BDF4;
  border: 2px solid #56BDF4;
  border-radius: 4px;
  color: #fff;
}

.model_btn_normal:hover {
  border: 2px solid #FF859A;
  background-color: #FF859A;
}


.model-p-small {
  font-size: 13px;
}

.modal_input {
  border: 1px solid #17f596;
  padding: 15px 20px;
  border-radius: 5px;
}


/** login **/
.signup-logo {
  margin-top: 100px;
}



.signup-logo h1 {
  margin-top: 40px;
}

.login_error {
  font-size: 13px;
  color: #d46e6e;
  padding-top: -3px;
  padding-bottom: 8px;
}

.signup-subtitle-wrap {
  position: relative;
  margin-bottom: 30px;
  color: #fff;
}

.signup-subtitle {
  position: relative;
  z-index: 1;
  background-color: #4a4a4a;
  color: #fff;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 20px;
}

.signup-subtitle-wrap::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  left: 0;
  height: 1px;
  z-index: 0;
  background-color: #979797;
}





/** project **/

.search {
  border: 2px solid #17f596;
  border-radius: 3px;
  /* padding: 25px 15px 25px 60px; */
  padding: 22px 15px 22px 60px;
  background-image: url("./assets/images/icon_search.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
}


.peoject_tag_openup {
  position: relative;
  font-size: 13px;
}


.card p {
  margin: 5px;
}



/** activity **/

.activity_intro {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
}

.activity-img img {
  margin-bottom: 10px;
  width: 30%;
}

.activity-img img:hover {
  border: 3px solid #17f596;
}

.activity_timeline {
  position: relative;
}

.activity_timeline:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #17f596;
}

.activity_timeline_point {
  position: relative;
}

.activity_timeline_point:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #17f596;
  left: 50%;
  transform: translateX(-50%);
  background-color: #17f596;
}

.activity_welcome {
  position: relative;
  font-size: 20px;
  font-weight: bold;
}



/**member artist**/


.member-info-box {
  border-left: 1px solid #CCCCCC;
  padding: 0 20px;
}

.pagenation_center {
  display: flex;
  justify-content: center;
}

.member_modal_hr {
  background-color: #11e78b;
  height: 2px;
}

.member_add_project {
  margin-left: 5px;
  font-size: 25px;
  line-height: 50px;
}

.footer_title {
  border-bottom: 9px solid #17F596;
  padding-bottom: 10px;
}

.footer_title_line:after {
  position: absolute;
  display: block;
  content: "";
  background-color: #979797;
  height: 1px;
  left: 15px;
  right: 15px;
  margin-top: 14px;
  z-index: -1;
}


.footer_text {
  line-height: 34px;
  font-size: 18px;
}

.footer_ulli ul {
  list-style-type: decimal;
  list-style-position: outside;
}

.footer_ulli li {
  padding: 8px 0;
  border-bottom: 1px dashed #979797;
  margin-left: 25px;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text9,
#text10,
#text11,
#text12:target {
  content: "";
  display: block;
  padding-top: 60px;
}

#text1,
#text2,
#text3,
#text4,
#text5,
#text6,
#text7,
#text8,
#text9,
#text10,
#text11,
#text12 {
  margin-bottom: 20px;
}

.card-header .title {
  font-size: 17px;
  color: #000;
}

.card-header .accicon {
  float: right;
  font-size: 20px;
  width: 1.2em;
}

.card-header {
  cursor: pointer;
  border-bottom: none;
}

.card {
  border: 1px solid #ddd;
}

.card-body {
  border-top: 1px solid #ddd;
}

.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}


.page_error {
  font-size: 100px;
}

.page_404_bg {
  background-image: url("./assets/images/home1.jpg");
  min-height: 600px;
}


.btn_normal-disable {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #eeeeee;
  border: 2px solid #eeeeee;
  border-radius: 3px;
  color: #b2b2b2;
}

.error-msg {
  color: #dc3545;
  font-size: 12px;
}

.profile_image {
  height: 120px;
  width: 120px;
}

.no-msg {
  width: 100%;
  font-size: 1.3rem;
  white-space: pre-wrap;
}



// user-tour start

.shepherd-button {
  background: #17f596;
  border: 0;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  margin-right: .5rem;
  padding: 10px 20px;
  transition: all .5s ease;
  width: 100%;
}

.shepherd-button:not(:disabled):hover {
  /* background: #196fcc; */
  border: 2px solid #11e78b;
  background-color: #11e78b;
  color: #000;
  /* color: hsla(0, 0%, 100%, .75) */
}

.shepherd-button.shepherd-button-secondary {
  background: #f1f2f3;
  color: rgba(0, 0, 0, .75)
}

.shepherd-button.shepherd-button-secondary:not(:disabled):hover {
  background: #d6d9db;
  color: rgba(0, 0, 0, .75)
}

.shepherd-button:disabled {
  cursor: not-allowed
}

.shepherd-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 0 .75rem .75rem
}

.shepherd-footer .shepherd-button:last-child {
  margin-right: 0
}

.shepherd-cancel-icon {
  background: transparent;
  border: none;
  color: hsla(0, 0%, 50.2%, .75);
  font-size: 2em;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  padding: 0;
  transition: color .5s ease
}

.shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon {
  color: hsla(0, 0%, 50.2%, .75)
}

.shepherd-has-title .shepherd-content .shepherd-cancel-icon:hover {
  color: rgba(0, 0, 0, .75)
}

.shepherd-title {
  color: rgba(0, 0, 0, .75);
  /* display: flex;
	font-size: 1rem;
  	flex: 1 0 auto; */
  font-size: 1.75rem;
  text-align: center !important;
  width: 85%;
  font-weight: 400;

  margin: 0;
  padding: 0
}

.shepherd-header {
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  line-height: 2em;
  padding: .75rem .75rem 0
}


/* position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0; */
.shepherd-has-title .shepherd-content .shepherd-header {
  background: #fff;
  padding: 1em
}

.shepherd-text {
  color: rgba(0, 0, 0, .75);
  /* font-size: 1rem; */
  font-size: 20px;
  text-align: center !important;
  width: 100%;
  line-height: 1.3em;
  padding: .75em
}

.shepherd-text p {
  margin-top: 0
}

.shepherd-text p:last-child {
  margin-bottom: 0
}

.shepherd-content {
  border-radius: 5px;
  outline: none;
  padding: 0
}

.shepherd-element {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  max-width: 400px;
  opacity: 0;
  outline: none;
  transition: opacity .3s, visibility .3s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
  left: 20px;
}

.shepherd-enabled.shepherd-element {
  opacity: 1;
  visibility: visible
}

.shepherd-element[data-popper-reference-hidden]:not(.shepherd-centered) {
  opacity: 0;
  pointer-events: none;
  visibility: hidden
}

.shepherd-element,
.shepherd-element *,
.shepherd-element :after,
.shepherd-element :before {
  box-sizing: border-box
}

.shepherd-arrow,
.shepherd-arrow:before {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: -1
}

.shepherd-arrow:before {
  content: "";
  transform: rotate(45deg);
  background: #fff
    /* background-color: black; */
}

.shepherd-element[data-popper-placement^=top]>.shepherd-arrow {
  bottom: -8px;
}

.shepherd-element[data-popper-placement^=bottom]>.shepherd-arrow {
  top: -8px
}

.shepherd-element[data-popper-placement^=left]>.shepherd-arrow {
  right: -8px
}

.shepherd-element[data-popper-placement^=right]>.shepherd-arrow {
  left: -8px
}

.shepherd-element.shepherd-centered>.shepherd-arrow {
  opacity: 0
}

.shepherd-element.shepherd-has-title[data-popper-placement^=bottom]>.shepherd-arrow:before {
  background-color: fff;
}

.shepherd-target-click-disabled.shepherd-enabled.shepherd-target,
.shepherd-target-click-disabled.shepherd-enabled.shepherd-target * {
  pointer-events: none
}

.shepherd-modal-overlay-container {
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: all .3s ease-out, height 0ms .3s, opacity .3s 0ms;
  width: 100vw;
  z-index: 9997
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  height: 100vh;
  opacity: .5;
  transition: all .3s ease-out, height 0s 0s, opacity .3s 0s
}

.shepherd-modal-overlay-container.shepherd-modal-is-visible path {
  pointer-events: all
}

.custom-shepherd-left-class {
  left: 20px !important;
}

.custom-shepherd-top-class {
  top: 20px !important;
}

// user-tour end

.f-22 {
  font-size: 22px;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.w-80 {
  width: 80% !important;
}


.sidebar {
  height: 100%;
  /* width: 200px; */
  position: absolute;
  transition: left 0.3s ease;
  left: -260px;
  top: 0;
  // z-index: 111;
  overflow: auto;
}

.sidebar>div {
  border-bottom: 1px solid;
}

.sidebar>div:last-child {
  border-bottom: none;
}

.sidebar .sidebar-profile .user-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar .sidebar-profile .user-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sidebar .sidebar-profile .profile-details .name {
  font-size: 0.9rem;
  font-weight: 800;
}

.sidebar .sidebar-profile .profile-details .role {
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.sidebar .sidebar-search {
  display: none;
}

.sidebar .sidebar-menu>div {
  padding: 0 1.5rem;
}

.sidebar .sidebar-menu .menu-header {
  padding: 0 1.5rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 700;
}

.sidebar .sidebar-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar .sidebar-menu ul li {
  display: block;
}

.sidebar .sidebar-menu ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  line-height: 24px;
  // padding: 0 1.5rem;
  padding: 0px 24px 0px 5px;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  color: black;
  white-space: nowrap;
}

.active {
  display: block;
  /* border:1px solid #4A4A4A; */
  /* background-color: #4A4A4A; */
  /* text-align:center;
    border-radius:25px;
    line-height:45px;
    margin-bottom:10px; */
  color: black !important;
}

.sidebar .sidebar-menu ul li a .active {
  color: #56BDF4 !important;
  fill: #56BDF4 !important;
  text-decoration: none;
  /*     background-color: #007bff; */
  border-radius: 3px;
  width: 95% !important;

  svg g path {
    fill: #56BDF4;
  }

  svg-icon.icon {
    svg g path {
      fill: #56BDF4;
    }

    svg path {
      fill: #56BDF4;
    }
  }
}


.sidebar .sidebar-menu ul li a i {
  font-size: 1rem;
}

.sidebar .sidebar-menu ul li a span {
  color: inherit;
  padding-top: 6px;
  // margin-left: 1rem;
}

@media (min-width: 768px) {
  .sidebar {
    position: static;
    height: 100%;
  }
}


.toggeled-sidebar .sidebar {
  left: 0;
}

.invalid {
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
}

.mr--5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-150 {
  margin-top: 150px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pl-10 {
  padding-left: 10px;
}

input[type=checkbox] {
  transform: scale(1.5);
  margin-left: 10px !important;
  margin-right: 10px !important;
}

input[type=radio] {
  transform: scale(1.5);
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.icon {
  padding: 8px;
  padding-top: 12px;
  // font-size: 25px;
  font-size: 20px;
  margin-left: 5px;
}

.mt-100 {
  margin-top: 100px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-24 {
  margin-left: 24px;
}

.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;

  &.show {
    pointer-events: all;
    opacity: 1;
  }
}

.texe-center {
  text-align: center;
}

.profile-image {
  vertical-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.profile-image-small {
  vertical-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.gap-10 {
  gap: 10px;
}



.empty-text-center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.tag {
  padding: 4px 8px 4px 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 100px;
  background-color: #C0DAFE;
  word-break: keep-all;
}

.tag-bd {
  background-color: #D5ECA3 !important;
}

.tag-pm {
  background-color: #E5BFF3 !important;
}

.tag-design {
  background-color: #E5BFF3 !important;
}

.tag-op {
  background-color: #FEE0A5 !important;
}

.tag-software {
  background-color: #C0DAFE !important;
}

.tag-marketing {
  background-color: #FFCCD5 !important;
}

.tag-game {
  background-color: #E5BFF3 !important;
}

.tag-sharingeconomy {
  background-color: #D5ECA3 !important;
}

.tag-fintech {
  background-color: #C0DAFE !important;
}

.tag-edutech {
  background-color: #E5BFF3 !important;
}

.tag-ai {
  background-color: #E3E5EC !important;
}

.tag-medical {
  background-color: #E5BFF3 !important;
}

.tag-eComm {
  background-color: #E5BFF3 !important;
}


.tag-sale {
  background-color: #D5ECA3 !important;
}

.tag-product {
  background-color: #E5BFF3 !important;
}

.tag-strategy {
  background-color: #FEE0A5 !important;
}

.tag-programming {
  background-color: #C0DAFE !important;
}

.tag-finance {
  background-color: #E5BFF3 !important;
}

.tag-public {
  background-color: #D5ECA3 !important;
}

.tag-funding {
  background-color: #C0DAFE !important;
}

.tag-law {
  background-color: #E5BFF3 !important;
}

.tag-ai {
  background-color: #E3E5EC !important;
}

.tag-medical {
  background-color: #E5BFF3 !important;
}

.tag-eComm {
  background-color: #E5BFF3 !important;
}

.tag-frontend,
.tag-backend,
.tag-fullstack,
.tag-mobile,
.tag-qa,
.tag-devops,
.tag-it {
  background-color: #C0DAFE;
}

.tag-datamining,
.tag-ml {
  background-color: #E3E5EC;
}

.tag-marketing,
.tag-community,
.tag-editor,
.tag-advertising,
.tag-video,
.tag-hacker,
.tag-media {
  background-color: #FFCCD5;
}

.tag-hr,
.tag-accounting,
.tag-administrative,
.tag-operation,
.tag-crm,
.tag-law {
  background-color: #FEE0A5;
}

.tag-bd,
.tag-channel,
.tag-entity,
.tag-analysis,
.tag-sale {
  background-color: #D5ECA3;
}

.tag-product,
.tag-project {
  background-color: #E5BFF3;
}

.tag-uiux,
.tag-3d {
  background-color: #ADEFD0;
}

.color-gray {
  color: #69738C !important;
}


.color-black {
  color: #424B61;
}

.collected {
  color: #56BDF4;
}

.dropdown-item:hover {
  background-color: transparent !important;
}

//tooltip
.tooltip.bottom .tooltip-arrow {
  border: 1px solid #e0e0e0;
  border-bottom: none;
  border-right: none;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: white;
}

.tooltip.bottom .tooltip-arrow::before {

  border-bottom-color: white !important;
}

.tooltip.bottom .tooltip-inner {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #000000;
}

.project-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 5px #fff;
}

.h-100 {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.fa-bookmark {
  border: 1px solid #CFD2DA !important;
  padding: 7.75px 9.75px;
  border-radius: 9px;
}

.fa-envelope {
  border: 1px solid #CFD2DA !important;
  padding: 8.75px 6px;
  border-radius: 9px;
}
