<div id="findcontent">
  <div>
    <div (click)="onCleanClick()"><span class="btn-clean">{{ "BTNCLEAR"
        | translate }}</span></div>

    <aside class="sidebar mt-10">
      <nav class="sidebar-menu pb-3">
        <ul class="menu-items">
          <li class="mb-12">
            <span class="title">{{ "WORKMODE"
              | translate }}</span>
          </li>
          <li>
            <input id="online" type="checkbox" [(ngModel)]="filterCondition.online" (change)="onLine($event)"
              data-key="online" />
            <label class="ml-10" for="online">{{ "REMOTE"
              | translate }}</label>
          </li>
          <!--  <li>
            <input id="offline" type="checkbox" [(ngModel)]="filterCondition.offline" (change)="onLine($event)"
              data-key="offline" />
            <label class="ml-10" for="offline">實體</label>
          </li> -->
          <li class="mb-12">
            <span class="title">{{ "SKILLS"
              | translate }}</span>
          </li>
          <li>
            <input id="design" type="checkbox" [(ngModel)]="filterCondition.design" (change)="onSkills($event)"
              data-key="design" />
            <label class="ml-10" for="design">{{ "OPT_DESIGN"
              | translate }}</label>
          </li>
          <li>
            <input id="finance" type="checkbox" [(ngModel)]="filterCondition.finance" (change)="onSkills($event)"
              data-key="finance" />
            <label class="ml-10" for="finance">{{ "OPT_FINANCE"
              | translate }}</label>
          </li>

          <li>
            <input id="marketing" type="checkbox" [(ngModel)]="filterCondition.marketing" (change)="onSkills($event)"
              data-key="marketing" />
            <label class="ml-10" for="marketing">{{ "OPT_MARKETING"
              | translate }}</label>
          </li>
          <li>
            <input id="product" type="checkbox" [(ngModel)]="filterCondition.product" (change)="onSkills($event)"
              data-key="product" />
            <label class="ml-10" for="product">{{ "OPT_PRODUCT"
              | translate }}</label>
          </li>
          <li>
            <input id="public" type="checkbox" [(ngModel)]="filterCondition.public" (change)="onSkills($event)"
              data-key="public" />
            <label class="ml-10" for="public">{{ "OPT_PR"
              | translate }}</label>
          </li>
          <li>
            <input id="sale" type="checkbox" [(ngModel)]="filterCondition.sale" (change)="onSkills($event)"
              data-key="sale" />
            <label class="ml-10" for="sale">{{ "OPT_SALE"
              | translate }}</label>
          </li>
          <li>
            <input id="funding" type="checkbox" [(ngModel)]="filterCondition.funding" (change)="onSkills($event)"
              data-key="funding" />
            <label class="ml-10" for="funding">{{ "OPT_FUNDING"
              | translate }}</label>
          </li>
          <li>
            <input id="law" type="checkbox" [(ngModel)]="filterCondition.law" (change)="onSkills($event)"
              data-key="law" />
            <label class="ml-10" for="law">{{ "OPT_LAW"
              | translate }}</label>
          </li>
          <li>
            <input id="strategy" type="checkbox" [(ngModel)]="filterCondition.strategy" (change)="onSkills($event)"
              data-key="strategy" />
            <label class="ml-10" for="strategy">{{ "OPT_STRATEGY"
              | translate }}</label>
          </li>
          <li>
            <input id="programming" type="checkbox" [(ngModel)]="filterCondition.programming"
              (change)="onSkills($event)" data-key="programming" />
            <label class="ml-10" for="programming">{{ "OPT_PROGRAMMING"
              | translate }}</label>
          </li>
          <li class="mb-12">
            <span class="title">{{"PWTC" | translate }}</span>
          </li>

          <li>
            <input id="work12" type="checkbox" [(ngModel)]="filterCondition.work12" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="ml-10" for="work12">{{"WORK12" | translate }}</label>
          </li>
          <li>
            <input id="work34" type="checkbox" [(ngModel)]="filterCondition.work34" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="ml-10" for="work34">{{"WORK34" | translate }}</label>
          </li>
          <li>
            <input id="work56" type="checkbox" [(ngModel)]="filterCondition.work56" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="ml-10" for="work56">{{"WORK56" | translate }}</label>
          </li>
          <li>
            <input id="work78" type="checkbox" [(ngModel)]="filterCondition.work78" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="ml-10" for="work78">{{"WORK78" | translate }}</label>
          </li>
          <li>
            <input id="work9" type="checkbox" [(ngModel)]="filterCondition.work9" (change)="onHourChange($event)"
              data-key="hour" />
            <label class="ml-10" for="work9">{{"WORK9" | translate }}</label>
          </li>
          <!--  <li>
            <input type="text" class="form-control search" style="    width: 90%;" aria-label=""
              aria-describedby="button-addon2" />
          </li> -->
        </ul>

      </nav>
    </aside>

  </div>
  <div *ngIf="!isInit">
    <div class="row" *ngIf="foundItemNum >0">
      <p> {{foundItemNum}} {{ "NFOUND"
        | translate }}</p>

    </div>
    <div class="col-md-12 empty-text-center h-100" *ngIf="foundItemNum ==-1 && displayItems.length ==0">
      <svg-icon class="icon" src="assets/icons/magnifier.svg"></svg-icon>
      <span>{{ "NORESULT"
        | translate }}</span>
    </div>
    <!--person-->
    <ng-container *ngIf="displayItems">
      <div class="row">
        <ng-container *ngFor="let item of  displayItems; let i = index">
          <div class="col-md-6 text-center">
            <app-user-card (Click)="OnClickProfile($event)" (Collect)="onClickCollect($event)"
              (UnCollect)="onClickUnCollect($event)" (Follow)="onClickFollow($event)"
              (UnFollow)="onClickUnFollow($event)" (Chat)="onToggleChat($event)" [user]="item" [type]="'partner'"
              [currentuser]="currentUser">
            </app-user-card>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div [class.show]="isChat" class="full">
  <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
    <h3 *ngIf="this.chatUser" class="chat-header" title><img class="chat-user-img rounded-circle" [src]="this.chatUser.imageUrl!= null ?  this.chatUser.imageUrl
                              : settingSrv.defaultUserLogo" alt=""><span class="chat-user-name">{{this.chatUser?.name?
        this.chatUser?.name:"No
        name"}}</span></h3><span aria-hidden="true">X&times;</span>
    <div>
    </div>
    <lab-comments [currentUser]="currentUser" [receiverUser]="this.chatUser" (close)="onToggleChat($event)" body>
    </lab-comments>

  </lab-custom-modal>

</div>
