
 nav.navbar {
  background: #242939;
  border-color: rgba(110, 120, 153, 0.3);
}
 nav.navbar .navbar-brand {
  color: #b9bece;
}
 nav.navbar .left-nav input.navbar-search {
  background: #282f48;
  color: #6e7899;
}
 nav.navbar .left-nav input.navbar-search::placeholder {
  color: rgba(110, 120, 153, 0.6);
}
 nav.navbar .right-nav {
  background: #242939;
}
 nav.navbar .nav-link {
  color: #6e7899;
}
 nav.navbar .nav-link i {
  border-color: #6e7899;
  background: #282f48;
}
 nav.navbar .nav-link:hover {
  color: #9ba2b9;
}
 nav.navbar .nav-alert {
  border-color: #2f3546;
}
 nav.navbar .nav-alert.notifications {
  background-color: #ff61c5;
  box-shadow: 0px 0px 4px #ff61c5;
}
 nav.navbar .nav-alert.messages {
  background-color: #61b8ff;
  box-shadow: 0px 0px 4px #61b8ff;
}
@media (min-width: 768px) {
   nav.navbar .sidebar-toggler {
    display: none;
  }
   nav.navbar .navbar-header {
    width: 260px;
    margin-left: 0 !important;
  }
   nav.navbar .navbar-header .navbar-brand span {
    display: inline-block;
  }
   nav.navbar .left-nav {
    display: flex;
  }
   nav.navbar .nav-link {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
   nav.navbar .nav-alert {
    right: 12px;
  }
   nav.navbar .right-nav {
    height: 100% !important;
    border-top: none;
    background: none !important;
  }
   nav.navbar .right-nav ul {
    margin-left: auto;
    flex-wrap: nowrap;
  }
   nav.navbar .right-nav ul li {
    padding: 0;
  }
   nav.navbar .right-nav ul li .nav-link .link-text {
    display: none;
  }
}
