<div *ngIf="this.artwork">
    <a [routerLink]="['/artist/collection']"><i class="fas fa-caret-left"></i> {{ "BACKPAGE" | translate }}</a>
    <hr>
    <div class="row mt-30">
        <div class="col-md-4">
            <img class="mb-10 w-100" src="{{ this.artwork.imageUrl || defaultProfileLogo }}" alt="">
            <h6>
                {{ "STATUS" | translate }}：<span class="text-orange">{{ getImageStatus(artwork.status)}}</span>
            </h6>
            <a href="#">
                <button class="btn_small">
                    {{ "CANCELSALE" | translate }}
                </button>
            </a>
        </div>

        <div class="col-md-8">
            <h1 class="mb-20">{{this.artwork.name}}</h1>
            <h5>{{ "EDITIONDESC" | translate }}</h5>
            <p class="text-justify">
                {{this.artwork.description}}
            </p>
            <h5 class="mt-30"></h5>
            <ul class="member_artist_detail_list">
                <li>
                    {{ "UPLOADTIME" | translate }}：<span class="title">{{artwork.createdAt | date : 'yyyy-MM-dd
                        HH:mm:ss'}}</span>
                </li>
                <li>
                    {{ "EDITIONS" | translate }}： <span class="title"> {{ artwork.totalamount - artwork.sold}}/ {{
                        artwork.totalamount}}</span>
                </li>
                <li>
                    {{ "PRICE" | translate }}：Ξ {{getSellETHPrice(artwork.usdValue)}} / USD {{ artwork.usdValue}}
                </li>
                <li>
                    {{ "BIDDING" | translate }}：<span class="title">{{ IsBidding(artwork.isBid)}}</span>
                </li>
                <li *ngIf="artwork.isBid > 0 ">
                    {{ "PERIODS" | translate }}：{{artwork.createdAt | date : 'yyyy-MM-dd'}} - {{artwork.createdAt | date
                    : 'yyyy-MM-dd'}}
                </li>
                <li *ngIf="artwork.isBid > 0 ">
                    {{ "PRICE" | translate }}：<span class="text-orange">Ξ 0.11 / Davif Huan</span>
                </li>
                <li>
                    {{ "FAVOURITES" | translate }}：{{ artwork.liked}}
                </li>
            </ul>
            <div class="mb-40">
                <!-- <button class="btn_select_img" type="button" data-toggle="modal"
                data-target="#modal_edit_project">編輯作品</button> -->
            </div>
        </div>


    </div>
</div>
