     <a  [routerLink]="['/artist/collection']"><i class="fas fa-caret-left"></i> 回上一頁</a>
                        <hr>
                        <div class="row mt-30">
                            <div class="col-md-4">
                                <img class="mb-10 w-100" src="./assets/images/project-info-01.jpg" alt="">
                                <h6>
                                    上架狀態：<span class="text-orange">準備中</span>
                                </h6>
                                <a href="#">
                                    <button class="btn_small">
                                    取消上架
                                    </button>
                                </a>
                            </div>

                            <div class="col-md-8">
                                <h1 class="mb-20">The Calm And The Storms</h1>
                                <h5>作品介紹</h5>
                                <p class="text-justify">
                                    'Trickle Down, A New Vertical Sovereignty' is an artwork by Helen Knowles. It​ is a tokenised four-screen video installation and generative soundscape attached to the blockchain, which explores value systems and wealth disparity. On sale here is a limited-edition transaction map GIF which illustrates how the currency flows and is distributed.The artwork is composed of auction scenes documented by artist Helen Knowles in widely different settings, which reflect the breadth of wealth and financial power…
                                </p>
                                <h5 class="mt-30">細節說明</h5>
                                <ul class="member_artist_detail_list">
                                    <li>
                                        上傳時間：2020年4月20日
                                    </li>
                                    <li>
                                        版本：1/1
                                    </li>
                                    <li>
                                        售價：Ξ 0.11 / USD 138
                                    </li>
                                    <li>
                                        購買方式：競價
                                    </li>
                                    <li>
                                        競價時間：2020.10.10 - 2020.10.17
                                    </li>
                                    <li>
                                        出價狀況：<span class="text-orange">Ξ 0.11 / Davif Huan</span>
                                    </li>
                                    <li>
                                        我的最愛：10
                                    </li>
                                </ul>
                                <div class="mb-40">
                                    <button class="btn_select_img"  type="button"  data-toggle="modal" data-target="#modal_edit_project">編輯作品</button>
                                </div>
                            </div>


                        </div>
