app-linkpreview {
  .preview {

    padding: 6px 16px 6px 14px;
    background-color: #fff;
    margin-top: 20px;
    gap: 10px;
    border-radius: 12px;
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.04) !important;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 80%;
  }

  .preview-text {
    padding: 10px;

    .title {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: rgb(33, 37, 41);
    }

    .description {
      color: rgb(33, 37, 41);
    }
  }

  .image {
    height: 160px;
    width: 100%;
  }
}
