.card {
  padding: 12px 24px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 42px;
  grid-template-columns: 1fr 160px 150px;
  align-items: center;
  // justify-content: space-between;
  transition: 200ms;
  // flex-direction: row;

  .profile {
    justify-content: center;
  }

  .date {
    justify-content: center;

  }

  .item {
    padding-left: 20px;
  }

  .profile-image-small {
    display: none;
  }

  .date-item {
    color: #8F95A8;
    font-size: 14px;
  }

  @media (max-width: 450px) {
    grid-template-columns: 60% 20% 20%;
    padding: 12px 12px;

    .item {
      padding-left: 0px;
    }
  }
}

.card:hover {
  border: 2px solid var(--action-pri-active);
}

.card:hover .dropdown {
  display: block;
}
