.card {
  padding: 12px 24px;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 42px;
  grid-template-columns: 1fr 160px 150px;
  align-items: center;
  // justify-content: space-between;
  transition: 200ms;
  // flex-direction: row;
}

.card:hover {
  border: 2px solid var(--action-pri-active);
}

.card:hover .dropdown {
  display: block;
}




.item {
  padding-left: 20px;
}
