<div class="mx-auto">
  <div class="row">
    <div class="col col-12 padding">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/admin/editions']">Edition</a></li>
          <li class="breadcrumb-item active" aria-current="page">Tokenize</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-12 form-group form-inline">
      <label class="pr-2" for="highestEditionNumber">
        <h5> Blockchain highestEditionNumber :</h5>
      </label>
      <input type="text" id="highestEditionNumber" style="width: 500px;" class="form-control mr-10"
        [(ngModel)]="highestEditionNumber">
      <button type="button" class="btn btn-primary" (click)="getHighestEditionNumber()"> Retreive </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4 form-group form-inline">
      <label class="pr-2" for="highestEditionNumber">
        <h5> Database highestEditionNumber :</h5>
      </label>
      <input type="text" id="highestEditionNumber" style="width: 500px;" class="form-control mr-10"
        [(ngModel)]="highestDBEditionNumber">
    </div>
    <div class="col-md-4 mb-4 form-group form-inline">
      <label class="pr-2" for="highestEditionNumber">
        <h5> Database highestArtworkNumber :</h5>
      </label>
      <input type="text" id="highestEditionNumber" style="width: 500px;" class="form-control mr-10"
        [(ngModel)]="highestDBArtworkNumber">


    </div>
    <div class="col-md-4 mb-4 form-group form-inline">
      <button type="button" class="btn btn-primary" (click)="getDBHighestNumber()"> Retreive </button>
    </div>
  </div>

  <app-loading *ngIf="loading"></app-loading>
  <h3>Step 1: token URI</h3>
  <div class="row">
    <div class="col-md-12 mb-12 form-group form-inline">
      <label class="pr-2" for="tokenUri">
        <h5>TokenUri :</h5>
      </label>
      <input type="text" id="tokenUri" style="width: 500px;" class="form-control mr-10" [(ngModel)]="tokenUri">
      <button type="button" class="btn btn-primary" (click)="getTokenUri()"> Retreive </button>
      <button type="button" style="margin-left: 10px;" class="btn btn-secondary" (click)="showTokenUri()">
        {{showTokenUriPanel? "Hide": "Show"}}
      </button>
    </div>
  </div>
  <div *ngIf="showTokenUriPanel" [formGroup]="tokenUriForm" class="member-info-box">

    <div class="form-group mt-20">
      <label for="tokenId">token ID (firstnumber)</label>
      <input type="text" formControlName="tokenId" class="form-control" id="tokenId" aria-describedby="tokenId">
    </div>
    <div class="form-group mt-20">
      <label for="editionId">edition ID</label>
      <input type="text" formControlName="editionId" class="form-control" id="editionId" aria-describedby="editionId">
    </div>
    <div class="form-group mt-20">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" id="" aria-describedby="name">
    </div>
    <div class="form-group mt-20">
      <label for="description">Description</label>
      <input type="text" formControlName="description" class="form-control" id="" aria-describedby="description">
    </div>
    <div class="form-group mt-20">
      <label for="artist">Artist</label>
      <input type="text" formControlName="artist" class="form-control" id="" aria-describedby="artist">
    </div>
    <div class="form-group mt-20">
      <label for="artistAddress">Artist Address</label>
      <input type="text" formControlName="artistAddress" class="form-control" id="" aria-describedby="artist">
    </div>
    <div class="form-group mt-20">
      <label for="artist">Artist</label>
      <input type="text" formControlName="artist" class="form-control" id="" aria-describedby="artist">
    </div>
    <div class="form-group mt-20">
      <label for="tags">Tags</label>
      <input type="text" formControlName="tags" class="form-control" id="" aria-describedby="tags">
    </div>
    <div class="form-group mt-20">
      <label for="asset_type">Asset Type</label>
      <input type="text" formControlName="asset_type" class="form-control" id="" aria-describedby="asset_type">
    </div>
    <div class="form-group mt-20">
      <label for="external_uri">External uri</label>
      <input type="text" formControlName="external_uri" class="form-control" id="" aria-describedby="external_uri">
    </div>
    <div class="form-group mt-20">
      <label for="imageUri">Image Uri</label>
      <input type="text" formControlName="imageUri" class="form-control" id="" aria-describedby="imageUri">
    </div>
    <div class="row mt-20 mb-20">

      <div class="col-md-12">
        <button class="model_btn_normal" (click)="createTokenUri()">Submit</button>
      </div>
    </div>

  </div>
  <h3>Step 2: tokenize</h3>
  <div [formGroup]="tokenizeForm" class="member-info-box">
    <div class="row">
      <div id="select_img" class="col-md-4 text-center">
        <!-- <img class="w-100" src="./assets/images/select_img.jpg" alt="">
             -->
        <img class="w-100" *ngIf="assetImgUrl" height="239px" width="239px" [src]="assetImgUrl" alt="" />
        <img class="w-100" *ngIf="!assetImgUrl" src="./assets/images/select_img.jpg" alt="" />
      </div>
    </div>
    <div class="form-group mt-20">
      <label for="Inputname">Edition Number</label>
      <input type="text" formControlName="editionNumber" class="form-control" id="Inputname" aria-describedby="">
    </div>
    <div class="form-group mt-20">
      <label for="Inputdesc">Edition Data</label>
      <input type="text" formControlName="editionData" class="form-control" id="" aria-describedby="Inputdesc">
    </div>
    <div class="form-group mt-20">
      <label for="editionType">Edition Type</label>
      <input type="text" formControlName="editionType" class="form-control" id="" aria-describedby="editionType">
    </div>
    <div class="form-group mt-20">
      <label for="startDate">Start Date</label>
      <input type="text" formControlName="startDate" placeholder="Nov 2020" class="form-control" bsDatepicker
        [bsConfig]="{ isAnimated: true }">

    </div>
    <div class="form-group mt-20">
      <label for="endDate">End Date</label>
      <input type="text" formControlName="endDate" placeholder="Nov 2020" class="form-control" bsDatepicker
        [bsConfig]="{ isAnimated: true }">

    </div>
    <div class="form-group mt-20">
      <label for="artistAccount">Artist Account</label>
      <input type="text" formControlName="artistAccount" class="form-control" id="artistAccount"
        aria-describedby="artistAccount">
    </div>
    <div class="form-group mt-20">
      <label for="artistCommission">Artist Commission</label>
      <input type="number" formControlName="artistCommission" class="form-control" id="artistCommission"
        aria-describedby="artistCommission">
    </div>
    <div class="form-group mt-20">
      <label for="priceInEth">Price In Eth</label>
      <input type="text" formControlName="priceInEth" class="form-control" id="priceInEth"
        aria-describedby="priceInEth">
    </div>
    <div class="form-group mt-20">
      <label for="tokenURI">tokenURI</label>
      <input type="text" formControlName="tokenURI" class="form-control" id="tokenURI" aria-describedby="tokenURI">
    </div>
    <div class="form-group mt-20">
      <label for="totalAvailable">totalAvailable</label>
      <input type="number" formControlName="totalAvailable" class="form-control" id="totalAvailable"
        aria-describedby="totalAvailable">
    </div>

    <div class="row mt-20 mb-20">
      <div class="col-md-6">
        <button type="button" class="model_btn_second" aria-label="Close" (click)="onClear()">Clear</button>
      </div>
      <div class="col-md-6">
        <button class="model_btn_normal" (click)="Tokenize()">Tokenize</button>
      </div>
    </div>
  </div>
  <hr>
  <h3>Step 3: update Edition & Generate Artwork</h3>
  <div class="row">
    <div class="col-md-12 mb-12 form-group form-inline">
      <label class="pr-2" for="updateFirstnumber">
        <h5> update firstnumber :</h5>
      </label>
      <input type="text" id="updateFirstnumber" style="width: 500px;" class="form-control mr-10"
        [(ngModel)]="newFirstnumber">
      <button type="button" class="btn btn-primary" (click)="updateFirstnumber()"> Retreive </button>
    </div>
  </div>

  <h3>Step 4: Generate Artwork </h3>

  <div [formGroup]="newArtWorkForm" class="member-info-box">

    <div class="form-group mt-20">
      <label for="artistId">artist ID</label>
      <input type="text" formControlName="artistId" class="form-control" id="" aria-describedby="artistId">
    </div>
    <div class="form-group mt-20">
      <label for="editionId">edition ID</label>
      <input type="text" formControlName="editionId" class="form-control" id="" aria-describedby="tokenID">
    </div>
    <div class="form-group mt-20">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" id="" aria-describedby="name">
    </div>
    <div class="form-group mt-20">
      <label for="description">Description</label>
      <input type="text" formControlName="description" class="form-control" id="" aria-describedby="description">
    </div>
    <div class="form-group mt-20">
      <label for="usdValue">usdValue</label>
      <input type="text" formControlName="usdValue" class="form-control" id="" aria-describedby="usdprice">
    </div>
    <div class="form-group mt-20">
      <label for="tags">tags</label>
      <input type="text" formControlName="tags" class="form-control" id="" aria-describedby="tags">
    </div>
    <div class="form-group mt-20">
      <label for="isBid">isBid</label>
      <input type="text" formControlName="isBid" class="form-control" id="" aria-describedby="isBid">
    </div>
    <div class="form-group mt-20">
      <label for="image_type">asset_type</label>
      <input type="text" formControlName="image_type" class="form-control" id="" aria-describedby="image_type">
    </div>
    <div class="form-group mt-20">
      <label for="imageName">image Name</label>
      <input type="text" formControlName="imageName" class="form-control" id="" aria-describedby="imageName">
    </div>
    <div class="form-group mt-20">
      <label for="imageUri">image uri</label>
      <input type="text" formControlName="imageUri" class="form-control" id="" aria-describedby="imageUri">
    </div>
    <div class="form-group mt-20">
      <label for="firstnumber">The First number</label>
      <input type="text" formControlName="firstnumber" class="form-control" id="" aria-describedby="firstnumber">
    </div>
    <div class="form-group mt-20">
      <label for="totalamount">Total number</label>
      <input type="text" formControlName="totalamount" class="form-control" id="" aria-describedby="totalamount">
    </div>
    <div class="row mt-20 mb-20">
      <div class="col-md-12">
        <button class="model_btn_normal" (click)="generateArtwork()">Submit</button>
      </div>
    </div>

  </div>

  <h3>Step 5: Goto Live</h3>
  <div class="row">
    <div class="col-md-12 mb-12 form-group form-inline">
      <label class="pr-2" for="updateFirstnumber">
        <h5> edition Id : </h5>
      </label>

      <button type="button" class="btn btn-primary" (click)="updateStatus()"> Upadate </button>
    </div>
  </div>
  <h3>Step 6: inform Artist</h3>
  <div class="row">
    <div class="col-md-12 mb-12 form-group form-inline">
      <label class="pr-2" for="updateFirstnumber">
        <h5> edition Id :</h5>
      </label>

      <button type="button" class="btn btn-primary" (click)="informArtist()"> Inform </button>
    </div>
  </div>
</div>
