ui-radio-item {


  .bar {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms;
    flex-direction: row;
    border: 0px;
  }

  .text-md {
    color: #212529;
  }

  .item-text {
    display: flex;
    flex-direction: column;
  }

  .item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  .item-description {
    font-size: 16px;
    line-height: 24px;
    color: rgba(33, 37, 41, 0.7);
    padding-top: 8px;
  }


  .switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .switch input {
    display: none;
  }


}
