<div class="row  pl-15">
  <div class="bar cursor-pointer w-100">
    <div class="item-text">
      <p class="text-md m-0 item-title">{{ title }}
      </p>
      <p class="text-md m-0 item-description">{{ description }}
      </p>
    </div>
    <div class="d-flex align-items-center mt-15">
      <label class="switch" [for]="id">
        <input type="checkbox" [(ngModel)]="value" (change)="checkValue()" [disabled]="disabled" [id]="id" />
        <div class="slider round" [ngClass]="{ 'disabled':disabled }" [disabled]="disabled"></div>
      </label>
    </div>
  </div>

</div>
