<div *ngIf="message" class="modal" role="dialog" style="display:block!important" tabindex="-1">

  <div class="dailog modal-dialog-centered">
    <div class="modal-content model_padding">
      <div class="modal-header">
        <button type="button" class="close" (click)="message.noFn()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">╳</span>
        </button>
      </div>

      <div *ngIf="message?.type == 'confirm'" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center confirm-message" [innerHTML]="msg"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="confirm-button">

              <button (click)="message.noFn()" class="btn btn-white">{{"CANCEL" |
                translate }}</button>
              <button (click)="message.yesFn()" class="btn btn-blue "> {{"CONFIRM" |
                translate }}</button>

            </p>
          </div>
        </div>
      </div>
      <div *ngIf="message?.type == 'info'" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center confirm-message" [innerHTML]="msg"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="confirm-button">
              <button class="model_btn_normal" (click)="message.yesFn()">
                OK
              </button>
            </p>
          </div>
        </div>
      </div>

      <div *ngIf="message?.type == 'delete'" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-left" [innerHTML]="msg"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="float-right">
              <button (click)="message.noFn()" class="btn-delete-cancel">{{ "CANCEL"
                | translate }}</button>
              <button class="btn-delete " (click)="message.yesFn()">
                {{ "DELETE"
                | translate }}
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal_header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">╳</span>
      </button>
    </div>
    <div class="modal-body">

      <div *ngIf="message?.type == 'confirm'" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center confirm-message" style="font-family: 'Open Sans';" [innerHTML]="msg"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="confirm-button">
              <button class="model_btn_normal mb-2 w-100" data-dismiss="modal" aria-label="Close">
                ssssddddded
              </button>
              <button class="mr-2" (click)="click()">
                ssss
              </button>
              <a (click)="message.noFn()">
                <button class="btn btn-no model_btn_normal">No</button>
              </a>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="message?.type == 'info'" class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center confirm-message" [innerHTML]="msg"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="confirm-button">
              <button class="mr-2" (click)="message.yesFn()">
                <button class="btn btn-yes model_btn_normal">OK</button>
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
