<div id="findcontent" class="mb-50">
  <div>
    <div (click)="onCleanClick()"><span class="btn-clean">{{ "BTNCLEAR"
        | translate }}</span></div>

    <aside class="sidebar  mt-10">
      <nav class="sidebar-menu pb-3">
        <ul class="menu-items" style="padding-left: 20px;">
          <li class="mb-12">
            <span class="title">{{ "SKILLS"
              | translate }}</span>
          </li>
          <li>
            <input id="design" type="checkbox" [(ngModel)]="filterCondition.design" (change)="onSkills($event)"
              data-key="design" />
            <label class="ml-10" for="design">{{ "OPT_DESIGN"
              | translate }}</label>
          </li>
          <li>
            <input id="finance" type="checkbox" [(ngModel)]="filterCondition.finance" (change)="onSkills($event)"
              data-key="finance" />
            <label class="ml-10" for="finance">{{ "OPT_MARKETING"
              | translate }}</label>
          </li>

          <li>
            <input id="marketing" type="checkbox" [(ngModel)]="filterCondition.marketing" (change)="onSkills($event)"
              data-key="marketing" />
            <label class="ml-10" for="marketing">{{ "OPT_DESIGN"
              | translate }}</label>
          </li>
          <li>
            <input id="product" type="checkbox" [(ngModel)]="filterCondition.product" (change)="onSkills($event)"
              data-key="product" />
            <label class="ml-10" for="product">{{ "OPT_PRODUCT"
              | translate }}</label>
          </li>
          <li>
            <input id="public" type="checkbox" [(ngModel)]="filterCondition.public" (change)="onSkills($event)"
              data-key="public" />
            <label class="ml-10" for="public">{{ "OPT_PR"
              | translate }}</label>
          </li>
          <li>
            <input id="sale" type="checkbox" [(ngModel)]="filterCondition.sale" (change)="onSkills($event)"
              data-key="sale" />
            <label class="ml-10" for="sale">{{ "OPT_SALE"
              | translate }}</label>
          </li>
          <li>
            <input id="funding" type="checkbox" [(ngModel)]="filterCondition.funding" (change)="onSkills($event)"
              data-key="funding" />
            <label class="ml-10" for="funding">{{ "OPT_FUNDING"
              | translate }}</label>
          </li>
          <li>
            <input id="law" type="checkbox" [(ngModel)]="filterCondition.law" (change)="onSkills($event)"
              data-key="law" />
            <label class="ml-10" for="law">{{ "OPT_LAW"
              | translate }}</label>
          </li>
          <li>
            <input id="strategy" type="checkbox" [(ngModel)]="filterCondition.strategy" (change)="onSkills($event)"
              data-key="strategy" />
            <label class="ml-10" for="strategy">{{ "OPT_STRATEGY"
              | translate }}</label>
          </li>
          <li>
            <input id="programming" type="checkbox" [(ngModel)]="filterCondition.programming"
              (change)="onSkills($event)" data-key="programming" />
            <label class="ml-10" for="programming">{{ "OPT_PROGRAMMING"
              | translate }}</label>
          </li>
        </ul>
        <!--   <ul class="menu-items" style="padding-left: 20px;">
          <li class="mb-12">
            <span class="title">主題</span>
          </li>
          <li>
            <input type="checkbox" />
            <label style="margin-left: 10px;" for="firsttimeInput">找工作</label>
          </li>
          <li>
            <input type="checkbox" />
            <label style="margin-left: 10px;" for="firsttimeInput">職涯建議</label>
          </li>
          <li>
            <input type="checkbox" />
            <label style="margin-left: 10px;" for="firsttimeInput">領導能力</label>
          </li>
          <li>
            <input type="checkbox" />
            <label style="margin-left: 10px;" for="firsttimeInput">導師能力</label>
          </li>

        </ul> -->
      </nav>
    </aside>

  </div>
  <div class="container">
    <div class="row" *ngIf="displayItems.length ===0" style="height:300px">
    </div>
    <!--person-->
    <ng-container *ngIf="displayItems">
      <div class="row">
        <ng-container *ngFor="let item of  displayItems; let i = index">
          <div class="col-md-6 text-center">
            <app-user-card (Click)="OnClickProfile($event)" (Collect)="onClickCollect($event)"
              (UnCollect)="onClickUnCollect($event)" (Follow)="onClickFollow($event)" (Chat)="onClickChat($event)"
              (UnFollow)="onClickUnFollow($event)" [user]="item" [type]="'mentor'" [currentuser]="currentUser">
            </app-user-card>
          </div>
        </ng-container>
      </div>

    </ng-container>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>
<div [class.show]="isChat" class="full">
  <lab-custom-modal [open]="isChat" (close)="onToggleChat($event)">
    <h3 class="title" title>Chat</h3><span aria-hidden="true">X&times;</span>
    <div>
    </div>
    <lab-comments [currentUser]="currentUser" [receiverUser]="reciver" (close)="onToggleChat($event)" body>
    </lab-comments>

  </lab-custom-modal>

</div>
