<div class=" mb-80">
    <div class="row">
        <div class="col-md-6">
            <span class="title">{{ "PROJECTSLOGS"
                | translate }}</span>
        </div>
        <div class="col-md-3">
            <select class="form-control" [value]="selectedUser" (change)="onUserChange($event)">
                <option value="">{{ "ALL"
                    | translate }}</option>
                <option *ngFor="let opt of members" [value]="opt.id">{{opt.name}}
                </option>
                <!-- </ng-template> -->
            </select>

        </div>
        <div class="col-md-3">

            <select class="form-control" [value]="selectedOrder" (change)="onSortChange($event)">
                <option value="">{{ "LATEST"
                    | translate }}</option>
                <option value="old">{{ "OLDEST"
                    | translate }}</option>
                <!-- </ng-template> -->
            </select>
        </div>
    </div>
    <div *ngIf="!this.isLoading">
        <div class="row  pl-15" *ngIf="isLogs()">
            <div class="bar mt-3 cursor-pointer w-100">

                <div class="d-flex align-items-center">
                    <span class="fw-500">{{ "ACTION"
                        | translate }}</span>
                </div>
                <div class="d-flex align-items-center">
                    <span class="fw-500">{{ "NAME"
                        | translate }}</span>
                </div>
                <div class="d-flex align-items-center">
                    <span class="fw-500">{{ "TIME"
                        | translate }}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngIf="this.displayItems">
                    <div class="row  pl-15">
                        <ng-container *ngFor="let log of  this.displayItems; let i = index">
                            <app-project-log-bar class="w-100" [project]="log"></app-project-log-bar>
                        </ng-container>
                    </div>
                </ng-container>
                <div class="noItem text-center" *ngIf="!isLogs()">
                    <img src="assets/icons/noRecommend.png" alt="noRecommend">
                    <span>{{ "NOTYET"
                        | translate }}</span>
                </div>


            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p class="text-white">Please Wait. </p>
</ngx-spinner>
