<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <span class="title">專案紀錄</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="this.currentProject?.logs">
                <div class="row  pl-15">
                    <ng-container *ngFor="let log of  this.currentProject?.logs; let i = index">
                        <app-project-log-bar style="width: 90%;" [project]="log"></app-project-log-bar>
                    </ng-container>
                </div>
            </ng-container>
            <div class="noItem text-center" *ngIf="currentProject?.logs.length ===0">
                <h3>尚未開始</h3>
            </div>
        </div>
    </div>
</div>
