<div class=" mb-80">
    <div class="row">
        <div class="col-md-12">
            <h1>專案紀錄</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ng-container *ngIf="logs">
                <div class="row" style="padding-left:15px;">
                    <ng-container *ngFor="let log of  logs; let i = index">
                        <app-project-log-bar style="width: 90%;" [project]="log"></app-project-log-bar>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>
