<div class="card card-white grid-margin">
  <div class="row">
    <div class="col-md-7">
      <a (click)="routeToUserProfile()">
        <h6 class="mt-10 mb-10 text-body name text-left">{{ project.name }}</h6>
      </a>

    </div>
    <!-- <div class="col-md-3">

    </div> -->
    <div class="col-md-5">
      <div *ngIf="user">
        <i *ngIf="project.isCollect" (click)="onClickCollect()" class="fas fa-bookmark mr-5"></i>
        <i *ngIf="!project.isCollect" (click)="onClickCollect()" class="far fa-bookmark mr-5"></i>
        <!-- <i class="far fa-comment-alt mr-5"></i> -->
        <span>追蹤</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: left;">
      <span *ngIf="project.isFindPartner" class="label label-success mb-2 mr-5">找人中</span>
      <span *ngIf="project.isFunding" class="label label-success mb-2 mr-5">募資中</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 discr">
      description
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="project.tags">

      <ng-container *ngFor="let tag of  project.tags; let i = index">

        <a href="#" class="label label-success mb-2 mr-5">{{tag}}</a>

      </ng-container>

    </ng-container>

  </div>
</div>
