<div class="card card-white grid-margin">
  <div class="header" [ngClass]="{ 'header-nologin': !user }">
    <div class="">
      <a (click)="routeToUserProfile()">
        <h6 class="mt-10 mb-10 text-body name text-left">{{ project.name }}</h6>
      </a>

    </div>
    <div class="item-left">
      <ui-tag *ngIf="project.isFindPartner" [class]="'tag-hiring'" tag="{{ 'FIND_MEMBER' | translate }}"></ui-tag>
      <ui-tag *ngIf="project.isFunding" [class]="'tag-funding'" tag="{{ 'FIND_MONEY' | translate }}"></ui-tag>
      <ui-tag *ngIf="project.isCofounder" [class]="'tag-cofounder'" tag="{{ 'FIND_COFOUNDER' | translate }}"></ui-tag>
      <i *ngIf="project.isCollect && user " (click)="onClickUnCollect()"
        class="fas fa-bookmark fa-lg  fa-bookmark-selected"></i>
      <i *ngIf="!project.isCollect && user" (click)="onClickCollect()" class="far fa-bookmark fa-lg  color-gray"></i>
      <span *ngIf="project.isFollow && user" class="followed" (click)="onClickUnFollow()">{{ "FOLLOWED" | translate
        }}</span>
      <span *ngIf="!project.isFollow && user" class="follow" (click)="onClickFollow()">{{ "FOLLOW" | translate
        }}</span>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 discr">
      <span>{{project.description.length>100 ? project.description.substring(0,100)+"...":project.description}}</span>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="project.tags">
      <ng-container *ngFor="let tag of  project.tags; let i = index">
        <a href="#" class="label label-success mb-2 mr-5">{{tag}}</a>
      </ng-container>
    </ng-container>

  </div>
</div>
