ui-project-card {

    .header {
        display: grid;
        grid-auto-flow: column;
        // grid-template-columns: 140px 1fr 70px;
        grid-template-columns: 120px 1fr;
    }

    .header-nologin {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 140px 1fr;
    }

    .item-left {
        justify-content: end;
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        margin: auto;
        gap: 8px;
        z-index: 100;
    }

    .follow {
        color: #8F95A8;
        border: 1px solid #CFD2DA;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 8px 4px 8px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        margin: auto;
    }

    .followed {
        color: #8F95A8;
        border: 1px solid #CFD2DA;
        background-color: #F1F2F5;
        font-size: 12px;
        font-weight: 400;
        padding: 4px 7px 4px 7px;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        margin: auto;
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    a:hover {
        cursor: pointer;
    }

    .mt-4 {
        margin-top: 1.5rem !important;
    }


    .card {
        background-color: white;
        //  box-shadow: 0px 2px rgba(0, 0, 0, 0.075) !important;
        box-shadow: 1px 2px 9px 0px #0000000A !important;
        border: 0px !important;
        border-radius: 12px;
        color: black;
        padding: 25px;
    }



    // .card.card-white {
    //     background-color: #fff;
    //     border: 1px solid transparent;
    //     border-radius: 4px;
    //     box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    //     padding: 25px;
    //     min-height: 195px;
    // }

    .grid-margin {
        margin-bottom: 2rem;
        padding: 18px 16px 18px 16px !important;
    }

    .name {
        font-weight: 400;
        color: #333333;
    }


    .discr {
        min-height: 100px;
        text-align: left;
        /*  padding: 10px; */
        // max-height: 120px;
        text-align: justify;
        color: #333333;
    }

    .mr-5 {
        margin-right: 5px !important;
    }

    .label.label-success {
        background: #43d39e;
    }

    .label {
        font-weight: 400;
        padding: 4px 8px;
        font-size: 11px;
        display: inline-block;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25em;
    }

    .mt-6 {
        margin-top: 6px;
    }

    .project_status {
        display: flex;
        gap: 10px;
        padding-top: 5px;
    }
}
